Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Enable docs-preview-local S3 uploads (#3198)
  .github/workflows/docs-preview-local.yml
  docs/index.md
Due: none

Pass preview PATH_PREFIX into docs-builder build
  .github/workflows/docs-preview-local.yml
Due: none

Pass PATH_PREFIX into docs-preview-local build
  .github/workflows/docs-preview-local.yml
Due: none

Docs: link local authoring from handbook home
  docs/index.md
Due: none

Docs preview local: path-prefix build (#3201)
  .github/workflows/docs-preview-local.yml
  docs/index.md
Due: none

cleanup
  config/navigation-v2.yml
Due: none

edits
  config/navigation-v2.yml
Due: none

Install deploy and administer refinement
  config/navigation-v2.yml
Due: none

tweak
  config/navigation-v2.yml
Due: none

Final edits
  docs/cli/changelog/add.md
  docs/cli/changelog/bundle.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/create-changelogs.md
Due: none

Update docs/contribute/configure-changelogs-ref.md
  docs/contribute/configure-changelogs-ref.md
Due: none

Update docs/cli/changelog/add.md
  docs/cli/changelog/add.md
Due: none

[DOCS] Edit changelog creation page (#3170)
  docs/cli/changelog/add.md
  docs/cli/changelog/bundle.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/configure-changelogs.md
  docs/contribute/create-changelogs.md
Due: none

feat(tooling): migrate docs-builder and aspire from ConsoleAppFramework to Nullean.Argh 0.7.0
  Directory.Packages.props
  aspire/AppHost.cs
  aspire/aspire.csproj
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation/GlobalCommandLine.cs
  src/tooling/docs-builder/Arguments/ExportOption.cs
  src/tooling/docs-builder/Arguments/ProductInfoParser.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerIndexCommand.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerSitemapCommand.cs
  src/tooling/docs-builder/Commands/Assembler/BloomFilterCommands.cs
  src/tooling/docs-builder/Commands/Assembler/ConfigurationCommands.cs
  src/tooling/docs-builder/Commands/Assembler/ContentSourceCommands.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Assembler/NavigationCommands.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Commands/DiffCommands.cs
  src/tooling/docs-builder/Commands/FormatCommand.cs
  src/tooling/docs-builder/Commands/InboundLinkCommands.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Commands/MoveCommand.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-builder/DocumentationTooling.cs
  src/tooling/docs-builder/Filters/CheckForUpdatesFilter.cs
  src/tooling/docs-builder/Filters/InfoLoggerFilter.cs
  src/tooling/docs-builder/Filters/ReplaceLogFilter.cs
  src/tooling/docs-builder/Filters/StopwatchFilter.cs
  src/tooling/docs-builder/GlobalCliOptions.cs
  src/tooling/docs-builder/Middleware/CatchExceptionMiddleware.cs
  src/tooling/docs-builder/Middleware/CheckForUpdatesMiddleware.cs
  src/tooling/docs-builder/Middleware/InfoLoggerMiddleware.cs
  src/tooling/docs-builder/Middleware/StopwatchMiddleware.cs
  src/tooling/docs-builder/Program.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format

refactor(services): introduce DTOs to replace flat parameter lists
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  src/services/Elastic.Documentation.Assembler/Sourcing/AssemblerCloneOptions.cs
  src/services/Elastic.Documentation.Assembler/Sourcing/AssemblerCloneService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedIndexService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerIndexCommand.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerSitemapCommand.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
Due: dotnet-format

feat(tooling): upgrade to Nullean.Argh 0.8.1; MapAndRootAlias for docs-builder build
  Directory.Packages.props
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

feat(tooling): upgrade to Nullean.Argh 0.9.0
  Directory.Packages.props
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Isolated/Elastic.Documentation.Isolated.csproj
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

docs(cli): help text pass — summaries, remarks, no code blocks, namespace summaries
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerIndexCommand.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerSitemapCommand.cs
  src/tooling/docs-builder/Commands/Assembler/BloomFilterCommands.cs
  src/tooling/docs-builder/Commands/Assembler/ConfigurationCommands.cs
  src/tooling/docs-builder/Commands/Assembler/ContentSourceCommands.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Assembler/NavigationCommands.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Commands/MoveCommand.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-builder/GlobalCliOptions.cs
Due: dotnet-format

feat(tooling): upgrade to Nullean.Argh 0.8.0; native IReadOnlySet<Enum> in DTOs
  Directory.Packages.props
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedIndexService.cs
  src/tooling/docs-builder/Arguments/ExportOption.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

feat(tooling): upgrade to Nullean.Argh 0.11.0; add [Existing], [RejectSymbolicLinks], [ExpandUserProfile]
  Directory.Packages.props
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Assembler/BloomFilterCommands.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Assembler/NavigationCommands.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Commands/InboundLinkCommands.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
Due: dotnet-format

feat(tooling): upgrade to Nullean.Argh 0.9.1; [AsParameters] DTO help docs from referenced projects
  Directory.Packages.props
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Isolated/Elastic.Documentation.Isolated.csproj
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
Due: dotnet-format

refactor(cli): migrate file/directory path params to FileInfo and DirectoryInfo
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedIndexService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Assembler/BloomFilterCommands.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Assembler/NavigationCommands.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Commands/InboundLinkCommands.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
Due: dotnet-format

chore: upgrade Nullean.Argh to 0.12.0
  Directory.Packages.props
Due: none

docs(cli): help text overhaul, validation pass, and flag renames
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerIndexCommand.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerSitemapCommand.cs
  src/tooling/docs-builder/Commands/Assembler/BloomFilterCommands.cs
  src/tooling/docs-builder/Commands/Assembler/ConfigurationCommands.cs
  src/tooling/docs-builder/Commands/Assembler/ContentSourceCommands.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Assembler/NavigationCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Commands/DiffCommands.cs
  src/tooling/docs-builder/Commands/InboundLinkCommands.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
Due: dotnet-format

refactor(cli): use [Url] from DataAnnotations for URI fields; CanonicalBaseUrl as Uri?
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/GlobalCliOptions.cs
Due: dotnet-format

chore: bump all @opentelemetry npm packages to latest stable (#3195)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix(services): guard exporter default against empty set from argh [AsParameters]
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
Due: dotnet-format

fix: pin to Nullean.Argh 0.12.0; 0.12.1+ introduces CS8600 in generated code
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
Due: dotnet-format

chore: upgrade to Nullean.Argh 0.12.3
  Directory.Packages.props
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
Due: dotnet-format

fix: upgrade @opentelemetry/instrumentation-fetch from 0.209.0 to 0.214.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade marked from 17.0.1 to 17.0.6
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @tanstack/react-query from 5.95.2 to 5.96.2
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade ua-parser-js from 2.0.6 to 2.0.9
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/context-zone from 2.6.0 to 2.6.1
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: correct import ordering in ChangelogCommand.cs (dotnet format)
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Improve isolated build UX and fix git worktree scoped filesystem
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/Elastic.Documentation.Site/Assets/markdown/typography.css
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: dotnet-format, prettier, typescript-check, eslint

chore: upgrade Nullean.Argh to 0.12.4 (fixes global bool short options in help, AGH0033)
  Directory.Packages.props
Due: none

Fix isolated-build nav and breadcrumb scoping
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
Due: prettier

Fix h1 top spacing without breaking assembler breadcrumb layout
  src/Elastic.Documentation.Site/Assets/markdown/typography.css
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Fix serve crashing when run from a git worktree
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
