Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Replace Parcel with Vite to speed up frontend builds in dotnet
  .github/actions/bootstrap/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/.parcelrc
  src/Elastic.Documentation.Site/.postcssrc
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/svgTransform.js
  src/Elastic.Documentation.Site/vite.config.ts
  src/api/Elastic.Documentation.Api/Dockerfile
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/FrontendWatchService.cs
  tasks/plan.md
  tasks/todo.md
Due: dotnet-format, prettier, typescript-check, eslint

Stop tracking agent task planning files
  .gitignore
Due: none

Fix cross-platform Vite native bindings
  src/Elastic.Documentation.Site/package-lock.json
Due: prettier

Load the Vite bundle as an ES module
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
Due: prettier

Fix Vite asset paths in previews
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/vite.config.ts
Due: prettier, typescript-check, eslint

Fix RelatedLearningMappedPageTests
  src/Elastic.Documentation.Configuration/BuildContext.cs
  tests/Elastic.Markdown.Tests/RelatedLearningMarkdownTests.cs
Due: dotnet-format

Delete tasks directory (#3885)
  tasks/plan.md
  tasks/todo.md
Due: none

Source search-labs content from Contentstack instead of crawling
  docs/development/essc.md
  src/tooling/essc/Commands/LabsCommands.cs
  src/tooling/essc/ContentStack/ContentStackMapper.cs
  src/tooling/essc/ContentStack/SourcingState.cs
  src/tooling/essc/LabsCrawl/LabsSiteCrawlPlanner.cs
  src/tooling/essc/Program.cs
  tests/Elastic.SiteSearch.Tests/ContentStackMappingTests.cs
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/description_only.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/landing_page.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/rich_text_blog_v3.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/rich_text_page.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/schema-groups.json
Due: dotnet-format

Add mobile top nav tabs menu
  src/Elastic.Documentation.Site/Assets/secondary-nav.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier

Add mobile top nav dropdown groups
  src/Elastic.Documentation.Site/Assets/secondary-nav.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier

Apply suggestions from code review
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
Due: prettier, typescript-check, eslint

Format mobile secondary nav CSS
  src/Elastic.Documentation.Site/Assets/secondary-nav.css
Due: prettier

Use Docs Home for mobile top nav fallback
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier

removing tools directory and moving calculation descriptions in the draft sizing section
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/Calculator.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ComponentBreakdownTable.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ExplainersPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/panels.render.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/vector-sizing-calculator.css
  tools/vector_sizing_calculator/INTEGRATION.md
  tools/vector_sizing_calculator/docs-builder-directive/DirectiveBlockParser.patch.md
  tools/vector_sizing_calculator/docs-builder-directive/usage-in-docs-content.md
  tools/vector_sizing_calculator/embed.html
  tools/vector_sizing_calculator/index.html
  tools/vector_sizing_calculator/sizing-section.md
  tools/vector_sizing_calculator/web-component/dist/vector-sizing-calculator.iife.js
  tools/vector_sizing_calculator/web-component/index.html
  tools/vector_sizing_calculator/web-component/package-lock.json
  tools/vector_sizing_calculator/web-component/package.json
  tools/vector_sizing_calculator/web-component/src/Calculator.tsx
  tools/vector_sizing_calculator/web-component/src/calculations.ts
  tools/vector_sizing_calculator/web-component/src/components/BreakdownChart.tsx
  tools/vector_sizing_calculator/web-component/src/components/ClusterTotals.tsx
  tools/vector_sizing_calculator/web-component/src/components/ConfigurationPanel.tsx
  tools/vector_sizing_calculator/web-component/src/components/FormulasPanel.tsx
  tools/vector_sizing_calculator/web-component/src/components/ResultsPanel.tsx
  tools/vector_sizing_calculator/web-component/src/eui-icons.d.ts
  tools/vector_sizing_calculator/web-component/src/formatNumbers.ts
  tools/vector_sizing_calculator/web-component/src/icon-cache.ts
  tools/vector_sizing_calculator/web-component/src/main.tsx
  tools/vector_sizing_calculator/web-component/src/types.ts
  tools/vector_sizing_calculator/web-component/tsconfig.json
  tools/vector_sizing_calculator/web-component/vite.config.ts
Due: prettier, typescript-check, eslint

Move mobile top nav into drawer
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier

Infer listing group from parent directory when listing: frontmatter is absent
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
Due: dotnet-format

Move mobile hamburger back left
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

Show mobile drawer on landing page
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Add AI PR review workflow
  .github/workflows/pr-review.yml
Due: none

Gate label-triggered runs to skip-auto-pr-review label only
  .github/workflows/pr-review.yml
Due: none

fix(cli-reference): stop rendering --[no-] prefix on all boolean flags
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliSchema.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
Due: dotnet-format

fix(cli-reference): stop rendering --[no-] prefix on all boolean flags (#3893)
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliSchema.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
Due: dotnet-format

refactor(cli): use shared ApplicableToYamlConverter in TOC deserializer
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Converters/ApplicableToYamlConverter.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
Due: dotnet-format

feat(cli): support applies_to on cli: toc entries for generated pages
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliReferenceRef.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

fix(imports): fix import ordering in ConfigurationFileProvider
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
Due: dotnet-format

feat(cli): support applies_to on cli: toc entries for generated pages (#3663)
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Converters/ApplicableToYamlConverter.cs
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliReferenceRef.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

add phantom for elastic-agent otel-collector slug rename (#3795)
  config/navigation.yml
Due: none

Improve diagnostics when Codex cross-link index fetch fails
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.LinkIndex/Elastic.Documentation.LinkIndex.csproj
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetchDiagnostics.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkResolver.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.Markdown.Tests/CrossLinks/CrossLinkFetchFailureTests.cs
Due: dotnet-format

Drop InternalsVisibleTo from LinkIndex to Markdown tests
  src/Elastic.Documentation.LinkIndex/Elastic.Documentation.LinkIndex.csproj
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetchDiagnostics.cs
  tests/Elastic.Markdown.Tests/CrossLinks/CrossLinkFetchFailureTests.cs
Due: dotnet-format

Add git-diff exporter for CI changed-pages.json
  docs/data/exporters/git-diff.md
  docs/data/exporters/index.md
  src/Elastic.Documentation.Tooling/Exporter.cs
  src/Elastic.Documentation/GitDiff/ChangedPagesExport.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Exporters/GitDiff/BuiltPageInfo.cs
  src/Elastic.Markdown/Exporters/GitDiff/ChangedPagesMapper.cs
  src/Elastic.Markdown/Exporters/GitDiff/GitChangedFileSource.cs
  src/Elastic.Markdown/Exporters/GitDiff/GitDiffMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/GitDiff/GitDiffPathNormalization.cs
  src/Elastic.Markdown/Exporters/GitDiff/IntegrationChangedFileSource.cs
  src/Elastic.Markdown/Exporters/GitDiff/SourceFileChange.cs
  src/services/Elastic.Documentation.Assembler/Building/ExporterParser.cs
  src/services/Elastic.Documentation.Isolated/ExporterParser.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests/Elastic.Markdown.Tests/Exporters/ChangedPagesMapperTests.cs
  tests/Elastic.Markdown.Tests/Exporters/GitChangedFileSourceTests.cs
  tests/Elastic.Markdown.Tests/Exporters/GitDiffMarkdownExporterTests.cs
  tests/Elastic.Markdown.Tests/Exporters/GitDiffPathNormalizationTests.cs
Due: dotnet-format

Fix HashSet collection expression syntax in ChangedPagesMapper
  src/Elastic.Markdown/Exporters/GitDiff/ChangedPagesMapper.cs
Due: dotnet-format

Test git-diff exporter with mocked git stdout
  src/Elastic.Markdown/Exporters/GitDiff/GitChangedFileSource.cs
  src/Elastic.Markdown/Exporters/GitDiff/GitDiffMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/ChangedPagesMapperTests.cs
  tests/Elastic.Markdown.Tests/Exporters/GitChangedFileSourceTests.cs
  tests/Elastic.Markdown.Tests/Exporters/GitDiffMarkdownExporterTests.cs
  tests/Elastic.Markdown.Tests/Exporters/GitDiffPathNormalizationTests.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
Due: dotnet-format

Fix IDE0062 in GitChangedFileSource tests
  tests/Elastic.Markdown.Tests/Exporters/GitChangedFileSourceTests.cs
Due: dotnet-format

Add git-diff.md to the exporters table of contents
  docs/_docset.yml
Due: none

Fall back to HEAD^1 when named git bases are missing
  docs/data/exporters/git-diff.md
  src/Elastic.Markdown/Exporters/GitDiff/GitChangedFileSource.cs
  tests/Elastic.Markdown.Tests/Exporters/GitChangedFileSourceTests.cs
Due: dotnet-format

Use collection expressions in GitChangedFileSource tests
  tests/Elastic.Markdown.Tests/Exporters/GitChangedFileSourceTests.cs
Due: dotnet-format

Add AI PR review workflow (#3890)
  .github/workflows/pr-review.yml
Due: none

Migrate formatting toolchain from dotnet format to curb
  .github/workflows/ci.yml
  .husky/task-runner.json
  AGENTS.md
  Directory.Packages.props
  build/Targets.fs
  dotnet-tools.json
Due: dotnet-format
