Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

[API explorer] Replace raw x-state badges with applies_to popover (#3026)
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/RenderContext.cs
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_UnionOptions.cshtml
Due: dotnet-format

feat(assembler): add on-demand assembler serve with live reload
  build/CommandLine.fs
  build/Targets.fs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

[API Explorer] Enable code block copy (#3173)
  src/Elastic.ApiExplorer/ApiCodeBlockModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_ApiCodeBlock.cshtml
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
Due: dotnet-format

Bump versioning_systems.stack.current to 9.3.4
  config/versions.yml
Due: none

Update config/assembler.yml
  config/assembler.yml
Due: none

Update config/versions.yml
  config/versions.yml
Due: none

fix: upgrade @opentelemetry/exporter-logs-otlp-http from 0.209.0 to 0.214.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/sdk-trace-web from 2.3.0 to 2.6.1
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

style: run prettier on pages-nav.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Bump OpenTelemetry packages to 1.15.x to address moderate CVEs
  Directory.Packages.props
Due: none

Bump OpenTelemetry packages 1.13.x → 1.15.x (moderate CVEs) (#3178)
  Directory.Packages.props
Due: none

fix(assembler): clean up AmazonS3Client on shutdown and add --no-watch-md
  src/Elastic.Documentation.LinkIndex/LinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

Add migrate/ section to nav-v2 IA
  config/navigation-v2.yml
Due: none

nav-v2: split ingest/migrate into two sibling sections
  config/navigation-v2.yml
Due: none

fix: address PR review feedback
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

fix(links): track reader ownership in CrossLinkFetcher to prevent double-dispose
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
Due: dotnet-format

fix(ci): update synthetics and Aspire to use assembler serve-static
  .github/workflows/ci.yml
  aspire/AppHost.cs
Due: dotnet-format

feat(assembler): wire API routes in DEBUG mode for assembler serve
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

fix(assembler serve): address three correctness issues in AssemblerServeWebHost
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

docs(links): document _codexReader ownership in DocSetConfigurationCrossLinkFetcher
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
Due: dotnet-format

chore: bump all @opentelemetry npm packages to latest stable
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Disable CodeRabbit auto-labeling
  .coderabbit.yaml
Due: none

fix(site): generate Ask AI message IDs without importing uuid
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
Due: prettier, typescript-check, eslint

Add Claude Code skills and overhaul AGENTS.md
  .claude/settings.json
  .claude/skills/commit/SKILL.md
  .claude/skills/lint/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/style-review/SKILL.md
  .claude/skills/test/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

Disable CodeRabbit auto-labeling (#3196)
  .coderabbit.yaml
Due: none

Add Claude Code skills and overhaul AGENTS.md (#3197)
  .claude/settings.json
  .claude/skills/commit/SKILL.md
  .claude/skills/lint/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/style-review/SKILL.md
  .claude/skills/test/SKILL.md
  AGENTS.md
  CLAUDE.md
Due: none

Split docs preview: reusable Docker workflow + local dotnet workflow (#3064)
  .github/workflows/docs-preview-cleanup-local.yml
  .github/workflows/docs-preview-local.yml
  .github/workflows/preview-build.yml
Due: none

Enable docs preview S3 upload in local workflow
  .github/workflows/docs-preview-local.yml
  docs/index.md
Due: none

Reintroduce artifact handling commands
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactMetadata.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluateArtifactArguments.cs
  src/services/Elastic.Changelog/Evaluation/PrepareArtifactArguments.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactMetadataTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
Due: dotnet-format

Fix scrubber
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
Due: dotnet-format

continue
  config/navigation-v2.yml
Due: none

Fix build
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactMetadataTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
Due: dotnet-format

Enable docs-preview-local S3 uploads (#3198)
  .github/workflows/docs-preview-local.yml
  docs/index.md
Due: none

using ordering
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactMetadataTests.cs
Due: dotnet-format

Improve guarding at EvaluateArtifact
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
Due: dotnet-format
