Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Adjust bundle-amend behavior to support explicit resolve and no-resolve options
  docs/contribute/changelog.md
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendTests.cs
Due: dotnet-format

Add details to changelog-bundle-amend.md
  docs/cli/release/changelog-bundle-amend.md
  docs/contribute/changelog.md
Due: none

Normalize checksums and improve warning on checksum mismatch (#2668)
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BundleValidationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/ChecksumValidationTests.cs
Due: dotnet-format

Add tips about escape characters
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
Due: none

Move details to changelog-bundle.md
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
Due: none

Improve changelog bundle-amend options
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Rendering/FeatureHidingLoader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Improve docs
  docs/cli/release/changelog-bundle-amend.md
  src/services/Elastic.Changelog/Rendering/FeatureHidingLoader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Improve changelog render support for relative paths
  docs/cli/release/changelog-render.md
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

fix: add new dev NaaS URL
  src/Elastic.Documentation.Site/Layout/_AssemblerHeader.cshtml
Due: prettier

Build and publish remote MCP server to ghrc automatically
  .github/workflows/build-mcp-lambda.yml
  .github/workflows/deploy-mcp-lambda.yml
  build/Targets.fs
  src/api/Elastic.Documentation.Mcp.Lambda/Dockerfile
Due: dotnet-format

Fix content spacing and hamburger placement in mobile
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Reduce space a little more
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

Fix content spacing and hamburger placement in mobile (#2676)
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Add KQL syntax highlighting for kuery code blocks
  docs/testing/custom-highlighters.md
  src/Elastic.Documentation.Site/Assets/hljs.ts
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockParser.cs
  src/Elastic.Markdown/Myst/CodeBlocks/SupportedLanguages.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add KQL syntax highlighting for kuery code blocks (#2677)
  docs/testing/custom-highlighters.md
  src/Elastic.Documentation.Site/Assets/hljs.ts
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockParser.cs
  src/Elastic.Markdown/Myst/CodeBlocks/SupportedLanguages.cs
Due: dotnet-format, prettier, typescript-check, eslint

Improve changelog render support for relative paths (#2673)
  docs/cli/release/changelog-render.md
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add tips about escape characters in changelog docs (#2670)
  docs/cli/release/changelog-add.md
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
Due: none

Add release notes highlight tests
  docs/_docset.yml
  docs/changelog/bundles/0.100.0.yaml
  docs/testing/release-notes-all/index.md
  docs/testing/release-notes/highlights.md
Due: none

Potential fix for pull request finding 'Useless assignment to local variable'
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
Due: dotnet-format

Update landing page secondary CTA
  src/Elastic.Documentation.Site/_static/hero.png
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

update registration link
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Update src/Elastic.Markdown/Layout/_LandingPage.cshtml
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Update landing page secondary CTA (#2678)
  src/Elastic.Documentation.Site/_static/hero.png
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

Add changelog highlights (#2643)
  docs/_docset.yml
  docs/changelog/bundles/0.100.0.yaml
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  docs/testing/release-notes-all/index.md
  docs/testing/release-notes/highlights.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/HighlightsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/HighlightsRenderTests.cs
Due: dotnet-format

Apply new hero image, move Elasticon to its own section
  src/Elastic.Documentation.Site/_static/elasticon-bg.png
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

Add `codex index` command
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Codex/Indexing/CodexIndexService.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedIndexService.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Change the term 'environment' to 'namespace'
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
Due: dotnet-format

Revert "Change the term 'environment' to 'namespace'"
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
Due: dotnet-format

Update synthetics test to match new 'Get started' CTA
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Add `codex index` command for Elasticsearch indexing (#2680)
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Codex/Indexing/CodexIndexService.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedIndexService.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Build and publish remote MCP server to ghrc automatically (#2675)
  .github/workflows/build-mcp-lambda.yml
  .github/workflows/deploy-mcp-lambda.yml
  build/Targets.fs
  src/api/Elastic.Documentation.Mcp.Lambda/Dockerfile
Due: dotnet-format

Update navigation.yml
  config/navigation.yml
Due: none

Add codex-api deploy workflow
  .github/workflows/deploy-api-lambda-codex.yml
  .github/workflows/release.yml
Due: none

Increase hero container vertical spacing
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update ci.yml (#2682)
  .github/workflows/ci.yml
Due: none

Update assembler.yml
  config/assembler.yml
Due: none

Rename Mcp.Lambda to Mcp.Remote and convert from Lambda to ECS Fargate
  .github/workflows/ci.yml
  aspire/AppHost.cs
  aspire/ResourceNames.cs
  aspire/aspire.csproj
  build/Targets.fs
  docs-builder.slnx
  src/api/Elastic.Documentation.Mcp.Lambda/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/IDocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Properties/launchSettings.json
  src/api/Elastic.Documentation.Mcp.Remote/Responses/McpResponses.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/CoherenceTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/SearchTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.development.json
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.edge.json
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.json
  tests-integration/Mcp.Remote.IntegrationTests/CoherenceToolsIntegrationTests.cs
  tests-integration/Mcp.Remote.IntegrationTests/DocumentToolsIntegrationTests.cs
  tests-integration/Mcp.Remote.IntegrationTests/Mcp.Remote.IntegrationTests.csproj
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Mcp.Remote.IntegrationTests/SearchToolsIntegrationTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Call to 'System.IO.Path.Combine' may silently drop its earlier arguments'
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
Due: dotnet-format

Map MCP endpoints under /docs/_mcp for CloudFront origin path
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
