Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Match query and body string type chips
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Keep unknown visible on union type chips
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/api-explorer-fixture.json
Due: dotnet-format

fix: wrap the route list in a div (per review by @github-actions)
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
Due: none

Keep the API spec menu clear of its trigger
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
Due: prettier

fix: assert collapsed path heading (per review by @github-actions)
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format

Match API examples and required parameters to the selected path
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationPaths.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-operation-path.test.ts
  tests/Elastic.ApiExplorer.Tests/OperationPathsTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Name the path parameter heading Path Parameters (#4251)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format

Write bundle output into per-product subdirectories
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
Due: dotnet-format

Keep API intro spacing on one 16px step
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Add a regression for a missing API response example
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

Show a response example published as a single example
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
Due: dotnet-format

Raise contrast of API links, selectors, and copy buttons
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Use paragraph text for API paths and show-properties
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Open the API nav to the current operation (#4260)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Navigation/NavigationCurrentMarker.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Skip filter dropdowns for blank-header and empty-body tables
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
Due: prettier, typescript-check, eslint

Keep API operation rails still when content expands
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Scroll long inline API code samples inside the chip
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Raise contrast of API links, selectors, and copy buttons (#4285)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Fix ProductWithNoFeaturesKey test after elasticsearch gained release-notes: dra
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Use the docs highlight theme on API samples
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/markdown/code.css
Due: prettier

Add DRA products and release-notes: dra to config/products.yml (#4246)
  config/products.yml
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Place the response description under the status and media type
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Enable the API explorer in the edge environment
  config/assembler.yml
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
Due: dotnet-format

Add `docs-builder release unified bundle` command
  src/tooling/docs-builder/Commands/ReleaseAutomation/ElasticReleaseSchedule.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ReleaseCommands.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Regenerate `cli-schema.json` with `release unified bundle` command
  docs/cli-schema.json
Due: none

Improve logging in `release unified bundle` and mark command `[Hidden]`
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Rename `Prestage` → `DailyReleasableArtifacts`; add DRA products to `products.yml`
  config/products.yml
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/services/Elastic.Changelog/Onboarding/ChangelogOnboardingValidationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  tests/Elastic.Changelog.Tests/Onboarding/OnboardingValidationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Fetch `changelog.yml` from GitHub at the resolved commit hash per product
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Add dra_artifact field so manifest key can differ from repository name
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Fix StopAsync silently dropping diagnostics when StartAsync was never called
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  tests/Elastic.Documentation.Tests/Diagnostics/DiagnosticsCollectorTests.cs
Due: dotnet-format

Start collector channel reader in Bundle so error messages render
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Log bundle errors via _logger so messages are visible in output
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Drop leading dot from temp config filename to avoid ScopedFileSystem block
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Start collector at middleware entry so diagnostics render on all exit paths
  src/tooling/docs-builder/Middleware/CatchExceptionMiddleware.cs
  tests/Elastic.Changelog.Tests/Changelogs/DiagnosticsCollectorDisposeTests.cs
Due: dotnet-format

Relocate DRA bundle when profile output_directory overrides target dir
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Move release schedule types to Configuration; add ReleaseTargetResolver
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ElasticReleaseSchedule.cs
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ReleaseScheduleJsonContext.cs
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ReleaseTargetResolver.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseSchedule/ReleaseTargetResolverTests.cs
Due: dotnet-format

Make OutputDirectory win over profile output_directory in bundler
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Add tests for OutputDirectory precedence and ReadBundleProfileNames
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReadBundleProfileNamesTests.cs
Due: dotnet-format

Auto-discover bundle profile from changelog.yml; fix temp file scope
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Use SemVersion instead of System.Version in ReleaseTargetResolver
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ReleaseTargetResolver.cs
Due: dotnet-format
