Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Open the API nav on the current operation
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Navigation/NavigationCurrentMarker.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add tests for full API descriptions and response rows
  tests/Elastic.ApiExplorer.Tests/ApiDescriptionHtmlRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format

Render API response descriptions beside their media type
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Fail when API nav hides the HTTP verb
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format

Show the HTTP verb on each API nav row
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Navigation/_NavHttpMethodGlyph.cshtml
Due: prettier

Restore API catalog titles and meta descriptions
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiPageTitle.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiSeoDescription.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownFrontMatterTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPageSeoTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Expect catalog and product links without a trailing slash
  tests/Elastic.ApiExplorer.Tests/ApiHubSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiLayoutVersionDropdownTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiVersionSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Stop appending a slash to catalog and product root URLs
  src/Elastic.ApiExplorer/Infrastructure/ApiHubSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
Due: dotnet-format

Make group-page operation rows one link
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/DashboardOpenApiNavigationTests.cs
Due: dotnet-format, prettier

Add a render test for one object expand default
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Collapse every object parameter by default
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Collapse an object that has one nested field
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Label the API switcher with each spec title
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiHubSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/IsolatedApiAliases.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  tests/Elastic.ApiExplorer.Tests/ApiHubSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/IsolatedApiAliasesTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
Due: dotnet-format, prettier

Contain API operation pages within the viewport
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Show every API example beside the parameters
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier

Keep article scroll when Space is pressed on an API nav link
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Correct HTTP method colors on API pages
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Scroll the API nav to the current operation after a same-tree jump
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Make API response status text selectable
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

fix: keep response links outside the toggle (per review by @github-actions)
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Align API nav verbs in one column
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Label the API switcher with each spec title (#4257)
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiHubSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/IsolatedApiAliases.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  tests/Elastic.ApiExplorer.Tests/ApiHubSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/IsolatedApiAliasesTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
Due: dotnet-format

Show string and array types on path parameters (#4258)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Index API operation summaries as search snippets (#4259)
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format

Keep article scroll when the current API folder row toggles
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Keep sample paths and first lines visible
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier

Stack API group endpoints into clickable rows
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

Replace Parcel with Vite for frontend builds (#4240)
  .github/actions/bootstrap/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/.parcelrc
  src/Elastic.Documentation.Site/.postcssrc
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/vite.config.ts
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/FrontendWatchService.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show API response statuses as disclosures
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Align group endpoint paths with the method chip
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Snap response status rows open without motion
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Fix CA1860: prefer Count over .Any() in two sites (#4243)
  src/Elastic.Markdown/Myst/Directives/Math/MathBlock.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Widen API operation pages on large screens
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Guard YAML parsing against unknown properties and release-notes values (#4245)
  Directory.Packages.props
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  tests/Elastic.Documentation.Configuration.Tests/Elastic.Documentation.Configuration.Tests.csproj
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/YamlForwardCompatTests.cs
Due: dotnet-format

Stack API group operations into clickable rows
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_OperationUrlList.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

Fail when operation headings skip levels
  tests/Elastic.ApiExplorer.Tests/OperationHeadingLevelTests.cs
Due: dotnet-format

Match operation headings to h1, h2, then h3
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.ApiExplorer/_Partials/_SectionHeader.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Record that switching examples keeps the language selector
  src/Elastic.Documentation.Site/Assets/api-select.test.ts
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Keep the language selector when another example is chosen
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
Due: dotnet-format

Keep the API path beside the method chip
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
