Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add tests
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
Due: dotnet-format

Fix RelatedLearningTests.cs
  tests/Elastic.Markdown.Tests/Directives/RelatedLearningTests.cs
Due: dotnet-format

Bump stale bot to 180 days, autoclose to 21 (#4097)
  .github/workflows/stale.yml
Due: none

Fix ARG_MAX crash on large PRs in docs-preview-local workflow
  .github/workflows/docs-preview-local.yml
Due: none

fix: route API sidebar links through HTMX instead of full page reload (#4155)
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.test.tsx
Due: prettier, typescript-check, eslint

Landing page: hide the empty mobile hamburger (#4068)
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  tests/Navigation.Tests/Rendering/LandingLayoutRenderingTests.cs
Due: dotnet-format, prettier

API catalog: show the product mark on spec landing pages (#4069)
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier

Delete stale hashed maps on every frontend rebuild
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  tests/Elastic.Markdown.Tests/EmbeddedStaticAssetTests.cs
Due: dotnet-format, prettier

Size empty applies badges so wrap matches hydration
  src/Elastic.Documentation.Site/Assets/markdown/applies-to-reservation.test.ts
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
Due: prettier, typescript-check, eslint

Format EmbeddedStaticAssetTests after curb rewrite
  tests/Elastic.Markdown.Tests/EmbeddedStaticAssetTests.cs
Due: dotnet-format

fix: restore otel test mocks (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.test.ts
Due: prettier, typescript-check, eslint

Stop attaching euid to browser OpenTelemetry records (#4149)
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.test.ts
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Reserve multi-lifecycle ellipsis width before hydration
  src/Elastic.Documentation.Site/Assets/markdown/applies-to-reservation.test.ts
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
Due: prettier, typescript-check, eslint

Reserve applies badges with real markup before hydration
  src/Elastic.Documentation.Site/Assets/markdown/applies-to-reservation.test.ts
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Markdown/Myst/Components/ApplicabilityItem.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToComponent.cshtml
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Framework/HtmlAssertions.fs
Due: dotnet-format, prettier, typescript-check, eslint

Register docs-playground-release-notes-tagged-workflow repo
  config/assembler.yml
  config/products.yml
Due: none

Reserve one applies-block row with a 47px min-height
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Markdown/Myst/Components/ApplicabilityItem.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToComponent.cshtml
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Framework/HtmlAssertions.fs
Due: dotnet-format, prettier

Drop an accidental blank-line edit from the authoring fixture
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Size empty applies-to-popover hosts so wrapped rows can reserve space
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
Due: prettier

Keep applies-to placeholders until the badge exists
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
Due: prettier

Remove workflow playground registration (separate PR)
  config/assembler.yml
  config/products.yml
Due: none

Register docs-playground-release-notes-tagged-workflow
  config/assembler.yml
  config/products.yml
Due: none

Register docs-playground-release-notes-tagged-workflow (#4160)
  config/assembler.yml
  config/products.yml
Due: none

Reserve space for applies-to badges before they hydrate (#3790)
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
Due: prettier

Warn instead of error when declared product has no CDN bundles yet
  src/Elastic.Documentation.Configuration/ReleaseNotes/FetchedReleaseNotes.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/IReleaseNotesResolver.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesFetcher.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
Due: dotnet-format

Attribute 404 warning to products.yml registration, not docset.yml
  src/Elastic.Documentation.Configuration/ReleaseNotes/FetchedReleaseNotes.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/IReleaseNotesResolver.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesFetcher.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
Due: dotnet-format

feat: add Docker dev support for the docs API via ./dev.sh (#4138)
  build/dev/docker-bake.hcl
  build/dev/docker-compose.yml
  dev.sh
  src/api/Elastic.Documentation.Api/Dockerfile
Due: none

Warn instead of error when a products.yml product has no CDN bundles yet (#4161)
  src/Elastic.Documentation.Configuration/ReleaseNotes/FetchedReleaseNotes.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/IReleaseNotesResolver.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesFetcher.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
Due: dotnet-format

Onboard docs-builder to the release-notes shared workflows (#4140)
  .github/workflows/changelog-publish.yml
  .github/workflows/release-notes-backfill.yml
  .github/workflows/release-notes-changelog-file.yml
  .github/workflows/release-notes-comments.yml
  .github/workflows/release-notes.yml
  .github/workflows/release.yml
  .github/workflows/required-labels.yml
  .github/zizmor.yml
  config/products.yml
  docs/changelog.yml
  docs/changelog/examples/changelog-private-link-sanitization.yaml
  docs/changelog/examples/fsharp-nullability-warnings.yaml
  docs/changelog/examples/htmx-navigation-fix.yaml
  docs/changelog/examples/pr-label-blockers.yaml
  docs/changelog/examples/sample-breaking-change.yaml
  docs/changelog/examples/sample-deprecation.yaml
  docs/changelog/examples/sample-docs.yaml
  docs/changelog/examples/sample-feature-099.yaml
  docs/changelog/examples/sample-known-issue.yaml
  docs/changelog/examples/sample-other.yaml
  docs/changelog/examples/sample-regression.yaml
  docs/changelog/examples/scrubber-allow-public-skip-repos.yaml
  docs/changelog/examples/speculative-builds-fix.yaml
Due: none

Fix ARG_MAX crash on large PRs in docs-preview-local workflow (#4156)
  .github/workflows/docs-preview-local.yml
Due: none

Treat unpublished release notes as a hint
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesFetcher.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesFetcherTests.cs
Due: dotnet-format

Remove the generated changelog entry
  docs/changelog/4162.yaml
Due: none

Remove the regenerated changelog entry
  docs/changelog/4162.yaml
Due: none

Allow changelog skips alongside change labels
  .github/workflows/required-labels.yml
Due: none

Opt into Runtime Async codegen path for .NET 11
  Directory.Build.props
Due: none

Allow changelog skips alongside change labels (#4164)
  .github/workflows/required-labels.yml
Due: none

Fix runtime-async flag value: runtime-async=on not runtime-async
  Directory.Build.props
Due: none

Update tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesFetcherTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesFetcherTests.cs
Due: dotnet-format

Clarify release notes bootstrap order
  docs/data/release-notes/publish.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
