Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

feat(vector-sizing-calculator): improve DiskBBQ and HNSW advanced UX
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
Due: prettier, typescript-check, eslint

fix style for checkbox, also adding an example to review it
  docs/syntax/task-lists.md
  src/Elastic.Documentation.Site/Assets/markdown/list.css
Due: prettier

format css
  src/Elastic.Documentation.Site/Assets/markdown/list.css
Due: prettier

fix style for checkbox, also adding an example to review it (#3395)
  docs/syntax/task-lists.md
  src/Elastic.Documentation.Site/Assets/markdown/list.css
Due: prettier

feat(vector-sizing-calculator): DiskBBQ RAM range and clearer replica UX
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/Calculator.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/calculations.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/HeroSizeLine.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ResultsPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/types.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/vector-sizing-calculator.css
Due: prettier, typescript-check, eslint

feat(vector-sizing-calculator): put quantization and replica shards on one row
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
Due: prettier, typescript-check, eslint

Add experimental lifecycle to applies-to
  docs/_snippets/applies_to-lifecycle.md
  docs/syntax/applies-switch.md
  docs/syntax/applies.md
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
  src/Elastic.Documentation/AppliesTo/ProductLifecycle.cs
  src/Elastic.Documentation/AppliesTo/ProductLifecycleInfo.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicabilityTryParseTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterRoundTripTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterSerializationTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ProductLifecycleInfoTests.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Add experimental lifecycle to API Explorer
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
  tests/Elastic.ApiExplorer.Tests/AvailabilityBadgeHelperTests.cs
Due: dotnet-format

ci: declare contents:read on smoke-test workflow (#3321)
  .github/workflows/smoke-test.yml
Due: none

Add experimental lifecycle to API Explorer (#3399)
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
  tests/Elastic.ApiExplorer.Tests/AvailabilityBadgeHelperTests.cs
Due: dotnet-format

Remove empty sections from changelog directive (#3369)
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogIndexPageTocTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTocFilteringTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTypeFilterTests.cs
Due: dotnet-format

Add experimental lifecycle to changelog tooling (#3311)
  config/changelog.example.yml
  docs/contribute/configure-changelogs-ref.md
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfiguration.cs
  src/Elastic.Documentation/Lifecycle.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
Due: dotnet-format

Add experimental lifecycle to applies-to (#3398)
  docs/_snippets/applies_to-lifecycle.md
  docs/syntax/applies-switch.md
  docs/syntax/applies.md
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
  src/Elastic.Documentation/AppliesTo/ProductLifecycle.cs
  src/Elastic.Documentation/AppliesTo/ProductLifecycleInfo.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
  tests/Elastic.ApiExplorer.Tests/AvailabilityBadgeHelperTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicabilityTryParseTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterRoundTripTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterSerializationTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ProductLifecycleInfoTests.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Update technical preview description
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
Due: dotnet-format

Remove placeholder comment
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
Due: dotnet-format

Update tests
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

fix: upgrade zod from 4.3.6 to 4.4.1 (#3371)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/api-logs from 0.215.0 to 0.216.0 (#3372)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @tanstack/react-query from 5.99.0 to 5.99.2 (#3294)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/context-zone from 2.7.0 to 2.7.1 (#3373)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @tanstack/react-query from 5.99.2 to 5.100.9
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade zod from 4.4.1 to 4.4.3
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/resources from 2.7.0 to 2.7.1
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/sdk-logs from 0.215.0 to 0.216.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Hide "Supported on" line when stack badge would be "Planned"
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsViewModel.cs
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
Due: dotnet-format

Apply suggestion from @florent-leborgne
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
Due: dotnet-format

Hide Supported on line for settings whose stack is fully planned (#3407)
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsViewModel.cs
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
Due: dotnet-format

Delete stale CloudFront redirect KVS entries
  src/services/Elastic.Documentation.Assembler/Deploying/Redirects/AwsCloudFrontKeyValueStoreProxy.cs
  src/services/Elastic.Documentation.Assembler/Deploying/Redirects/RedirectKvsDiff.cs
  tests/Elastic.Documentation.Build.Tests/RedirectKvsDiffTests.cs
Due: dotnet-format

fix: upgrade @tanstack/react-query from 5.99.2 to 5.100.9 (#3402)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade zod from 4.4.1 to 4.4.3 (#3403)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/resources from 2.7.0 to 2.7.1 (#3404)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

changelog: switch prepare-artifact bool CLI params to bool?
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/Evaluation/PrepareArtifactArguments.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
Due: dotnet-format

fix: upgrade @opentelemetry/sdk-logs from 0.215.0 to 0.216.0 (#3405)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

changelog: regenerate cli-schema.json after bool? switch
  docs/cli-schema.json
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format
