Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add AI-enriched fields (#2396)
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchTransportFactory.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentKeyGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentOptions.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/IEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ILlmClient.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedIndexService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerIndexCommand.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
Due: dotnet-format

fix case for self-managed badges
  docs/syntax/applies.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityMappings.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Fix spacing considering conditional rendering
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
Due: prettier, typescript-check, eslint

Handle mobile view
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Add navigational search component (#2398)
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/KeyboardShortcutsFooter.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SanitizedHtmlContent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchDropdownHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/index.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useGlobalKeyboardShortcut.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
Due: prettier, typescript-check, eslint

fix case for self-managed badges (#2428)
  docs/syntax/applies.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityMappings.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Refactor applies_to docs for readability
  docs/syntax/applies.md
Due: none

Wildcard support in docs-builder changelog bundle --input-products
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add more docs
  docs/cli/release/changelog-bundle.md
Due: none

Improve command help and docs
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Return error for multiple filter options
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Ensure early validation errors are returned
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Fix error message in ChangelogServiceTest.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add lifecycle values to bundle product metadata
  src/services/Elastic.Documentation.Services/Changelog/BundledChangelogData.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Fix lifecycle handling
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add lifecycle to warning messages
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Improve docs
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
Due: none

Remove CMD+Semicolon keyboard shortcut handling
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Remove CMD+Semicolon keyboard shortcut handling (#2430)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Fix navigation dropdowns
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/VirtualFileNavigation.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
  tests/Navigation.Tests/Isolation/NavigationStructureTests.cs
Due: dotnet-format

Fix flaky test: Replace setTimeout with useLayoutEffect for scroll behavior
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
Due: prettier, typescript-check, eslint

Fix flaky test: Replace setTimeout with useLayoutEffect for scroll behavior (#2433)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
Due: prettier, typescript-check, eslint

Fix navigation dropdowns (#2432)
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/VirtualFileNavigation.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
  tests/Navigation.Tests/Isolation/NavigationStructureTests.cs
Due: dotnet-format

Fix tests
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Applies_to: Expand versioning features (#2322)
  docs/_snippets/applies_to-version.md
  docs/syntax/_snippets/inline-level-applies-examples.md
  docs/syntax/_snippets/multiple-lifecycle-states.md
  docs/syntax/_snippets/versioned-lifecycle.md
  docs/syntax/applies.md
  docs/testing/req.md
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
  src/Elastic.Documentation.Configuration/Versions/VersionInference.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.ts
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  src/Elastic.Documentation/AppliesTo/ApplicabilitySelector.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Documentation/AppliesTo/ProductLifecycleInfo.cs
  src/Elastic.Documentation/SemVersion.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Documentation/VersionSpec.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToComponent.cshtml
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
  src/Elastic.Markdown/Page/IndexViewModel.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterRoundTripTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterSerializationTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ProductApplicabilityToStringTests.cs
  tests/Elastic.Markdown.Tests/Directives/AdmonitionTests.cs
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Applicability/AppliesToFrontMatter.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format, prettier, typescript-check, eslint

Wildcard support in docs-builder changelog bundle --input-products (#2429)
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/BundledChangelogData.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Update applies-switch documentation to new applies_to syntax
  docs/syntax/applies-switch.md
Due: none

Update formatting in applies-switch documentation
  docs/syntax/applies-switch.md
Due: none

Update applies-switch.md
  docs/syntax/applies-switch.md
Due: none

Update applies-switch syntax in documentation
  docs/syntax/applies-switch.md
Due: none

Fix stepper heading levels from snippets
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  tests/Elastic.Markdown.Tests/FileInclusion/HeadingOrderTests.cs
Due: dotnet-format

dotnet format
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/Elastic.Documentation/AppliesTo/ApplicableToOrderComparer.cs
Due: dotnet-format

Fix stepper heading levels from snippets (#2436)
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  tests/Elastic.Markdown.Tests/FileInclusion/HeadingOrderTests.cs
Due: dotnet-format

fix: testing elastic-nav NaaS
  docs/_docset.yml
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier

Rename endpoint /search to /navigation-search
  src/api/Elastic.Documentation.Api.Core/Search/IFindPageGateway.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
Due: dotnet-format

Refactor web-components to use NavigationSearch, remove Search modal
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/AskAiSuggestions.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/navigationSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useNavigationSearchCooldown.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useNavigationSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useNavigationSearchRateLimitHandler.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/AskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchSuggestions.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useAskAiFromSearch.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiErrorCallout.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiErrorCallout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiModal.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/TESTING.md
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/cooldown.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/modal.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/modalmodes.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/useCooldown.ts
Due: prettier, typescript-check, eslint

staging
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
