Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix ruleset name (#2704)
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
Due: dotnet-format

Change the logic to only export OpenAPI on assembler builds (#2705)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
Due: dotnet-format

Use codex's MarkdownLayout in codex builds
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/Page/CodexPageViewFactory.cs
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/IPageViewFactory.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
Due: dotnet-format

Adjust codex navigation
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Codex/Page/CodexPageViewFactory.cs
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Site/CodexHtmxAttributeProvider.cs
  src/Elastic.Documentation.Site/Htmx.cs
  src/Elastic.Documentation.Site/IHtmxAttributeProvider.cs
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationTreeItem.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
  src/Elastic.Markdown/Layout/_PrevNextNav.cshtml
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/Elastic.Markdown/Myst/Renderers/HtmxLinkInlineRenderer.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
  tests/Elastic.Markdown.Tests/Assembler/AssemblerHtmxMarkdownLinkTests.cs
  tests/Elastic.Markdown.Tests/Codex/CodexHtmxAttributeProviderTests.cs
  tests/Elastic.Markdown.Tests/Codex/CodexHtmxMarkdownLinkTests.cs
  tests/Elastic.Markdown.Tests/Codex/DefaultHtmxAttributeProviderTests.cs
  tests/Elastic.Markdown.Tests/Inline/InlneBaseTests.cs
Due: dotnet-format, prettier

Format
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
Due: dotnet-format

Simplify
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Site/CodexHtmxAttributeProvider.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Elastic.Markdown.Tests/Codex/CodexHtmxAttributeProviderTests.cs
  tests/Elastic.Markdown.Tests/Codex/CodexHtmxMarkdownLinkTests.cs
  tests/Elastic.Markdown.Tests/Codex/DefaultHtmxAttributeProviderTests.cs
Due: dotnet-format, prettier

Potential fix for pull request finding 'Unnecessarily complex Boolean expression'
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
Due: prettier

Add error logging to MCP tools and improve startup/lifecycle diagnostics
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/CoherenceTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/SearchTools.cs
Due: dotnet-format

Fix integration tests for new logger parameters in MCP tool constructors
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
Due: dotnet-format

Add error logging to MCP tools and improve startup/lifecycle diagnostics (#2707)
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/CoherenceTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/SearchTools.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
Due: dotnet-format

Add {contributors} directive for team roster grids (#2698)
  docs/_docset.yml
  docs/syntax/contributors.md
  docs/syntax/directives.md
  src/Elastic.Documentation.Site/Assets/markdown/contributors.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format, prettier

Increase exception logging for MCP and API on ECS
  docs-builder.slnx
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Increase exception logging for MCP and API on ECS (#2709)
  docs-builder.slnx
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Remove local stdio MCP server
  docs-builder.slnx
  docs/_docset.yml
  docs/cli/index.md
  docs/cli/mcp.md
  docs/mcp/index.md
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/Program.cs
  src/tooling/docs-builder/Commands/McpCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Add curl to amazonlinux:2023-minimal
  src/api/Elastic.Documentation.Api.App/Dockerfile
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

Add curl to amazonlinux:2023-minimal (#2710)
  src/api/Elastic.Documentation.Api.App/Dockerfile
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

Fix import ordering in Mcp.Remote Program
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Add redirect for removed cli/mcp.md
  docs/_redirects.yml
Due: none

Codex layout and navigation (htmx) adjustments (#2706)
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Codex/Page/CodexPageViewFactory.cs
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Site/Htmx.cs
  src/Elastic.Documentation.Site/IHtmxAttributeProvider.cs
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationTreeItem.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
  src/Elastic.Markdown/Layout/_PrevNextNav.cshtml
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/Elastic.Markdown/Myst/Renderers/HtmxLinkInlineRenderer.cs
  src/Elastic.Markdown/Page/IPageViewFactory.cs
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
  tests/Elastic.Markdown.Tests/Assembler/AssemblerHtmxMarkdownLinkTests.cs
  tests/Elastic.Markdown.Tests/Inline/InlneBaseTests.cs
Due: dotnet-format, prettier

Remove curl from amazonlinux:2023-minimal
  src/api/Elastic.Documentation.Api.App/Dockerfile
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

Fix MCP server serialization
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Insert TypeInfoResolver in a safer way
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Simplify
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Remove curl from amazonlinux:2023-minimal (#2711)
  src/api/Elastic.Documentation.Api.App/Dockerfile
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

Fix System.String JSON serialization error in MCP Remote SSE handler
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Fix System.String JSON serialization error in MCP Remote SSE handler (#2713)
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

BuildType aware frontend
  src/Elastic.Documentation.Site/Assets/config.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/telemetry/logging.ts
  src/Elastic.Documentation.Site/Assets/telemetry/tracing.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/codex.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/isolated.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/types.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/urlStrategy.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/utils.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
Due: dotnet-format, prettier, typescript-check, eslint

Derive FrontendConfig rootPath from UrlPathPrefix instead of hardcoding
  src/Elastic.Documentation.Site/_ViewModels.cs
Due: dotnet-format, prettier

Use source-generated JsonSerializer for FrontendConfig
  src/Elastic.Documentation.Site/FrontendConfigJsonContext.cs
  src/Elastic.Documentation.Site/_ViewModels.cs
Due: dotnet-format, prettier

Fix frontend tests
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.test.tsx
Due: prettier, typescript-check, eslint

Fix using directive ordering in Mcp.Remote Program
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Add redirect for removed cli/mcp.md
  docs/_redirects.yml
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format

Update MCP endpoint URL in docs
  docs/mcp/index.md
Due: none

Add SSE keepalive middleware to MCP Remote server
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/SseKeepAliveMiddleware.cs
Due: dotnet-format

Remove DiagnosticTools and switch templates to embedded-only
  docs/mcp/index.md
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/services/Elastic.Documentation.Assembler/Mcp/ContentTypeProvider.cs
  src/services/Elastic.Documentation.Assembler/Mcp/ContentTypeTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/DiagnosticTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/Responses.cs
Due: dotnet-format

Fix: Always disable htmx if the URL is not /docs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
Due: prettier, typescript-check, eslint

Apply suggestion from @reakaleek
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
Due: prettier

Fix: Always disable htmx if the URL is not /docs (#2716)
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Address review feedback on SSE keepalive middleware
  src/api/Elastic.Documentation.Mcp.Remote/SseKeepAliveMiddleware.cs
Due: dotnet-format

Make frontend build-type aware (OTEL + HTMX) (#2714)
  src/Elastic.Documentation.Site/Assets/config.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/telemetry/logging.ts
  src/Elastic.Documentation.Site/Assets/telemetry/tracing.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/codex.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/isolated.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/types.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/urlStrategy.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/utils.ts
  src/Elastic.Documentation.Site/FrontendConfigJsonContext.cs
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
Due: dotnet-format, prettier, typescript-check, eslint
