Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Truncate long constraints on API property rows
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format, prettier

fix: use h2 card titles when the page has no group heading (per review by @github-actions)
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiCatalogCardTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

fix: make truncated constraints keyboard focusable (per review by @infra-vault-gh-plugin-prod)
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_SchemaType.cshtml
  tests/Elastic.ApiExplorer.Tests/SchemaTypeRenderingTests.cs
Due: dotnet-format

API catalog: group APIs into Elastic Stack and Orchestration (#4373)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiCatalogCardTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiCatalogViewModelTests.cs
  tests/Elastic.ApiExplorer.Tests/LandingCommonMarkCatalogTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier

Link union options to the page of a type documented on its own
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Give ingest processors their own page and link type pages by schema id
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Model/TypeInfo.cs
  src/Elastic.ApiExplorer/Model/TypePages.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaHelpersTests.cs
  tests/Elastic.ApiExplorer.Tests/TypePagesTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Test the processors page end to end, from navigation to the row link
  tests/Elastic.ApiExplorer.Tests/ApiExplorerFixture.cs
  tests/Elastic.ApiExplorer.Tests/TypePageWiringTests.cs
Due: dotnet-format

Truncate long constraints on API property rows (#4374)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_SchemaType.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaTypeRenderingTests.cs
Due: dotnet-format, prettier

Give ingest processors their own page and link type pages by schema id (#4376)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Model/TypeInfo.cs
  src/Elastic.ApiExplorer/Model/TypePages.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiExplorerFixture.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaHelpersTests.cs
  tests/Elastic.ApiExplorer.Tests/TypePageWiringTests.cs
  tests/Elastic.ApiExplorer.Tests/TypePagesTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Show a property's reference link under its name, before the description
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  tests/Elastic.ApiExplorer.Tests/PropertyItemRenderingTests.cs
Due: dotnet-format

Set the Serverless product pair on every release serverless entry
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/services/Elastic.Changelog/Serverless/ServerlessPromotion.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Serverless/ServerlessPromotionTests.cs
Due: dotnet-format

Put a property's reference link on its name line
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/PropertyItemRenderingTests.cs
Due: dotnet-format, prettier

Compare the bundle with normalized line endings in the product test
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
Due: dotnet-format

Make the language card that find-in-page reveals the pick
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Set the Serverless product pair on every release serverless entry (#4378)
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/services/Elastic.Changelog/Serverless/ServerlessPromotion.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Serverless/ServerlessPromotionTests.cs
Due: dotnet-format

Move a property's reference link above its "show properties" toggle
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/PropertyItemRenderingTests.cs
Due: dotnet-format, prettier

Draw the tree branch on a property's reference link row
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Show a property's reference link above its show properties toggle (#4377)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/PropertyItemRenderingTests.cs
Due: dotnet-format, prettier

Read single-or-array rows as "Rescore or Rescore[]"
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Spell a map's array form with the [] in front
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Read single-or-array rows as "Rescore or Rescore[]" (#4380)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Trim the shared words from the chips' "more" menu entries too
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionOptionsRenderingTests.cs
Due: dotnet-format

Use chips for every variant list with two or more objects
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionOptionsRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Use chips for every variant list with two or more variants
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/UnionOptionsRenderingTests.cs
Due: dotnet-format, prettier

Flag nullable fields and drop options rows that repeat the type
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/NullableTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionOptionTests.cs
Due: dotnet-format, prettier

Find null through nested unions when flagging a field nullable
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  tests/Elastic.ApiExplorer.Tests/NullableTests.cs
Due: dotnet-format

Flag nullable fields and drop options rows that repeat the type (#4381)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/NullableTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionOptionTests.cs
Due: dotnet-format, prettier

Replace Parcel with Vite for frontend builds
  .github/actions/bootstrap/action.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/.parcelrc
  src/Elastic.Documentation.Site/.postcssrc
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/vite.config.ts
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/FrontendWatchService.cs
Due: dotnet-format, prettier, typescript-check, eslint

Keep Vite chunks on up-to-date builds and drop the ineffective node_modules cache
  .github/actions/bootstrap/action.yml
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
Due: prettier

Replace Parcel with Vite for frontend builds (#4383)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/.parcelrc
  src/Elastic.Documentation.Site/.postcssrc
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/vite.config.ts
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/FrontendWatchService.cs
Due: dotnet-format, prettier, typescript-check, eslint
