Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix navigation item not expanding when top-level nav changes
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Revert unnecessary changes
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Remove redundant event handler and move logic into pages-nav
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Remove another redundant event handler
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Only scroll into view if the item is not in the viewport
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Fix navigation item not expanding when top-level nav changes (#2514)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Rename telemetry to "NavigationSearch"
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useFindInDocsTelemetry.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchTelemetry.ts
Due: prettier, typescript-check, eslint

Rename telemetry to "NavigationSearch" (#2515)
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useFindInDocsTelemetry.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchTelemetry.ts
Due: prettier, typescript-check, eslint

Align naming to NavigationSearch
  src/api/Elastic.Documentation.Api.Core/Search/INavigationSearchGateway.cs
  src/api/Elastic.Documentation.Api.Core/Search/NavigationSearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/ElasticsearchClientAccessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchQueryBuilder.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchResultProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/NavigationSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Add edot-cloud-forwarder-aws to assembler file
  config/assembler.yml
Due: none

Align naming to NavigationSearch (#2516)
  src/api/Elastic.Documentation.Api.Core/Search/INavigationSearchGateway.cs
  src/api/Elastic.Documentation.Api.Core/Search/NavigationSearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/ElasticsearchClientAccessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchQueryBuilder.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchResultProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/NavigationSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Update version to 9.3
  config/assembler.yml
Due: none

Update nav
  config/navigation.yml
Due: none

Add private flag
  config/assembler.yml
Due: none

Fix path
  config/navigation.yml
Due: none

Add edot-cloud-forwarder-aws to assembler file (#2517)
  config/assembler.yml
  config/navigation.yml
Due: none

Split MarkdownRenderer
  config/changelog.example.yml
  docs-builder.slnx
  src/services/Elastic.Changelog/ChangelogTextUtilities.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
  src/services/Elastic.Changelog/ReleaseNotesExtractor.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderInput.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/OutputFormatTests.cs
Due: dotnet-format

Fix image exclusion
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
Due: dotnet-format

Fix image exclusion (#2518)
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
Due: dotnet-format

Split AsciidocRenderer
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/IAsciidocSectionRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
Due: dotnet-format

Further render touchup
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/IAsciidocSectionRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
Due: dotnet-format

further render cleanups
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationResult.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/FeatureHidingLoader.cs
  src/services/Elastic.Changelog/Rendering/ResolvedEntriesResult.cs
Due: dotnet-format

dotnet format style
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
Due: dotnet-format

Update shared_configuration.stack.next to 9.3.0 (#2511)
  config/assembler.yml
Due: none

Split Markdown and Asciidoc changelog renders further (#2519)
  config/changelog.example.yml
  docs-builder.slnx
  src/services/Elastic.Changelog/ChangelogTextUtilities.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
  src/services/Elastic.Changelog/ReleaseNotesExtractor.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationResult.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderInput.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/FeatureHidingLoader.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/services/Elastic.Changelog/Rendering/ResolvedEntriesResult.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/OutputFormatTests.cs
Due: dotnet-format

Add helpful error when internal links are missing .md extension
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Inline/AnchorLinkTests.cs
Due: dotnet-format

split changelog cration and bundler
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Bundling/ChangelogFileDiscovery.cs
  src/services/Elastic.Changelog/Bundling/PrFilterLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Creation/ChangelogInputValidator.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
Due: dotnet-format

Fix links to schema values
  config/changelog.example.yml
  docs/contribute/_snippets/changelog-fields.md
  docs/contribute/changelog.md
Due: none

Introduce the changelog directive, documentation and tests
  docs/_docset.yml
  docs/changelog/bundles/0.100.0.yaml
  docs/changelog/bundles/0.99.0.yaml
  docs/changelog/fsharp-nullability-warnings.yaml
  docs/changelog/htmx-navigation-fix.yaml
  docs/changelog/pr-label-blockers.yaml
  docs/changelog/sample-breaking-change.yaml
  docs/changelog/sample-deprecation.yaml
  docs/changelog/sample-docs.yaml
  docs/changelog/sample-feature-099.yaml
  docs/changelog/sample-known-issue.yaml
  docs/changelog/sample-other.yaml
  docs/changelog/sample-regression.yaml
  docs/changelog/speculative-builds-fix.yaml
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation/Changelog/BundledChangelogData.cs
  src/Elastic.Documentation/Changelog/ChangelogData.cs
  src/Elastic.Documentation/Changelog/ChangelogTextUtilities.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlock.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleInput.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/ChangelogInput.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationService.cs
  src/tooling/docs-builder/Arguments/ProductInfoParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Elastic.Changelog.Tests.csproj
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
Due: dotnet-format

Adjust using directives after conflicts
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationResult.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/services/Elastic.Changelog/Rendering/ResolvedEntriesResult.cs
Due: dotnet-format

Restructure changelog configuration to use pivot section with inverted label mappings
  config/changelog.example.yml
  src/services/Elastic.Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Configuration/TypeEntryConverter.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/BlockingLabelTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/LabelMappingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/TitleProcessingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ValidationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/OutputFormatTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/RenderBlockersTests.cs
Due: dotnet-format

Fix links to changelog.example.yml
  docs/contribute/changelog.md
Due: none

Typo
  docs/syntax/changelog.md
Due: none

Fix ChangelogConfiguration.cs links (#2522)
  config/changelog.example.yml
  docs/contribute/_snippets/changelog-fields.md
  docs/contribute/changelog.md
Due: none

Add helpful error when internal links are missing .md extension (#2520)
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Inline/AnchorLinkTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Nested 'if' statements can be combined'
  src/Elastic.ApiExplorer/Schema/SchemaAnalyzer.cs
Due: dotnet-format

Add changelog gh-release command to create changelogs from GitHub releases
  src/services/Elastic.Changelog/ChangelogTextUtilities.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/ReleaseNoteParser.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseInput.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Fix breadcrumbs
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
Due: none

Fix breadcrumbs (#2529)
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
