Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Simplify the API catalog card and hero CSS
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiCatalogCardTests.cs
Due: dotnet-format, prettier

Redesign the API catalog as a card grid under a typographic hero
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.ApiExplorer/_CatalogLayout.cshtml
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/fonts.css
  src/Elastic.Documentation.Site/Assets/fonts/SpaceGrotesk-OFL.txt
  src/Elastic.Documentation.Site/Assets/fonts/SpaceGrotesk-Variable.woff2
  src/Elastic.Documentation.Site/Assets/product-icons.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Icons/ProductIcons.cs
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
  tests/Elastic.ApiExplorer.Tests/ApiCatalogCardTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiCatalogViewModelTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/ProductIconsTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show every type of a multi-type schema in the API Explorer
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaHelpersTests.cs
Due: dotnet-format

Add a heading level option to the explore directive (#4334)
  docs/syntax/explore.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/CardsAndExplore.cs
Due: dotnet-format, prettier

Update hub card test for the themed Elasticsearch icon
  tests/Elastic.Authoring.Tests/Blocks/Hub/CardsAndExplore.cs
Due: dotnet-format

Link catalog cards without a trailing slash
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Create catalog entry URLs without a trailing slash
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/ApiCatalogCardTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Put the on-this-page label beside its links
  docs/syntax/on-this-page.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Install npm packages once on `./dev.sh isolated-serve`
  build/dev/serve-entrypoint.sh
Due: none

Add an on-this-page directive for hub pages (#4335)
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/syntax/hub-pages.md
  docs/syntax/on-this-page.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/OnThisPage.cs
Due: dotnet-format, prettier

Keep allOf unions with a map-only base on the union path
  src/Elastic.ApiExplorer/Model/AllOfUnion.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Step down accordion titles under a nested explore section
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

API catalog: redesign as a card grid under a typographic hero (#4337)
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_CatalogLayout.cshtml
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/fonts.css
  src/Elastic.Documentation.Site/Assets/fonts/SpaceGrotesk-OFL.txt
  src/Elastic.Documentation.Site/Assets/fonts/SpaceGrotesk-Variable.woff2
  src/Elastic.Documentation.Site/Assets/product-icons.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Icons/ProductIcons.cs
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
  tests/Elastic.ApiExplorer.Tests/ApiCatalogCardTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiCatalogViewModelTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/ProductIconsTests.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/CardsAndExplore.cs
Due: dotnet-format, prettier, typescript-check, eslint

Install npm packages once on `./dev.sh isolated-serve` (#4340)
  build/dev/serve-entrypoint.sh
Due: none

Expand unions nested in unions and arrays of unions in the API Explorer
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/UnionSchemas.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Use tippy tooltips on the API copy buttons (#4333)
  src/Elastic.ApiExplorer/Operations/_Partials/_EndpointCopyButton.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  src/Elastic.Documentation.Site/Assets/code-block.css
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  src/Elastic.Documentation.Site/Assets/tooltip.test.ts
  src/Elastic.Documentation.Site/Assets/tooltip.ts
Due: prettier, typescript-check, eslint

List each large structure once per page in the API Explorer
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PageShapes.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Align the API landing pages on one card
  src/Elastic.ApiExplorer/Landing/ApiGroupRowModel.cs
  src/Elastic.ApiExplorer/Landing/ApiOverviewRow.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiGroupRow.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiOverviewSectionsTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

Step down accordion titles under a nested explore section (#4348)
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Remove the raw tag name from API group pages
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Keep API cards dark until hover
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Share the row list between the group and product landing pages
  src/Elastic.ApiExplorer/Landing/ApiGroupRowModel.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiGroupList.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Remove the raw tag name from API group pages (#4350)
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Make shared-listing links name their owner and open collapsed lists
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs-hash.test.ts
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Align the API landing pages on one card (#4349)
  src/Elastic.ApiExplorer/Landing/ApiGroupRowModel.cs
  src/Elastic.ApiExplorer/Landing/ApiOverviewRow.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiGroupList.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiGroupRow.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiOverviewSectionsTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

Correct HTTP method colors on API pages
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Label unnamed union variants and tighten repeat detection
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/TypeInfo.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Collapse extra API example chips into a "+N more" menu
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Correct HTTP method colors on API pages (#4270)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Use Swagger colors and theme tokens for API method badges
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Use Swagger colors and theme tokens for API method badges (#4351)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Show the HTTP verb on the right of each API nav row
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Navigation/_NavHttpMethodGlyph.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavLegacy.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format, prettier

fix: clear the chip tooltip when its title fits again (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Right-align the verb text in the API nav chip
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Space the API nav title and verb chip apart
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Make API nav rows with a verb chip full-width flex rows
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Align the API nav verb chip with the first line of the title
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Trim the right padding on API nav rows that show a verb chip
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Lighten the hover border on the API nav verb chip
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Handle footnotes, grouped rows, and multi-value cells in filterable tables
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
Due: prettier, typescript-check, eslint
