Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix HTML containment test helper
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensions.cs
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensionsTests.cs
Due: dotnet-format

chore(nav-v2): spruce up navigation labels
  config/navigation-v2.yml
Due: none

Slim Elastic.Documentation by extracting heavy deps to new Tooling project
  docs-builder.slnx
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Links/InboundLinks/LinkIndexLinkChecker.cs
  src/Elastic.Documentation.Tooling/Elastic.Documentation.Tooling.csproj
  src/Elastic.Documentation.Tooling/Exporter.cs
  src/Elastic.Documentation.Tooling/ExternalCommands/ExternalCommandExecutor.cs
  src/Elastic.Documentation.Tooling/ExternalCommands/NoopConsoleWriter.cs
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  src/Elastic.Documentation.Tooling/GitCheckoutInformationFactory.cs
  src/Elastic.Documentation.Tooling/Paths.cs
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
  src/Elastic.Documentation/AppliesTo/ProductApplicability.cs
  src/Elastic.Documentation/AppliesTo/ProductLifecycle.cs
  src/Elastic.Documentation/GitCheckoutInformation.cs
  src/Elastic.Markdown/Elastic.Markdown.csproj
  src/Elastic.Markdown/Myst/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Markdown/Myst/AppliesTo/SemVersionConverter.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationService.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/Elastic.Documentation.Configuration.Tests.csproj
  tests/Elastic.Markdown.Tests/AppliesTo/ProductApplicabilityToStringTests.cs
  tests/Elastic.Markdown.Tests/DocSet/RepositoryLinksTests.cs
  tests/Elastic.Markdown.Tests/Elastic.Markdown.Tests.csproj
Due: dotnet-format

fix(nav-v2): stabilize content container layout
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Layout: move main content before nav in DOM source order
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Drop Microsoft.Extensions.Hosting.Abstractions and System.IO.Abstractions from Elastic.Documentation
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/Elastic.Documentation/Diagnostics/IDiagnosticsCollector.cs
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
Due: dotnet-format

Layout: move main content before nav in DOM source order (#3344)
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

chore(nav-v2): expand Reference section to explicit children
  config/navigation-v2.yml
Due: none

Changelog: Explicit init parameters and logging for the scrubber lambda (#3309)
  docs-builder.slnx
  src/infra/docs-lambda-changelog-scrubber/Program.cs
Due: dotnet-format

changelog: surface missing product label as no-label failure (#3304)
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/PrEvaluationResult.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

fix(nav-v2): fix island back arrow and collapse children in parent nav
  src/Elastic.Documentation.Navigation/V2/IslandNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/NavigationSection.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

Fix ShouldContainHtml comparing actual HTML to itself
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensions.cs
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensionsTests.cs
Due: dotnet-format

Fix inline image renderer emitting alt text as title unconditionally
  src/Elastic.Markdown/Myst/Renderers/HtmxLinkInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Inline/SubstitutionTest.cs
Due: dotnet-format

Align C# inline image tests with authoring test ground truth
  src/Elastic.Markdown/Myst/Renderers/HtmxLinkInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Inline/InlineImageTest.cs
  tests/Elastic.Markdown.Tests/Inline/SubstitutionTest.cs
Due: dotnet-format

fix: apply CodeRabbit auto-fixes
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
Due: dotnet-format

fix(nav-v2): fix landing and hub main/sidebar column placement
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Move changelog YAML serialization stack into Elastic.Documentation.Configuration
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/Elastic.Documentation.Configuration/Changelog/TypeEntryYamlConverter.cs
  src/Elastic.Documentation.Configuration/Changelog/YamlLenientList.cs
  src/Elastic.Documentation.Configuration/Changelog/YamlLenientListConverter.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlStaticContext.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/ErrorHandlingTests.cs
Due: dotnet-format

Fix import ordering after changelog config move
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/ErrorHandlingTests.cs
Due: dotnet-format

Enable XML doc generation in Elastic.Documentation.Tooling
  src/Elastic.Documentation.Tooling/Elastic.Documentation.Tooling.csproj
Due: none

Fix ShouldContainHtml comparing actual HTML to itself (#3346)
  src/Elastic.Markdown/Myst/Renderers/HtmxLinkInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Inline/InlineImageTest.cs
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensions.cs
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensionsTests.cs
Due: dotnet-format

fix(nav-v2): resolve section roots and island back links
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format

Remove duplicate query languages nav group
  config/navigation-v2.yml
Due: none

Limit root nav auto-expansion
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Prevent deadlock on DiagnosticsCollector
  src/Elastic.Documentation/Diagnostics/DiagnosticsChannel.cs
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/Elastic.Documentation/Diagnostics/IDiagnosticsCollector.cs
  tests/Elastic.Changelog.Tests/Changelogs/DiagnosticsCollectorDisposeTests.cs
Due: dotnet-format

Extract Elastic.Documentation.Search.Contract as zero-dep library
  docs-builder.slnx
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Search.Contract/AppliesToEntry.cs
  src/Elastic.Documentation.Search.Contract/DocumentationDocument.cs
  src/Elastic.Documentation.Search.Contract/DocumentationMappingConfig.cs
  src/Elastic.Documentation.Search.Contract/Elastic.Documentation.Search.Contract.csproj
  src/Elastic.Documentation.Search.Contract/IndexedProduct.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
Due: dotnet-format

Move search projects under services/search/
  docs-builder.slnx
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/api/Elastic.Documentation.Api/Elastic.Documentation.Api.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/services/search/Elastic.Documentation.Search.Contract/AppliesToEntry.cs
  src/services/search/Elastic.Documentation.Search.Contract/DocumentationDocument.cs
  src/services/search/Elastic.Documentation.Search.Contract/DocumentationMappingConfig.cs
  src/services/search/Elastic.Documentation.Search.Contract/Elastic.Documentation.Search.Contract.csproj
  src/services/search/Elastic.Documentation.Search.Contract/IndexedProduct.cs
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/SearchQueryBuilder.cs
  src/services/search/Elastic.Documentation.Search/Common/SearchResultProcessor.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
  src/services/search/Elastic.Documentation.Search/EsJsonContext.cs
  src/services/search/Elastic.Documentation.Search/FullSearchService.cs
  src/services/search/Elastic.Documentation.Search/IChangesService.cs
  src/services/search/Elastic.Documentation.Search/IFullSearchService.cs
  src/services/search/Elastic.Documentation.Search/INavigationSearchService.cs
  src/services/search/Elastic.Documentation.Search/MockSearchService.cs
  src/services/search/Elastic.Documentation.Search/NavigationSearchService.cs
  src/services/search/Elastic.Documentation.Search/ServicesExtension.cs
  src/services/search/Elastic.Documentation.Search/SharedPointInTimeManager.cs
  src/services/search/Elastic.Documentation.Search/StringHighlightExtensions.cs
  tests-integration/Mcp.Remote.IntegrationTests/Mcp.Remote.IntegrationTests.csproj
  tests-integration/Search.IntegrationTests/Search.IntegrationTests.csproj
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Elastic.Documentation.Api.Infrastructure.Tests.csproj
Due: dotnet-format
