Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

OtlpProxy: remove in-app proxy; route OTLP at the edge
  src/Elastic.Documentation.ServiceDefaults/Telemetry/OpenTelemetryRegistrationExtensions.cs
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api/Program.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  src/api/Elastic.Documentation.Api/Telemetry/AdotOtlpService.cs
  src/api/Elastic.Documentation.Api/Telemetry/IOtlpService.cs
  src/api/Elastic.Documentation.Api/Telemetry/OtlpForwardResult.cs
  src/api/Elastic.Documentation.Api/Telemetry/OtlpProxyOptions.cs
  src/api/Elastic.Documentation.Api/Telemetry/OtlpProxyRequest.cs
  src/api/Elastic.Documentation.Api/TelemetryConstants.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.Documentation.Api.Tests/OtlpProxyTests.cs
Due: dotnet-format

[API Explorer] Add support for x-req-auth (#3168)
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/ApiRenderContext.cs
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OpenApiXReqAuthParser.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  tests/Elastic.ApiExplorer.Tests/Elastic.ApiExplorer.Tests.csproj
  tests/Elastic.ApiExplorer.Tests/TestData/elasticsearch-x-req-auth-cat-indices-sample.json
  tests/Elastic.ApiExplorer.Tests/TestData/kibana-openapi-no-x-req-auth-sample.json
  tests/Elastic.ApiExplorer.Tests/XReqAuthTests.cs
Due: dotnet-format

Add multi-language code sample tabs to API Explorer (#3127)
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
Due: dotnet-format

[API Explorer] Add tag landing pages (#3169)
  docs/configure/content-set/api-explorer.md
  docs/kibana-openapi.json
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

[API Explorer] Enable code block copy (#3173)
  src/Elastic.ApiExplorer/ApiCodeBlockModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_ApiCodeBlock.cshtml
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
Due: dotnet-format

Delete stale CloudFront redirect KVS entries (#3409)
  src/services/Elastic.Documentation.Assembler/Deploying/Redirects/AwsCloudFrontKeyValueStoreProxy.cs
  src/services/Elastic.Documentation.Assembler/Deploying/Redirects/RedirectKvsDiff.cs
  tests/Elastic.Documentation.Build.Tests/RedirectKvsDiffTests.cs
Due: dotnet-format

OtlpProxy: remove in-app proxy; route OTLP at the ALB (#3521)
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api/Program.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  src/api/Elastic.Documentation.Api/Telemetry/AdotOtlpService.cs
  src/api/Elastic.Documentation.Api/Telemetry/IOtlpService.cs
  src/api/Elastic.Documentation.Api/Telemetry/OtlpForwardResult.cs
  src/api/Elastic.Documentation.Api/Telemetry/OtlpProxyOptions.cs
  src/api/Elastic.Documentation.Api/Telemetry/OtlpProxyRequest.cs
  src/api/Elastic.Documentation.Api/TelemetryConstants.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.Documentation.Api.Tests/OtlpProxyTests.cs
Due: dotnet-format

fix: move website search input container outside htmx swap region
  src/Elastic.Markdown/_Layout.cshtml
Due: none

fix: use hx-preserve to persist website search input container across navigation
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Markdown/_Layout.cshtml
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
Due: dotnet-format

revert: remove serve-mode website search env var wiring
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
Due: dotnet-format

fix(stepper): skip headings inside steps when calculating next step's heading level
  docs/syntax/stepper.md
  src/Elastic.Markdown/Myst/Directives/Stepper/StepperBlock.cs
  tests/Elastic.Markdown.Tests/FileInclusion/HeadingOrderTests.cs
Due: dotnet-format

Codex: add sync plan/apply commands backed by shared deploying lib (#3457)
  docs-builder.slnx
  docs/cli-schema.json
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Codex/Elastic.Codex.csproj
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Deploying/Elastic.Documentation.Deploying.csproj
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncApplyStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncPlanStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/DocsSync.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/DocsSyncPlanValidator.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/IDocsSyncContext.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  src/tooling/docs-builder/Program.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
Due: dotnet-format

Deploying: add --exclude flag to codex sync plan
  src/services/Elastic.Documentation.Deploying/Elastic.Documentation.Deploying.csproj
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncPlanStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/DocsSync.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
Due: dotnet-format

Codex: sort landing sections alphabetically and redesign cards (#3517)
  src/Elastic.Codex/Group/GroupLandingView.cshtml
  src/Elastic.Codex/Landing/CodexCardModel.cs
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Landing/_CodexCard.cshtml
  src/Elastic.Codex/Navigation/CodexIndexPage.cs
  src/Elastic.Codex/Navigation/CodexNavigation.cs
Due: dotnet-format

docs: regenerate cli-schema.json with --exclude flag
  docs/cli-schema.json
Due: none

Deploying: add --exclude flag to codex sync plan (#3530)
  docs/cli-schema.json
  src/services/Elastic.Documentation.Deploying/Elastic.Documentation.Deploying.csproj
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncPlanStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/DocsSync.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
Due: dotnet-format

fix(stepper): skip headings inside steps when calculating next step's heading level (#3525)
  docs/syntax/stepper.md
  src/Elastic.Markdown/Myst/Directives/Stepper/StepperBlock.cs
  tests/Elastic.Markdown.Tests/FileInclusion/HeadingOrderTests.cs
Due: dotnet-format

fix: move website search input container outside htmx swap region (#3524)
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Update ECE version to 4.1.1
  config/versions.yml
Due: none

fix(frontend): switch select-dom imports to non-throwing optional variants
  src/Elastic.Documentation.Site/Assets/applies-switch.ts
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  src/Elastic.Documentation.Site/Assets/hljs.ts
  src/Elastic.Documentation.Site/Assets/image-carousel.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/smooth-scroll.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
Due: prettier, typescript-check, eslint

fix(frontend): use asserting \$ for body selector in select-dom
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

fix(frontend): switch select-dom to non-throwing optional variants (#3532)
  src/Elastic.Documentation.Site/Assets/applies-switch.ts
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  src/Elastic.Documentation.Site/Assets/hljs.ts
  src/Elastic.Documentation.Site/Assets/image-carousel.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/smooth-scroll.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
Due: prettier, typescript-check, eslint

Fix filename in test
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Fix CodeSampleTests ordering assumption
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
Due: dotnet-format

Address review: collapse docstring and add issue strict-fetch test
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrFetchFailureTests.cs
Due: dotnet-format

Report all changelog errors at once and surface fetch failures in add (#3472)
  docs/cli-schema.json
  docs/cli/changelog/cmd-add.md
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrFetchFailureTests.cs
Due: dotnet-format

test: cover DocumentationSet VisitNavigation path for missing toc file
  tests/Elastic.Markdown.Tests/MissingTocFileTests.cs
Due: dotnet-format

frontend: isolate init steps so one failure doesn't abort the chain
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Fix crash when toc references a missing file (#3469)
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  tests/Elastic.Markdown.Tests/MissingTocFileTests.cs
  tests/Navigation.Tests/Isolation/ValidationTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
Due: dotnet-format

frontend: await async init steps in runInitSteps to catch promise rejections
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

repoint processor reference
  config/navigation.yml
Due: none

changelog: declare CDN release_notes in docset.yml and prefetch at startup
  docs/development/changelog-bundle-registry.md
  docs/syntax/changelog.md
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogCdn.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/FetchedReleaseNotes.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/IReleaseNotesResolver.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesFetcher.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogFetcherTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
Due: dotnet-format

changelog: ConfigureAwait(false) on assembler release-notes fetch
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
Due: dotnet-format

frontend: isolate page init steps so one failure doesn't abort the rest (#3534)
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

changelog: address review — trim private-method docs, typed git availability, version-filter test
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Documentation/GitCheckoutInformation.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogVersionMatch.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

changelog: gate CDN bundle sourcing on docset.yml release_notes
  docs/contribute/configure-changelogs-ref.md
  docs/development/changelog-bundle-registry.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
Due: dotnet-format
