Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

test: update authoring snapshot for renamed EDOT product display names
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

fix(test): update lifecycle description snapshots to include SDK suffix
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Fix changelog directive link-visibility default with CDN bundles
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogRenderOptions.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

docs(nav): fix CLI comment to point to docset.yml
  config/navigation.yml
Due: none

feat(cli): support applies_to on cli: toc entries for generated pages
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliReferenceRef.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

Fix formatting in ChangelogHideLinksTests
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Add --skip-etag-check option (#3659)
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

Fix changelog directive link-visibility default with CDN bundles (#3662)
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogRenderOptions.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Assets: Fix laggy TOC scroll tracking
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiToc.cshtml
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: prettier, typescript-check, eslint

Assets: Fix laggy TOC scroll tracking (#3673)
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiToc.cshtml
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: prettier, typescript-check, eslint

Add changelog bundle option for --files
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-remove.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/FileFilterLoader.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
Due: dotnet-format

Fix IDE0002 in FileFilterLoader
  src/services/Elastic.Changelog/Bundling/FileFilterLoader.cs
Due: dotnet-format

Fix streamed documentation layout shifts
  src/Elastic.Codex/_GroupLayout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier, typescript-check, eslint

Fix streamed documentation layout shifts (#3675)
  src/Elastic.Codex/_GroupLayout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier, typescript-check, eslint

Group Dependabot updates by risk
  .github/dependabot.yml
Due: none

Preserve existing npm dependency groups
  .github/dependabot.yml
Due: none

Assets: Remove layout work from TOC scrolling
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiToc.cshtml
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: prettier, typescript-check, eslint

Implement tilde expansion in FileFilterLoader and drop dead ResolveUrlListFileAsync shim
  src/services/Elastic.Changelog/Bundling/FileFilterLoader.cs
  src/services/Elastic.Changelog/Bundling/FilterLoaderUtilities.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Rendering/FeatureHidingLoader.cs
  tests/Elastic.Changelog.Tests/Utilities/FilterLoaderUtilitiesTests.cs
Due: dotnet-format

Add changelog bundle option for --files (#3664)
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-remove.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/FileFilterLoader.cs
  src/services/Elastic.Changelog/Bundling/FilterLoaderUtilities.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Rendering/FeatureHidingLoader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
  tests/Elastic.Changelog.Tests/Utilities/FilterLoaderUtilitiesTests.cs
Due: dotnet-format

Update changelog docs for CDN TTL details
  docs/cli/changelog/cmd-bundle.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  docs/development/changelog-bundle-registry.md
Due: none

Clarify changelog source and CDN TTL
  docs/cli/changelog/cmd-bundle.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/create-changelogs.md
Due: none

Make bundle-amend files self-contained and version-discoverable
  docs/cli/changelog/cmd-bundle-amend.md
  docs/development/changelog-bundle-registry.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleAmendMerger.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendEndToEndTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendMergerTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogFetcherTests.cs
Due: dotnet-format

Add versioned v1 backfill artifact contracts
  src/services/Elastic.Changelog/Backfill/BackfillArtifactKind.cs
  src/services/Elastic.Changelog/Backfill/BackfillDocumentException.cs
  src/services/Elastic.Changelog/Backfill/BackfillDocuments.cs
  src/services/Elastic.Changelog/Backfill/BackfillEnvelope.cs
  src/services/Elastic.Changelog/Backfill/BackfillHash.cs
  src/services/Elastic.Changelog/Backfill/BackfillJsonContext.cs
  src/services/Elastic.Changelog/Backfill/BackfillSchemaVersions.cs
  src/services/Elastic.Changelog/Backfill/CanonicalJson.cs
  src/services/Elastic.Changelog/Backfill/EntryIdentity.cs
  src/services/Elastic.Changelog/Backfill/InventoryDocument.cs
  src/services/Elastic.Changelog/Backfill/LedgerDocument.cs
  src/services/Elastic.Changelog/Backfill/OverridesDocument.cs
  src/services/Elastic.Changelog/Backfill/PlanDocument.cs
  src/services/Elastic.Changelog/Backfill/ProvenanceDocument.cs
  src/services/Elastic.Changelog/Backfill/README.md
  src/services/Elastic.Changelog/Backfill/SemanticModelDocument.cs
  src/services/Elastic.Changelog/Backfill/SourceReferences.cs
  src/services/Elastic.Changelog/Backfill/ValidationProblems.cs
  tests/Elastic.Changelog.Tests/Backfill/BackfillFixtures.cs
  tests/Elastic.Changelog.Tests/Backfill/BackfillHashTests.cs
  tests/Elastic.Changelog.Tests/Backfill/BackfillRoundTripTests.cs
  tests/Elastic.Changelog.Tests/Backfill/BackfillValidationTests.cs
  tests/Elastic.Changelog.Tests/Backfill/BackfillVersionTests.cs
  tests/Elastic.Changelog.Tests/Backfill/CanonicalJsonTests.cs
Due: dotnet-format

Fix merged changelog TOC links
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Bump version to 9.4.4
  config/versions.yml
Due: none

Bump version to 9.4.4 (#3683)
  config/versions.yml
Due: none

Remove assembler search and Ask AI UI
  config/assembler.yml
  docs/_search.md
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: dotnet-format, prettier, typescript-check, eslint

Remove retired search page from documentation set
  docs/_docset.yml
Due: none

Update Mermaider to 0.10.1, broaden exception catch to include MermaidParseException/MermaidSvgException
  Directory.Packages.props
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Update physical docset exclude assertion
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Update Mermaider to 0.11.0, catch MermaidResourceLimitException
  Directory.Packages.props
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Split Mermaid exception catch into specific cases with distinct warnings
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Emit errors (not warnings) for resource limit, invalid SVG, and unexpected render failures
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Enable strict styling, set site DataPalette and MonoFont on MermaidRenderOptions
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/MermaidTests.cs
Due: dotnet-format

Update diagrams.md: server-side SVG, styling section first, all 24 diagram types
  docs/syntax/diagrams.md
Due: none

Update docs
  docs/cli/changelog/cmd-bundle.md
  docs/contribute/create-changelogs.md
  docs/development/changelog-bundle-registry.md
Due: none

Add Styled third tab to flowchart and state diagram examples
  docs/syntax/diagrams.md
Due: none

Remove assembler search and Ask AI UI (#3690)
  config/assembler.yml
  docs/_docset.yml
  docs/_search.md
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Remove redundant SvgSanitizer.Sanitize() call that stripped DiagramClass colors
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Add tab group synchronisation to all diagram tab-sets
  docs/syntax/diagrams.md
Due: none
