Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix imports ordering in McpCommand.cs
  src/tooling/docs-builder/Commands/McpCommand.cs
Due: dotnet-format

Add `mcp` subcommand to docs-builder CLI (#2687)
  docs/_docset.yml
  docs/cli/index.md
  docs/cli/mcp.md
  docs/mcp/index.md
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/Program.cs
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation/GlobalCommandLine.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Assembler/Mcp/LinkTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/Responses.cs
  src/tooling/docs-builder/Commands/McpCommand.cs
  src/tooling/docs-builder/DocumentationTooling.cs
  src/tooling/docs-builder/Filters/CheckForUpdatesFilter.cs
  src/tooling/docs-builder/Filters/ReplaceLogFilter.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Change assembly name to docs-builder-api
  src/api/Elastic.Documentation.Api.App/Dockerfile
  src/api/Elastic.Documentation.Api.App/Elastic.Documentation.Api.App.csproj
Due: none

Fix hide edit feature
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
Due: dotnet-format

Add container-ready API host (Elastic.Documentation.Api.App) (#2690)
  build/Targets.fs
  src/api/Elastic.Documentation.Api.App/Dockerfile
  src/api/Elastic.Documentation.Api.App/Elastic.Documentation.Api.App.csproj
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Api.App/Properties/launchSettings.json
  src/api/Elastic.Documentation.Api.App/appsettings.development.json
  src/api/Elastic.Documentation.Api.App/appsettings.edge.json
  src/api/Elastic.Documentation.Api.App/appsettings.json
Due: dotnet-format

Use Path.Join instead of Path.Combine in DiagnosticTools
  src/services/Elastic.Documentation.Assembler/Mcp/DiagnosticTools.cs
Due: dotnet-format

Enhance YAML serialization to support lenient list handling
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Serialization/LenientStringListConverter.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlStaticContext.cs
  src/services/Elastic.Changelog/Serialization/TypeEntryYamlConverter.cs
  src/services/Elastic.Changelog/Serialization/YamlLenientList.cs
  src/services/Elastic.Changelog/Serialization/YamlLenientListConverter.cs
Due: dotnet-format

Update example config and tests
  config/changelog.example.yml
  src/services/Elastic.Changelog/Serialization/YamlLenientList.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
Due: dotnet-format

Replace `block:` with `rules:` configuration for changelog filtering
  config/changelog.example.yml
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BlockConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlocker.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlockerExtensions.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlStaticContext.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/BlockingLabelTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ValidationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/LoadPublishBlockerTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/PublishBlockerExtensionsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPathResolutionTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTocFilteringTests.cs
Due: dotnet-format

Fix changelog config (#2692)
  config/changelog.example.yml
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Serialization/LenientStringListConverter.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlStaticContext.cs
  src/services/Elastic.Changelog/Serialization/TypeEntryYamlConverter.cs
  src/services/Elastic.Changelog/Serialization/YamlLenientList.cs
  src/services/Elastic.Changelog/Serialization/YamlLenientListConverter.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
Due: dotnet-format

Adjust elasticon background and perform responsiveness adjustments
  src/Elastic.Documentation.Site/_static/elasticon-bg-b.png
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

Hide hero image on mobile viewport, and adjust theme for Previous versions box.
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Update updatecli.yml
  .github/workflows/updatecli.yml
Due: none

Update updatecli.yml (#2694)
  .github/workflows/updatecli.yml
Due: none

Add health and liveness endpoits
  src/api/Elastic.Documentation.Api.App/Program.cs
Due: dotnet-format

Add prefix to health check endpoints so it can be accessed from cloudfront
  src/api/Elastic.Documentation.Api.App/Program.cs
Due: dotnet-format

Also update MCP health check paths
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Fix hide edit feature (#2691)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
Due: dotnet-format

Fix paths
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Further adjustments to the hero image behavior
  src/Elastic.Documentation.Site/Assets/theme.css
  src/Elastic.Documentation.Site/_static/elasticon-bg-b.png
  src/Elastic.Documentation.Site/_static/elasticon-bg.png
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

Adjust bundle-amend behavior to support explicit resolve and no-resolve options (#2669)
  docs/cli/release/changelog-bundle-amend.md
  docs/contribute/changelog.md
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendTests.cs
Due: dotnet-format

Replace `block:` with `rules:` configuration for changelog filtering (#2693)
  PLAN-rules-config.md
  config/changelog.example.yml
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BlockConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlocker.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlockerExtensions.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlStaticContext.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/BlockingLabelTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ValidationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/LoadPublishBlockerTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/PublishBlockerExtensionsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPathResolutionTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTocFilteringTests.cs
Due: dotnet-format

Formatting
  src/api/Elastic.Documentation.Api.App/Program.cs
Due: dotnet-format

Update Markdig 0.44.0 to 0.45.0 (#2686)
  Directory.Packages.props
Due: none

Fix formatting
  src/api/Elastic.Documentation.Api.App/Program.cs
Due: dotnet-format

Add health and liveness endpoints (#2695)
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Fix changelog-bundle and output_directory
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Add changelog init command
  docs/_docset.yml
  docs/cli/release/changelog-init.md
  docs/cli/release/index.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format

Add {contributors} directive for team roster grids
  docs/_docset.yml
  docs/syntax/contributors.md
  docs/syntax/directives.md
  src/Elastic.Documentation.Site/Assets/markdown/contributors.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
Due: dotnet-format, prettier

Use OfType<T>() instead of foreach + if/continue pattern
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsBlock.cs
Due: dotnet-format

Add grouped sections example to contributors docs
  docs/syntax/contributors.md
Due: none

Refactor {contributors} to backtick-fenced YAML syntax
  docs/syntax/contributors.md
  src/Elastic.Documentation.Site/Assets/markdown/contributors.css
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format, prettier

Fix YAML property mapping for ContributorEntry
  src/Elastic.Markdown/Myst/Directives/Contributors/ContributorsBlock.cs
Due: dotnet-format

Narrow contributors YAML parse catch to YamlException
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockParser.cs
Due: dotnet-format

Move csv-include caption outside table-wrapper
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeView.cshtml
Due: none

Rename caption class to avoid Tailwind table-caption utility
  src/Elastic.Documentation.Site/Assets/markdown/table.css
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeView.cshtml
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/TableDirectiveTests.cs
Due: dotnet-format, prettier

Fix ruleset name
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
Due: dotnet-format

Fix
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
Due: dotnet-format

Change the logic to only export OpenAPI on assembler builds
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
