Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTests.cs
Due: dotnet-format

docs(mcp): move installation before tool reference
  docs/mcp/index.md
Due: none

fix: exclude IDE deep-link schemes from cross-link validation
  src/Elastic.Documentation/Links/CrossLinkValidator.cs
Due: dotnet-format

fix: treat non-http absolute URIs as opaque external links
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

fix: guard against empty paragraph text in ProcessListBlock
  src/Elastic.Markdown/DescriptionGenerator.cs
Due: dotnet-format

Revert "fix: guard against empty paragraph text in ProcessListBlock"
  src/Elastic.Markdown/DescriptionGenerator.cs
Due: dotnet-format

Revert "fix: treat non-http absolute URIs as opaque external links"
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Revert "fix: exclude IDE deep-link schemes from cross-link validation"
  src/Elastic.Documentation/Links/CrossLinkValidator.cs
Due: dotnet-format

test: remove install buttons to isolate DescriptionGenerator crash
  docs/mcp/index.md
Due: none

docs(mcp): add install buttons using ela.st redirects
  docs/mcp/index.md
Due: none

docs(mcp): use raw HTML links for IDE install buttons
  docs/mcp/index.md
Due: none

Only show trial button on assembler builds
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

docs(mcp): use copyable code blocks for IDE install deep links
  docs/mcp/index.md
Due: none

Only show trial button on assembler builds (#2732)
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

fix(mcp): fix document tools and expand MCP documentation (#2731)
  .claude/skills/mcp-search/SKILL.md
  docs/mcp/index.md
Due: none

Fix codex card layout
  src/Elastic.Codex/Landing/_CodexCard.cshtml
Due: none

Replace hardcoded IndexName with namespace-based index resolution
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Documentation.ServiceDefaults/ElasticsearchEndpointFactory.cs
  src/Elastic.Documentation/Search/ContentHash.cs
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Aws/LocalParameterProvider.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.development.json
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.edge.json
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/Elastic.Documentation.Search/FullSearchGateway.cs
  src/services/Elastic.Documentation.Search/NavigationSearchGateway.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Change repository option to path
  docs/cli/release/changelog-init.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

feat: add vector sizing calculator files for docs-builder
  tools/vector_sizing_calculator/INTEGRATION.md
  tools/vector_sizing_calculator/docs-builder-directive/DirectiveBlockParser.patch.md
  tools/vector_sizing_calculator/docs-builder-directive/VectorSizingBlock.cs
  tools/vector_sizing_calculator/docs-builder-directive/VectorSizingView.cshtml
  tools/vector_sizing_calculator/docs-builder-directive/VectorSizingViewModel.cs
  tools/vector_sizing_calculator/docs-builder-directive/usage-in-docs-content.md
  tools/vector_sizing_calculator/embed.html
  tools/vector_sizing_calculator/index.html
  tools/vector_sizing_calculator/sizing-section.md
  tools/vector_sizing_calculator/web-component/dist/vector-sizing-calculator.iife.js
  tools/vector_sizing_calculator/web-component/index.html
  tools/vector_sizing_calculator/web-component/package-lock.json
  tools/vector_sizing_calculator/web-component/package.json
  tools/vector_sizing_calculator/web-component/src/Calculator.tsx
  tools/vector_sizing_calculator/web-component/src/calculations.ts
  tools/vector_sizing_calculator/web-component/src/components/BreakdownChart.tsx
  tools/vector_sizing_calculator/web-component/src/components/ClusterTotals.tsx
  tools/vector_sizing_calculator/web-component/src/components/ConfigurationPanel.tsx
  tools/vector_sizing_calculator/web-component/src/components/FormulasPanel.tsx
  tools/vector_sizing_calculator/web-component/src/components/ResultsPanel.tsx
  tools/vector_sizing_calculator/web-component/src/eui-icons.d.ts
  tools/vector_sizing_calculator/web-component/src/icon-cache.ts
  tools/vector_sizing_calculator/web-component/src/main.tsx
  tools/vector_sizing_calculator/web-component/src/types.ts
  tools/vector_sizing_calculator/web-component/tsconfig.json
  tools/vector_sizing_calculator/web-component/vite.config.ts
Due: dotnet-format

Remove docs and config options
  docs/cli/release/changelog-init.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

feat(site): add vector sizing web component under assets
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/Calculator.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/VectorSizingCalculatorComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/calculations.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/BreakdownChart.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ClusterTotals.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/FormulasPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ResultsPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/types.ts
Due: prettier, typescript-check, eslint

Potential fix for pull request finding 'Generic catch clause'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Potential fix for pull request finding 'Call to 'System.IO.Path.Combine' may silently drop its earlier arguments'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Use code splitting to reduce bundle sizes
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Use code splitting to reduce bundle sizes (#2737)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Fix codex card layout (#2735)
  src/Elastic.Codex/Landing/_CodexCard.cshtml
Due: none

Rethink docset.yml dependency
  docs/cli/release/changelog-init.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Paths.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Decrease LogToStandardErrorThreshold to Trace
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
Due: dotnet-format

Handle updates to existing changelog.yml
  docs/cli/release/changelog-init.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Git-based link-index for codex clone
  src/Elastic.Codex/Elastic.Codex.csproj
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Documentation.LinkIndex/Elastic.Documentation.LinkIndex.csproj
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Dark mode PoC
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/markdown/admonition.css
  src/Elastic.Documentation.Site/Assets/markdown/applies-switch.css
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Documentation.Site/Assets/markdown/code.css
  src/Elastic.Documentation.Site/Assets/markdown/contributors.css
  src/Elastic.Documentation.Site/Assets/markdown/definition-list.css
  src/Elastic.Documentation.Site/Assets/markdown/dropdown.css
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
  src/Elastic.Documentation.Site/Assets/markdown/hr.css
  src/Elastic.Documentation.Site/Assets/markdown/images.css
  src/Elastic.Documentation.Site/Assets/markdown/kbd.css
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/markdown/stepper.css
  src/Elastic.Documentation.Site/Assets/markdown/table.css
  src/Elastic.Documentation.Site/Assets/markdown/tabs.css
  src/Elastic.Documentation.Site/Assets/markdown/typography.css
  src/Elastic.Documentation.Site/Assets/modal.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/theme-switch.ts
  src/Elastic.Documentation.Site/Assets/theme.css
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VersionDropdown.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/useTheme.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
  src/Elastic.Markdown/Layout/_PrevNextNav.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: prettier, typescript-check, eslint

ok
  src/Elastic.Codex/Layout/_CodexSubHeader.cshtml
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/markdown/code.css
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

Fix Path.Combine warnings
  src/Elastic.Codex/Group/GroupLandingView.cshtml
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
Due: dotnet-format

Revert
  src/Elastic.Codex/Group/GroupLandingView.cshtml
  src/Elastic.Codex/Landing/LandingView.cshtml
Due: none

Potential fix for pull request finding 'Call to 'System.IO.Path.Combine' may silently drop its earlier arguments'
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
Due: dotnet-format

Revert AppDefaultsExtensions
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
Due: dotnet-format

Ensure codex environment is set
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
