Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix dropdown, contrast, fullscreen, and print bugs in filterable tables
  docs/syntax/tables.md
  src/Elastic.Documentation.Site/Assets/markdown/table.css
  src/Elastic.Documentation.Site/Assets/table.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
  tests/Elastic.Markdown.Tests/Directives/TableDirectiveTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

perf: exclude external \$refs from the local-component schema cache
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
Due: dotnet-format

Render Jump to search without waiting for API health
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
Due: prettier, typescript-check, eslint

Scope source: github_release runtime error to the selected profile
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Keep API version and search fixed in the sidebar
  src/Elastic.ApiExplorer/Infrastructure/ApiBreadcrumb.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/secondary-nav.css
  src/Elastic.Documentation.Site/Layout/_ApiDownloadSource.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiLayoutVersionDropdownTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
  tests/Navigation.Tests/Rendering/TocTreeRenderingTests.cs
Due: dotnet-format, prettier

Render OAS description HTML in the API Explorer
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.ApiExplorer.Tests/ApiDescriptionHtmlRenderingTests.cs
Due: dotnet-format, prettier

Remove dead package version pins and unused test dep from production library
  Directory.Packages.props
  src/Elastic.Documentation.Tooling/Elastic.Documentation.Tooling.csproj
Due: none

fix: drop stale DocsBuilderVersion sets (per review by @github-actions)
  tests/Navigation.Tests/Rendering/FooterRenderingTests.cs
  tests/Navigation.Tests/Rendering/LandingLayoutRenderingTests.cs
Due: dotnet-format

Give API pages unique titles, descriptions, and breadcrumb JSON-LD
  src/Elastic.ApiExplorer/Infrastructure/ApiBreadcrumb.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiSeoDescription.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/MarkdownPageViewModel.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Site/BreadcrumbsList.cs
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPageSeoTests.cs
Due: dotnet-format, prettier

Add a release notes onboarding guide
  docs/_docset.yml
  docs/data/release-notes/onboard.md
Due: none

Show linked auth scheme pills on API operation pages
  src/Elastic.ApiExplorer/Operations/OpenApiAuthSchemeResolver.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/AuthSchemeTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

Add a stepper option that keeps step titles out of the page outline (#4181)
  docs/syntax/stepper.md
  src/Elastic.Documentation.Site/Assets/markdown/stepper.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepView.cshtml
  src/Elastic.Markdown/Myst/Directives/Stepper/StepViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepperBlock.cs
  tests/Elastic.Markdown.Tests/Directives/StepperTocOptionTests.cs
Due: dotnet-format, prettier

Add bundle.releases config to map release triggers to profiles (#4178)
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
Due: dotnet-format

Render Jump to search without waiting for API health (#4189)
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
Due: prettier, typescript-check, eslint

Give API pages unique titles, descriptions, and breadcrumb JSON-LD (#4193)
  src/Elastic.ApiExplorer/Infrastructure/ApiBreadcrumb.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiSeoDescription.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/MarkdownPageViewModel.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Site/BreadcrumbsList.cs
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPageSeoTests.cs
Due: dotnet-format, prettier

Stop expecting empty structural pages in the tag-group nav test
  tests/Elastic.ApiExplorer.Tests/ApiNavParityTests.cs
Due: dotnet-format

Remove the HTMX GET cache-buster query string (#4074)
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiTocRenderingTests.cs
  tests/Navigation.Tests/Rendering/FooterRenderingTests.cs
  tests/Navigation.Tests/Rendering/LandingLayoutRenderingTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show linked auth scheme pills on API operation pages (#4195)
  src/Elastic.ApiExplorer/Operations/OpenApiAuthSchemeResolver.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/AuthSchemeTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

Simplify changelog init for golden onboarding path
  config/changelog.example-gh-release.yml
  config/changelog.example.yml
  docs/cli-schema.json
  src/Elastic.Documentation.Configuration/ChangelogTemplateSeeder.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/docs-builder.csproj
  tests/Elastic.Documentation.Configuration.Tests/ChangelogTemplateSeederTests.cs
Due: dotnet-format

Hint when release note descriptions are incomplete
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/ReleaseNotesExtractor.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/ReleaseNotesExtractorTests.cs
Due: dotnet-format

fix: keep one diagnostics poll loop (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.ts
Due: prettier, typescript-check, eslint

fix: wait out a slow diagnostics poll (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.ts
Due: prettier, typescript-check, eslint

fix: render legacy headings as text (per review by @github-actions)
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavLegacy.cshtml
  tests/Navigation.Tests/Rendering/TocTreeRenderingTests.cs
Due: dotnet-format, prettier

Remove custom operation-list extraction; style bump.sh classes via CSS
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Add spacing after operation URL block; update stale exporter test
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format, prettier

Restructure release notes onboarding by release moment
  docs/_docset.yml
  docs/data/release-notes/onboard-ad-hoc.md
  docs/data/release-notes/onboard-serverless.md
  docs/data/release-notes/onboard-unified.md
  docs/data/release-notes/onboard.md
Due: none

fix: don't recurse with null when ResolveSchema returns null for external refs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
Due: dotnet-format

Reuse api-method base and color rules for operation-verb badges
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Remove dead package version pins and unused test dep from production library (#4191)
  Directory.Packages.props
  src/Elastic.Documentation.Tooling/Elastic.Documentation.Tooling.csproj
Due: none

Move Elasticsearch exporter out of Elastic.Markdown into Elastic.Documentation.Indexing
  src/Elastic.Codex/Elastic.Codex.csproj
  src/Elastic.Documentation.Indexing/Elastic.Documentation.Indexing.csproj
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ContentDateEnrichment.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ElasticsearchOperations.cs
  src/Elastic.Documentation.Indexing/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Elastic.Markdown.csproj
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Deploying/Elastic.Documentation.Deploying.csproj
  src/services/Elastic.Documentation.Integrations/Elastic.Documentation.Integrations.csproj
  src/services/Elastic.Documentation.Isolated/Elastic.Documentation.Isolated.csproj
Due: dotnet-format

Fix downstream wiring and test visibility after exporter move
  src/Elastic.Documentation.Indexing/Elastic.Documentation.Indexing.csproj
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/Elastic.ContentDateEnrichment.IntegrationTests.csproj
  tests/Elastic.Markdown.Tests/Elastic.Markdown.Tests.csproj
  tests/Elastic.Markdown.Tests/Search/ContentTierClassificationTests.cs
  tests/Elastic.Markdown.Tests/Search/NavigationEnrichmentTests.cs
  tests/Elastic.Markdown.Tests/Search/OpenApiSearchTitleTests.cs
Due: dotnet-format

Fix: update namespaces in moved Elasticsearch exporter files
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ContentDateEnrichment.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ElasticsearchOperations.cs
  src/Elastic.Documentation.Indexing/Exporters/ExporterExtensions.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerAiEnrichService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
Due: dotnet-format

fix: return proxy instead of null for external refs in ResolveSchema
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
Due: dotnet-format

Fix Windows line-ending mismatch in ComposeServerInstructions
  src/api/Elastic.Documentation.Mcp.Remote/McpServerProfile.cs
Due: dotnet-format

Render language tab sets as a dropdown
  docs/syntax/tabs.md
  src/Elastic.Documentation.Site/Assets/markdown/tabs.css
  src/Elastic.Documentation.Site/Assets/tabs.test.ts
  src/Elastic.Documentation.Site/Assets/tabs.ts
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Tabs/TabSetBlock.cs
  src/Elastic.Markdown/Myst/Directives/Tabs/TabSetView.cshtml
  src/Elastic.Markdown/Myst/Directives/Tabs/TabSetViewModel.cs
  tests/Elastic.Markdown.Tests/Directives/TabTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

API Explorer: omit empty authentication and servers pages (#4118)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/Structural/ApiStructuralPage.cs
  tests/Elastic.ApiExplorer.Tests/ApiNavParityTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.ApiExplorer.Tests/StructuralPageTests.cs
Due: dotnet-format

Cache OpenAPI $ref resolution per schema instead of re-resolving on every property access (#4171)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
Due: dotnet-format

fix: remove nested parallel version loop to prevent ProcessorCount² oversubscription
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
Due: dotnet-format

perf: parallelize API product and version rendering
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
Due: dotnet-format
