Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

fix(ci): align applies-to F# snapshots with demo/findability
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

fix: use nav-v2 product descriptions to match test expectations
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
Due: dotnet-format

fix: restore AddNavigationFileLookups lost during nav-v2 merge conflict resolution
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
Due: dotnet-format

fix(synthetics): support landing-page layout in navigation journey
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

fix(synthetics): avoid Nav V2 sidebar blocking pages dropdown
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

fix(synthetics): click Reference link via DOM to avoid sidebar overlap
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Simplify hero, make on-this-page sticky, trim Products dropdown
  config/navigation-v2.yml
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/testing/products/elasticsearch/v9.md
  docs/testing/products/kibana/v9.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
Due: dotnet-format, prettier

Fix hub layout/dropdown and add hub indicator
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Improve changelog bundle option descriptions
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add release-dates option to changelog directive
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogReleaseDatesOptionTests.cs
Due: dotnet-format

[DOCS] Add examples and authorization details for changelog upload command (#3541)
  docs/cli/changelog/cmd-upload.md
Due: none

Support profile-based changelog bundle --release-date option
  docs/cli-schema.json
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Add "Browse all Elastic docs" link to hub hero eyebrow
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
Due: dotnet-format, prettier

Update current ECE version to 4.1.1
  config/versions.yml
Due: none

changelog: restructure S3 layout to artifact-root (Option AD)
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  docs/contribute/configure-changelogs-ref.md
  docs/development/changelog-bundle-registry.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogRegistry.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryKeyTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogFetcherTests.cs
Due: dotnet-format

Update current ECE version to 4.1.1 (#3561)
  config/versions.yml
Due: none

[Release notes] Add bundle-amend --remove option (#3513)
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle-amend.md
  docs/cli/changelog/cmd-remove.md
  docs/contribute/bundle-changelogs.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleAmendMerger.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendMergerTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BundleValidationTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

changelog: address CodeRabbit review on S3 restructure
  docs/development/changelog-bundle-registry.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryKeyTests.cs
Due: dotnet-format

feat(search): move DocumentationDocument and friends into Elastic.Documentation
  Directory.Packages.props
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Documentation/Search/AppliesToEntry.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/Elastic.Documentation/Search/DocumentationMappingExtensions.cs
  src/Elastic.Documentation/Search/IndexedProduct.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientJsonResolver.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

changelog: name boolean arguments at call sites (style review)
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
Due: dotnet-format

refactor(changelog): group directive render params into records
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogRenderOptions.cs
Due: dotnet-format

Switch Elastic.Internal.Search.Contract from ProjectReference to PackageReference 0.11.0
  Directory.Packages.props
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
Due: dotnet-format

feat(search): move DocumentationDocument and friends into Elastic.Documentation (#3553)
  Directory.Packages.props
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Documentation/Search/AppliesToEntry.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/Elastic.Documentation/Search/DocumentationMappingExtensions.cs
  src/Elastic.Documentation/Search/IndexedProduct.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientJsonResolver.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

fix: upgrade @opentelemetry/otlp-exporter-base from 0.215.0 to 0.218.0 (#3463)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/exporter-logs-otlp-http from 0.215.0 to 0.218.0 (#3464)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @tanstack/react-query from 5.100.9 to 5.100.10 (#3452)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Add release-dates option to changelog directive (#3559)
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogRenderOptions.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogReleaseDatesOptionTests.cs
Due: dotnet-format

Improve changelog bundle option descriptions (#3558)
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

fix: upgrade @tanstack/react-query from 5.100.10 to 5.101.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/instrumentation-fetch from 0.215.0 to 0.218.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade idb-keyval from 6.2.2 to 6.2.5
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade idb-keyval from 6.2.2 to 6.2.5 (#3565)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/instrumentation-fetch from 0.215.0 to 0.218.0 (#3564)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @tanstack/react-query from 5.100.10 to 5.101.0 (#3563)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

ContentDateEnrichment: Use real IngestChannel in tests, skip redundant semantic _update_by_query (#3128)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
Due: dotnet-format

Fix import ordering in ContentDateEnrichmentTests
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
Due: dotnet-format

Fix import ordering in ContentDateEnrichmentTests (#3575)
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
Due: dotnet-format

Treat childless file: subdir/index.md as a single-page folder
  docs/configure/content-set/navigation.md
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  tests/Navigation.Tests/Isolation/DeepLinkedIndexFileTests.cs
Due: dotnet-format

Address review feedback for deep-linked index.md docs
  docs/configure/content-set/navigation.md
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  tests/Navigation.Tests/Isolation/DeepLinkedIndexFileTests.cs
Due: dotnet-format

Simplify redundant SourceGenerationContext qualifier
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
Due: dotnet-format
