Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Only disable non `/docs` links for assembler builds
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

fix
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Fix errors and only disable non `/docs` links for assembler builds (#2717)
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Adjust release workflow dependencies
  .github/workflows/release.yml
Due: none

Add content type tools and consolidate MCP server architecture (#2642)
  docs-builder.slnx
  docs/_docset.yml
  docs/_redirects.yml
  docs/cli/index.md
  docs/cli/mcp.md
  docs/mcp/index.md
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/Program.cs
  src/Elastic.Documentation.Site/.gitignore
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Assembler/Mcp/ContentTypeProvider.cs
  src/services/Elastic.Documentation.Assembler/Mcp/ContentTypeTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/LinkTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Guidelines/changelog.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Guidelines/how-to.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Guidelines/overview.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Guidelines/troubleshooting.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Guidelines/tutorial.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Templates/changelog.yaml
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Templates/how-to.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Templates/overview.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Templates/troubleshooting.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Resources/Templates/tutorial.md.txt
  src/services/Elastic.Documentation.Assembler/Mcp/Responses.cs
  src/tooling/docs-builder/Commands/McpCommand.cs
  src/tooling/docs-builder/Program.cs
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format, prettier

Revert 'smart' solution and use easy and dumb fix
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier, typescript-check, eslint

chore(site): use @theletterf/beautiful-mermaid and add test diagrams
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Revert 'smart' solution and use easy and dumb fix (#2719)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier, typescript-check, eslint

Add trial CTA card to article sidebar.
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: prettier

chore(site): use @theletterf/beautiful-mermaid and add test diagrams (#2720)
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Add SSE keepalive middleware to MCP Remote server (#2715)
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/SseKeepAliveMiddleware.cs
Due: dotnet-format

Updates current stack version to 9.3.1
  config/versions.yml
Due: none

Migrate to Elastic.Ingest.Elasticsearch 0.19.0 with source-generated mappings
  Directory.Packages.props
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Documentation/Search/IndexedProduct.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/DocumentationMappingConfig.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchOperations.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchBootstrapFixture.cs
Due: dotnet-format

Fix MCP routing
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Add to .editorconfig
  .editorconfig
Due: none

Revert csproj changes
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
Due: none

Fix MCP server routing (#2724)
  .editorconfig
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Fix arrows
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Adjust ElasticON CTA behavior and background
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Switch MCP transport to stateless mode to fix 400 Bad Request errors
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/SseKeepAliveMiddleware.cs
Due: dotnet-format

fix(mcp): fix GetDocumentByUrl and AnalyzeDocumentStructure returning "Document not found"
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
Due: dotnet-format

test(mcp): add unit tests for DocumentGateway.NormalizeUrl
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  tests-integration/Mcp.Remote.IntegrationTests/DocumentUrlNormalizerTests.cs
Due: dotnet-format

Switch MCP transport to stateless mode to fix 400 Bad Request errors (#2726)
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/SseKeepAliveMiddleware.cs
Due: dotnet-format

fix(mcp): fix GetDocumentByUrl and AnalyzeDocumentStructure returning 'Document not found' (#2727)
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  tests-integration/Mcp.Remote.IntegrationTests/DocumentUrlNormalizerTests.cs
Due: dotnet-format

Add trial CTA card to article sidebar. (#2721)
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: prettier

fix(mcp): remove GET redirect that blocks Streamable HTTP SSE stream
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Fix changelog-bundle and output_directory (#2696)
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Landing page renewal (#2679)
  src/Elastic.Documentation.Site/Assets/theme.css
  src/Elastic.Documentation.Site/_static/cloud.svg
  src/Elastic.Documentation.Site/_static/elasticon-bg-b.png
  src/Elastic.Documentation.Site/_static/productDashboard.svg
  src/Elastic.Documentation.Site/_static/productStreamsWired.svg
  src/Elastic.Documentation.Site/_static/storage.svg
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

fix(mcp): remove GET redirect that blocks Streamable HTTP SSE stream (#2728)
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Centralize Elasticsearch configuration into DocumentationEndpoints
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation.ServiceDefaults/Elastic.Documentation.ServiceDefaults.csproj
  src/Elastic.Documentation.ServiceDefaults/ElasticsearchEndpointFactory.cs
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/ElasticsearchAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
  src/services/Elastic.Documentation.Search/ElasticsearchOptions.cs
  src/services/Elastic.Documentation.Search/FullSearchGateway.cs
  src/services/Elastic.Documentation.Search/NavigationSearchGateway.cs
  src/services/Elastic.Documentation.Search/ServicesExtension.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Mcp.Remote.IntegrationTests/Mcp.Remote.IntegrationTests.csproj
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/Search.IntegrationTests.csproj
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

fix(mcp): add missing required fields to document query source filters
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
Due: dotnet-format

docs(mcp): expand MCP docs with 4-IDE install tabs and one-click install buttons
  .claude/skills/mcp-search/SKILL.md
  docs/mcp/index.md
Due: none

docs(mcp): add all 14 MCP tools to SKILL.md
  .claude/skills/mcp-search/SKILL.md
Due: none

fix(docs/mcp): correct VS Code deep link URL encoding
  docs/mcp/index.md
Due: none

Skip --assume-build in integration tests on CI
  tests-integration/Elastic.Assembler.IntegrationTests/AssembleFixture.cs
Due: dotnet-format

fix(mcp): add missing required fields to document query source filters (#2729)
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
Due: dotnet-format

dotnet format
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexViewModel.cs
Due: dotnet-format

Pass IEnvironmentVariables to IsolatedBuildService in Codex commands
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
