Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix docs preview deployments and continue on redirect validation errors (#3807)
  .github/workflows/docs-preview-local.yml
Due: none

Add /api catalog and harden remote OpenAPI serve
  docs/_docset.yml
  docs/api/remote-kibana/kibana-api-overview.md
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  src/Elastic.Documentation/IMarkdownStringRenderer.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Use canonical paths for remote API references
  docs/_docset.yml
  docs/api/kibana/kibana-api-overview.md
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/Model/VersionIndexClient.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/VersionIndexClientTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Fix test field naming for dotnet format pre-push hook
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
Due: dotnet-format

Parse YAML OpenAPI specs from CloudFront and isolate serve failures
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Add version index client for remote OpenAPI spec resolution (#719)
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/Model/VersionIndex.cs
  src/Elastic.ApiExplorer/Model/VersionIndexClient.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/VersionIndexClientTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Add strict api: schema with product, repository, and children (#718)
  docs/_docset.yml
  docs/api/kibana/kibana-api-overview.md
  docs/data/openapi/api-explorer.md
  docs/data/openapi/index.md
  docs/documentation/isolated/configure/index.md
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tasks/plan.md
  tasks/todo.md
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Fix ApiMarkdownIntraApiLinkTests missing usings
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
Due: dotnet-format

Inject OpenAPI specification reader
  src/Elastic.ApiExplorer/Model/IOpenApiSpecificationReader.cs
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/ApiExplorerFixture.cs
  tests/Elastic.ApiExplorer.Tests/DashboardOpenApiNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
Due: dotnet-format

Match ApiExplorer URLs to bump.sh path scheme
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Lowercase group slugs to match live bump.sh URLs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Include doc segment in ApiExplorer product URLs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Simplify ApiExplorer URL construction
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
Due: dotnet-format

Generate multi-version API page trees from version index
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/ApiUrlBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
Due: dotnet-format

Add simple API version dropdown to left nav rail
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiVersionSwitcherTests.cs
Due: dotnet-format

Fix whitespace formatting in multi-version API tests
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
Due: dotnet-format

Simplify multi-version API generation paths
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiVersionSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
Due: dotnet-format

Add strict api: schema with product, repository, and children (#3804)
  docs/_docset.yml
  docs/api/kibana/kibana-api-overview.md
  docs/data/openapi/api-explorer.md
  docs/data/openapi/index.md
  docs/documentation/isolated/configure/index.md
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tasks/plan.md
  tasks/todo.md
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Add version index client for remote OpenAPI spec resolution (#3805)
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Model/IOpenApiSpecificationReader.cs
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/Model/VersionIndex.cs
  src/Elastic.ApiExplorer/Model/VersionIndexClient.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  src/Elastic.Documentation/IMarkdownStringRenderer.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.ApiExplorer.Tests/ApiExplorerFixture.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/DashboardOpenApiNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.ApiExplorer.Tests/VersionIndexClientTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

ApiExplorer: match bump.sh URL path scheme (#3817)
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

ApiExplorer: generate multi-version API page trees (#3818)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiUrlBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiVersionSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
Due: dotnet-format

Generate assembler API Explorer pages behind a staging flag
  .github/workflows/ci.yml
  config/assembler.yml
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  src/services/Elastic.Documentation.Assembler/Building/SitemapBuilder.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  tests-integration/Elastic.Documentation.IntegrationTests/AssemblerConfigurationTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix API version dropdown selected value
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format

Fix API version dropdown selected value (#3820)
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format

Update caniuse-lite browserslist database
  src/Elastic.Documentation.Site/package-lock.json
Due: prettier

Scrubber: shallow per-tree registry maps; reconcile bundle manifests only
  src/infra/docs-lambda-changelog-scrubber/EmfMetricsEmitter.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/services/Elastic.Changelog/Reconciliation/ReconcileMetrics.cs
  src/services/Elastic.Changelog/Reconciliation/RegistryReconciler.cs
  src/services/Elastic.Changelog/Reconciliation/ShallowRegistryReconciler.cs
  src/services/Elastic.Changelog/Scrubbing/ScrubberProcessor.cs
  tests/Elastic.Changelog.Tests/Reconciliation/RegistryReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/ShallowRegistryReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Scrubbing/ScrubberProcessorTests.cs
Due: dotnet-format

Scrubber Lambda owns the public changelog registry via state reconcile
  src/infra/docs-lambda-changelog-scrubber/EmfMetricsEmitter.cs
  src/infra/docs-lambda-changelog-scrubber/LambdaLoggerFactory.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/services/Elastic.Changelog/Reconciliation/ChangelogScope.cs
  src/services/Elastic.Changelog/Reconciliation/ReconcileMetrics.cs
  src/services/Elastic.Changelog/Reconciliation/RegistryReconciler.cs
  src/services/Elastic.Changelog/Scrubbing/ChangelogContentScrubber.cs
  src/services/Elastic.Changelog/Scrubbing/ScrubberProcessor.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  tests/Elastic.Changelog.Tests/Reconciliation/FakeS3.cs
  tests/Elastic.Changelog.Tests/Reconciliation/RegistryReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Scrubbing/ScrubberProcessorTests.cs
Due: dotnet-format

Fix import ordering in ApiExplorer test files
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
Due: dotnet-format

Changelog bundle: match --files filters against the CDN entry pool (#3783)
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/data/release-notes/bundle.md
  docs/data/release-notes/configure-ref.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/FileFilterLoader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
Due: dotnet-format

Clarify per-tree registry ownership in code and docs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/services/Elastic.Changelog/Reconciliation/BundleRegistryReconciler.cs
  src/services/Elastic.Changelog/Scrubbing/ScrubberProcessor.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  tests/Elastic.Changelog.Tests/Reconciliation/BundleRegistryReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Scrubbing/ScrubberProcessorTests.cs
Due: dotnet-format

Exclude default items from RazorSlice glob in Elastic.Documentation.Site
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
Due: prettier

Disable analyzers during local Debug builds
  Directory.Build.props
Due: none

Enable static graph evaluation for restore
  Directory.Build.props
Due: none

Updates current version to 9.5.1
  config/versions.yml
Due: none

Exclude default items from RazorSlice glob in Elastic.Documentation.Site (#3822)
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
Due: prettier

Disable analyzers during local Debug builds (#3823)
  Directory.Build.props
Due: none

Fix hub page regressions found in the rendered output
  docs/examples/products/elasticsearch.md
  docs/syntax/hero.md
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  tests/authoring/Blocks/Hub/Hero.fs
Due: dotnet-format

Add hub page layout and the {hero} directive
  docs/_docset.yml
  docs/examples/index.md
  docs/examples/products/elasticsearch.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/MarkdownPageLayout.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
  src/Elastic.Markdown/Myst/Directives/PageCard/PageCardBlock.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/_Layout.cshtml
  tests/authoring/Blocks/Hub/Hero.fs
  tests/authoring/Blocks/NestedDirectiveOptions.fs
  tests/authoring/Blocks/PageCards.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
