Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Preselect first search result item
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useAskAiFromSearch.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchFilters.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Add Hadoop and clients to products.yml (#2308)
  config/products.yml
  config/versions.yml
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
Due: dotnet-format

Add clients to updatecli automation
  .github/updatecli/updatecli.d/versions.yml
Due: none

Preselect first search result item
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Fix spacing and colors
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.tsx
Due: prettier, typescript-check, eslint

Convert `ConversationId` to Guid
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
Due: dotnet-format

Normalize the title and description we return over fetch(), fix highlighting
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

highlight synonyms
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
Due: dotnet-format

Comment GCP lines
  .github/updatecli/updatecli.d/versions.yml
Due: none

Bidirectional synonyms now also parses source => target replacement syntax
  src/Elastic.Documentation.Configuration/Search/SearchConfiguration.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
Due: dotnet-format

Potential fix for code scanning alert no. 47: Log entries created from user input
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
Due: dotnet-format

Normalize the title and description we return over fetch(), fix highlighting (#2311)
  src/Elastic.Documentation.Configuration/Search/SearchConfiguration.cs
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Preselect first search result item (#2309)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useAskAiFromSearch.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchFilters.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Add AskAI message feedback endpoint (#2297)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useMessageFeedback.ts
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiMessageFeedbackRequest.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiMessageFeedbackUsecase.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/IAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/ElasticsearchAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add icons to search filters
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
Due: prettier, typescript-check, eslint

Make HighlightTokens starts_with only
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
Due: dotnet-format

Optimize keyboard navigation in search
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
Due: prettier, typescript-check, eslint

Handle tabs better
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Add icons to search filters (#2312)
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
Due: prettier, typescript-check, eslint

Make HighlightTokens starts_with only (#2313)
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
Due: dotnet-format

Optimize keyboard navigation in search (#2314)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Remove throttling of AI answer after 5 seconds
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/MessageThrottler.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/chat.store.ts
Due: prettier, typescript-check, eslint

Sort client clauses alphabetically
  .github/updatecli/updatecli.d/versions.yml
Due: none

Add clients to updatecli automation (#2310)
  .github/updatecli/updatecli.d/versions.yml
Due: none

Improve config validation in changelog command
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Change version detection in updatecli for client libs
  .github/updatecli/updatecli.d/versions.yml
Due: none

Tweak pattern
  .github/updatecli/updatecli.d/versions.yml
Due: none

Tweak caps
  .github/updatecli/updatecli.d/versions.yml
Due: none

Prevent modal layout shift
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Add changelog docs
  docs/_docset.yml
  docs/contribute/changelog.md
  docs/contribute/index.md
Due: none

Remove skeleton loaders for cleaner modal rendering
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

More edits
  docs/contribute/_snippets/changelog-fields.md
  docs/contribute/changelog.md
Due: none

Readjust priorities and introdude test cases
  src/Elastic.Documentation.Configuration/Versions/VersionInference.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ProductApplicability.cs
  tests/Elastic.Documentation.Configuration.Tests/VersionInferenceTests.cs
Due: dotnet-format

Fix lint
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
Due: dotnet-format

Add documentation icon
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
Due: prettier, typescript-check, eslint

Adjust Alpha badge size
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/InfoBanner.tsx
Due: prettier, typescript-check, eslint

Restyle footer shortcuts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/KeyboardShortcutsFooter.tsx
Due: prettier, typescript-check, eslint

Align Ask AI assistant wording across header and shortcuts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Remove result count from filter badges and fix related styling
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
Due: prettier, typescript-check, eslint

Remove unused result count logic from SearchResults and filters
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
Due: prettier, typescript-check, eslint

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
