Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add distributed caching for GCP ID tokens
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Aws/IParameterProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/IDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/InMemoryDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/MultiLayerCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Elastic.Documentation.Api.Infrastructure.csproj
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/GcpIdTokenProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
Due: dotnet-format

Add tests
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Elastic.Documentation.Api.Infrastructure.Tests.csproj
Due: dotnet-format

Formatting
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Fix tests
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Margins
  docs/syntax/footnotes.md
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
Due: prettier

Use hashed cache keys
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/CacheKey.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/IDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/InMemoryDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/MultiLayerCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/GcpIdTokenProvider.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Prettify CSS
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
Due: prettier

Potential fix for pull request finding 'Generic catch clause'
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
Due: dotnet-format

Edit multiple example
  docs/syntax/footnotes.md
Due: none

Fix formatting
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
Due: dotnet-format

Fix syntax error and cleanup
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
Due: dotnet-format

New query for search with updated relevance tests
  .editorconfig
  config/synonyms.yml
  docs-builder.slnx
  src/Elastic.Documentation.ServiceDefaults/Elastic.Documentation.ServiceDefaults.csproj
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Aws/LocalParameterProvider.cs
  src/api/Elastic.Documentation.Api.Lambda/Elastic.Documentation.Api.Lambda.csproj
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchTestBase.cs
  tests-integration/Search.IntegrationTests/Search.IntegrationTests.csproj
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

SkipUnless connected to Elasticsearch
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Simplify
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/GcpIdTokenProvider.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Simplify test
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Delete SearchRelevanceTests from Assembler.IntegrationTests now lives under Search.IntegrationTests
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchRelevanceTests.cs
Due: dotnet-format

Fix docs and clickable area
  docs/syntax/footnotes.md
  docs/syntax/frontmatter.md
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
Due: prettier

Add footnotes (#2275)
  docs/_docset.yml
  docs/syntax/footnotes.md
  docs/syntax/frontmatter.md
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveMarkdownExtension.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
Due: dotnet-format, prettier

Also apply simplification to the gateway
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Fix test
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Missing Dispose call on local IDisposable'
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
Due: dotnet-format

Fix frontend OTel resource attributes (#2276)
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Add distributed caching for GCP ID tokens (#2278)
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Aws/IParameterProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/CacheKey.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/IDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/InMemoryDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/MultiLayerCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Elastic.Documentation.Api.Infrastructure.csproj
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/GcpIdTokenProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Caching/DistributedCacheTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Elastic.Documentation.Api.Infrastructure.Tests.csproj
Due: dotnet-format

Fix dynamodb table name
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
Due: dotnet-format

Fix dynamodb table name (#2282)
  src/api/Elastic.Documentation.Api.Infrastructure/Caching/DynamoDbDistributedCache.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
Due: dotnet-format

update SkipUnless
  .editorconfig
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Update footnote alternatives with code callouts, and add links
  docs/syntax/footnotes.md
Due: none

Update footnote alternatives with code callouts, and add links (#2284)
  docs/syntax/footnotes.md
Due: none

Fix typo
  docs/syntax/footnotes.md
Due: none

Update footnotes syntax docs alternatives with code callouts, and add links (#2283)
  docs/syntax/footnotes.md
Due: none

update SkipUnless
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Improve Search Relevance with new query strategy (#2279)
  .editorconfig
  config/synonyms.yml
  docs-builder.slnx
  src/Elastic.Documentation.ServiceDefaults/Elastic.Documentation.ServiceDefaults.csproj
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Aws/LocalParameterProvider.cs
  src/api/Elastic.Documentation.Api.Lambda/Elastic.Documentation.Api.Lambda.csproj
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchTestBase.cs
  tests-integration/Search.IntegrationTests/Search.IntegrationTests.csproj
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Extend CI shai huluud check to v2 sha1sums
  .github/workflows/ci.yml
Due: none

Extend CI shai huluud check to v2 sha1sums (#2286)
  .github/workflows/ci.yml
Due: none

Implement latest search experience design
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/highlight-worker.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/InfoBanner.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchFilters.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiModal.tsx
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix test
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
Due: prettier, typescript-check, eslint

Add AskAI message feedback endpoint
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiMessageFeedbackRequest.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiMessageFeedbackUsecase.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/IAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/ElasticsearchAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
Due: dotnet-format

Adjust otel naming
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiMessageFeedbackUsecase.cs
Due: dotnet-format

Add UI onclick handler and other adjustments
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useMessageFeedback.ts
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiMessageFeedbackRequest.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiMessageFeedbackUsecase.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/IAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/ElasticsearchAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
Due: dotnet-format, prettier, typescript-check, eslint

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
