Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Sanitize API description HTML and fix search-index word-boundary collapse (#4199)
  Directory.Packages.props
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownSanitizationTests.cs
Due: dotnet-format

Parse API version-index keys as Latest or Major
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/AGENTS.md
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  src/Elastic.ApiExplorer/Model/ApiSpecVersion.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Model/VersionIndex.cs
  src/Elastic.ApiExplorer/Model/VersionIndexClient.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Supplemental/ApiSupplementalValidator.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
  src/Elastic.Documentation.OpenApiIndex/VersionIndexBuilder.cs
  tests/Elastic.ApiExplorer.Tests/ApiLayoutVersionDropdownTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiSpecVersionTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiUrlBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiVersionSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalNameTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalValidationTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/OpenApiGeneratorSupplementalTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/api-explorer-fixture.json
  tests/Elastic.ApiExplorer.Tests/VersionIndexClientTests.cs
Due: dotnet-format

Take the fallback radios out of the tab order in dropdown mode
  src/Elastic.Documentation.Site/Assets/tabs.test.ts
  src/Elastic.Documentation.Site/Assets/tabs.ts
Due: prettier, typescript-check, eslint

Drop sermons on LatestKey and version rendering
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.OpenApiIndex/VersionIndexBuilder.cs
Due: dotnet-format

fix: canonicalize padded majors in the version index (per review by @github-actions)
  src/Elastic.Documentation.OpenApiIndex/VersionIndexBuilder.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexBuilderTests.cs
Due: dotnet-format

Scope Jump to API and API breadcrumbs to one API major
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiBreadcrumb.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.Documentation.Indexing/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/parseApiVersionScope.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/parseApiVersionScope.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/services/search/Elastic.Documentation.Search.Contract/Autocomplete/AutocompleteRequest.cs
  src/services/search/Elastic.Documentation.Search.Contract/Docs/DocumentationDocument.cs
  src/services/search/Elastic.Documentation.Search/DefaultSearchService.cs
  src/services/search/Elastic.Documentation.Search/INavigationSearchService.cs
  src/services/search/Elastic.Documentation.Search/NavigationSearchService.cs
  src/services/search/Elastic.Documentation.Search/Query/QueryFieldNames.cs
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiOperationIdSearchTitleTests.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
  tests/Elastic.SiteSearch.Tests/MappingStructureTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Port API sitemap parity audit test to main
  tests/Elastic.Documentation.Build.Tests/ApiSitemapParityTests.cs
Due: dotnet-format

fix: keep unversioned API docs in the latest Jump to API scope (per review by @github-actions)
  src/services/search/Elastic.Documentation.Search/DefaultSearchService.cs
Due: dotnet-format

Add aliases: to API explorer config for legacy URL redirects
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorAliasRedirectTests.cs
Due: dotnet-format

Redirect legacy API alias paths via redirects.json instead of HTML files
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorAliasRedirectTests.cs
Due: dotnet-format

Use the docs breadcrumb on API pages
  src/Elastic.ApiExplorer/Infrastructure/ApiBreadcrumb.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/_CatalogLayout.cshtml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/_ApiBreadcrumbs.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Documentation.Site/Assets/api-breadcrumbs.test.ts
  src/Elastic.Documentation.Site/Assets/api-breadcrumbs.ts
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav.ts
  src/Elastic.Documentation.Site/BreadcrumbsList.cs
  src/Elastic.Documentation.Site/Layout/BreadcrumbsView.cs
  src/Elastic.Documentation.Site/Layout/_Breadcrumbs.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/_Layout.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbsRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPageSeoTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiTocRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Refresh Codex breadcrumbs after article swaps
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Revert "Refresh Codex breadcrumbs after article swaps"
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Keep the full page swap when the Codex sub-header changes
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Keep Codex search results mounted through the HTMX swap
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

Close the search modal after the HTMX swap
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

Place API breadcrumbs outside the article
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbsRenderingTests.cs
Due: dotnet-format, prettier

fix: test result-link beforeSend (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.test.tsx
Due: prettier, typescript-check, eslint

Start API breadcrumbs at the catalog and name the spec
  src/Elastic.ApiExplorer/Infrastructure/ApiBreadcrumbs.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/_CatalogLayout.cshtml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Documentation.Site/Layout/BreadcrumbsView.cs
  src/Elastic.Documentation.Site/Layout/_Breadcrumbs.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbsRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiLayoutVersionDropdownTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPageSeoTests.cs
Due: dotnet-format, prettier

add autoops-insights to assembler references
  config/assembler.yml
Due: none

fix: mark autoops-insights as private in assembler
  config/assembler.yml
Due: none

add autoops-insights as independent section under Reference
  config/navigation.yml
Due: none

Add AutoOps insights as independent Reference section (#3832)
  config/assembler.yml
  config/navigation.yml
Due: none

Revert AutoOps docs enrollment
  config/assembler.yml
  config/navigation.yml
Due: none

Revert AutoOps docs enrollment (#4218)
  config/assembler.yml
  config/navigation.yml
Due: none

Fix Swagger 2.0 spec ingestion in the API explorer
  src/Elastic.ApiExplorer/Model/IOpenApiSpecificationReader.cs
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorSpecDownloadTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/swagger-2.0-sample.json
Due: dotnet-format

Upgrade Microsoft.OpenApi to 3.10.2
  Directory.Packages.props
  src/Elastic.ApiExplorer/Model/SyntheticCodeSamples.cs
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  tests/Elastic.ApiExplorer.Tests/SyntheticCodeSamplesTests.cs
Due: dotnet-format

Re-add AutoOps Insights docs
  config/assembler.yml
  config/navigation.yml
Due: none

Fix Swagger 2.0 spec ingestion and upgrade Microsoft.OpenApi to 3.10.2 (#4219)
  Directory.Packages.props
  src/Elastic.ApiExplorer/Model/IOpenApiSpecificationReader.cs
  src/Elastic.ApiExplorer/Model/OpenApiReader.cs
  src/Elastic.ApiExplorer/Model/SyntheticCodeSamples.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCurrentSpecResolutionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorSpecDownloadTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.ApiExplorer.Tests/SyntheticCodeSamplesTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/swagger-2.0-sample.json
Due: dotnet-format

Migrate 6 small test projects to TUnit
  docs-builder.slnx
  tests/Elastic.Documentation.Deploying.Tests/DocsSyncTests.cs
  tests/Elastic.Documentation.Deploying.Tests/Elastic.Documentation.Deploying.Tests.csproj
  tests/Elastic.Documentation.Deploying.Tests/IncrementalDeployRoundTripTests.cs
  tests/Elastic.Documentation.Indexing.Tests/AiEnrichmentBudgetTests.cs
  tests/Elastic.Documentation.Indexing.Tests/AiEnrichmentDeadlineTests.cs
  tests/Elastic.Documentation.Indexing.Tests/Elastic.Documentation.Indexing.Tests.csproj
  tests/Elastic.Documentation.Integrations.Tests/Elastic.Documentation.Integrations.Tests.csproj
  tests/Elastic.Documentation.Integrations.Tests/S3/S3EtagCalculatorTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/CloudFrontCacheInvalidatorTests.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/Elastic.Documentation.OpenApiIndex.Tests.csproj
  tests/Elastic.Documentation.OpenApiIndex.Tests/OpenApiInvalidationPathsTests.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexBuilderTests.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexPublisherTests.cs
  tests/Elastic.Documentation.Tests/Diagnostics/DiagnosticsCollectorTests.cs
  tests/Elastic.Documentation.Tests/Diagnostics/FilelessDiagnosticClassifierTests.cs
  tests/Elastic.Documentation.Tests/Elastic.Documentation.Tests.csproj
  tests/Elastic.Documentation.Tests/Http/MarkdownAcceptTests.cs
  tests/Elastic.Documentation.Tests/UrlPathTests.cs
  tests/Mcp.Remote.Tests/DocumentToolsTests.cs
  tests/Mcp.Remote.Tests/Mcp.Remote.Tests.csproj
  tests/Mcp.Remote.Tests/McpHandshakeTests.cs
  tests/Mcp.Remote.Tests/McpServerInstructionTests.cs
  tests/Mcp.Remote.Tests/McpToolTelemetryTests.cs
Due: dotnet-format

Migrate Elastic.Documentation.Api.Tests to TUnit (20 tests)
  tests/Elastic.Documentation.Api.Tests/AskAiGatewayStreamingTests.cs
  tests/Elastic.Documentation.Api.Tests/Elastic.Documentation.Api.Tests.csproj
  tests/Elastic.Documentation.Api.Tests/EuidEnrichmentTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format

Migrate Elastic.Documentation.Build.Tests to TUnit (pilot)
  Directory.Packages.props
  build/Targets.fs
  tests-integration/Directory.Build.props
  tests/Directory.Build.props
  tests/Elastic.Documentation.Build.Tests/AssemblerBuildServiceTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerBuildStampTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
  tests/Elastic.Documentation.Build.Tests/Elastic.Documentation.Build.Tests.csproj
  tests/Elastic.Documentation.Build.Tests/ExternalCommandExecutorRetryTests.cs
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
  tests/Elastic.Documentation.Build.Tests/GitLocksTests.cs
  tests/Elastic.Documentation.Build.Tests/IsolatedBuildRedirectTests.cs
  tests/Elastic.Documentation.Build.Tests/IsolatedBuildServiceTests.cs
  tests/Elastic.Documentation.Build.Tests/LlmsNavigationEnhancerTests.cs
  tests/Elastic.Documentation.Build.Tests/RedirectKvsDiffTests.cs
  tests/Elastic.Documentation.Build.Tests/SitemapTests.cs
  tests/Elastic.Documentation.Build.Tests/SymlinkValidationTests.cs
  tests/Elastic.Documentation.Build.Tests/TestHelpers.cs
Due: dotnet-format

Migrate Elastic.Documentation.LegacyDocs.Tests to TUnit (1 test)
  tests/Elastic.Documentation.LegacyDocs.Tests/Elastic.Documentation.LegacyDocs.Tests.csproj
  tests/Elastic.Documentation.LegacyDocs.Tests/LegacyPageLookupTests.cs
Due: dotnet-format

Migrate Elastic.Documentation.Configuration.Tests to TUnit
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/AssemblyConfigurationMatchTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ChangelogTemplateSeederTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CheckoutsFileSystemTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CiCheckoutLayoutTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CloneTimeoutTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileCtaTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CreateNavigationFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentInferrerServiceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationPathsResolverTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/Elastic.Documentation.Configuration.Tests.csproj
  tests/Elastic.Documentation.Configuration.Tests/EnvironmentInterpolationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/FindGitRootTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitCheckoutResolutionTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitConfigOriginParserTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitHubRemoteParserTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitRemoteConfigurationReaderTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductsConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/BundleLoaderFromContentTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogFetcherTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogKeysTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogTextUtilitiesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/PublishBlockerExtensionsTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesSerializationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/VersionLifecycleInferenceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/VersionOrDateTests.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/Text/Utf8TextNormalizationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/UseNavigationPreviewTests.cs
  tests/Elastic.Documentation.Configuration.Tests/VersionInferenceTests.cs
Due: dotnet-format

Fix [Fact] attributes and API signatures in files added to main after migration
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbsRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiDescriptionHtmlRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiLayoutVersionDropdownTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiNavParityTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPageSeoTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavToggleRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiSelectRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiTocRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/AuthSchemeTests.cs
  tests/Elastic.ApiExplorer.Tests/EndpointCopyButtonRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
  tests/Elastic.ApiExplorer.Tests/IsolatedApiAliasesTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiOperationIdSearchTitleTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationDeprecatedBadgeRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/PageActionsRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaHelpersTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesFetcherTests.cs
  tests/Elastic.Markdown.Tests/Directives/StepperTocOptionTests.cs
Due: dotnet-format

Fix Navigation.Tests TUnit migration (269 tests)
  tests/Navigation.Tests/Assembler/ComplexSiteNavigationTests.cs
  tests/Navigation.Tests/Assembler/IdentifierCollectionTests.cs
  tests/Navigation.Tests/Assembler/IslandSiteNavigationTests.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
  tests/Navigation.Tests/Assembler/SiteDocumentationSetsTests.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTestFixture.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
  tests/Navigation.Tests/Codex/CodexConfigurationLoaderTests.cs
  tests/Navigation.Tests/Codex/CodexGitRepositoryTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/CodexNavigationTests.cs
  tests/Navigation.Tests/Codex/FindDocsetFileTests.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
  tests/Navigation.Tests/Isolation/ConstructorTests.cs
  tests/Navigation.Tests/Isolation/DeepLinkedIndexFileTests.cs
  tests/Navigation.Tests/Isolation/DocumentationSetNavigationTestBase.cs
  tests/Navigation.Tests/Isolation/DynamicUrlTests.cs
  tests/Navigation.Tests/Isolation/FileInfoValidationTests.cs
  tests/Navigation.Tests/Isolation/FileNavigationTests.cs
  tests/Navigation.Tests/Isolation/FolderExcludeTests.cs
  tests/Navigation.Tests/Isolation/FolderIndexFileRefTests.cs
  tests/Navigation.Tests/Isolation/FolderSortOrderTests.cs
  tests/Navigation.Tests/Isolation/IslandNavigationTests.cs
  tests/Navigation.Tests/Isolation/NaturalStringComparerTests.cs
  tests/Navigation.Tests/Isolation/NavigationStructureTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
  tests/Navigation.Tests/Isolation/ValidationTests.cs
  tests/Navigation.Tests/Navigation.Tests.csproj
  tests/Navigation.Tests/Rendering/FooterRenderingTests.cs
  tests/Navigation.Tests/Rendering/LandingLayoutRenderingTests.cs
  tests/Navigation.Tests/Rendering/NavigationCurrentMarkerTests.cs
  tests/Navigation.Tests/Rendering/NavigationRenderModelTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
  tests/Navigation.Tests/Rendering/TocTreeRenderingTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
Due: dotnet-format

Update AGENTS.md: TUnit is now the current standard across all unit test projects
  AGENTS.md
Due: none
