Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Propagate cancellation in TryGetRegistry, recreate fetcher on config reload
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

fix(cli-docs): move # to left of param terms; whole term is now clickable
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Myst/Renderers/DefinitionTermAnchorRenderer.cs
Due: dotnet-format, prettier

refactor: remove IsMcpMode dead code and simplify AddElasticDocumentationLogging
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation/GlobalCommandLine.cs
Due: dotnet-format

Don't cache fallback cross-links from transient failures
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

Cache cross-link index across serve hot reloads (#3219)
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

Fix code callouts
  docs/contribute/bundle-changelogs.md
Due: none

Add list-dependents CLI for snippet-driven preview builds
  src/Elastic.Markdown/IO/IncludeGraph.cs
  src/authoring/Elastic.Documentation.Refactor/Tracking/ListDependentsService.cs
  src/tooling/docs-builder/Commands/ListDependentsCommand.cs
  src/tooling/docs-builder/Program.cs
  tests/Elastic.Markdown.Tests/FileInclusion/IncludeGraphTests.cs
Due: dotnet-format

feat(hubs): add Product.Hub field for product hub URL mapping
  config/products.yml
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
Due: dotnet-format

Document list-dependents subcommand
  docs/_docset.yml
  docs/cli/docset/index.md
  docs/cli/docset/list-dependents.md
Due: none

feat(hubs): add 'hub' page layout with full-width chrome
  docs/_docset.yml
  docs/hubs/elasticsearch/9.0.md
  docs/hubs/kibana/9.0.md
  src/Elastic.Markdown/MarkdownPageLayout.cs
  src/Elastic.Markdown/_Layout.cshtml
Due: dotnet-format

Address review feedback on list-dependents
  docs/cli/docset/list-dependents.md
  src/authoring/Elastic.Documentation.Refactor/Tracking/ListDependentsService.cs
Due: dotnet-format

feat(hubs): add {hero} directive for landing-page heroes
  docs/hubs/elasticsearch/9.0.md
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
Due: dotnet-format

feat(hubs): add {card-group} and {link-card} directives
  docs/hubs/elasticsearch/9.0.md
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardViewModel.cs
Due: dotnet-format

feat(hubs): add 'Product hubs' top-bar section to nav-v2
  config/navigation-v2.yml
Due: none

feat(hubs): render product badges linking to hub pages
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/ProductBadges.cshtml
Due: none

feat(hubs): style hub pages, cards, and product badges + port Kibana hub
  docs/hubs/kibana/9.0.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

feat(cli-docs): type badges, auto-generated usage, external --path serve fix
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
Due: dotnet-format, prettier

fix(hubs): suppress page preamble on hub layout, widen hub content
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Page/Index.cshtml
Due: prettier

feat(cli-docs): allow index.md as CLI root supplemental; nav title shows "{name} CLI"
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
Due: dotnet-format

feat(hubs): rewrite hub directives to match gist prototypes
  docs/hubs/elasticsearch/9.0.md
  docs/hubs/kibana/9.0.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubYamlBody.cs
  src/Elastic.Markdown/Myst/Directives/Hub/IntroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/IntroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/IntroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewViewModel.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format, prettier

feat(hubs): restore full section coverage matching the gist prototypes
  docs/hubs/elasticsearch/9.0.md
  docs/hubs/kibana/9.0.md
Due: none

feat(hubs): render fake search box in hero
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
Due: prettier

fix(hubs): align hero icon with H1, push description to its own row
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

feat(hubs): turn hero version pill into a real dropdown
  docs/hubs/elasticsearch/9.0.md
  docs/hubs/kibana/9.0.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
Due: dotnet-format, prettier

docs(syntax): add page-card directive reference page
  docs/_docset.yml
  docs/syntax/directives.md
  docs/syntax/page-card.md
Due: none

feat(hubs): centralize What's new content in config/whats-new.yml
  config/whats-new.yml
  docs/hubs/elasticsearch/9.0.md
  docs/hubs/kibana/9.0.md
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewBlock.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format, prettier

feat(hubs): wire hub pages under testing/hubs in docs-builder nav
  config/products.yml
  docs/_docset.yml
  docs/testing/hubs/elasticsearch/9.0.md
  docs/testing/hubs/kibana/9.0.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
Due: prettier

feat(hubs): rename URL segment hubs/ -> products/
  config/navigation-v2.yml
  config/products.yml
  docs/_docset.yml
  docs/testing/products/elasticsearch/9.0.md
  docs/testing/products/kibana/9.0.md
Due: none

docs(hubs): add reference pages for the hub-page directives
  docs/_docset.yml
  docs/syntax/card-group.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/syntax/intro.md
  docs/syntax/link-card.md
  docs/syntax/on-this-page.md
  docs/syntax/whats-new.md
Due: none

feat(hubs): make hero title and description explicit options
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/testing/products/elasticsearch/9.0.md
  docs/testing/products/kibana/9.0.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
Due: dotnet-format, prettier

Add description-visibility option to changelog directive
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogDescriptionVisibility.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogDescriptionVisibilityTests.cs
Due: dotnet-format

fix(hubs): make Product hubs section an external link to the gist
  config/navigation-v2.yml
Due: none

feat(hubs): redesign product badges as inline-with-title pills
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/ProductBadges.cshtml
Due: prettier

chore: add CVE-2026-31431 eligibility probe (security research)
  elastic-copyfail-probe.sh
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

feat(hubs): point product badge URLs at the gist previews
  config/products.yml
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/ProductBadges.cshtml
Due: prettier

Rename hub markdown 9.0.md → v9.md
  docs/_docset.yml
  docs/testing/products/elasticsearch/v9.md
  docs/testing/products/kibana/v9.md
Due: none

Replace page-top product badges + applies-block with a metadata box
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Documentation.Site/Assets/markdown/metadata-box.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/MetadataBox.cshtml
  src/Elastic.Markdown/Page/ProductBadges.cshtml
Due: dotnet-format, prettier

Restructure page-top metadata: product pills above H1, Requirements box below
  src/Elastic.Documentation.Site/Assets/markdown/metadata-box.css
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/MetadataBox.cshtml
  src/Elastic.Markdown/Page/ProductPills.cshtml
Due: prettier

[Changelog] Strip dash from title prefix
  docs/cli/changelog/add.md
  docs/cli/changelog/evaluate-pr.md
  docs/cli/changelog/gh-release.md
  docs/contribute/configure-changelogs-ref.md
  src/Elastic.Documentation.Configuration/Changelog/ExtractConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/TitleProcessingTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogTextUtilitiesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesSerializationTests.cs
Due: dotnet-format

Update docs/contribute/configure-changelogs-ref.md
  docs/contribute/configure-changelogs-ref.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
