Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

refactor a tad more
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/RenderContext.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyList.cshtml
  src/Elastic.ApiExplorer/Shared/_UnionOptions.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/main.ts
Due: dotnet-format, prettier, typescript-check, eslint

Potential fix for pull request finding 'Dereferenced variable may be null'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

touchups
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Shared/_SchemaType.cshtml
Due: none

touchups
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.ts
Due: prettier, typescript-check, eslint

Add docs-builder changelog render --hide-features option (#2412)
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Change feature_id to feature-id in changelogs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogData.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add --use-pr-number to changelog add command
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Update docs
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
Due: none

Potential fix for pull request finding 'Nested 'if' statements can be combined'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

touchups
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyList.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Fix code quality issues from PR review
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
Due: none

format css js
  src/Elastic.ApiExplorer/Schema/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Schema/ValidationConstraintsRenderer.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
Due: dotnet-format, prettier, typescript-check, eslint

ensure we escape variables when rendering markdown
  src/Elastic.ApiExplorer/ApiViewModel.cs
Due: dotnet-format

address codeQL issues
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Schemas/SchemaViewModel.cs
  src/Elastic.ApiExplorer/Shared/_PropertyList.cshtml
Due: dotnet-format

Potential fix for pull request finding 'Useless assignment to local variable'
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
Due: none

Adjust unavailable lifecycle description and add a link to the release notes in the popover
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Fix remaining test
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Fix rendering
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
Due: prettier, typescript-check, eslint

Adjust version syntax demonstration
  docs/syntax/applies.md
Due: none

Change feature_id to feature-id in changelogs (#2421)
  src/services/Elastic.Documentation.Services/Changelog/ChangelogData.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Change keyword,add multi-product support
  config/changelog.yml.example
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Fix failing test
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Fix BundleChangelogs_WithShortPrFormat_FiltersCorrectly
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add render_blockers to changelog config
  config/changelog.yml.example
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/services/Elastic.Documentation.Services/Elastic.Documentation.Services.csproj
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Match against bundle products
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add render config option
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add render_blockers to changelog config (#2426)
  config/changelog.yml.example
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/services/Elastic.Documentation.Services/Elastic.Documentation.Services.csproj
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Render missing types
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Render breaking change subtypes
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Potential fix for pull request finding 'Container contents are never accessed'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Render missing changelog types and subtypes (#2427)
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Fix RenderChangelogs_WithUnhandledType_EmitsWarning test
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format
