Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

fix: upgrade @opentelemetry/resources from 2.3.0 to 2.6.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/sdk-logs from 0.209.0 to 0.213.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/exporter-logs-otlp-http from 0.209.0 to 0.213.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Split docs preview: reusable Docker workflow + local dotnet workflow
  .github/workflows/docs-preview-local.yml
  .github/workflows/preview-cleanup.yml
Due: none

fix(ci): use glob patterns for push branch/tag filters in docs-preview-local
  .github/workflows/docs-preview-local.yml
Due: none

chore(ci): use [0-9] character-class globs for docs-preview-local push filters
  .github/workflows/docs-preview-local.yml
Due: none

fix(ci): drop pull_request_target checks from docs-preview-local (not a trigger)
  .github/workflows/docs-preview-local.yml
Due: none

fix(ci): align docs-preview-local with pull_request/push triggers only
  .github/workflows/docs-preview-local.yml
Due: none

Fix placeholder validation
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

ida refinement
  config/navigation-v2.yml
Due: none

Fix test contamination
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Add --repo --owner to changelog init (#3042)
  config/changelog.example.yml
  docs/cli/changelog/init.md
  src/Elastic.Documentation.Configuration/ChangelogTemplateSeeder.cs
  src/Elastic.Documentation.Configuration/GitConfigOriginParser.cs
  src/Elastic.Documentation.Configuration/GitHubRemoteParser.cs
  src/Elastic.Documentation.Configuration/GitRemoteConfigurationReader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Configuration.Tests/ChangelogTemplateSeederTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitConfigOriginParserTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitHubRemoteParserTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitRemoteConfigurationReaderTests.cs
Due: dotnet-format

more changes
  config/navigation-v2.yml
Due: none

tidy
  config/navigation-v2.yml
Due: none

Apply suggested fixes
  config/changelog.example.yml
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/services/Elastic.Changelog/Bundling/BundleDescriptionSubstitution.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleDescriptionSubstitutionTests.cs
Due: dotnet-format

Fix bundle loader behavior
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
Due: dotnet-format

Add changelog bundle description (#3058)
  config/changelog.example.yml
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/BundleDescriptionSubstitution.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleDescriptionSubstitutionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
Due: dotnet-format

wip
  config/navigation-v2.yml
Due: none

Add support for release-date field
  docs/cli/changelog/bundle.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

Add Distinct() checking
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
Due: dotnet-format

Use DateOnly internally
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

Skip hidden folders on codex builds
  src/Elastic.Codex/Elastic.Codex.csproj
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  tests/Navigation.Tests/Codex/FindDocsetFileTests.cs
Due: dotnet-format

Skip hidden folders on codex builds (#3068)
  src/Elastic.Codex/Elastic.Codex.csproj
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  tests/Navigation.Tests/Codex/FindDocsetFileTests.cs
Due: dotnet-format

Draft: Stack 9.4.0 GA config (unified 9.x bump)
  config/assembler.yml
  config/versions.yml
Due: none

Update shared_configuration.stack.next to 9.4
  config/assembler.yml
Due: none

Add bundle release date command options
  config/changelog.example.yml
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Fix Elastic.Markdown.Tests
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

feat(markdown): wire vector-sizing-calculator directive in Elastic.Markdown
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/VectorSizing/VectorSizingBlock.cs
  src/Elastic.Markdown/Myst/Directives/VectorSizing/VectorSizingView.cshtml
  src/Elastic.Markdown/Myst/Directives/VectorSizing/VectorSizingViewModel.cs
  tests/Elastic.Markdown.Tests/Directives/VectorSizingBlockTests.cs
  tools/vector_sizing_calculator/INTEGRATION.md
  tools/vector_sizing_calculator/docs-builder-directive/DirectiveBlockParser.patch.md
  tools/vector_sizing_calculator/docs-builder-directive/VectorSizingView.cshtml
Due: dotnet-format

docs: add vector sizing calculator preview page for local serve
  docs/_docset.yml
  docs/syntax/directives.md
  docs/syntax/vector-sizing-calculator.md
Due: none

add updated search/query pages
  config/navigation-v2.yml
Due: none

Skip redirect validation for docset-excluded paths
  src/authoring/Elastic.Documentation.Refactor/Tracking/LocalChangesService.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
Due: dotnet-format

[DOCS] Split changelog how-to into subpages
  config/changelog.example.yml
  docs/_docset.yml
  docs/cli/changelog/add.md
  docs/cli/changelog/bundle-amend.md
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/cli/changelog/remove.md
  docs/cli/changelog/render.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/changelog.md
  docs/contribute/configure-changelogs.md
  docs/contribute/create-changelogs.md
  docs/contribute/publish-changelogs.md
  docs/syntax/changelog.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
Due: dotnet-format

Update src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
Due: dotnet-format

uncomment QL refs
  config/navigation-v2.yml
Due: none

Skip redirect validation for docset-excluded paths (#3095)
  src/authoring/Elastic.Documentation.Refactor/Tracking/LocalChangesService.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
Due: dotnet-format

Search: Add completion multi-field to ai_questions mapping
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
Due: dotnet-format

Search: Add content_last_updated for content-only change tracking (#3016)
  src/Elastic.Documentation/Search/ContentHash.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateEnrichment.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchOperations.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerSitemapCommand.cs
  tests/Elastic.Markdown.Tests/Search/ContentHashTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
Due: dotnet-format

Search: Add completion multi-field to ai_questions mapping (#3097)
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
Due: dotnet-format

Search: Use staging index + alias swap for content date lookup sync
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateEnrichment.cs
Due: dotnet-format

Search: Remove shard/replica settings for serverless compatibility
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateEnrichment.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
