Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Revert "feat(assembler): on-demand assembler serve with live reload and impro…"
  .github/workflows/ci.yml
  aspire/AppHost.cs
  build/CommandLine.fs
  build/Targets.fs
  docs/cli-schema.json
  src/Elastic.Documentation.LinkIndex/LinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

Revert "feat(assembler): on-demand assembler serve with live reload and impro…" (#3437)
  .github/workflows/ci.yml
  aspire/AppHost.cs
  build/CommandLine.fs
  build/Targets.fs
  docs/cli-schema.json
  src/Elastic.Documentation.LinkIndex/LinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

Revert "Revert "feat(assembler): on-demand assembler serve with live reload a…"
  .github/workflows/ci.yml
  aspire/AppHost.cs
  build/CommandLine.fs
  build/Targets.fs
  docs/cli-schema.json
  src/Elastic.Documentation.LinkIndex/LinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

fix: include repo prefix in agent skill install command
  docs/syntax/agent-skill.md
  src/Elastic.Markdown/Myst/Directives/AgentSkill/AgentSkillBlock.cs
  tests/Elastic.Markdown.Tests/Directives/AgentSkillTests.cs
  tests/authoring/Blocks/AgentSkill.fs
Due: dotnet-format

fix: make phantoms cover descendant paths and remove skip cap (#3375)
  src/services/Elastic.Documentation.Assembler/Navigation/NavigationPrefixChecker.cs
Due: dotnet-format

fix: include repo prefix in agent skill install command (#3441)
  docs/syntax/agent-skill.md
  src/Elastic.Markdown/Myst/Directives/AgentSkill/AgentSkillBlock.cs
  tests/Elastic.Markdown.Tests/Directives/AgentSkillTests.cs
  tests/authoring/Blocks/AgentSkill.fs
Due: dotnet-format

Add permissions for build-link-index-lambda
  .github/workflows/release.yml
Due: none

Add permissions for build-link-index-lambda (#3444)
  .github/workflows/release.yml
Due: none

Retry GHCR container pushes on transient registry failures
  build/Targets.fs
Due: dotnet-format

fix: add missing permissions to build-changelog-scrubber-lambda job
  .github/workflows/release.yml
Due: none

fix: add missing permissions to build-changelog-scrubber-lambda job (#3446)
  .github/workflows/release.yml
Due: none

Update to stable version of internal site search contracts
  Directory.Packages.props
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
Due: dotnet-format

Update to stable version of internal site search contracts (#3448)
  Directory.Packages.props
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
Due: dotnet-format

test: simplify Paths reference to satisfy lint (IDE0002)
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

Allow button directives to use Markdown link references (#3443)
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ButtonTests.cs
Due: dotnet-format

fix: upgrade @tanstack/react-query from 5.100.9 to 5.100.10
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade dompurify from 3.4.1 to 3.4.2
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade zustand from 5.0.12 to 5.0.13
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Bump Mermaider to 0.8.0
  Directory.Packages.props
Due: none

Prefer visible folder children when deriving navigation indexes (#3451)
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  tests/Navigation.Tests/Isolation/DynamicUrlTests.cs
Due: dotnet-format

Update internal search packages to fix mapping
  Directory.Packages.props
Due: none

Update internal search packages to fix mapping (#3455)
  Directory.Packages.props
Due: none

Codex: add sync plan/apply commands backed by shared deploying lib
  docs-builder.slnx
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Codex/Elastic.Codex.csproj
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Deploying/Elastic.Documentation.Deploying.csproj
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncApplyStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncPlanStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/DocsSync.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/DocsSyncPlanValidator.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/IDocsSyncContext.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  src/tooling/docs-builder/Program.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
Due: dotnet-format

Fix import ordering in CodexSyncCommand and DocsSyncTests
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
Due: dotnet-format

Fix search modal rejecting valid responses with type "docs"
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Fix import ordering in DocsSyncTests
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
Due: dotnet-format

Update CLI schema with codex sync plan/apply commands
  docs/cli-schema.json
Due: none

Removing deprecated search label
  docs/contribute/configure-changelogs-ref.md
Due: none

Search: Fix modal rejecting valid responses with content type "docs" (#3456)
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Address CodeRabbit review: empty plan, environment wiring, EnvironmentName fallback, required --plan
  docs/cli-schema.json
  src/Elastic.Codex/CodexContext.cs
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
Due: dotnet-format

Rename codex sync apply --plan to --plan-file to match assembler
  docs/cli-schema.json
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
Due: dotnet-format

Search: Fix schema key content_type → type to match API response
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Search: Fix schema key content_type → type to match API response (#3459)
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Codex: Make index resilient to repos that failed to clone
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Codex/Sourcing/CodexGitRepository.cs
Due: dotnet-format

Codex: Make index resilient to repos that failed to clone (#3460)
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Codex/Sourcing/CodexGitRepository.cs
Due: dotnet-format

Require environment in codex sync plan/apply — fail if not supplied
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
Due: dotnet-format

Drop --environment from codex sync — only used in one log line
  docs/cli-schema.json
  src/Elastic.Codex/CodexContext.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
Due: dotnet-format

Simplify: remove dead code, merge loops, overlap S3+local scan
  src/Elastic.Codex/CodexContext.cs
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncApplyStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncPlanStrategy.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
Due: dotnet-format

Add Storybook registry directive support
  docs/_docset.yml
  docs/syntax/directives.md
  docs/syntax/index.md
  docs/syntax/storybook.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/storybook.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/StorybookStory/StorybookStoryComponent.tsx
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookRegistry.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookView.cshtml
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
  tests/Elastic.Markdown.Tests/MockFileSystemExtensions.cs
  tests/authoring/Blocks/Storybook.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier, typescript-check, eslint

Address PR feedback for storybook directive
  src/Elastic.Documentation.Site/Assets/web-components/StorybookStory/StorybookStoryComponent.tsx
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookRegistry.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookView.cshtml
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
