Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fixed IL2026 and IL3050 errors
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
Due: dotnet-format

Potential fix for pull request finding 'Generic catch clause'
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
Due: dotnet-format

Update docs
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Fix build errors
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Update docs help messages
  docs/contribute/changelog.md
Due: none

Potential fix for pull request finding 'Nested 'if' statements can be combined'
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
Due: dotnet-format

Potential fix for pull request finding 'Generic catch clause'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Nested 'if' statements can be combined'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Fix linting
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add more doc examples
  docs/contribute/changelog.md
Due: none

Fix duplicate content in table cells
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

Fix duplicate content in table cells (#2339)
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

Fix tabs and applies-switch in snippets
  docs/_snippets/applies-switch.md
  docs/testing/index.md
  src/Elastic.Markdown/Myst/Directives/AppliesSwitch/AppliesSwitchBlock.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlock.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Tabs/TabSetBlock.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Markdown.Tests/FileInclusion/IncludedAppliesSwitchTests.cs
  tests/Elastic.Markdown.Tests/FileInclusion/IncludedTabSetTests.cs
Due: dotnet-format

Fix tabs and applies-switch in snippets (#2340)
  docs/_snippets/applies-switch.md
  docs/testing/index.md
  src/Elastic.Markdown/Myst/Directives/AppliesSwitch/AppliesSwitchBlock.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlock.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Tabs/TabSetBlock.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Markdown.Tests/FileInclusion/IncludedAppliesSwitchTests.cs
  tests/Elastic.Markdown.Tests/FileInclusion/IncludedTabSetTests.cs
Due: dotnet-format

stage
  config/portal.example.yml
  docs-builder.slnx
  src/Elastic.Documentation.Configuration/Portal/PortalConfiguration.cs
  src/Elastic.Documentation.Configuration/Portal/PortalDocumentationSetReference.cs
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Portal/Category/CategoryView.cshtml
  src/Elastic.Portal/Category/CategoryViewModel.cs
  src/Elastic.Portal/Elastic.Portal.csproj
  src/Elastic.Portal/Landing/LandingView.cshtml
  src/Elastic.Portal/Landing/LandingViewModel.cs
  src/Elastic.Portal/Navigation/CategoryNavigation.cs
  src/Elastic.Portal/Navigation/IPortalDocumentationContext.cs
  src/Elastic.Portal/Navigation/PortalIndexPage.cs
  src/Elastic.Portal/Navigation/PortalNavigation.cs
  src/Elastic.Portal/PortalGenerator.cs
  src/Elastic.Portal/PortalRenderContext.cs
  src/Elastic.Portal/PortalViewModel.cs
  src/Elastic.Portal/_Layout.cshtml
  src/Elastic.Portal/_ViewImports.cshtml
  src/services/Elastic.Documentation.Portal/Building/PortalBuildService.cs
  src/services/Elastic.Documentation.Portal/Elastic.Documentation.Portal.csproj
  src/services/Elastic.Documentation.Portal/PortalContext.cs
  src/services/Elastic.Documentation.Portal/Sourcing/PortalCloneService.cs
  src/services/Elastic.Documentation.Portal/Sourcing/PortalGitRepository.cs
  src/tooling/docs-builder/Commands/Portal/PortalCommands.cs
  src/tooling/docs-builder/Program.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format, prettier

Introduce implicit semantics for multiple lifecycles
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  src/Elastic.Documentation/VersionSpec.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Applicability/AppliesToFrontMatter.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Add more examples in docs
  docs/_snippets/applies_to-version.md
  docs/syntax/_snippets/multiple-lifecycle-states.md
  docs/syntax/_snippets/versioned-lifecycle.md
  docs/testing/req.md
Due: none

Typo
  docs/testing/req.md
Due: none

Fix interpretation of lifecycle - using ranges after current stack version mighyt cause confusion
  docs/testing/req.md
Due: none

Add testing
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
  src/services/Elastic.Documentation.Services/Changelog/IGitHubPrService.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
  tests/Elastic.Documentation.Services.Tests/Elastic.Documentation.Services.Tests.csproj
  tests/Elastic.Documentation.Services.Tests/TestHelpers.cs
Due: dotnet-format

Potential fix for pull request finding 'Call to System.IO.Path.Combine'
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Fix test errors and warnings
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Enable edot-cf-gcp in updatecli
  .github/updatecli/updatecli.d/versions.yml
Due: none

Add repo to action
  .github/workflows/updatecli.yml
Due: none

Add vale linting and reporting to preview-build.yml
  .github/workflows/preview-build.yml
Due: none

Add terraform-google-edot-cf.current
  .github/updatecli/updatecli.d/versions.yml
  config/versions.yml
Due: none

Test vale
  .github/workflows/preview-build.yml
  docs/testing/index.md
Due: none

Adjust vale-rules/lint usage
  .github/workflows/preview-build.yml
Due: none

Revert
  docs/testing/index.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
