Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add :merge: property to the changelog directive
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
Due: dotnet-format

Add Markdown support to the CSV directive (#2532)
  docs/_snippets/sample-data-markdown.csv
  docs/syntax/csv-include.md
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeBlock.cs
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeView.cshtml
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/CsvIncludeTests.cs
Due: dotnet-format

Fix tests
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
Due: dotnet-format

Re-add changelog render warning messages (#2570)
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
Due: dotnet-format

Add a :config: property to the changelog directive.
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
Due: dotnet-format

Add :hide-links: property to the changelog directive.
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
Due: dotnet-format

Add support for :hide-features: for the changelog directive
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
Due: dotnet-format

Update docs
  docs/syntax/changelog.md
Due: none

Split changelog tests for readability
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideFeaturesTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogMergeTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogSubsectionsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogVersionSortingTests.cs
Due: dotnet-format

Update docs/syntax/applies.md
  docs/syntax/applies.md
Due: none

dotnet format
  src/Elastic.Markdown/HtmlWriter.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentInferrerServiceTests.cs
Due: dotnet-format

Add changelog config improvements: bundle profiles, issue extraction, highlight labels (#376, #377)
  config/changelog.example.yml
  src/Elastic.Documentation.Configuration/Changelog/PivotConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
Due: dotnet-format

Add changelog config improvements: bundle profiles, issue extraction, highlight labels (#376, #377)
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/PublishBlockerExtensions.cs
Due: dotnet-format

Optimize local development build times for dotnet run
  Directory.Packages.props
  src/Directory.Build.props
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/tooling/Directory.Build.props
Due: prettier

Update docs for issue extraction
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Update docs for --no-extract-release-notes
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
Due: none

Add docs for changelog bundle-amend
  docs/_docset.yml
  docs/cli/release/changelog-render.md
  docs/cli/release/index.md
Due: none

Augment changelog config description
  docs/contribute/changelog.md
Due: none

Force add changelog-bundle-amend.md
  docs/cli/release/changelog-bundle-amend.md
Due: none

Add hardcoded exceptions
  docs/syntax/links.md
  src/Elastic.Markdown/Myst/InlineParsers/AutoLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Directives/AdmonitionTests.cs
  tests/Elastic.Markdown.Tests/Inline/AutoLinkTests.cs
Due: dotnet-format

Optimize local development build times for dotnet run (#2578)
  Directory.Packages.props
  src/Directory.Build.props
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/tooling/Directory.Build.props
Due: prettier

Reduce published binary size from 223MB to 40MB
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
Due: prettier

Reduce published binary size from 223MB to 40MB (#2580)
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
Due: prettier

Always display HUD during `serve`
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/FileProviders/EmbeddedOrPhysicalFileProvider.cs
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: dotnet-format, prettier

Add autolinks rendering (#2541)
  docs/syntax/links.md
  src/Elastic.Markdown/Myst/InlineParsers/AutoLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.Markdown.Tests/Directives/AdmonitionTests.cs
  tests/Elastic.Markdown.Tests/Inline/AutoLinkTests.cs
Due: dotnet-format

Always display HUD during `serve` (#2582)
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/FileProviders/EmbeddedOrPhysicalFileProvider.cs
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: dotnet-format, prettier

Fix changelog render empty sections (#2569)
  docs/cli/release/changelog-add.md
  docs/cli/release/changelog-render.md
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
Due: dotnet-format

Adjust formatting and hinting for changelog tests
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideFeaturesTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogMergeTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogSubsectionsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogVersionSortingTests.cs
Due: dotnet-format

Introduce bundle loading to Elastic.Changelog
  src/services/Elastic.Changelog/BundleLoading/BundleLoader.cs
  src/services/Elastic.Changelog/BundleLoading/LoadedBundle.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
Due: dotnet-format

Move functionality over to a dedicated service
  src/Elastic.Documentation.Configuration/Changelog/PublishBlockerLoader.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Documentation.Configuration.Tests/PublishBlockerLoaderTests.cs
Due: dotnet-format

Use BundleLoader service
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
Due: dotnet-format

Remove Path.Combine warnings, add extension method to IDirectoryInfo
  src/Elastic.Documentation/Extensions/IFileInfoExtensions.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPathResolutionTests.cs
Due: dotnet-format

Remove Path.Combine calls
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
Due: dotnet-format

Further unify data model usage for changelogs. Remove Mapperly dependence.
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogEntry.cs
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Elastic.Changelog.csproj
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/ProductArgument.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/services/Elastic.Changelog/Serialization/BundleYaml.cs
  src/services/Elastic.Changelog/Serialization/ChangelogEntryYaml.cs
  src/services/Elastic.Changelog/Serialization/ChangelogMapper.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlSerialization.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlStaticContext.cs
Due: dotnet-format

Remove redundant tests
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/BundleLoaderTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/LoadPublishBlockerTests.cs
Due: dotnet-format

Fix AOT
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
