Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Work on facet selection UI
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FilterSidebar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultCard.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/SearchHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/fullPageSearch.store.ts
Due: prettier, typescript-check, eslint

decrease major implemented
  docs/syntax/substitutions.md
  docs/syntax/version-variables.md
  src/Elastic.Markdown/Myst/InlineParsers/Substitution/SubstitutionMutationHelper.cs
  src/Elastic.Markdown/Myst/InlineParsers/Substitution/SubstitutionParser.cs
  tests/Elastic.Markdown.Tests/Inline/SubstitutionTest.cs
  tests/authoring/Inline/SubstitutionMutations.fs
Due: dotnet-format

Work on AI Answer
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FilterSidebar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/MarkdownContent.tsx
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FullSearchGateway.cs
Due: dotnet-format, prettier, typescript-check, eslint

tweaks
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
Due: prettier, typescript-check, eslint

HTMX compatible navigational search
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

equal and plus disambiguation in applies.md
  docs/syntax/applies.md
Due: none

Remove smooth scroll
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Update docs/syntax/applies.md
  docs/syntax/applies.md
Due: none

equal and plus disambiguation in applies.md (#2464)
  docs/syntax/applies.md
Due: none

Fix changelog render with multiple input (#2461)
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/BundleInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

HTMX compatible navigational search (#2463)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Change input label to "Find in Docs"
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

Change input label to "Find in Docs" (#2466)
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

Disable HTMX history cache
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
Due: prettier

Disable hx-boost on `/api/` links
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Use a global handler to achieve the same
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Correctly handle changing current url
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Add --use-pr-number to changelog add command (#2422)
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Change runner to docs-internal-latest-16
  .github/workflows/assembler-preview.yml
Due: none

Change runner to docs-internal-latest-16 (#2469)
  .github/workflows/assembler-preview.yml
Due: none

Disable HTMX history cache (#2467)
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
Due: prettier

Disable hx-boost on `/api/` links (#2468)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Add tests
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add product label blockers to changelog creation
  config/changelog.yml.example
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Update CLI docs
  docs/_docset.yml
  docs/_redirects.yml
  docs/cli/changelog/changelog-add.md
  docs/cli/changelog/index.md
  docs/cli/index.md
Due: none

Attempt to fix htmx linking in find docs
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Htmx.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add docs and tests
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Fix link
  docs/cli/index.md
Due: none

Re-add cli files
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
Due: none

Remove cli release docs
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
Due: none

Improve docs
  docs/contribute/changelog.md
Due: none

Revert docs filename change
  docs/_docset.yml
  docs/_redirects.yml
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
Due: none

Potential fix for pull request finding 'Dereferenced variable may be null'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Update docsbuilder changelog add to handle PR fetch failures (#2407)
  docs-builder.slnx
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Change keyword,add multi-product support
  config/changelog.yml.example
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add file support to docs-builder changelog add --prs option (#2453)
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
