Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Remove using again
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/AskAiGatewayStreamingTests.cs
Due: dotnet-format

Detect deployment.environment in frontend
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Update comment
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Detect deployment.environment in frontend (#2266)
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Don't verify spans created by ASP.NET core instrumentation. Only test what we are creating manually
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Fix AskAi (#2265)
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/GcpIdTokenProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/IGcpIdTokenProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/AskAiGatewayStreamingTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Fix frontend spans
  src/Elastic.Documentation.Site/Assets/telemetry/tracing.ts
Due: prettier, typescript-check, eslint

Add docker layer caching for docker builds
  .github/workflows/build-api-lambda.yml
  .github/workflows/build-link-index-updater-lambda.yml
Due: none

SkipUnless connected to Elasticsearch
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
Due: dotnet-format

Fix frontend spans (#2269)
  src/Elastic.Documentation.Site/Assets/telemetry/tracing.ts
Due: prettier, typescript-check, eslint

Further optimization
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/infra/docs-lambda-index-publisher/lambda.DockerFile
Due: none

ok
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/infra/docs-lambda-index-publisher/lambda.DockerFile
Due: none

Update stack version to 9.2.2
  config/versions.yml
Due: none

Configure service.version for OTel signals
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
Due: dotnet-format

Fix comment
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
Due: dotnet-format

Search Relevance testing infrastructure (#2243)
  aspire/AppHost.cs
  aspire/README.md
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests-integration/Elastic.Assembler.IntegrationTests/AssembleFixture.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Elastic.Assembler.IntegrationTests.csproj
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchRelevanceTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchTestBase.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Clean up NAVIGATION_REFACTOR markdown from root
  NAVIGATION_REFACTOR_DEEP_DIVE.md
  NAVIGATION_REFACTOR_SLIDES.md
Due: none

Configure service.version for OTel signals (#2272)
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
Due: dotnet-format

Clean up NAVIGATION_REFACTOR markdown from root (#2273)
  NAVIGATION_REFACTOR_DEEP_DIVE.md
  NAVIGATION_REFACTOR_SLIDES.md
Due: none

Add footnotes
  docs/syntax/footnotes.md
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
Due: dotnet-format, prettier

Add footnotes to nav
  docs/_docset.yml
Due: none

Remove build pre-release tags and build metadata from service.version
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
Due: dotnet-format

Fix footnotes rendering
  docs/syntax/footnotes.md
  src/Elastic.Markdown/Myst/Directives/DirectiveMarkdownExtension.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
Due: dotnet-format

Update src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
Due: dotnet-format

Edits
  docs/syntax/footnotes.md
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
Due: dotnet-format

Remove debug HttpContext parameters
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
Due: dotnet-format

Remove decoration
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
Due: prettier

Fix CSS
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
Due: prettier

Format CSS
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
Due: prettier

Add overload to EmitError to simplify adding an error message without accompanying Exception
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/Elastic.Documentation/Diagnostics/IDiagnosticsCollector.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
Due: dotnet-format

Formatting
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
Due: dotnet-format

Redirect fixes (#2267)
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/Elastic.Documentation/Diagnostics/IDiagnosticsCollector.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
Due: dotnet-format

Remove build pre-release tags and build metadata from service.version (#2274)
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
Due: dotnet-format

Fix frontend OTel resource attributes
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Exclude hidden documents from search
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Add mapping
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Exclude hidden documents from search (#2277)
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Improve CSS
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
Due: prettier

Visual tweaks
  docs/syntax/footnotes.md
  src/Elastic.Documentation.Site/Assets/markdown/footnotes.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
Due: dotnet-format, prettier

Fix tests
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
Due: dotnet-format
