Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Check against hardcoded id
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
Due: dotnet-format

Create consistent data sync IDs for applicability switch (#2223)
  src/Elastic.Markdown/Myst/Directives/AppliesSwitch/AppliesSwitchBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
Due: dotnet-format

Adjust analyzers and query retriever priorities to improve search results between synonyms
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Add document headings to the queryable content
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Add custom tokenizer and simplify analyzers
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
Due: dotnet-format

Fix AssemblyConfigurationMatchTests for versioned branch logic
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
  src/Elastic.Markdown/IO/IPositionalNavigation.cs
  tests/Elastic.Documentation.Configuration.Tests/AssemblyConfigurationMatchTests.cs
Due: dotnet-format

Fix AssemblyConfigurationMatchTests for versioned branch logic (#2228)
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
  src/Elastic.Markdown/IO/IPositionalNavigation.cs
  tests/Elastic.Documentation.Configuration.Tests/AssemblyConfigurationMatchTests.cs
Due: dotnet-format

Update README.md
  README.md
Due: none

Add .NET line and link to CLI docs
  README.md
Due: none

Update README.md (#2230)
  README.md
Due: none

Ensure SiteNavigation implements INavigationTraverable
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/IO/IPositionalNavigation.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepViewModel.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests/Elastic.Markdown.Tests/DocSet/BreadCrumbTests.cs
  tests/Elastic.Markdown.Tests/DocSet/NestedTocTests.cs
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
  tests/authoring/Framework/Setup.fs
Due: dotnet-format

Elasticsearch exporter: Tweak synonyms (#2229)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Ensure we get the current navigation in renderlayout from INavigationTraversable not DocumentationSet.
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/TestLogger.cs
Due: dotnet-format

remove NavigationIndexedByCrossLink
  src/Elastic.Markdown/IO/DocumentationSet.cs
  tests/Elastic.Markdown.Tests/DocSet/BreadCrumbTests.cs
Due: dotnet-format

SiteNavigation and DocumentationSet share assignments for INavigationTraversable
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
Due: dotnet-format

Fix tests, SiteNavigation was assuming the narrative docs were there
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
Due: dotnet-format

fix integration tests
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/SiteNavigationTests.cs
Due: dotnet-format

fix tests for windows
  tests/Elastic.Markdown.Tests/DocSet/BreadCrumbTests.cs
Due: dotnet-format

docs: Document navigation patterns and suppress diagnostics
  docs/building-blocks/documentation-set-navigation.md
  docs/configure/content-set/navigation.md
Due: none

Refactor INavigationTraversable methods to use `GetNavigationFor` instead of `GetNavigationItem` or `GetCurrent`.
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  tests/Elastic.Markdown.Tests/DocSet/BreadCrumbTests.cs
  tests/Elastic.Markdown.Tests/DocSet/NestedTocTests.cs
Due: dotnet-format

Fix Previous/Next and related navigation glitches after refactor (#2231)
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/IO/IPositionalNavigation.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepViewModel.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/SiteNavigationTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/TestLogger.cs
  tests/Elastic.Markdown.Tests/DocSet/BreadCrumbTests.cs
  tests/Elastic.Markdown.Tests/DocSet/NestedTocTests.cs
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
  tests/authoring/Framework/Setup.fs
Due: dotnet-format

docs: Document navigation patterns and suppress diagnostics (#2232)
  docs/building-blocks/documentation-set-navigation.md
  docs/configure/content-set/navigation.md
Due: none

Remove extra comma
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
Due: dotnet-format

Remove extra comma (#2233)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
Due: dotnet-format

Implement new search UI design and add keyboard navigation
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/AskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiModal.tsx
Due: prettier, typescript-check, eslint

Update src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Index OpenAPI endpoints
  Directory.Packages.props
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Markdown/Elastic.Markdown.csproj
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format

Enhance OpenAPI exporter with version filtering and update usage in Markdown exporters.
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format

Implement new search UI design and add keyboard navigation (#2235)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/AskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiModal.tsx
Due: prettier, typescript-check, eslint

Ensure api docs are LLM ready and we have stripped markdown version
  aspire/AppHost.cs
  aspire/ResourceNames.cs
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Configuration/IDocumentationConfigurationContext.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/Elastic.Markdown/Helpers/DocumentationObjectPoolProvider.cs
  src/Elastic.Markdown/Myst/Directives/Version/VersionBlock.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmMarkdownRenderer.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
Due: dotnet-format

clean up html in some descriptions
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format

Abstract from stripped body
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Tweak API titles
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
Due: dotnet-format

Ensure type is available on the frontend
  Directory.Packages.props
  aspire/AppHost.cs
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Tweak tests
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  tests/Directory.Build.props
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format

fix codeql suggestion
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format

Add euid cookie value to logs and traces
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/EuidSpanProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Middleware/EuidLoggingMiddleware.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Elastic.Documentation.Api.IntegrationTests.csproj
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Elastic.Documentation.Api.Infrastructure.Tests.csproj
Due: dotnet-format

Handle CodeQL suggestions
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
