Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix test and ranges between versions
  docs/testing/req.md
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Typo
  docs/testing/req.md
Due: none

Remove unused value
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Allow special rule for ranges
  docs/testing/req.md
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Allow version bump overlaps
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
Due: dotnet-format

Adjust availability list item display
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Adjust tests
  docs/testing/req.md
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Add button directive
  docs/_docset.yml
  docs/syntax/buttons.md
  src/Elastic.Documentation.Site/Assets/markdown/button.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
  src/Elastic.Markdown/Myst/Directives/Button/ButtonGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Button/ButtonView.cshtml
  src/Elastic.Markdown/Myst/Directives/Button/ButtonViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ButtonTests.cs
Due: dotnet-format, prettier

Prettify CSS
  src/Elastic.Documentation.Site/Assets/markdown/button.css
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Potential fix for pull request finding 'Missed ternary opportunity'
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
Due: dotnet-format

Fix crosslinks
  docs/syntax/buttons.md
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
  src/Elastic.Markdown/Myst/Directives/Button/ButtonView.cshtml
  src/Elastic.Markdown/Myst/Directives/Button/ButtonViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
Due: dotnet-format

Refactor
  docs/syntax/buttons.md
  src/Elastic.Documentation.Site/Assets/markdown/button.css
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
  src/Elastic.Markdown/Myst/Directives/Button/ButtonView.cshtml
  src/Elastic.Markdown/Myst/Directives/Button/ButtonViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ButtonTests.cs
Due: dotnet-format, prettier

Add content validation
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ButtonTests.cs
Due: dotnet-format

Restore styling
  src/Elastic.Documentation.Site/Assets/markdown/button.css
Due: prettier

Enable edot-cf-gcp in updatecli (#2342)
  .github/updatecli/updatecli.d/versions.yml
  .github/workflows/updatecli.yml
  config/products.yml
  config/versions.yml
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
Due: dotnet-format

Stricter filename validations
  src/Elastic.Markdown/DocumentationGenerator.cs
  tests/Elastic.Markdown.Tests/OutputDirectoryTests.cs
Due: dotnet-format

Remove duplicate information
  src/Elastic.Documentation/AppliesTo/ApplicabilitySelector.cs
Due: dotnet-format

Fix badge display ordering
  docs/testing/req.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Temporary downgrade the severity of new warnings
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
Due: dotnet-format

Remove a few instantiations in favor of static definitions
  src/Elastic.Documentation.Configuration/Versions/VersionInference.cs
  src/Elastic.Documentation/AppliesTo/ApplicabilitySelector.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Documentation/SemVersion.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Remove code duplications
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
  src/Elastic.Documentation/VersionSpec.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Fix tests
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Fix range rendering when the difference is at the patch level
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Show range-level versions on applicability items
  docs/testing/req.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Update src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
Due: prettier, typescript-check, eslint

Update src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
Due: dotnet-format

Fix tests
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

lint fix
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
Due: prettier, typescript-check, eslint

Remove the behaviour where AskAI is triggered if there are no results (#2351)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Register LinksIndexCrossLinkFetcher in DI container and inject properly
  src/Elastic.Documentation.Mcp/LinkTools.cs
  src/Elastic.Documentation.Mcp/Program.cs
Due: dotnet-format

Register LinksIndexCrossLinkFetcher in DI container and inject properly (#2376)
  src/Elastic.Documentation.Mcp/LinkTools.cs
  src/Elastic.Documentation.Mcp/Program.cs
Due: dotnet-format

Use Json SerializerContext to make it AOT compatible
  src/Elastic.Documentation.Mcp/LinkTools.cs
Due: dotnet-format

Add missing file
  src/Elastic.Documentation.Mcp/Responses.cs
Due: dotnet-format

Improve exception handling
  src/Elastic.Documentation.Mcp/LinkTools.cs
Due: dotnet-format

add another prior art exception
  src/Elastic.Markdown/DocumentationGenerator.cs
Due: dotnet-format

Use JsonSerializerContext to make it AOT compatible (#2377)
  src/Elastic.Documentation.Mcp/LinkTools.cs
  src/Elastic.Documentation.Mcp/Responses.cs
Due: dotnet-format

Refactor
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/LinkTools.cs
  src/Elastic.Documentation.Mcp/Program.cs
  src/services/Elastic.Documentation.Assembler/Links/ILinkUtilService.cs
  src/services/Elastic.Documentation.Assembler/Links/LinkUtilResults.cs
  src/services/Elastic.Documentation.Assembler/Links/LinkUtilService.cs
Due: dotnet-format

Revert showing patch-level versions in applicability headers
  docs/testing/req.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Enhanced chat scroll behaviour
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.tsx
Due: prettier, typescript-check, eslint

Refactor
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
Due: prettier, typescript-check, eslint
