Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Normalize API page metadata titles
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/Navigation/MarkdownNavigationTitleReader.cs
  src/Elastic.Documentation/IMarkdownStringRenderer.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Replace FetchReleasesAsync+SkipWhile with semver-aware FetchPreviousTagAsync
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Extend FetchPreviousTagAsync to support non-semver prefixed tags
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Respect stable/prerelease boundary in FetchPreviousTagAsync
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Make FetchPreviousTagAsync resilient to out-of-order creation dates; add tags API fallback
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Replace FetchPreviousTagAsync with semver-order-resilient, multi-prefix implementation
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Guard /pr skill against editing merged or closed PRs
  .claude/skills/pr/SKILL.md
Due: none

Regenerate cli-schema.json after FetchPreviousTagAsync refactor
  docs/cli-schema.json
Due: none

Add the official Vector Database mark to hub product icons.
  docs/syntax/link-card.md
  src/Elastic.Documentation.Site/Icons/ProductIcons.cs
  tests/Elastic.ApiExplorer.Tests/ProductIconsTests.cs
Due: dotnet-format, prettier

Add early-bail optimisation to FetchPreviousTagAsync
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Guard /pr skill against editing merged or closed PRs (#4096)
  .claude/skills/pr/SKILL.md
Due: none

Address PR review feedback on FetchPreviousTagAsync
  docs/cli-schema.json
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Add the official Vector Database mark to hub product icons. (#4095)
  docs/syntax/link-card.md
  src/Elastic.Documentation.Site/Icons/ProductIcons.cs
  tests/Elastic.ApiExplorer.Tests/ProductIconsTests.cs
Due: dotnet-format, prettier

Remove unsound X.Y.0 early-bail from CanBailAfterPage
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Update versions.yml for 9.5.4 release (#4093)
  config/versions.yml
Due: none

Retry transient HTTP failures; return null on mid-pagination error
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Fix SemVer build-metadata in precedence; correct retry budget to 1+3
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Use Ordinal (case-sensitive) comparison for pre-release identifiers
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Anchor SemVer regex to reject tags with a fourth version component
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Use int.TryParse for semver component parsing to avoid OverflowException
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Make FetchPreviousTagAsync semver-aware with tags-API fallback and early-bail (#4094)
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Bump stale bot to 180 days, autoclose to 21
  .github/workflows/stale.yml
Due: none

Return success when all PRs in a release are excluded by label rules
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
Due: dotnet-format

Return success when all PRs in a release are excluded by label rules (#4098)
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
Due: dotnet-format

Predict exact bundle path in gh-release plan mode
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Allow default_cta on file and folder navigation entries
  docs/documentation/isolated/configure/index.md
  docs/documentation/isolated/cta.md
  docs/documentation/isolated/navigation.md
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileCtaTests.cs
Due: dotnet-format

docs: add settings YAML description, default, and lifecycle rules
  docs/syntax/applies.md
  docs/syntax/automated_settings.md
Due: none

Emit bundle_path output from changelog gh-release and bundle commands
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
Due: dotnet-format

Emit bundle_path output from changelog gh-release and bundle commands (#4102)
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
Due: dotnet-format

Switch from --no-overwrite to --overwrite
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

Fix overwrite defaulting to false
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

[Release notes] Make BundleLoader use BundleAmendMerger parent paths
  docs/cli/changelog/cmd-bundle-amend.md
  docs/data/release-notes/bundle.md
  docs/development/changelog-bundle-registry.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/BundleLoaderFromContentTests.cs
Due: dotnet-format

docs: add settings YAML description, default, and lifecycle rules (#4101)
  docs/syntax/applies.md
  docs/syntax/automated_settings.md
Due: none

Obsolete link_allow_repos; stop pre-scrubbing bundles at create time
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
Due: dotnet-format

Replace registry.json pool fetch with per-PR CDN probe in gh-release mode
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
Due: dotnet-format

Extract GitHub Pages deploy into standalone docs.yml workflow
  .github/workflows/docs.yml
  .github/workflows/prerelease.yml
Due: none

refactor(dev): move Docker setup to build/dev/ and replace Makefile with dev.sh
  CONTRIBUTING.md
  Makefile
  build/CommandLine.fs
  build/Targets.fs
  build/dev/Dockerfile
  build/dev/docker-bake.hcl
  build/dev/docker-compose.yml
  build/dev/serve-entrypoint.sh
  dev.sh
Due: dotnet-format

Emit a hard error when a bare scalar appears as a toc entry
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
Due: dotnet-format

Replace pool registry fetch with per-PR CDN probe in gh-release mode (#4106)
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
