Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Codex landing: add MCP server URL promo link
  src/Elastic.Codex/Landing/LandingView.cshtml
Due: none

Potential fix for pull request finding 'Constant condition'
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Codex landing: add MCP server URL promo link (#2836)
  src/Elastic.Codex/Landing/LandingView.cshtml
Due: none

Improve changelog add filename flexibility
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add tests
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
Due: dotnet-format

Fix changelog bundle owner
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/BundledProduct.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  src/Elastic.Documentation/ReleaseNotes/LoadedBundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/services/Elastic.Changelog/Rendering/ResolvedEntriesResult.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
Due: dotnet-format

Fix and enhance changelog add command filename options (#2837)
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
Due: dotnet-format

Improve CLI docs
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-remove.md
Due: none

Improve changelog creation docs
  docs/contribute/changelog.md
Due: none

Update Elastic.Ingest/Mapping to 0.32.0 with completion timeout and retry config
  Directory.Packages.props
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Add ExportResponseCallback and ExportMaxRetriesCallback to channel options
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Improve bulk response logging with running indexed count per channel
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Include parent titles in document hash to fix stale breadcrumbs (#2835)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
Due: dotnet-format

Bump beautiful-mermaid to 1.1.3 and update complex diagram example
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Bump Mermaid to 11.12.3, set neutral theme, update complex diagram example
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Replace Beautiful Mermaid with Mermaider for server-side diagram rendering
  Directory.Packages.props
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Markdown/Elastic.Markdown.csproj
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/MermaidTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Normalize Elasticsearch index name resolution across repository
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Documentation.ServiceDefaults/ElasticsearchEndpointFactory.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
Due: dotnet-format

Use blobless partial clone for Vale job to speed up Kibana checkouts
  .github/workflows/preview-build.yml
Due: none

Skip fetching tags in Vale job checkout
  .github/workflows/preview-build.yml
Due: none

Update Elastic.Ingest/Mapping to 0.33.0 with IndexVariant targeting
  Directory.Packages.props
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Use blobless partial clone for Vale job to speed up large repo checkouts (#2839)
  .github/workflows/preview-build.yml
Due: none

Add support for yyyy-MM formatted display
  src/Elastic.Documentation/VersionOrDate.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogMergeTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogVersionSortingTests.cs
Due: dotnet-format

Add specific tests
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/VersionOrDateTests.cs
Due: dotnet-format

Move query languages section under Elasticsearch reference in navigation (#2798)
  config/navigation.yml
Due: none

[DOCS] Add changelog gh-release info
  docs/_docset.yml
  docs/cli/release/changelog-gh-release.md
  docs/cli/release/index.md
  docs/contribute/changelog.md
Due: none

Add github release profile support
  config/changelog.example.yml
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
Due: dotnet-format

Update Elastic.Ingest/Mapping to 0.34.3 with rollover fixes and mapping workarounds
  Directory.Packages.props
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Fix environment resolution in index naming and improve integration test diagnostics
  src/Elastic.Documentation.ServiceDefaults/ElasticsearchEndpointFactory.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  tests-integration/Mcp.Remote.IntegrationTests/CoherenceToolsIntegrationTests.cs
  tests-integration/Mcp.Remote.IntegrationTests/DocumentToolsIntegrationTests.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Mcp.Remote.IntegrationTests/SearchToolsIntegrationTests.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Use CreateSearchConfiguration in search integration tests
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Add CloudFront KVS redirects support for codex pipeline
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/services/Elastic.Documentation.Assembler/Deploying/DeployUpdateRedirectsService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Potential fix for pull request finding 'Call to 'System.IO.Path.Combine' may silently drop its earlier arguments'
  src/Elastic.Codex/Building/CodexBuildService.cs
Due: dotnet-format

Codex: add CloudFront KVS redirects deployment (#2846)
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/services/Elastic.Documentation.Assembler/Deploying/DeployUpdateRedirectsService.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Improve config file profile examples
  config/changelog.example.yml
Due: none

Add list-sub-pages directive to list child pages of a section
  docs/_docset.yml
  docs/syntax/directives.md
  docs/syntax/list-sub-pages.md
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/SubPages/ListSubPagesBlock.cs
  src/Elastic.Markdown/Myst/Directives/SubPages/ListSubPagesView.cshtml
  src/Elastic.Markdown/Myst/Directives/SubPages/ListSubPagesViewModel.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/ListSubPagesTests.cs
  tests/Elastic.Markdown.Tests/FileInclusion/IncludeTests.cs
Due: dotnet-format

Document source: github_release profile support in changelog remove docs
  docs/cli/release/changelog-remove.md
  docs/contribute/changelog.md
Due: none

Fix codex redirect paths to use /r/{repo}/{path} format in KVS
  src/Elastic.Codex/Building/CodexBuildService.cs
  tests/Elastic.Markdown.Tests/CrossLinks/UriEnvironmentResolverTests.cs
Due: dotnet-format

Lint
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
Due: dotnet-format

Fix codex redirect paths to use /r/{repo}/{path} format in KVS (#2849)
  src/Elastic.Codex/Building/CodexBuildService.cs
  tests/Elastic.Markdown.Tests/CrossLinks/UriEnvironmentResolverTests.cs
Due: dotnet-format

Rename DataSource to BuildType, update Ingest/Mapping to 0.34.5, include environment in resource names
  Directory.Packages.props
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Documentation.ServiceDefaults/ElasticsearchEndpointFactory.cs
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Bump Mermaider from 0.5.0 to 0.6.0
  Directory.Packages.props
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
