Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Interim clarity
  config/changelog.example.yml
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
Due: dotnet-format

Implement three modes of rule resolution
  config/changelog.example.yml
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-gh-release.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BlockConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleRulesExtensionsTests.cs
Due: dotnet-format

Add conjunction matching
  config/changelog.example.yml
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BlockConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlocker.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlockerExtensions.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/PublishBlockerExtensionsTests.cs
Due: dotnet-format

feat: add cross-repo snippet index with lazy loading
  docs/syntax/file_inclusion.md
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.LinkIndex/ILinkIndexReader.cs
  src/Elastic.Documentation.LinkIndex/LinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkResolver.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/Elastic.Documentation.Links/InboundLinks/LinkIndexCrossLinkFetcher.cs
  src/Elastic.Documentation/Links/RepositoryLinks.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Include/IncludeBlock.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepViewModel.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/services/Elastic.Documentation.Assembler/Links/AssemblerCrossLinkFetcher.cs
  tests/Elastic.Markdown.Tests/DocSet/RepositoryLinksTests.cs
  tests/Elastic.Markdown.Tests/FileInclusion/IncludeTests.cs
  tests/Elastic.Markdown.Tests/TestCodexCrossLinkResolver.cs
  tests/Elastic.Markdown.Tests/TestCrossLinkResolver.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
Due: dotnet-format

fix: implement snippet resolver in F# test double
  tests/authoring/Framework/TestCrossLinkResolver.fs
Due: dotnet-format

EsSitemapReader: Fix AOT serialization of ES search body
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
  tests/Elastic.Documentation.Build.Tests/SitemapTests.cs
Due: dotnet-format

Fix CA2241 warning in ApplicabilitySwitchTests
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
Due: dotnet-format

Fix misleading test name: first page has PIT, just no search_after
  tests/Elastic.Documentation.Build.Tests/SitemapTests.cs
Due: dotnet-format

Fix remaining AOT trim analysis errors in EsSitemapReader
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

EsSitemapReader: Fix AOT serialization of ES search body (#2969)
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
  tests/Elastic.Documentation.Build.Tests/SitemapTests.cs
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
Due: dotnet-format

Enable AOT/trim analyzers on library projects and skip AOT publish on PRs
  .github/workflows/ci.yml
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.LegacyDocs/Elastic.Documentation.LegacyDocs.csproj
  src/Elastic.Documentation.LinkIndex/Elastic.Documentation.LinkIndex.csproj
  src/Elastic.Documentation.Links/Elastic.Documentation.Links.csproj
  src/Elastic.Documentation.Navigation/Elastic.Documentation.Navigation.csproj
  src/Elastic.Documentation.ServiceDefaults/Elastic.Documentation.ServiceDefaults.csproj
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/authoring/Elastic.Documentation.Refactor/Elastic.Documentation.Refactor.csproj
  src/services/Elastic.Changelog/Elastic.Changelog.csproj
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Isolated/Elastic.Documentation.Isolated.csproj
  src/services/Elastic.Documentation.Services/Elastic.Documentation.Services.csproj
Due: none

make directive basics more prominent
  docs/_docset.yml
  docs/syntax/directives.md
  docs/syntax/index.md
Due: none

make directive basics more prominent (#2972)
  docs/_docset.yml
  docs/syntax/directives.md
  docs/syntax/index.md
Due: none

Fix usage of AwesomeAssertions
  tests/Elastic.Changelog.Tests/Changelogs/BundleRulesExtensionsTests.cs
Due: dotnet-format

Remove rule_context_product and --rule-context-product
  config/changelog.example.yml
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Pipe product labels from evaluate-pr and expect them as an argument in changelog add
  docs/cli/release/changelog-add.md
  docs/cli/release/changelog-evaluate-pr.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/ProductArgument.cs
  tests/Elastic.Changelog.Tests/Creation/CIEnrichmentTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Add more tests
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
  tests/Elastic.Changelog.Tests/ProductArgumentTests.cs
Due: dotnet-format

Update src/services/Elastic.Changelog/ProductArgument.cs
  src/services/Elastic.Changelog/ProductArgument.cs
Due: dotnet-format

Adjust test
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Output the product label table if needed
  docs/cli/release/changelog-evaluate-pr.md
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Changelog: ensure product labels are validated and used (#2974)
  docs/cli/release/changelog-add.md
  docs/cli/release/changelog-evaluate-pr.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/ProductArgument.cs
  tests/Elastic.Changelog.Tests/Creation/CIEnrichmentTests.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/ProductArgumentTests.cs
Due: dotnet-format

feat(nav-v2): promote Workflows to its own top-level label
  config/navigation-v2.yml
Due: none

feat(nav-v2): promote Workflows to its own top-level label (#2976)
  config/navigation-v2.yml
Due: none

Reject malformed product entries
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Use the current product-filter diagnostic tag
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
Due: dotnet-format

More test fixes
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Fix changelog title inference
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

feat(nav-v2): rename section to "Track and respond"
  config/navigation-v2.yml
Due: none

Remove dead code
  src/Elastic.Documentation/ReleaseNotes/PublishBlockerExtensions.cs
Due: dotnet-format

fix: update NaaS URL to qa-www for testing
  src/Elastic.Documentation.Site/Layout/_AssemblerHeader.cshtml
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier

Fix changelog title inference (#2977)
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Add air-gapped docs container build
  build/CommandLine.fs
  build/Targets.fs
  build/air-gapped/Dockerfile
  build/air-gapped/nginx.conf
Due: dotnet-format

Add agent-skills and docs-builder to products.yml
  config/products.yml
Due: none

Update build/Targets.fs
  build/Targets.fs
Due: dotnet-format

Improve changelog rule logic when config must apply to multiple products (#2961)
  config/changelog.example.yml
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-gh-release.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BlockConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlocker.cs
  src/Elastic.Documentation/ReleaseNotes/PublishBlockerExtensions.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleRulesExtensionsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/PublishBlockerExtensionsTests.cs
Due: dotnet-format

Fix inferred repo name
  config/products.yml
Due: none

Add versioning field
  config/products.yml
Due: none
