Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Revert ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Potential fix for pull request finding 'Missing Dispose call on local IDisposable'
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Add euid cookie value to logs and traces (#2237)
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/EuidSpanProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Middleware/EuidLoggingMiddleware.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Elastic.Documentation.Api.IntegrationTests.csproj
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Elastic.Documentation.Api.Infrastructure.Tests.csproj
Due: dotnet-format

Index OpenAPI endpoints for Elasticsearch and Kibana (#2236)
  Directory.Packages.props
  aspire/AppHost.cs
  aspire/ResourceNames.cs
  src/Elastic.ApiExplorer/Elastic.ApiExplorer.csproj
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Configuration/IDocumentationConfigurationContext.cs
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Elastic.Markdown.csproj
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/Elastic.Markdown/Helpers/DocumentationObjectPoolProvider.cs
  src/Elastic.Markdown/Myst/Directives/Version/VersionBlock.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmMarkdownRenderer.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  tests/Directory.Build.props
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add Api.IntegrationTests to slnx
  docs-builder.slnx
Due: none

Fix formatting
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Fix naming
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Fix euid enrichment in logs and refactor folder structure
  src/api/Elastic.Documentation.Api.Infrastructure/Middleware/EuidLoggingMiddleware.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/EuidLogProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/EuidSpanProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Fix euid enrichment in logs and refactor folder structure (#2240)
  src/api/Elastic.Documentation.Api.Infrastructure/Middleware/EuidLoggingMiddleware.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/EuidLogProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/EuidSpanProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Add Api.IntegrationTests to slnx (#2239)
  docs-builder.slnx
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

Fix navigation dropdown
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
Due: dotnet-format

Fix navigation dropdown (#2241)
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
Due: dotnet-format

Handle index page scenarios
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Adjust tests to check extra situations
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
Due: dotnet-format

Add initial infrastructure for search integration tests
  aspire/AppHost.cs
  aspire/README.md
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests-integration/Elastic.Assembler.IntegrationTests/AssembleFixture.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Elastic.Assembler.IntegrationTests.csproj
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchTestBase.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
Due: dotnet-format

refresh release process (#2109)
  docs/configure/site/legacy-url-mappings.md
  docs/contribute/branching-strategy.md
  docs/contribute/release-new-version.md
Due: none

Fix image path resolution on index pages (#2242)
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
Due: dotnet-format

Add SearchRelevanceTests with detailed explain results for scoring
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchRelevanceTests.cs
Due: dotnet-format

SkipUnless connected to Elasticsearch
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchRelevanceTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchTestBase.cs
Due: dotnet-format

fix integration tests and starting the elasticsearch-ingest through fixture
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchTestBase.cs
Due: dotnet-format

Remove hash pound from search results
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Remove hash pound from search results (#2244)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Add OTLP proxy endpoint
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/Elastic.Documentation.Api.Core.csproj
  src/api/Elastic.Documentation.Api.Core/Telemetry/IOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyOptions.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyRequest.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/README.md
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Telemetry/AdotOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Elastic.Documentation.Api.IntegrationTests.csproj
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Examples/ServiceMockingExampleTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Fix OtlpProxyOptions
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyOptions.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/README.md
Due: dotnet-format

Refactor
  src/api/Elastic.Documentation.Api.Core/Elastic.Documentation.Api.Core.csproj
  src/api/Elastic.Documentation.Api.Core/Telemetry/IOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyRequest.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Telemetry/AdotOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Examples/ServiceMockingExampleTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Fix CodeQL
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Refactor and dispose disposable
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Examples/ServiceMockingExampleTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Set up frontend instrumentation and other OTel related refactorings
  Directory.Packages.props
  src/Elastic.Documentation.Site/Assets/custom-elements.ts
  src/Elastic.Documentation.Site/Assets/image-carousel.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/open-details-with-anchor.ts
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
  src/Elastic.Documentation.Site/Assets/telemetry/logging.ts
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/telemetry/tracing.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/StreamingAiMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useAskAi.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useFetchEventSource.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useMessageThrottling.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useStatusMinDisplay.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/FileProviders/Preloader.cs
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/eslint.config.mjs
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/IOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpForwardResult.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyOptions.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Telemetry/AdotOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Elastic.Documentation.Api.IntegrationTests.csproj
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Apply suggestion from @reakaleek
  src/Elastic.Documentation.Site/eslint.config.mjs
Due: prettier, eslint

Remove redundant custom attributes on FetchInstrumentation
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Use logs instead of traces for search_result_clicked events
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Update @elastic/synthetics
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Update @elastic/synthetics (#2260)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Add OTLP Proxy Endpoint for Frontend Telemetry (#2245)
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/Elastic.Documentation.Api.Core.csproj
  src/api/Elastic.Documentation.Api.Core/Telemetry/IOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyOptions.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyRequest.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyUsecase.cs
  src/api/Elastic.Documentation.Api.Core/TelemetryConstants.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Telemetry/AdotOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Elastic.Documentation.Api.IntegrationTests.csproj
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Fixtures/ApiWebApplicationFactory.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Set up frontend instrumentation and other OTel related refactorings (#2247)
  src/Elastic.Documentation.Site/Assets/custom-elements.ts
  src/Elastic.Documentation.Site/Assets/image-carousel.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/open-details-with-anchor.ts
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
  src/Elastic.Documentation.Site/Assets/telemetry/logging.ts
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/telemetry/tracing.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/StreamingAiMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useAskAi.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useFetchEventSource.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useMessageThrottling.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useStatusMinDisplay.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/FileProviders/Preloader.cs
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/eslint.config.mjs
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/IOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpForwardResult.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyOptions.cs
  src/api/Elastic.Documentation.Api.Core/Telemetry/OtlpProxyUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Telemetry/AdotOtlpGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Properly register an error upon being unable to resolve the URI
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
Due: dotnet-format

Fix AskAi
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
Due: dotnet-format

Dispose only request
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
Due: dotnet-format

Add tests
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/GcpIdTokenProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Gcp/IGcpIdTokenProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/AskAiGatewayStreamingTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
