Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix changelog render when title has spaces
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Fix changelog render when title has spaces (#2409)
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Include local exclusions paths for file validations
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Markdown/DocumentationGenerator.cs
Due: dotnet-format, prettier

Include local exclusions paths for file validations (#2410)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Markdown/DocumentationGenerator.cs
Due: dotnet-format, prettier

Update src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add test project to solution
  docs-builder.slnx
Due: none

Consolidate regex patterns
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Static class for changelog entry types
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add docs for changelog render
  docs/_docset.yml
  docs/cli/release/index.md
Due: none

Add changelog-render
  docs/cli/release/changelog-render.md
Due: none

Augment docs
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
Due: none

Fix docs typo
  docs/cli/release/changelog-render.md
Due: none

Combine docs-builder bundle prs and prs-file options
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Combine docs-builder bundle prs and prs-file options (#2411)
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add docs-builder changelog render --hide-features option
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

OpenAPI response and requests body support
  .gitignore
  Directory.Packages.props
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Schemas/SchemaNavigationItem.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaViewModel.cs
  src/Elastic.ApiExplorer/_ViewImports.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Ensure API explorer follows site layout
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Layout/_ApiToc.cshtml
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_ViewImports.cshtml
Due: dotnet-format

touchups
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
Due: prettier, typescript-check, eslint

touchups
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

touchups
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Move to partials over view functions
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/RenderContext.cs
  src/Elastic.ApiExplorer/Schema/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Schema/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Schema/TypeInfo.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_RecursiveBadge.cshtml
  src/Elastic.ApiExplorer/Shared/_SchemaType.cshtml
  src/Elastic.ApiExplorer/_ViewImports.cshtml
Due: dotnet-format

support finding collapsed properties in browser
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Add support for deprecated, beta, and version badges in API docs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Add validation constraints rendering for API documentation
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/ValidationConstraintsRenderer.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Increase `MaxDepth` in `SchemaHelpers` from 4 to 100 for enhanced recursive property rendering support.
  src/Elastic.ApiExplorer/Schema/SchemaHelpers.cs
Due: dotnet-format

Add rendering for response headers in API documentation
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Add support for server and security requirement rendering in API docs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Add newline at the end of `RenderContext.cs` to comply with editorconfig rules
  src/Elastic.ApiExplorer/Schema/RenderContext.cs
Due: dotnet-format

Update docsbuilder changelog add to handle PR fetch failures (#2407)
  docs-builder.slnx
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

refactor a tad more
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Schema/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_SchemaType.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
