Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Use ReadOnlyMemoryStream for byte-wrapping MemoryStream in tests
  tests/Elastic.ApiExplorer.Tests/ApiNavParityTests.cs
  tests/Elastic.ApiExplorer.Tests/InfinityEnumSpecTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
  tests/Elastic.Changelog.Tests/AllowlistIdentity/ScrubberAllowlistIdentityTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/FakeS3.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/AskAi/StreamTransformerTests.cs
  tests/Elastic.Documentation.Api.Tests/AskAiGatewayStreamingTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexPublisherTests.cs
Due: dotnet-format

Use bundle.output_directory as default output path in gh-release mode
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
Due: dotnet-format

Add log essentials and edit related link titles in related-learning.yml (#4135)
  config/related-learning.yml
  docs/documentation/catalog/related-learning.md
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
  tests/Elastic.Markdown.Tests/Directives/RelatedLearningTests.cs
Due: dotnet-format

Allow strict builds before the first release (#4162)
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesFetcher.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesFetcherTests.cs
Due: dotnet-format

Support notes-product-version.json indices
  docs/cli/changelog/cmd-backfill.md
  docs/cli/changelog/cmd-note.md
  docs/development/changelog-bundle-registry.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogKeys.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/NotesIndex.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Reconciliation/NotesIndexReconciler.cs
  tests/Elastic.Changelog.Tests/Reconciliation/NotesIndexReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Scrubbing/ScrubberProcessorTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogKeysTests.cs
Due: dotnet-format

Fall back to initial commit when no previous release exists
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Drop release-notes-changelog-file workflow and config: override
  .github/workflows/release-notes-changelog-file.yml
  .github/workflows/release-notes.yml
Due: none

Show every release note type
  docs/release-notes.md
Due: none

Drop redundant release-notes-changelog-file workflow and config override (#4169)
  .github/workflows/release-notes-changelog-file.yml
  .github/workflows/release-notes.yml
Due: none

Add a release notes page for docs-builder (#4141)
  docs/_docset.yml
  docs/data/release-notes/publish.md
  docs/hub-whats-new.yml
  docs/release-notes.md
Due: none

Remove bot-generated changelog entry
  docs/changelog/4168.yaml
Due: none

Remove bot-generated changelog entry
  docs/changelog/4120.yaml
Due: none

perf: resolve OpenAPI \$ref once per schema instead of per property access
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
Due: dotnet-format

perf: build API page model once instead of twice per page
  src/Elastic.ApiExplorer/Infrastructure/IApiModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiTag.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Structural/ApiStructuralPage.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
Due: dotnet-format

perf: parallelize API product and version rendering
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
Due: dotnet-format

perf: index sidebar links once instead of scanning per page
  src/Elastic.Documentation.Site/Navigation/INavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationCurrentMarker.cs
Due: dotnet-format, prettier

fix: clean up config-runtime temp directories on dispose and startup
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
Due: dotnet-format

Distinguish first-release from lookup failure in FetchPreviousTagAsync
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Fix compile error in tests and use retry wrapper in FetchInitialCommitAsync
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Fix two missed .Tag assertions in pre-release test scenarios
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Add bundle.releases config block and deprecate source: github_release
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
Due: dotnet-format

Downgrade source: github_release to a deprecation warning
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
Due: dotnet-format

Pilot C# 15 union and closed on LinkResolution and four hierarchies
  AGENTS.md
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/Toc/TopNavigation.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkResolver.cs
  src/Elastic.Documentation.Links/CrossLinks/LinkResolution.cs
  src/Elastic.Documentation.Links/InboundLinks/LinkIndexLinkChecker.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Markdown/IO/DocumentationFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepViewModel.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/Roles/RoleParser.cs
  src/api/Elastic.Documentation.Api/AskAi/AskAiEvent.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  tests/Elastic.Markdown.Tests/CrossLinks/UriEnvironmentResolverTests.cs
  tests/Elastic.Markdown.Tests/TestCodexCrossLinkResolver.cs
  tests/Elastic.Markdown.Tests/TestCrossLinkResolver.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
  tests/authoring/Framework/TestCrossLinkResolver.fs
Due: dotnet-format

Bump curb-cli from 0.7.1 to 0.7.3
  dotnet-tools.json
Due: none

Walk first-parent chain to find true DAG root for first-release fallback
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Fix product resolution and releases profile validation
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Treat walk-to-root failure as indeterminate, not a silent fallback
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Add a stepper option that keeps step titles out of the page outline.
  docs/syntax/stepper.md
  src/Elastic.Documentation.Site/Assets/markdown/stepper.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepView.cshtml
  src/Elastic.Markdown/Myst/Directives/Stepper/StepViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Stepper/StepperBlock.cs
  tests/Elastic.Markdown.Tests/Directives/StepperTocOptionTests.cs
Due: dotnet-format, prettier

Format the stepper title classes for Prettier.
  src/Elastic.Documentation.Site/Assets/markdown/stepper.css
Due: prettier

Accept API hits in navigation-search result schemas
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
  src/services/search/Elastic.Documentation.Search/MockSearchService.cs
Due: dotnet-format, prettier, typescript-check, eslint

Let navigation-search filter queries with a type attribute
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.ts
Due: prettier, typescript-check, eslint

fix: set type filter before first query (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
Due: prettier, typescript-check, eslint

Show the stepper toc option on the syntax page.
  docs/syntax/stepper.md
Due: none

Pass the type filter into the navigation-search query
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Apply suggestion from @florent-leborgne
  docs/syntax/stepper.md
Due: none

fix: precompute Jump to API visibility (per review by @github-actions)
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
Due: dotnet-format

Mount Jump to API in the assembler API sidebar
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show API-shaped Jump to page rows and telemetry surface
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchTelemetry.ts
Due: prettier, typescript-check, eslint
