Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add {card-group}, {link-card}, and {explore}
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/syntax/card-group.md
  docs/syntax/explore.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/syntax/link-card.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubDirectiveViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubExplore.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubYamlBody.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests/authoring/Blocks/Hub/CardsAndExplore.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Apply review feedback to cards and the explore section
  docs/syntax/explore.md
  src/Elastic.Documentation.Site/Assets/markdown/button.css
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  tests/authoring/Blocks/Hub/CardsAndExplore.fs
Due: dotnet-format, prettier

Raise card and explore text to body size
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Drop the now unused anchor flag on a hero action
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
Due: dotnet-format

Drop the aside from a link card
  docs/examples/products/docs-builder.md
  docs/syntax/hub-pages.md
  docs/syntax/link-card.md
  src/Elastic.Documentation.Site/Assets/markdown/button.css
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests/authoring/Blocks/Hub/CardsAndExplore.fs
Due: dotnet-format, prettier

Make the linked card's hover state visible
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Restore the explore container width
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Apply review feedback to the get-started section
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Use the shared arrow in get-started
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedView.cshtml
Due: none

Raise get-started text to body size
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Add {get-started}
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/syntax/get-started.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests/authoring/Blocks/Hub/GetStarted.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Give a linked step the shared card hover
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Let a get-started section run to any number of steps
  docs/examples/products/docs-builder.md
  docs/syntax/get-started.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedViewModel.cs
  tests/authoring/Blocks/Hub/GetStarted.fs
Due: dotnet-format, prettier

Use the shared arrow in what's new
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewView.cshtml
Due: none

Add {whats-new}
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/hub-whats-new.yml
  docs/syntax/hub-pages.md
  docs/syntax/whats-new.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests/authoring/Blocks/Hub/WhatsNew.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Give a what's new card the shared card hover
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Apply review feedback to the what's new section
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Raise what's new text to body size, and stop shouting the date
  docs/hub-whats-new.yml
  docs/syntax/whats-new.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Merge main; adapt ProductFeaturesTests to ConfigurationFileProvider's IAppDataFileSystem signature
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Merge updated base; adapt BundleOutputConventionTests to new ChangelogBundlingService signature
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
Due: dotnet-format

Preserve outer AppData root when collapsing overlapping scoped-fs roots
  src/Elastic.Documentation.Tooling/FileSystems/CheckoutsFileSystem.cs
  src/Elastic.Documentation.Tooling/FileSystems/DocumentationFileSystem.cs
  src/Elastic.Documentation/Extensions/IFileInfoExtensions.cs
  src/Elastic.Documentation/FileSystems/AssemblyWriteFileSystem.cs
  src/Elastic.Documentation/FileSystems/DocumentationWriteFileSystem.cs
Due: dotnet-format

Route codex-wide writes through the codex output filesystem, not the docset's
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Codex/Indexing/CodexIndexService.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

feat: configurable top nav via section: grouping in navigation_preview.yml
  config/navigation_preview.yml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Configuration/Toc/TopNavigation.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
  src/Elastic.Documentation.Site/Assets/secondary-nav.test.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/LlmsNavigationEnhancer.cs
  src/services/Elastic.Documentation.Assembler/Navigation/SectionTopNavBuilder.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

refactor: external: <url> syntax for external nav sections, remove arrow icon
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/SectionTopNavBuilder.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
Due: dotnet-format, prettier

fix: simplify new Uri() expression to satisfy IDE0090 lint rule
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format

fix: replace sidebar dropdown step with top nav Reference tab in synthetics
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

feat: add APIs external tab to navigation_preview.yml
  config/navigation_preview.yml
Due: none

chore: reorder top nav sections to Guides, APIs, Reference, Troubleshoot, Release notes, Extend
  config/navigation_preview.yml
Due: none

Update BuildContext.cs
  src/Elastic.Documentation.Configuration/BuildContext.cs
Due: dotnet-format

Improve build-match diagnostics with structured facts and GitHub step summary
  .github/workflows/docs-preview-local.yml
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
  tests/Elastic.Documentation.Build.Tests/RepositoryBuildMatchingServiceTests.cs
Due: dotnet-format

Fix scoped-filesystem access-denied errors in codex builds (#3865)
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Codex/Indexing/CodexIndexService.cs
  src/Elastic.Documentation.Tooling/FileSystems/CheckoutsFileSystem.cs
  src/Elastic.Documentation.Tooling/FileSystems/DocumentationFileSystem.cs
  src/Elastic.Documentation/Extensions/IFileInfoExtensions.cs
  src/Elastic.Documentation/FileSystems/AssemblyWriteFileSystem.cs
  src/Elastic.Documentation/FileSystems/DocumentationWriteFileSystem.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Add navigation islands: guide-nav toc chunking with IsDiscrete, NestSectionsByLevel, HeadingLevelBase
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Tooling/FileSystems/GitResolveFileSystem.cs
  src/Elastic.Documentation.Tooling/Paths.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/Ast/SectionNode.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/MarkdownEmitter.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/PageChunker.cs
  src/authoring/Elastic.LegacyDocs.Migration/YamlWriter.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-migrate/ConvertCommand.cs
  src/tooling/docs-migrate/ServeCommand.cs
  src/tooling/docs-migrate/docs-migrate.csproj
  tests/Elastic.LegacyDocs.Migration.Tests/ChunkerTests.cs
  tests/Elastic.LegacyDocs.Migration.Tests/ParserTests.cs
Due: dotnet-format

Prototype nav-v2: label sections, accordion sidebar, feature flag
  config/assembler.yml
  config/navigation-v2.yml
  nav-v2-status.md
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
  src/Elastic.Documentation.Navigation/V2/LabelNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/PlaceholderNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Navigation/NavigationTreeItem.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix accordion: unique IDs per label section
  nav-v2-status.md
  src/Elastic.Documentation.Navigation/V2/LabelNavigationNode.cs
Due: dotnet-format

Labels always expanded with no toggle; only TOC folders toggle
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: prettier

Rewrite navigation-v2.yml with proposed IA (6 top-level labels, nested labels)
  config/navigation-v2.yml
  nav-v2-status.md
Due: none

Update nav-v2-status.md: verified behaviours, open items, build commands
  nav-v2-status.md
Due: none

Add PR link and commit workflow to nav-v2-status.md
  nav-v2-status.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
