Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix Copilot review findings in release-notes workflows
  .github/workflows/release-notes-backfill.yml
  .github/workflows/release.yml
Due: none

Add release notes page for docs-builder
  docs/_docset.yml
  docs/hub-whats-new.yml
  docs/release-notes.md
Due: none

Fix: declare docs-builder under release_notes in _docset.yml
  docs/_docset.yml
Due: none

Revert release notes render page (no CDN bundles yet)
  docs/_docset.yml
  docs/hub-whats-new.yml
  docs/release-notes.md
Due: none

prototype(table): add :filterable: option with search + auto-facets
  docs/syntax/tables.md
  src/Elastic.Documentation.Site/Assets/markdown/table.css
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Table/TableDirectiveBlock.cs
  src/Elastic.Markdown/Myst/Directives/Table/TableDirectiveViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Remove leftover TOC entry for release-notes.md
  docs/_docset.yml
Due: none

Render API operation path list with styled HTTP method badges
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Extract operation list heading into named constants
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
Due: dotnet-format

Document CDN mode, release_notes: requirement, and timing constraint
  docs/data/release-notes/publish.md
Due: none

Restore else-if branch for ExternalDocs without description
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
Due: none

Disable required-labels comment; release-notes-comments covers it
  .github/workflows/required-labels.yml
Due: none

Style description URL list to match api-page-intro endpoint badges
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Fix TransformOperationListToMarkdown to output list after description text
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
Due: dotnet-format

fix: render API operation path list with styled HTTP method badges (#4142)
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

feat: add Docker dev support for the MCP server via ./dev.sh (#4132)
  build/dev/docker-bake.hcl
  build/dev/docker-compose.yml
  dev.sh
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

feat: add Docker dev support for the docs API via ./dev.sh
  src/api/Elastic.Documentation.Api/Dockerfile
Due: none

feat: add Docker dev support for the docs API via ./dev.sh
  build/dev/docker-bake.hcl
  build/dev/docker-compose.yml
  dev.sh
  src/api/Elastic.Documentation.Api/Dockerfile
Due: none

feat: add Docker dev support for the MCP server via ./dev.sh
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

chore: remove ability to send params to bake
  dev.sh
Due: none

refactor: align MCP Dockerfile RID detection with Elastic.Documentation.Api
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

refactor: install Node 22 from AL2023 repo instead of copying from node image
  src/api/Elastic.Documentation.Mcp.Remote/Dockerfile
Due: none

feat: add Docker dev support for the docs API via ./dev.sh
  dev.sh
Due: none

Stop attaching euid to browser OpenTelemetry records
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.test.ts
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Register elastic-docs product for release-notes onboarding
  config/products.yml
Due: none

Index OpenAPI specs published from a master branch (#4131)
  src/Elastic.Documentation.OpenApiIndex/VersionIndexBuilder.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexBuilderTests.cs
Due: dotnet-format

changelog init: add --mode and --workflows flags for onboarding paths
  config/changelog.example-gh-release.yml
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format

Register elastic-docs product for release-notes onboarding (#4150)
  config/products.yml
Due: none

Regenerate CLI schema after changelog init --mode/--workflows additions
  docs/cli-schema.json
Due: none

Add manual page title overrides (#4079)
  docs/data/openapi/api-explorer.md
  docs/getting-started/writing-content.md
  docs/syntax/frontmatter.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/syntax/titles.md
  src/Elastic.ApiExplorer/Landing/MarkdownPageViewModel.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation/IMarkdownStringRenderer.cs
  src/Elastic.Markdown/Exporters/Pagefind/PagefindMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/Elastic.Markdown/Page/PageTitleResolver.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.Markdown.Tests/FrontMatter/YamlFrontMatterTests.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Accept API hits in navigation-search result schemas
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
  src/services/search/Elastic.Documentation.Search/MockSearchService.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show API-shaped Jump to page rows and telemetry surface
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchTelemetry.ts
Due: prettier, typescript-check, eslint

Mount Jump to API in the assembler API sidebar
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Remove unused Jump to page leftovers
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchDropdownHeader.tsx
Due: prettier, typescript-check, eslint

Let navigation-search filter queries with a type attribute
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.ts
Due: prettier, typescript-check, eslint

Polish Jump to API rows so product names live in the breadcrumb
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  tests/Elastic.ApiExplorer.Tests/OpenApiOperationIdSearchTitleTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Stop stripping product suffixes from Jump to API titles
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

fix: route API sidebar links through HTMX instead of full page reload
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.ts
Due: prettier, typescript-check, eslint

fix: update web component tests for HTMX-routed API paths
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.test.tsx
Due: prettier, typescript-check, eslint

Fix invalid characters
  config/related-learning.yml
  docs/documentation/catalog/related-learning.md
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
Due: dotnet-format
