Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

[API explorer] Add support for x-tagGroups (#3160)
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Fix incorrect setting names
  docs/contribute/configure-changelogs-ref.md
Due: none

Use domain-type inference for products, and add safety net to ResolveBundleDirectory
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
Due: dotnet-format

Project x-state into applies_to lifecycle format, delegate parsing to AppliesCollection
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
Due: dotnet-format

fix(nav-v2): register island root URL in island lookup
  src/Elastic.Documentation.Navigation/V2/NavigationSection.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
Due: dotnet-format

[API Explorer] Add intro and outro pages (#3144)
  docs/_docset.yml
  docs/configure/content-set/api-explorer.md
  docs/configure/content-set/navigation.md
  docs/kibana-api-overview.md
  src/Elastic.ApiExplorer/ApiRenderContext.cs
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/MarkdownPageView.cshtml
  src/Elastic.ApiExplorer/Landing/MarkdownPageViewModel.cs
  src/Elastic.ApiExplorer/Landing/TemplateLanding.cs
  src/Elastic.ApiExplorer/Landing/TemplateLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TemplateLandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Templates/TemplateProcessor.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation/IMarkdownStringRenderer.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.ApiExplorer.Tests/TemplateProcessorTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Use TryGetValue for safe JSON extraction, reorder lifecycle detection
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
Due: dotnet-format

fix(nav-v2): use toc root identity for island lookup instead of URL matching
  src/Elastic.Documentation.Navigation/V2/IslandNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/NavigationSection.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format

[DOCS] Changelog configuration reference (#3109)
  config/changelog.example.yml
  docs/_docset.yml
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/configure-changelogs.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
Due: dotnet-format

fix(nav-v2): scope top-level padding to label sections only
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

style: fix Prettier formatting in styles.css
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

fix(nav-v2): back arrow swaps full page including sidebar
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
Due: prettier

fix(preview): match IGNORE_PATTERNS on paths without filesystem glob
  .github/workflows/docs-preview-local.yml
Due: none

Add deprecated detection rules as sibling nav page
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/Elastic.Documentation.Configuration/Toc/DetectionRules/DetectionRuleOverviewRef.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRule.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRuleFile.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRulesDocsBuilderExtension.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
Due: dotnet-format

Highlight parent nav item when current page has no nav link
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add multi-language code sample tabs to API Explorer (#3127)
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
Due: dotnet-format

[API Explorer] Add support for x-req-auth
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/ApiRenderContext.cs
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OpenApiXReqAuthParser.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  tests/Elastic.ApiExplorer.Tests/Elastic.ApiExplorer.Tests.csproj
  tests/Elastic.ApiExplorer.Tests/TestData/elasticsearch-x-req-auth-cat-indices-sample.json
  tests/Elastic.ApiExplorer.Tests/TestData/kibana-openapi-no-x-req-auth-sample.json
  tests/Elastic.ApiExplorer.Tests/XReqAuthTests.cs
Due: dotnet-format

Simplify scrubbing
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
Due: dotnet-format

Don't go through sentinel checks
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
Due: dotnet-format

Edit api-explorer.md
  docs/configure/content-set/api-explorer.md
Due: none

Changelog: Bundle upload support and Private-Public Bundling SQS Lambda (#3163)
  .github/workflows/build-changelog-scrubber-lambda.yml
  .github/workflows/release.yml
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/infra/docs-lambda-changelog-scrubber/SerializerContext.cs
  src/infra/docs-lambda-changelog-scrubber/aws-lambda-tools-defaults.json
  src/infra/docs-lambda-changelog-scrubber/docs-lambda-changelog-scrubber.csproj
  src/infra/docs-lambda-changelog-scrubber/lambda.DockerFile
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
Due: dotnet-format

[API Explorer] Add support for x-req-auth (#3168)
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/ApiRenderContext.cs
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OpenApiXReqAuthParser.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  tests/Elastic.ApiExplorer.Tests/Elastic.ApiExplorer.Tests.csproj
  tests/Elastic.ApiExplorer.Tests/TestData/elasticsearch-x-req-auth-cat-indices-sample.json
  tests/Elastic.ApiExplorer.Tests/TestData/kibana-openapi-no-x-req-auth-sample.json
  tests/Elastic.ApiExplorer.Tests/XReqAuthTests.cs
Due: dotnet-format

[API Explorer] Add tag landing pages
  docs/configure/content-set/api-explorer.md
  docs/kibana-openapi.json
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Simplify docs
  docs/configure/content-set/api-explorer.md
Due: none

Fix links
  docs/configure/content-set/api-explorer.md
Due: none

[DOCS] Edit changelog creation how-to
  docs/cli/changelog/add.md
  docs/contribute/configure-changelogs.md
  docs/contribute/create-changelogs.md
Due: none

Remove some unnecessary examples
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/create-changelogs.md
Due: none

fix(nav-v2): open external section links in new tab with ↗ indicator
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
Due: prettier

feat(nav-v2): rename Docs to Guides, API reference to APIs
  config/navigation-v2.yml
Due: none

feat(nav-v2): reorder tabs by task flow
  config/navigation-v2.yml
Due: none

fix(nav-v2): shorten long nav label to 'Query languages and APIs'
  config/navigation-v2.yml
Due: none

fix: src/Elastic.Documentation.Site/package.json & src/Elastic.Documentation.Site/package-lock.json to reduce vulnerabilities
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

[API Explorer] Add tag landing pages (#3169)
  docs/configure/content-set/api-explorer.md
  docs/kibana-openapi.json
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Clean up release note extraction details
  docs/cli/changelog/add.md
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/create-changelogs.md
Due: none

[API Explorer] Enable code block copy
  src/Elastic.ApiExplorer/ApiCodeBlockModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_ApiCodeBlock.cshtml
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
Due: dotnet-format

fix(site): hide external link arrow when anchor wraps an image (#3165)
  docs/syntax/links.md
  src/Elastic.Documentation.Site/Assets/markdown/typography.css
Due: prettier

fix(cross-links): use codex path shape in fallback error URL
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkResolver.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  tests/Elastic.Markdown.Tests/CrossLinks/UriEnvironmentResolverTests.cs
Due: dotnet-format

Return null for unrecognized x-state strings with no version
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
Due: dotnet-format

Remove redundant cast to fix IDE0004 build error
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
Due: dotnet-format
