Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix policy
  .github/workflows/preview-build.yml
Due: none

Send path-prefix to assembler.
  .github/workflows/preview-build.yml
Due: none

Revert temporary assembler build for now
  .github/workflows/preview-build.yml
Due: none

Add product label blockers to changelog creation
  config/changelog.yml.example
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Update CLI docs
  docs/_docset.yml
  docs/_redirects.yml
  docs/cli/changelog/changelog-add.md
  docs/cli/changelog/index.md
  docs/cli/index.md
Due: none

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add docs and tests
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Fix link
  docs/cli/index.md
Due: none

Remove the behaviour where AskAI is triggered if there are no results
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Adjust test to new behaviour
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
Due: prettier, typescript-check, eslint

Add changelog render command
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Merge multiple bundle files
  src/services/Elastic.Documentation.Services/Changelog/BundleInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Edit command help
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add warning for unknown section title
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Warn when duplicate PRs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Improve docs
  docs/contribute/changelog.md
Due: none

Edit docs
  docs/contribute/changelog.md
Due: none

Re-add cli files
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
Due: none

Remove cli release docs
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
Due: none

Revert docs filename change
  docs/_docset.yml
  docs/_redirects.yml
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
  docs/contribute/changelog.md
Due: none

Fix admonition tests
  tests/Elastic.Markdown.Tests/Directives/AdmonitionTests.cs
Due: dotnet-format

Transfer applicablity popover data properly as JSON
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToComponent.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Avoid duplicate warnings
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
Due: dotnet-format

Add MCP server scaffolding
  Directory.Packages.props
  docs-builder.slnx
  docs/_docset.yml
  docs/mcp/index.md
  src/Elastic.Documentation.Mcp/EchoTool.cs
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/Program.cs
Due: dotnet-format

Add MCP server scaffolding (#2368)
  Directory.Packages.props
  docs-builder.slnx
  docs/_docset.yml
  docs/mcp/index.md
  src/Elastic.Documentation.Mcp/EchoTool.cs
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/Program.cs
Due: dotnet-format

Adjust existing tests
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Fix lint
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
Due: prettier, typescript-check, eslint

Introduce more test scenarios
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Adjust cursor behavior on desktop
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
Due: prettier, typescript-check, eslint

Add link tools to MCP server
  docs/mcp/index.md
  src/Elastic.Documentation.Mcp/EchoTool.cs
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/LinkTools.cs
Due: dotnet-format

Only use 'since' when a version is set
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
Due: dotnet-format

Fix presentation of applicability details
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format, prettier, typescript-check, eslint

Readjust applicability ordering
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Adjust version display when no lifecycles are stated
  docs/testing/req.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Handle multiple future versions
  docs/testing/req.md
  src/Elastic.Documentation/AppliesTo/ApplicabilitySelector.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
Due: dotnet-format
