Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

refactor: promote GlobalCliOptions to Elastic.Documentation, remove GlobalCliArgs
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation/GlobalCliOptions.cs
  src/Elastic.Documentation/GlobalCommandLine.cs
  src/api/Elastic.Documentation.Api.App/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/tooling/docs-builder/Commands/Assembler/ContentSourceCommands.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Middleware/CatchExceptionMiddleware.cs
  src/tooling/docs-builder/Middleware/CheckForUpdatesMiddleware.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

refactor: add configure-only overload to AddDocumentationServiceDefaults
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/api/Elastic.Documentation.Api.App/Program.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationRootTests.cs
Due: dotnet-format

refactor: make GlobalCliOptions.LogLevel nullable
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation/GlobalCliOptions.cs
Due: dotnet-format

Make hub-page navigation work cleanly from htmx-boosted swaps
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Page/MetadataBox.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Fix spacing around impact
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
Due: dotnet-format

[Changelog] Fix missing links in changelog directive and render command (#3228)
  docs/syntax/changelog.md
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/PrivateLinkBugTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogTextUtilitiesTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogDropdownsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPrivateLinkBugTests.cs
Due: dotnet-format

Add changelog render --dropdowns
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/DropdownRenderTests.cs
Due: dotnet-format

Address feedback
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/Text/Utf8TextNormalization.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Utilities/ChangelogUtf8Normalization.cs
  tests/Elastic.Changelog.Tests/Utilities/ChangelogUtf8NormalizationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/Text/Utf8TextNormalizationTests.cs
Due: dotnet-format

[Stack 9.4.0] assembler + version bump (#3070)
  config/assembler.yml
  config/versions.yml
Due: none

fix(cross-links): use codex path shape in fallback error URL (#3174)
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkResolver.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  tests/Elastic.Markdown.Tests/CrossLinks/UriEnvironmentResolverTests.cs
Due: dotnet-format

fix: upgrade @tanstack/react-query from 5.96.2 to 5.97.0 (#3217)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Clean up examples
  docs/cli/changelog/bundle.md
  docs/cli/changelog/remove.md
  docs/contribute/bundle-changelogs.md
Due: none

Redesign landing page with search-first layout and product index
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Update ECS version per 9.4 release
  config/assembler.yml
  config/versions.yml
Due: none

Adds video guidance to syntax ref guide
  docs/_docset.yml
  docs/syntax/videos.md
Due: none

Remove more redundancy
  docs/cli/changelog/bundle.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/configure-changelogs.md
  docs/contribute/create-changelogs.md
Due: none

Apply suggestions from code review
  config/changelog.example.yml
  docs/contribute/bundle-changelogs.md
Due: none

Fix formatting in add.md
  docs/cli/changelog/add.md
Due: none

chore: upgrade argh to 0.13.1, restore non-nullable LogLevel default
  Directory.Packages.props
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation/GlobalCliOptions.cs
Due: dotnet-format

fix: use item-relative index for applies-switch and tab-item first-tab selection
  src/Elastic.Markdown/Myst/Directives/AppliesSwitch/AppliesSwitchBlock.cs
  src/Elastic.Markdown/Myst/Directives/Tabs/TabSetBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
Due: dotnet-format

Scope landing page styles to page content
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Add white-label branding support for isolated builds (#3159)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Layout/_IsolatedFooter.cshtml
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation/GitCheckoutInformation.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

chore: upgrade argh to 0.14.0, enable XML doc gen for Elastic.Documentation
  Directory.Packages.props
  src/Elastic.Documentation/Elastic.Documentation.csproj
Due: none

fix: upgrade @tanstack/react-query from 5.97.0 to 5.99.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Update videos.md
  docs/syntax/videos.md
Due: none

chore: upgrade argh to 0.15.0
  Directory.Packages.props
Due: none

chore: upgrade argh to 0.15.1, restore --skip-private-repositories in integration tests
  Directory.Packages.props
Due: none

fix: honor both --eis/--no-eis and skip update check on failure
  src/Elastic.Documentation.Configuration/ElasticsearchEndpointConfigurator.cs
  src/tooling/docs-builder/Middleware/CheckForUpdatesMiddleware.cs
Due: dotnet-format

Update changelog render date handling
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/TitleTargetTests.cs
Due: dotnet-format

Continue white-label branding support for isolated builds
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_Favicon.cshtml
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation/GitCheckoutInformation.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format, prettier, typescript-check, eslint

Adds video guidance to syntax ref guide (#3253)
  docs/_docset.yml
  docs/syntax/videos.md
Due: none

Harden branding image symlink check to cover ancestor directories
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
Due: dotnet-format

Update changelog render date handling (#3260)
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/TitleTargetTests.cs
Due: dotnet-format

Harden branding image symlink check to cover ancestor directories (#3261)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
Due: dotnet-format

Fix list indentation
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/DropdownRenderTests.cs
Due: dotnet-format

Improve changelog render asciidoc output
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/DropdownRenderTests.cs
Due: dotnet-format

Remove definition lists in favour of subsections
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/HighlightsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
