Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

feat(cli-docs): supplemental content system for generated CLI reference pages (#3271)
  docs/_docset.yml
  docs/cli/assembler/bloom-filter/cmd-create.md
  docs/cli/assembler/bloom-filter/cmd-lookup.md
  docs/cli/assembler/cmd-build.md
  docs/cli/assembler/cmd-clone.md
  docs/cli/assembler/config/cmd-init.md
  docs/cli/assembler/content-source/cmd-match.md
  docs/cli/assembler/deploy/cmd-apply.md
  docs/cli/assembler/deploy/cmd-plan.md
  docs/cli/assembler/index.md
  docs/cli/assembler/navigation/cmd-validate-link-reference.md
  docs/cli/assembler/navigation/cmd-validate.md
  docs/cli/changelog/cmd-add.md
  docs/cli/changelog/cmd-bundle-amend.md
  docs/cli/changelog/cmd-evaluate-pr.md
  docs/cli/changelog/cmd-gh-release.md
  docs/cli/changelog/cmd-init.md
  docs/cli/changelog/cmd-remove.md
  docs/cli/changelog/cmd-render.md
  docs/cli/cli-reference-how-to.md
  docs/cli/cli-supplemental-docs.md
  docs/cli/cmd-assemble.md
  src/Elastic.Documentation.Site/Assets/markdown/cli-modifiers.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliSupplementalDoc.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersBlock.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersView.cshtml
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
Due: dotnet-format, prettier

Fix Nav V2 first-row top padding when search is absent
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Update current stack version to 9.4.1
  config/versions.yml
Due: none

Remove unused publish-vercel action (#3116)
  actions/publish-vercel/action.yml
  docs-builder.slnx
Due: none

fix: upgrade @tanstack/react-query from 5.99.0 to 5.99.2
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade htmx.org from 2.0.8 to 2.0.9
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Enable preview deployments and PR comments in docs-preview-local
  .github/workflows/docs-preview-local.yml
Due: none

Prefix hub directive URLs with the site path prefix
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubUrl.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewViewModel.cs
Due: dotnet-format

Stabilize OTLP proxy integration tests with host configuration
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Hub links opt out of body-level hx-boost
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HubUrl.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewView.cshtml
Due: dotnet-format

Rename enrich-processor to ingest-processor
  config/navigation.yml
Due: none

HubUrl strips .md and /index.md so authors can write file paths
  src/Elastic.Markdown/Myst/Directives/Hub/HubUrl.cs
Due: dotnet-format

docs: add repository architecture overview
  docs/development/architecture-components.md
  docs/development/index.md
Due: none

fix remote var to remove spare $
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
Due: dotnet-format

fix(nav-v2): restore V2 page lookup registration lost in merge
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
Due: dotnet-format

Redesign landing page with gradient hero and product index
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Improve landing page semantics and accessibility
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

fix remote var to remove spare $ (#3301)
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
Due: dotnet-format

Validate links in {hero}, {link-card}, {whats-new} directives
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewBlock.cs
Due: dotnet-format

Add docs as product
  config/products.yml
Due: none

changelog: surface missing product label as no-label failure
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/PrEvaluationResult.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

fix(synthetics): target redesigned landing page hero CTA
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Enable handbook preview deployments and PR comments
  .github/workflows/docs-preview-local.yml
Due: none

Fix isolated preview header stacking under Nav V2 chrome
  src/Elastic.Documentation.Site/Assets/isolated.css
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
Due: prettier

fix(hub): skip hub link existence checks for dev_docs sandboxes
  src/Elastic.Markdown/Myst/Directives/Hub/HubLinkValidator.cs
Due: dotnet-format

Show Guide sidebar on docs landing page
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

fix(nav-v2): restore section/island structure lost in merge 3a208ffb4
  config/navigation-v2.yml
Due: none

Fix isolated preview header visibility with fixed chrome + flow spacer
  src/Elastic.Documentation.Site/Assets/isolated.css
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
Due: prettier

Remove landing sidebar gutter
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Render nav search shell without preview API
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

fix(nav-v2): resolve islands via parent chain for nested-toc islands
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format

feat(nav-v2): wire Account and preferences as island under Deployment tools
  config/navigation-v2.yml
Due: none

Guard deployment header links when githubRepository is unset
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
Due: prettier, typescript-check, eslint

fix(nav-v2): swap full chrome when entering an island from parent sidebar
  src/Elastic.Documentation.Site/Navigation/NavigationTreeItem.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: dotnet-format, prettier

Update current stack version to 9.4.1 (#3278)
  config/versions.yml
Due: none

Add docs as product (#3303)
  config/products.yml
Due: none

Add changelog render --dropdowns
  docs/cli/changelog/cmd-render.md
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/DropdownRenderTests.cs
Due: dotnet-format
