Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Deploy: separate read/write scoped filesystems in IncrementalDeployService (#3023)
  src/services/Elastic.Documentation.Assembler/Deploying/IncrementalDeployService.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
Due: dotnet-format

add js esql dsl
  config/assembler.yml
  config/navigation.yml
Due: none

lint
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Add skip-labels to evaluate-pr's output (#3013)
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Add --plan flag to bundle
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
Due: dotnet-format

Update bundle docs
  docs/cli/changelog/bundle.md
Due: none

use UrlPath
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Replace changelog sanitize_private_links with link_allow_repos
  config/changelog.example.yml
  docs/changelog/changelog-private-link-sanitization.yaml
  docs/cli/changelog/bundle.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  src/services/Elastic.Changelog/Bundling/PrivateChangelogLinkSanitizer.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/PrivateChangelogLinkSanitizerTests.cs
Due: dotnet-format

Address CodeRabbit comments
  config/changelog.example.yml
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
Due: dotnet-format

Add --repo --owner to changelog init
  config/changelog.example.yml
  docs/cli/changelog/init.md
  src/Elastic.Documentation.Configuration/GitConfigOriginParser.cs
  src/Elastic.Documentation.Configuration/GitHubRemoteParser.cs
  src/Elastic.Documentation.Configuration/GitRemoteConfigurationReader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Configuration.Tests/GitConfigOriginParserTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitHubRemoteParserTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitRemoteConfigurationReaderTests.cs
Due: dotnet-format

Add features mapping to products.yml
  config/changelog.example.yml
  docs/configure/site/products.md
  docs/contribute/changelog.md
  docs/syntax/frontmatter.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  src/Elastic.Markdown/Myst/FrontMatter/Products.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests-integration/Elastic.Assembler.IntegrationTests/TestHelpers.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
  tests/Elastic.Documentation.Build.Tests/TestHelpers.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentInferrerServiceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/VersionInferenceTests.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
  tests/authoring/Framework/Setup.fs
Due: dotnet-format

Add docs-builder to products.yml for release notes
  config/products.yml
Due: none

Add tests
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Introduce VersioningSystem.None for products outside the public documentation cycle
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Set sentinel non-value for None
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
Due: dotnet-format

Throw if there is no valid versioning for a product with public-reference enabled
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
Due: dotnet-format

Update current version to 9.3.3 (#3007)
  config/versions.yml
Due: none

Fix bug that duplicates docs segment in URLs
  src/Elastic.Markdown/HtmlWriter.cs
Due: dotnet-format

Address CodeRabbit feedback
  src/Elastic.Documentation.Configuration/GitRemoteConfigurationReader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Handle extract.release_notes
  docs/cli/changelog/add.md
  docs/cli/changelog/evaluate-pr.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/CreateChangelogTestBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Creation/CIEnrichmentTests.cs
Due: dotnet-format

Fix worktree path inference
  src/Elastic.Documentation.Configuration/GitRemoteConfigurationReader.cs
  tests/Elastic.Documentation.Configuration.Tests/GitRemoteConfigurationReaderTests.cs
Due: dotnet-format

Maintain EOL consistency
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Extract template seeding and add tests
  src/Elastic.Documentation.Configuration/ChangelogTemplateSeeder.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Configuration.Tests/ChangelogTemplateSeederTests.cs
Due: dotnet-format

Apply CR suggestions
  src/Elastic.Documentation.Configuration/ChangelogTemplateSeeder.cs
  tests/Elastic.Documentation.Configuration.Tests/ChangelogTemplateSeederTests.cs
Due: dotnet-format

Replace changelog sanitize_private_links with link_allow_repos (#3029)
  config/changelog.example.yml
  docs/changelog/changelog-private-link-sanitization.yaml
  docs/cli/changelog/bundle.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  src/services/Elastic.Changelog/Bundling/PrivateChangelogLinkSanitizer.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/PrivateChangelogLinkSanitizerTests.cs
Due: dotnet-format

Update docs/contribute/changelog.md
  docs/contribute/changelog.md
Due: none

[DOCS] Split changelog how-to into subpages
  config/changelog.example.yml
  docs/_docset.yml
  docs/cli/changelog/add.md
  docs/cli/changelog/bundle-amend.md
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/cli/changelog/remove.md
  docs/cli/changelog/render.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/changelog.md
  docs/contribute/configure-changelogs.md
  docs/contribute/create-changelogs.md
  docs/contribute/publish-changelogs.md
  docs/syntax/changelog.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
Due: dotnet-format

Rebase with sanitization link info
  docs/contribute/bundle-changelogs.md
Due: none

Edit changelog configuration details
  config/changelog.example.yml
  docs/cli/changelog/add.md
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/contribute/changelog.md
  docs/contribute/configure-changelogs.md
Due: none

Add explicit extraction state property
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
Due: dotnet-format

Add further testing for extraction behavior gaps
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
Due: dotnet-format

Handle extract.release_notes properly on CI (#3047)
  docs/cli/changelog/add.md
  docs/cli/changelog/evaluate-pr.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/CreateChangelogTestBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Creation/CIEnrichmentTests.cs
Due: dotnet-format

Adjust docs
  docs/cli/changelog/add.md
Due: none

feat(nav-v2): wire entire Install, deploy, and administer section
  config/navigation-v2.yml
Due: none

fix(nav-v2): restore dropped placeholder titles
  config/navigation-v2.yml
Due: none

Update Azure EDOT CF version (#3022)
  config/versions.yml
Due: none

HTML: Omit version meta tags for versionless pages (#3020)
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format

feat(site): enable navigation V2 shell for isolated documentation serve
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
Due: dotnet-format, prettier

fix(docs-builder): serve dev Site _static for assembler serve; bust static hash on file change
  src/Elastic.Documentation.Site/FileProviders/StaticFileContentHashProvider.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
Due: dotnet-format, prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
