Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix CI for storybook directive
  docs/syntax/storybook.md
  src/Elastic.Documentation.Site/Assets/markdown/storybook.css
  src/Elastic.Documentation.Site/Assets/web-components/StorybookStory/StorybookStoryComponent.tsx
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

fix: remove RuleQueryMatchCriteria hacks and prefer env vars over secrets
  Directory.Packages.props
  src/Elastic.Documentation.ServiceDefaults/ElasticsearchEndpointFactory.cs
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.development.json
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.edge.json
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.json
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientJsonResolver.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaJsonConverter.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaTypeInfoResolver.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

fix: remove RuleQueryMatchCriteria hacks and prefer env vars over secrets (#3462)
  Directory.Packages.props
  src/Elastic.Documentation.ServiceDefaults/ElasticsearchEndpointFactory.cs
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.development.json
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.edge.json
  src/api/Elastic.Documentation.Mcp.Remote/appsettings.json
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientJsonResolver.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaJsonConverter.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaTypeInfoResolver.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

fix: upgrade @opentelemetry/otlp-exporter-base from 0.215.0 to 0.218.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/exporter-logs-otlp-http from 0.215.0 to 0.218.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Add e2e round-trip tests for codex sync and assembler deploy
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
Due: dotnet-format

Reuse a shared HttpClient for storybook registry fetch
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
Due: dotnet-format

Fix empty storybook embeds on htmx navigation
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

MCP: surface failing transactions when Elasticsearch is unhealthy
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/Health/ElasticsearchHealthCheck.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Responses/McpToolResults.cs
  src/api/Elastic.Documentation.Mcp.Remote/Telemetry/McpToolTelemetry.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/SearchTools.cs
  tests/Mcp.Remote.Tests/McpToolTelemetryTests.cs
Due: dotnet-format

MCP: fix integration tests broken by CallToolResult return type change
  tests-integration/Mcp.Remote.IntegrationTests/SearchToolsIntegrationTests.cs
Due: dotnet-format

Simplify: resolve S3 client once, drop redundant collector param
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
Due: dotnet-format

fix: upgrade dompurify from 3.4.1 to 3.4.2 (#3453)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

MCP: address coderabbit review — rethrow caller cancellation in health check, assert IsError in integration tests
  src/api/Elastic.Documentation.Mcp.Remote/Health/ElasticsearchHealthCheck.cs
  tests-integration/Mcp.Remote.IntegrationTests/SearchToolsIntegrationTests.cs
Due: dotnet-format

fix: upgrade @opentelemetry/exporter-trace-otlp-http from 0.215.0 to 0.218.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

test: use real U+202E bidi char in adversarial round-trip case
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesSerializationTests.cs
Due: dotnet-format

docs: show blank-line rule in admonition multi-line examples
  docs/syntax/admonitions.md
Due: none

Fix: files with `_snippets` in their name incorrectly treated as snippet-only files (#2743)
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
  src/Elastic.Markdown/Myst/Directives/Include/IncludeBlock.cs
  tests/Elastic.Markdown.Tests/MockFileSystemExtensions.cs
  tests/Elastic.Markdown.Tests/OutputDirectoryTests.cs
Due: dotnet-format

Fix crash when toc references a missing file
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  tests/Navigation.Tests/Isolation/ValidationTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
Due: dotnet-format

changelog: source bundle entries from the CDN with a per-product registry
  docs/cli-schema.json
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogCdn.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryKeyTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
Due: dotnet-format

Treat childless file: subdir/index.md as a single-page folder
  docs/configure/content-set/navigation.md
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  tests/Navigation.Tests/Isolation/DeepLinkedIndexFileTests.cs
Due: dotnet-format

Report all changelog errors at once and surface fetch failures in add
  docs/cli-schema.json
  docs/cli/changelog/cmd-add.md
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrFetchFailureTests.cs
Due: dotnet-format

Enable nav search override on staging
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Add quick reference to applies_to syntax page
  docs/syntax/applies.md
Due: none

Fix lead-in sentence grammar in quick reference
  docs/syntax/applies.md
Due: none

Enable nav search override on staging (#3474)
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Add quick reference to applies_to syntax page (#3475)
  docs/syntax/applies.md
Due: none

Update docs/syntax/admonitions.md
  docs/syntax/admonitions.md
Due: none

Add source_url to MCP get_document_by_url output
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/IDocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Responses/McpResponses.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/services/search/Elastic.Documentation.Search.Contract/DocumentationDocument.cs
  tests-integration/Mcp.Remote.IntegrationTests/DocumentToolsIntegrationTests.cs
  tests/Mcp.Remote.Tests/DocumentToolsTests.cs
Due: dotnet-format

[storybook] Storybook directive, for inline story rendering (#2910)
  docs/_docset.yml
  docs/syntax/directives.md
  docs/syntax/index.md
  docs/syntax/storybook.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/storybook.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/StorybookStory/StorybookStoryComponent.tsx
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookRegistry.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookView.cshtml
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
  tests/Elastic.Markdown.Tests/MockFileSystemExtensions.cs
  tests/authoring/Blocks/Storybook.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier, typescript-check, eslint

Resolve env-dependent storybook.registry via allow-listed interpolation
  docs/syntax/storybook.md
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/EnvironmentInterpolation.cs
  src/Elastic.Documentation/IDocumentationContext.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/EnvironmentInterpolationTests.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format

Assert warning is emitted for disallowed interpolation variable
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
Due: dotnet-format

feat(cli-reference): support title overrides
  docs/cli/cli-reference-how-to.md
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliReferenceRef.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
  tests/Elastic.Markdown.Tests/CliReference/CliMarkdownGeneratorTests.cs
Due: dotnet-format

fix(cli-reference): preserve supplemental frontmatter
  docs/cli/cli-supplemental-docs.md
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliSupplementalDoc.cs
  tests/Elastic.Markdown.Tests/CliReference/CliSupplementalDocTests.cs
Due: dotnet-format

fix(cli-reference): preserve supplemental frontmatter (#3488)
  docs/cli/cli-supplemental-docs.md
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliSupplementalDoc.cs
  tests/Elastic.Markdown.Tests/CliReference/CliSupplementalDocTests.cs
Due: dotnet-format

fix(cli-reference): ignore blank title overrides
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  tests/Elastic.Markdown.Tests/CliReference/CliMarkdownGeneratorTests.cs
Due: dotnet-format

feat(cli-reference): support title overrides (#3487)
  docs/cli/cli-reference-how-to.md
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliReferenceRef.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
  tests/Elastic.Markdown.Tests/CliReference/CliMarkdownGeneratorTests.cs
Due: dotnet-format

fix(cli-reference): use segment path instead of segment/index.md for namespace page cards
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
Due: dotnet-format

fix(cli-reference): trim title and navigation_title override values
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
Due: dotnet-format

fix(cli-reference): use segment path instead of segment/index.md for namespace page cards (#3489)
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
Due: dotnet-format

fix(page-card): apply UrlPathPrefix to resolved URLs
  src/Elastic.Markdown/Myst/Directives/PageCard/PageCardBlock.cs
Due: dotnet-format
