Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

API nav: show HTTP verbs as text on the right of each row (#4262)
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Navigation/_NavHttpMethodGlyph.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavLegacy.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format, prettier

fix: hide the more menu in browsers without popover support (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Fix key-column heuristic to count multi-value columns correctly
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
Due: prettier, typescript-check, eslint

Redesign the API landing page as a grouped endpoint index
  src/Elastic.ApiExplorer/Landing/ApiGroupRowModel.cs
  src/Elastic.ApiExplorer/Landing/ApiOverviewRow.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiGroupRow.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiIndexGroup.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorSpecDownloadTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format, prettier

Style API reference links like regular docs links
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

API examples: collapse extra chips into a "+N more" menu (#4353)
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Style API reference links like regular docs links (#4356)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Redesign the API landing page as a grouped endpoint index (#4355)
  src/Elastic.ApiExplorer/Landing/ApiGroupRowModel.cs
  src/Elastic.ApiExplorer/Landing/ApiOverviewRow.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiGroupRow.cshtml
  src/Elastic.ApiExplorer/Landing/_Partials/_ApiIndexGroup.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorSpecDownloadTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format, prettier

Address review findings in release unified bundle
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ElasticReleaseSchedule.cs
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ReleaseTargetResolver.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseSchedule/ReleaseTargetResolverTests.cs
Due: dotnet-format

Include map values in the union repeat fingerprint
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Say "N more variants" in the summary of a union request body
  src/Elastic.ApiExplorer/Infrastructure/SectionHeader.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSummary.cshtml
  src/Elastic.Documentation.Site/Assets/api-param-summary.test.ts
  src/Elastic.Documentation.Site/Assets/api-param-summary.ts
  tests/Elastic.ApiExplorer.Tests/ParamSectionHeaderRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix detached doc comments, multi-type primitive names and document the cycle guard
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaHelpersTests.cs
Due: dotnet-format

Share a repeated listing only when its content matches exactly
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PageShapes.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Say when a body's variants describe the items of an array
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Add DRA unified release-notes bundle command with current/preview resolution (#4244)
  config/products.yml
  docs/cli-schema.json
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ElasticReleaseSchedule.cs
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ReleaseScheduleJsonContext.cs
  src/Elastic.Documentation.Configuration/ReleaseSchedule/ReleaseTargetResolver.cs
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Onboarding/ChangelogOnboardingValidationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ReleaseCommands.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  src/tooling/docs-builder/Middleware/CatchExceptionMiddleware.cs
  src/tooling/docs-builder/Program.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/DiagnosticsCollectorDisposeTests.cs
  tests/Elastic.Changelog.Tests/Onboarding/OnboardingValidationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReadBundleProfileNamesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseSchedule/ReleaseTargetResolverTests.cs
  tests/Elastic.Documentation.Tests/Diagnostics/DiagnosticsCollectorTests.cs
Due: dotnet-format

Make the serverless command `release serverless`
  docs/cli-schema.json
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Skip pull requests merged into other branches in serverless bundles
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommitRangeService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubCommitRangeService.cs
  src/services/Elastic.Changelog/Serverless/ServerlessPromotion.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommands.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubCommitRangeServiceTests.cs
Due: dotnet-format

Reject a hidden --output-dir in `release serverless bundle`
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommands.cs
Due: dotnet-format

Support elasticsearch in `release serverless bundle`
  docs/cli-schema.json
  src/services/Elastic.Changelog/Serverless/ServerlessPromotion.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommands.cs
  tests/Elastic.Changelog.Tests/Serverless/ServerlessPromotionTests.cs
Due: dotnet-format

Add hidden `release serverless bundle` command
  src/services/Elastic.Changelog/Serverless/ServerlessPromotion.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommands.cs
  src/tooling/docs-builder/Program.cs
  tests/Elastic.Changelog.Tests/Serverless/ServerlessPromotionTests.cs
Due: dotnet-format

Show the information API reference hides in oneOf, anyOf and allOf (#4327)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PageShapes.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  src/Elastic.ApiExplorer/Infrastructure/SectionHeader.cs
  src/Elastic.ApiExplorer/Model/AllOfUnion.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Model/TypeInfo.cs
  src/Elastic.ApiExplorer/Model/UnionSchemas.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSummary.cshtml
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs-hash.test.ts
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-param-summary.test.ts
  src/Elastic.Documentation.Site/Assets/api-param-summary.ts
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ParamSectionHeaderRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaHelpersTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Report base-excluded commits once in the commit-range report
  src/services/Elastic.Changelog/GitHub/GitHubCommitRangeService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubCommitRangeServiceTests.cs
Due: dotnet-format

Split ApiPropertyTreeBuilder into partial files by concern
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Annotations.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Sharing.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
Due: dotnet-format

Move body-union logic out of OperationPageModel into ApiBodyContent
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Split the property tree tests by topic
  tests/Elastic.ApiExplorer.Tests/AllOfCompositionTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/MultiTypeTests.cs
  tests/Elastic.ApiExplorer.Tests/SharedListingTests.cs
  tests/Elastic.ApiExplorer.Tests/TestSpecs.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Break ClassifyType into one method per kind of schema
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
Due: dotnet-format

Share the full classification of a union option
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
Due: dotnet-format

Fail the serverless history walk on a failed read and lift the cap
  src/services/Elastic.Changelog/Serverless/ServerlessPromotion.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommand.cs
  tests/Elastic.Changelog.Tests/Serverless/ServerlessPromotionTests.cs
Due: dotnet-format

Classify union options one way and keep alias names in One of rows
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionOptionTests.cs
Due: dotnet-format

Choose a property row's children once, as a single plan
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
Due: dotnet-format

Add hidden release serverless bundle command (#4330)
  docs/cli-schema.json
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommitRangeService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubCommitRangeService.cs
  src/services/Elastic.Changelog/Serverless/ServerlessPromotion.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/ServerlessReleaseCommand.cs
  src/tooling/docs-builder/Program.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubCommitRangeServiceTests.cs
  tests/Elastic.Changelog.Tests/Serverless/ServerlessPromotionTests.cs
Due: dotnet-format

Fold allOf once and keep required fields from every member
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/AllOfUnion.cs
  src/Elastic.ApiExplorer/Model/EffectiveSchema.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  tests/Elastic.ApiExplorer.Tests/AllOfCompositionTests.cs
Due: dotnet-format

Require an emphasized heading to treat a row as a section header
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
Due: prettier, typescript-check, eslint

Strip footnote markers nested inside cell markup
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
Due: prettier, typescript-check, eslint

Show required fields, alias names and missing types in API Explorer rows (#4360)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Annotations.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Sharing.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/AllOfUnion.cs
  src/Elastic.ApiExplorer/Model/EffectiveSchema.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  tests/Elastic.ApiExplorer.Tests/AllOfCompositionTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/MultiTypeTests.cs
  tests/Elastic.ApiExplorer.Tests/SharedListingTests.cs
  tests/Elastic.ApiExplorer.Tests/TestSpecs.cs
  tests/Elastic.ApiExplorer.Tests/UnionOptionTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Keep the pointer cursor on API catalog deployment tags
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier

Make API response description text selectable
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
Due: prettier, typescript-check, eslint

Lay out API response rows as status, description and media type
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format, prettier

Keep the pointer cursor over API response descriptions
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Show the API response media type as an outlined pill
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
