Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix remaining [Fact] → [Test] in DiagnosticsCollectorTests
  tests/Elastic.Documentation.Tests/Diagnostics/DiagnosticsCollectorTests.cs
Due: dotnet-format

Add current/preview keywords and --changelog-configs to bundle command
  docs/cli-schema.json
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
Due: dotnet-format

Fail fast on any bundle error; catch YamlException; migrate [Fact] → [Test]
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  src/tooling/docs-builder/Commands/ReleaseAutomation/UnifiedReleaseCommands.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReadBundleProfileNamesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseSchedule/ReleaseTargetResolverTests.cs
Due: dotnet-format

Enable the API explorer in the edge environment (#4289)
  config/assembler.yml
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
Due: dotnet-format

Limit API group intros to the docs reading measure
  src/Elastic.ApiExplorer/Landing/ApiOverviewRow.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavLegacy.cshtml
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format, prettier

[Prototype] {table} :filterable: option — search + auto-facets (#4130)
  docs/syntax/tables.md
  src/Elastic.Documentation.Site/Assets/markdown/table.css
  src/Elastic.Documentation.Site/Assets/table.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/FilterableTable.ts
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Table/TableDirectiveBlock.cs
  src/Elastic.Markdown/Myst/Directives/Table/TableDirectiveViewModel.cs
  tests/Elastic.Markdown.Tests/Directives/TableDirectiveTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Auto-merge Dependabot patch updates (#4233)
  .github/workflows/dependabot-auto-merge.yml
Due: none

Keep the open response header quiet
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Restore the keyboard focus ring on the response header
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Make the whole response summary the toggle
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
Due: prettier, typescript-check, eslint

Let find-in-page reach collapsed response schemas
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Trim dead response styles and scope the schema padding
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
Due: prettier, typescript-check, eslint

fix: let description links with the expand-toggle class navigate (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
Due: prettier, typescript-check, eslint

fix: scope the selection guard to the clicked response summary (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
Due: prettier, typescript-check, eslint

fix: match only the real response toggle button (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
Due: prettier, typescript-check, eslint

Show full response descriptions and make the whole summary clickable (#4261)
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-responses.test.ts
  tests/Elastic.ApiExplorer.Tests/ApiDescriptionHtmlRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Share code block CSS and JS between docs and the API explorer
  docs/development/code-blocks.md
  docs/development/toc.yml
  src/Elastic.ApiExplorer/Infrastructure/ApiCodeBlockModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/_Partials/_ApiCodeBlock.cshtml
  src/Elastic.ApiExplorer/_Partials/_ApiCodeSample.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-select.test.ts
  src/Elastic.Documentation.Site/Assets/code-block.css
  src/Elastic.Documentation.Site/Assets/code-line-numbers.test.ts
  src/Elastic.Documentation.Site/Assets/code-line-numbers.ts
  src/Elastic.Documentation.Site/Assets/copybutton.test.ts
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/code.css
  src/Elastic.Documentation.Site/Assets/styles.css
  tests/Elastic.ApiExplorer.Tests/ApiCodeBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Share code block CSS and JS between docs and the API explorer (#4295)
  docs/development/code-blocks.md
  docs/development/toc.yml
  src/Elastic.ApiExplorer/Infrastructure/ApiCodeBlockModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/_Partials/_ApiCodeBlock.cshtml
  src/Elastic.ApiExplorer/_Partials/_ApiCodeSample.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-select.test.ts
  src/Elastic.Documentation.Site/Assets/code-block.css
  src/Elastic.Documentation.Site/Assets/code-line-numbers.test.ts
  src/Elastic.Documentation.Site/Assets/code-line-numbers.ts
  src/Elastic.Documentation.Site/Assets/copybutton.test.ts
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/code.css
  src/Elastic.Documentation.Site/Assets/styles.css
  tests/Elastic.ApiExplorer.Tests/ApiCodeBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Make API Request and Response headings copyable
  src/Elastic.ApiExplorer/Infrastructure/SectionHeader.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.ApiExplorer/_Partials/_HeadingCopyLink.cshtml
  src/Elastic.ApiExplorer/_Partials/_SectionHeader.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-heading-anchors.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Use the docs headerlink pattern for API section headings
  src/Elastic.ApiExplorer/Infrastructure/SectionHeader.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.ApiExplorer/_Partials/_HeadingCopyLink.cshtml
  src/Elastic.ApiExplorer/_Partials/_SectionHeader.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-heading-anchors.test.ts
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

fix: keep modified clicks on API heading links (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-docs.ts
Due: prettier, typescript-check, eslint

Show API endpoints as a code chip and copy alternative paths
  src/Elastic.ApiExplorer/Landing/_Partials/_OperationUrlList.cshtml
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-endpoint-copy.test.ts
Due: prettier, typescript-check, eslint

fix: push a history entry when a heading title sets the hash (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-docs.ts
Due: prettier, typescript-check, eslint

ci: pin native AOT build jobs to ubuntu-24.04
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

ci: experiment with native AOT builds on ubuntu-26.04
  .github/workflows/experiment-ubuntu-26-aot.yml
Due: none

Limit API group intros to the docs reading measure (#4293)
  src/Elastic.ApiExplorer/Landing/ApiOverviewRow.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavLegacy.cshtml
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format, prettier

Keep API operation card borders inside the rail
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Show API endpoints as a code chip and copy alternative paths (#4296)
  src/Elastic.ApiExplorer/Landing/_Partials/_OperationUrlList.cshtml
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-endpoint-copy.test.ts
Due: prettier, typescript-check, eslint

ci: check out the repo before the fixture build
  .github/workflows/experiment-ubuntu-26-aot.yml
Due: none

Show API auth schemes as outlined buttons with a lock icon
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Make API section headings anchor links like docs headings (#4264)
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.ApiExplorer/_Partials/_SectionHeader.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Keep the request example visible in the API examples rail
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Make API auth buttons smaller and use the link blue
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Test that API sample panels get and keep their own highlight language
  src/Elastic.Documentation.Site/Assets/hljs.test.ts
  tests/Elastic.ApiExplorer.Tests/ApiCodeBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Format the highlight test with prettier
  src/Elastic.Documentation.Site/Assets/hljs.test.ts
Due: prettier, typescript-check, eslint

Update the auth link test for the button markup
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format

Keep the request example visible in the API examples rail (#4292)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

API Explorer: test highlight language per sample panel (#4299)
  src/Elastic.Documentation.Site/Assets/hljs.test.ts
  tests/Elastic.ApiExplorer.Tests/ApiCodeBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Keep API operation rails still when content expands (#4286)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Replace the API operation grid with stacked flex columns
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier
