Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Add --no-overwrite option to changelog upload
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

Fix page-card links in assembled builds
  src/Elastic.Markdown/Myst/Directives/PageCard/PageCardBlock.cs
  tests/Elastic.Markdown.Tests/Directives/PageCardBlockTests.cs
Due: dotnet-format

Preserve applies_to on CLI reference toc entries during resolution
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
Due: dotnet-format

Keep anchored page-card links on the navigation lookup path
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/PageCard/PageCardBlock.cs
  tests/Elastic.Markdown.Tests/Directives/PageCardBlockTests.cs
Due: dotnet-format

Preserve applies_to on CLI reference toc entries during resolution (#4082)
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
Due: dotnet-format

Fix page-card links in assembled builds (#4081)
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/PageCard/PageCardBlock.cs
  tests/Elastic.Markdown.Tests/Directives/PageCardBlockTests.cs
Due: dotnet-format

Conditional PUT
  docs/cli/changelog/cmd-upload.md
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

docs: add elastic/cli to assembler and reference navigation (#3416)
  config/assembler.yml
  config/navigation.yml
Due: none

Skip identical inline markers on upload
  docs/cli/changelog/cmd-upload.md
  src/services/Elastic.Documentation.Integrations/S3/S3EtagCalculator.cs
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3EtagCalculatorTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

chore: align with contributing
  CONTRIBUTING.md
  Makefile
  docker-bake.hcl
Due: none

chore: align with contributing
  docker-compose.yml
Due: none

CTA: register default templates on docset.yml and toc.yml (#3716)
  docs/documentation/isolated/configure/index.md
  docs/documentation/isolated/cta.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Markdown/HtmlWriter.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileCtaTests.cs
Due: dotnet-format

MInor wording changes to vector sizing calculator (#4050)
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ResultsPanel.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ResultsPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/formatNumbers.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/formatNumbers.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/types.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/vector-sizing-calculator.css
Due: prettier, typescript-check, eslint

Fix zizmor workflow warnings
  .github/actions/aws-auth/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr-review.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/smoke-test.yml
  actions/update-link-index/action.yml
Due: none

Keep zizmor fix focused
  .github/actions/aws-auth/action.yml
  actions/update-link-index/action.yml
Due: none

Avoid Python shell in composite actions
  .github/actions/aws-auth/action.yml
  actions/update-link-index/action.yml
Due: none

Fix typo in ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
Due: dotnet-format

Clarify misleading phrases
  docs/cli/changelog/cmd-bundle-amend.md
  docs/data/release-notes/bundle.md
Due: none

Fix typo in ChangelogFileWriter.cs (#4091)
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
Due: dotnet-format

Format related pages component
  src/Elastic.Documentation.Site/Assets/web-components/RelatedPages/RelatedPages.tsx
Due: prettier, typescript-check, eslint

Drop release-body parsing; resolve PRs via GitHub commit-range API
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
Due: dotnet-format

Remove warn-on-type-mismatch from CLI schema
  docs/cli-schema.json
Due: none

Update versions.yml for 9.5.4 release
  config/versions.yml
Due: none

Use generate-notes endpoint to find previous release tag
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
Due: dotnet-format

Fix remaining FetchReleasesAsync lookbacks in ChangelogCommand
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Fix JSON injection risk and null/empty split in release-version flows
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Thread commit-range service into remove; split null vs empty in ProfileFilterResolver
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Drop release-body parsing; use GitHub commit-range and generate-notes for PRs (#4092)
  docs/cli-schema.json
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
Due: dotnet-format

Fall back to release-list scan when generate-notes lacks permission
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
Due: dotnet-format

Align Pagefind with derived page titles
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Derive page titles from product metadata
  docs/syntax/titles.md
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Reuse inferred products across page titles
  docs/syntax/titles.md
  src/Elastic.Markdown/Exporters/Pagefind/PagefindMarkdownExporter.cs
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/Elastic.Markdown/Page/PageTitleResolver.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Parse API page titles from Markdown structure
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Navigation/MarkdownNavigationTitleReader.cs
  src/Elastic.Documentation/IMarkdownStringRenderer.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Fix substitution expansion in RenderPreservingFirstHeadingWithMetadata
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

Describe inferred product title metadata
  docs/getting-started/writing-content.md
  docs/syntax/frontmatter.md
Due: none

Add independent page titles
  docs/data/openapi/api-explorer.md
  docs/getting-started/writing-content.md
  docs/syntax/frontmatter.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/syntax/titles.md
  src/Elastic.ApiExplorer/Landing/MarkdownPageViewModel.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/Navigation/MarkdownNavigationTitleReader.cs
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Markdown/Exporters/Pagefind/PagefindMarkdownExporter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/Elastic.Markdown/Page/PageTitleResolver.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.Markdown.Tests/FrontMatter/YamlFrontMatterTests.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Preserve formatting in page headings
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format

Position meta titles as a final override
  docs/getting-started/writing-content.md
  docs/syntax/frontmatter.md
  docs/syntax/titles.md
Due: none

Apply title resolver formatting
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/Elastic.Markdown/Page/PageTitleResolver.cs
  tests/Elastic.Markdown.Tests/PageTitleTests.cs
Due: dotnet-format
