Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add MCP search skill for documentation tools
  .claude/skills/mcp-search/SKILL.md
  .gitignore
Due: none

Fix htmx links (#2535)
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.modal.store.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier, typescript-check, eslint

Add tests for docset products merging with frontmatter products
  tests/authoring/FrontMatter/ProductsFrontMatter.fs
Due: dotnet-format

Throw exception instead of 8.0.0 fallback
  src/Elastic.Markdown/HtmlWriter.cs
Due: dotnet-format

Fix test
  tests/Elastic.Markdown.Tests/Directives/AdmonitionTests.cs
Due: dotnet-format

Add exception for skills (avoid rendering or docs preview)
  docs/_docset.yml
Due: none

Fix docs
  docs/syntax/links.md
Due: none

Fix elastic.co/docs hint
  docs/syntax/links.md
  src/Elastic.Markdown/Myst/InlineParsers/AutoLinkInlineParser.cs
Due: dotnet-format

Revert docset change
  docs/_docset.yml
Due: none

Fix
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests/authoring/FrontMatter/ProductsFrontMatter.fs
Due: dotnet-format

Fix products docset and frontmatter merging (#2537)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Versions/DocumentInference.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentInferrerServiceTests.cs
  tests/authoring/Blocks/ImageBlocks.fs
  tests/authoring/Framework/Setup.fs
  tests/authoring/FrontMatter/ProductsFrontMatter.fs
Due: dotnet-format

Address PR feedback and fix bug
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Serialization/ChangelogYamlStaticContext.cs
Due: dotnet-format

Fix csv-include LLM markdown and PlainText output (#2536)
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
  tests/authoring/PlainText/PlainTextOutput.fs
Due: dotnet-format

Fix tooltip in AskAI flyout
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
Due: prettier, typescript-check, eslint

left over
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyList.cshtml
  src/Elastic.ApiExplorer/Shared/_UnionOptions.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

add sticky headers back
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

feature/openapi docs (#2425)
  Directory.Packages.props
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Layout/_ApiToc.cshtml
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Schema/RenderContext.cs
  src/Elastic.ApiExplorer/Schema/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Schema/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Schema/TypeInfo.cs
  src/Elastic.ApiExplorer/Schema/ValidationConstraintsRenderer.cs
  src/Elastic.ApiExplorer/Schemas/SchemaNavigationItem.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaViewModel.cs
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyList.cshtml
  src/Elastic.ApiExplorer/Shared/_RecursiveBadge.cshtml
  src/Elastic.ApiExplorer/Shared/_SchemaType.cshtml
  src/Elastic.ApiExplorer/Shared/_UnionOptions.cshtml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_ViewImports.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
Due: dotnet-format, prettier, typescript-check, eslint

Update header for isolated builds
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier

format css js
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Change button text from 'Elastic Fundamentals' to 'Get started'
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Add AskAI chat persistance with IndexedDb
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/StreamingAiMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.modal.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Visual adjustments
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ElasticAiAssistantButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier, typescript-check, eslint

Fix scroll behaviour when clicking the retry button
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/StreamingAiMessage.tsx
Due: prettier, typescript-check, eslint

Move to sessions storage for aski flyout state
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.modal.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
Due: prettier, typescript-check, eslint

Add support for multiple conversations (without UI changes for now)
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
Due: prettier, typescript-check, eslint

Fixes
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
Due: prettier, typescript-check, eslint

Refactor storage datatype for O(1) lookup
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useMessageFeedback.ts
Due: prettier, typescript-check, eslint

Revert layout changes
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Add chat persistence with support for multiple conversations (#2559)
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ElasticAiAssistantButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/StreamingAiMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.modal.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useMessageFeedback.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Fix tooltip in AskAI flyout (#2542)
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
Due: prettier, typescript-check, eslint

Refactor: Move isolated header logic to a dedicated module and update initialization flow
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier, typescript-check, eslint

Restrict isolated header styles to large screens using media queries.
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Fix EDOT CF navigation tree
  config/navigation.yml
Due: none

Update header for isolated builds (#2543)
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix EDOT CF navigation tree (#2560)
  config/navigation.yml
Due: none

Change table width in csv include directive
  docs/_snippets/sample-data-12-columns.csv
  docs/syntax/csv-include.md
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeBlock.cs
Due: dotnet-format

Update header for isolated builds
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
