Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Wire Production guidance children into nav v2
  config/navigation-v2.yml
Due: none

Wire remaining D&M, ingest architectures, and Contribute island
  config/navigation-v2.yml
Due: none

Disable contribute-docs island pending decision
  config/navigation-v2.yml
Due: none

Top-bar dropdown for sections + restore Products rename and reorder
  config/navigation-v2.yml
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
  src/Elastic.Documentation.Navigation/V2/NavigationSection.cs
  src/Elastic.Documentation.Navigation/V2/SectionNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

fix: upgrade @tanstack/react-query from 5.97.0 to 5.99.0 (#3258)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Improve changelog render for asciidoc (#3262)
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/HighlightsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/DropdownRenderTests.cs
Due: dotnet-format

Skip AWS auth in docs preview when docs build fails (#3269)
  .github/workflows/docs-preview-local.yml
Due: none

fix(cli-docs): restore product-format, lifecycle-inference, link-allowlist anchors
  docs/cli/changelog/cmd-bundle.md
Due: none

Update src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
Due: dotnet-format

Add changelog render --no-descriptions
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/DescriptionVisibilityTests.cs
Due: dotnet-format

Re-enable deployment status updates and harden fork guards in docs-preview-local
  .github/workflows/docs-preview-local.yml
Due: none

fixes
  config/navigation-v2.yml
Due: none

feat(cli-docs): structured supplemental docs, cli-modifiers directive, and assembler/changelog content
  docs/_docset.yml
  docs/cli/assembler/bloom-filter/cmd-create.md
  docs/cli/assembler/bloom-filter/cmd-lookup.md
  docs/cli/assembler/cmd-build.md
  docs/cli/assembler/cmd-clone.md
  docs/cli/assembler/config/cmd-init.md
  docs/cli/assembler/content-source/cmd-match.md
  docs/cli/assembler/deploy/cmd-apply.md
  docs/cli/assembler/deploy/cmd-plan.md
  docs/cli/assembler/index.md
  docs/cli/assembler/navigation/cmd-validate-link-reference.md
  docs/cli/assembler/navigation/cmd-validate.md
  docs/cli/changelog/cmd-add.md
  docs/cli/changelog/cmd-bundle-amend.md
  docs/cli/changelog/cmd-evaluate-pr.md
  docs/cli/changelog/cmd-gh-release.md
  docs/cli/changelog/cmd-init.md
  docs/cli/changelog/cmd-remove.md
  docs/cli/changelog/cmd-render.md
  docs/cli/cli-reference-how-to.md
  docs/cli/cli-supplemental-docs.md
  docs/cli/cmd-assemble.md
  src/Elastic.Documentation.Site/Assets/markdown/cli-modifiers.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/CliReference/CliRootFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliSupplementalDoc.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersBlock.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersView.cshtml
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
Due: dotnet-format, prettier

fix: import ordering and broken relative links in supplemental docs
  docs/cli/assembler/config/cmd-init.md
  docs/cli/assembler/deploy/cmd-apply.md
  docs/cli/changelog/cmd-render.md
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
Due: dotnet-format

Add gfm output format for changelog render
  docs/cli/changelog/render.md
  src/services/Elastic.Changelog/Rendering/ChangelogRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogGfmRenderer.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/GfmRenderTests.cs
Due: dotnet-format

Replace remaining {{templated}} group labels in nav titles
  config/navigation-v2.yml
Due: none

Wire most of nav v1 content into nav v2 (#3268)
  config/navigation-v2.yml
Due: none

Make Products section index a placeholder leaf
  config/navigation-v2.yml
Due: none

Wire most of nav v1 content into nav v2
  config/navigation-v2.yml
Due: none

Wire most of nav v1 content into nav v2 (#3274)
  config/navigation-v2.yml
Due: none

Revert "Make Products section index a placeholder leaf"
  config/navigation-v2.yml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
Due: prettier

Drop all-caps from dropdown subsection labels
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
Due: prettier

style(toc): use body font and regular utility link weight
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

fix(nav-v2): refine folder click activation and parent state
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

style(nav-v2): tune sidebar spacing and active/toc colors
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

fix(nav-v2): gate first-row top padding override to search state
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Fix Nav V2 previous and next order
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
Due: dotnet-format

Redesign landing page with tabbed navigation and simplified layout
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

fix: upgrade @tanstack/react-query from 5.99.0 to 5.99.1
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

serial commas ftw
  config/navigation-v2.yml
Due: none

spruce-up
  config/navigation-v2.yml
Due: none
