Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

fix: share Elasticsearch transport across adapters (per review by @Mpdreamz)
  Directory.Packages.props
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/ElasticsearchTransportFactory.cs
  src/api/Elastic.Documentation.Api/Adapters/AskAi/ElasticsearchAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/ElasticsearchTransportFactory.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackTransport.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  src/tooling/essc/Commands/ContentStackCommands.cs
  src/tooling/essc/Commands/IndicesCommands.cs
  src/tooling/essc/Commands/SyncCommand.cs
  src/tooling/essc/Elasticsearch/ElasticsearchEndpoint.cs
  src/tooling/essc/Elasticsearch/ElasticsearchTransportFactory.cs
  src/tooling/essc/Elasticsearch/SiteDocumentExporter.cs
  src/tooling/essc/Elasticsearch/SourcingConfiguration.cs
  src/tooling/essc/essc.csproj
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
Due: dotnet-format

Adopt Elastic Ingest 0.51 for page feedback
  Directory.Packages.props
  docs/development/page-feedback.md
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackBootstrapService.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackTransport.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  tests/Elastic.Documentation.Api.Tests/Elastic.Documentation.Api.Tests.csproj
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format

Add page feedback collection
  config/assembler.yml
  docs/development/page-feedback.md
  docs/development/toc.yml
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  src/Elastic.Documentation.Site/Layout/_PageFeedback.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  src/api/Elastic.Documentation.Api/Adapters/ElasticsearchTransportFactory.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackBootstrapService.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackTransport.cs
  src/api/Elastic.Documentation.Api/Elastic.Documentation.Api.csproj
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/PageFeedback/IPageFeedbackService.cs
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  src/api/Elastic.Documentation.Api/SerializationContext.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Keep page-feedback comments when switching Yes and No
  docs/development/page-feedback.md
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
Due: prettier, typescript-check, eslint

Use absolute URL for agent-skill learn-more link
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
Due: dotnet-format

Add page feedback collection (#3705)
  Directory.Packages.props
  config/assembler.yml
  docs/development/page-feedback.md
  docs/development/toc.yml
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/ElasticsearchTransportFactory.cs
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  src/Elastic.Documentation.Site/Layout/_PageFeedback.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/_Layout.cshtml
  src/api/Elastic.Documentation.Api/Adapters/AskAi/ElasticsearchAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackBootstrapService.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/Elastic.Documentation.Api.csproj
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/PageFeedback/IPageFeedbackService.cs
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  src/api/Elastic.Documentation.Api/SerializationContext.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  src/tooling/docs-builder/Http/DebugPageFeedbackService.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.Documentation.Api.Tests/Elastic.Documentation.Api.Tests.csproj
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show API catalog products as clickable tiles
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogTeaser.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Icons/ProductIcons.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiCatalogTeaserTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format, prettier

Render the API catalog on its own layout
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalogTeaser.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/_CatalogLayout.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiCatalogTeaserTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier

Style API catalog cards like hub cards
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier

Make each API catalog card a single link
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format, prettier

Map serverless and Cloud product ids to existing marks
  docs/syntax/hero.md
  docs/syntax/link-card.md
  src/Elastic.Documentation.Site/Icons/ProductIcons.cs
  tests/Elastic.ApiExplorer.Tests/ProductIconsTests.cs
Due: dotnet-format, prettier

Clamp catalog card descriptions with CSS
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogTeaser.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiCatalogTeaserTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format, prettier

Update docs/syntax/settings-with-applies-example.yml
  docs/syntax/settings-with-applies-example.yml
Due: none

docs: make the gated warning example a narrower stack version
  docs/syntax/settings-with-applies-example.yml
Due: none

Accept multiple reasons per page feedback submission
  docs/development/page-feedback.md
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/PageFeedback/IPageFeedbackService.cs
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Separate technical errors from stale content in feedback reasons
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
Due: prettier, typescript-check, eslint

Match the positive accurate reason to the wrong-versus-stale split
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
Due: prettier, typescript-check, eslint

Redesign the API catalog as product cards (#4053)
  docs/data/openapi/api-explorer.md
  docs/syntax/hero.md
  docs/syntax/link-card.md
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_CatalogLayout.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Icons/ProductIcons.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/ProductIconsTests.cs
Due: dotnet-format, prettier

Apply batched suggestions from code review
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Accept multiple reasons per page feedback submission (#4054)
  docs/development/page-feedback.md
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/PageFeedback/IPageFeedbackService.cs
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Collect page feedback on the edge environment
  config/assembler.yml
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
Due: dotnet-format

Update agent skill URL test expectations
  tests/Elastic.Markdown.Tests/Directives/AgentSkillTests.cs
  tests/authoring/Blocks/AgentSkill.fs
Due: dotnet-format

Drop the page feedback environment tests
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
Due: dotnet-format

Collect page feedback on the edge environment (#4055)
  config/assembler.yml
Due: none

Fix agent-skill learn-more link in cross-repo builds (#4052)
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/AgentSkillTests.cs
  tests/authoring/Blocks/AgentSkill.fs
Due: dotnet-format

Repeat the report and edit CTAs on the feedback row
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/page-actions.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Layout/_PageActions.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  tests/Navigation.Tests/Rendering/PageActionsRenderingTests.cs
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Style the bottom CTAs as buttons beside Yes and No
  src/Elastic.Documentation.Site/Assets/page-actions.css
  src/Elastic.Markdown/Layout/_PageActions.cshtml
  tests/Navigation.Tests/Rendering/PageActionsRenderingTests.cs
Due: dotnet-format, prettier

Link API type names and keep property name anchors
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/TypeAnnotation.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_SchemaType.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Collapse multi-item API sections including Authorization
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/SectionHeader.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/api-explorer-fixture.json
Due: dotnet-format

Match nested property toggles to the Response disclosure
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
Due: prettier, typescript-check, eslint

Register extra Isolated API fixtures in the local docset
  docs/_docset.yml
Due: none

Add category search and filters to the API catalog
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiHubSwitcher.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Converters/ApplicableToYamlConverter.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/listing.test.ts
  src/Elastic.Documentation.Site/Assets/listing.ts
  src/Elastic.Documentation/AppliesTo/ApplicabilityKeys.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingView.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiHubSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Make catalog chips single-select and drop the search box
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.Documentation.Site/Assets/listing.test.ts
  src/Elastic.Documentation.Site/Assets/listing.ts
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Trade the Report issue button for a site problem reason
  docs/development/page-feedback.md
  src/Elastic.Documentation.Site/Assets/page-actions.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/Elastic.Markdown/Layout/_PageActions.cshtml
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Navigation.Tests/Rendering/PageActionsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Retire the Out of date reason into Technically incorrect
  docs/development/page-feedback.md
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Tighten the Technically incorrect description
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
Due: prettier, typescript-check, eslint

Add category filters to the API catalog (#4057)
  docs/_docset.yml
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiHubSwitcher.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Converters/ApplicableToYamlConverter.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/listing.test.ts
  src/Elastic.Documentation.Site/Assets/listing.ts
  src/Elastic.Documentation/AppliesTo/ApplicabilityKeys.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingView.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiHubSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add reproducible API sitemap parity audit
  tests/Elastic.Documentation.Build.Tests/ApiSitemapParityTests.cs
Due: dotnet-format
