Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Replace Beautiful Mermaid with Mermaider for server-side diagram rendering (#2838)
  Directory.Packages.props
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Markdown/Elastic.Markdown.csproj
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  src/tooling/docs-builder/Diagnostics/Log.cs
  tests/Elastic.Markdown.Tests/Directives/MermaidTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Tolerate removed bundle.resolve in changelog config
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
Due: dotnet-format

Mark bundle.resolve as [Obsolete]
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
Due: dotnet-format

Fix merged changelog TOC links (#3682)
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Tolerate removed bundle.resolve in changelog config (#3703)
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
Due: dotnet-format

Add page feedback collection
  config/assembler.yml
  docs/development/page-feedback.md
  docs/development/toc.yml
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  src/Elastic.Documentation.Site/Layout/_PageFeedback.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  src/api/Elastic.Documentation.Api/Adapters/ElasticsearchTransportFactory.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackBootstrapService.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackTransport.cs
  src/api/Elastic.Documentation.Api/Elastic.Documentation.Api.csproj
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/PageFeedback/IPageFeedbackService.cs
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  src/api/Elastic.Documentation.Api/SerializationContext.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Simplify page feedback retry
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
Due: prettier, typescript-check, eslint

Streamline page feedback submission
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
Due: prettier, typescript-check, eslint

Reduce Dependabot pull request noise (#3676)
  .github/dependabot.yml
Due: none

Add static search to isolated documentation builds
  NOTICE.txt
  docs/_docset.yml
  docs/configure/content-set/index.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/config.ts
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/Scripts/package-pagefind.mjs
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Markdown/_Layout.cshtml
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Isolated/PagefindSearchIndexer.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/FeatureFlagsTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix embedded static resource extraction
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Scripts/package-pagefind.mjs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/services/Elastic.Documentation.Isolated/PagefindSearchIndexer.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show hierarchy in static search results
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.ts
  src/Elastic.Markdown/Page/Index.cshtml
Due: prettier, typescript-check, eslint

Make isolated headers responsive
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

Emit Mermaid diagrams as external SVG files loaded via img
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix mermaid tests and serve SVG assets in dev server
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/MermaidTests.cs
Due: dotnet-format

Reject changelog bundles whose target diverges from entry targets
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleTargetConsistencyTests.cs
Due: dotnet-format

Use absolute URL for SVG src to fix trailing-slash resolution
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Refine static search indexing and result titles
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.ts
  src/Elastic.Documentation.Site/Scripts/package-pagefind.mjs
  src/Elastic.Markdown/Myst/Renderers/SectionedHeadingRenderer.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/services/Elastic.Documentation.Isolated/PagefindSearchIndexer.cs
  tests/Elastic.Markdown.Tests/Inline/InlineAnchorTests.cs
  tests/Elastic.Markdown.Tests/Inline/SubstitutionTest.cs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Directives/IncludeBlocks.fs
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format, prettier, typescript-check, eslint

Limit static search results to pages
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/pagefind.ts
  src/Elastic.Markdown/Myst/Renderers/SectionedHeadingRenderer.cs
  tests/Elastic.Markdown.Tests/Inline/InlineAnchorTests.cs
  tests/Elastic.Markdown.Tests/Inline/SubstitutionTest.cs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Directives/IncludeBlocks.fs
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format, prettier, typescript-check, eslint

Redesign page feedback questionnaire
  docs/development/page-feedback.md
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/PageFeedback.tsx
  src/Elastic.Documentation.Site/Layout/_PageFeedback.cshtml
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/PageFeedback/IPageFeedbackService.cs
  src/api/Elastic.Documentation.Api/PageFeedback/PageFeedbackRequest.cs
  src/api/Elastic.Documentation.Api/SerializationContext.cs
  src/tooling/docs-builder/Http/DebugPageFeedbackService.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackEndpointTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Simplify Pagefind platform detection
  src/Elastic.Documentation.Site/Scripts/package-pagefind.mjs
Due: prettier, eslint

Emit Mermaid diagrams as external SVG files loaded via img (#3713)
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/MermaidTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Adopt Elastic Ingest 0.51 for page feedback
  Directory.Packages.props
  docs/development/page-feedback.md
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackBootstrapService.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackTransport.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests/Elastic.Documentation.Api.Tests/Elastic.Documentation.Api.Tests.csproj
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format

fix: share Elasticsearch transport across adapters (per review by @Mpdreamz)
  Directory.Packages.props
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/ElasticsearchTransportFactory.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchTransportFactory.cs
  src/api/Elastic.Documentation.Api/Adapters/AskAi/ElasticsearchAskAiMessageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/ElasticsearchTransportFactory.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackTransport.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
  src/tooling/essc/Commands/ContentStackCommands.cs
  src/tooling/essc/Commands/IndicesCommands.cs
  src/tooling/essc/Commands/LabsCommands.cs
  src/tooling/essc/Commands/SyncCommand.cs
  src/tooling/essc/Elasticsearch/ElasticsearchEndpoint.cs
  src/tooling/essc/Elasticsearch/LabsDocumentExporter.cs
  src/tooling/essc/Elasticsearch/SiteDocumentExporter.cs
  src/tooling/essc/Elasticsearch/SourcingConfiguration.cs
  src/tooling/essc/essc.csproj
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackGatewayTests.cs
Due: dotnet-format

fix: serialize feedback enums directly (per review by @Mpdreamz)
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/ElasticsearchPageFeedbackGateway.cs
  src/api/Elastic.Documentation.Api/Adapters/PageFeedback/PageFeedbackMapping.cs
  tests/Elastic.Documentation.Api.Tests/PageFeedbackMappingTests.cs
Due: dotnet-format

Place page feedback before page navigation
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Assets/page-feedback.css
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Add safe and selective backfill mode to changelog upload
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  docs/development/changelog-bundle-registry.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadBackfillTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

Allow scoping CTA templates to path prefixes via cta.<name>.paths
  docs/configure/content-set/cta.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Markdown/HtmlWriter.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileCtaTests.cs
Due: dotnet-format

Add changelog registry state discovery and reconciliation commands
  docs/cli-schema.json
  docs/cli/changelog/registry/cmd-inspect.md
  docs/cli/changelog/registry/cmd-repair.md
  docs/cli/changelog/registry/cmd-republish.md
  docs/cli/changelog/registry/cmd-verify-public.md
  docs/cli/changelog/registry/index.md
  docs/development/changelog-bundle-registry.md
  src/services/Elastic.Changelog/Reconciliation/ChangelogPublicVerificationService.cs
  src/services/Elastic.Changelog/Reconciliation/ChangelogRegistryArguments.cs
  src/services/Elastic.Changelog/Reconciliation/ChangelogRegistryInspectionService.cs
  src/services/Elastic.Changelog/Reconciliation/ChangelogRegistryRepairService.cs
  src/services/Elastic.Changelog/Reconciliation/ChangelogRegistryRepublishService.cs
  src/services/Elastic.Changelog/Reconciliation/ChangelogScope.cs
  src/services/Elastic.Changelog/Reconciliation/RegistryScopeInspector.cs
  src/services/Elastic.Changelog/Reconciliation/RegistryStateFormatter.cs
  src/services/Elastic.Changelog/Reconciliation/RegistryStateSnapshot.cs
  src/services/Elastic.Changelog/Reconciliation/S3ScopeReader.cs
  src/tooling/docs-builder/Commands/ChangelogRegistryCommands.cs
  src/tooling/docs-builder/Program.cs
  tests/Elastic.Changelog.Tests/Reconciliation/FakeS3Bucket.cs
  tests/Elastic.Changelog.Tests/Reconciliation/PublicVerificationServiceTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/RegistryInspectionServiceTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/RegistryInspectionTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/RegistryRepairServiceTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/RegistryRepublishServiceTests.cs
Due: dotnet-format

Fix CopyBrandingResources failure during serve in-memory build
  src/Elastic.Markdown/DocumentationGenerator.cs
  tests/Elastic.Markdown.Tests/BrandingCopyTests.cs
Due: dotnet-format

Show Elastic logo in isolated header only when git org is elastic
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
Due: dotnet-format, prettier, typescript-check, eslint

Render logo as plain span when logoHref is not set
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
Due: prettier, typescript-check, eslint

Fix CopyBrandingResources failure during serve in-memory build (#3718)
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  tests/Elastic.Markdown.Tests/BrandingCopyTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix overlapping scope roots for nested Codex config paths
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  tests/Elastic.Documentation.Configuration.Tests/FileSystemFactoryTests.cs
Due: dotnet-format

Fix overlapping scope roots for nested Codex config paths (#3719)
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  tests/Elastic.Documentation.Configuration.Tests/FileSystemFactoryTests.cs
Due: dotnet-format

Simplify scope root normalization for nested extension roots
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
Due: dotnet-format

Simplify scope root normalization for nested extension roots (#3720)
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
Due: dotnet-format
