Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add Nav V2 HTTP method badges for API operations
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation.Navigation/IHttpMethodNavigationModel.cs
  src/Elastic.Documentation.Navigation/IMultiOperationNavigationItem.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Revert "Replace [with(...)] collection expressions with constructors"
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookRegistry.cs
  src/tooling/essc/Commands/IndicesCommands.cs
  src/tooling/essc/Commands/LabsCommands.cs
  tests/Elastic.Documentation.Build.Tests/MockEnvironmentVariables.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/EnvironmentInterpolationTests.cs
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
Due: dotnet-format

Fix CI: restore [with] collections and drop unused SearchInput size
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
Due: dotnet-format

Fix Prettier and dotnet format for CI lint/npm checks
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
Due: dotnet-format, prettier, typescript-check, eslint

Drop invalid Requires* attributes from MappingsExtensions
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
Due: dotnet-format

Fix CI after findability/main merge: HTMX strategies, tests, docs links
  docs/syntax/hub-pages.md
  docs/syntax/whats-new.md
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/codex.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/isolated.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/types.ts
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationBuildingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix remaining CI failures after findability/main HTMX merge
  docs/_docset.yml
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Htmx.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests/Elastic.Markdown.Tests/Assembler/AssemblerHtmxMarkdownLinkTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
Due: dotnet-format, prettier

Fix Nav V2 HTMX attrs escaping and register testing hub fixtures
  docs/_docset.yml
  src/Elastic.Documentation.Site/Htmx.cs
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: dotnet-format, prettier, typescript-check, eslint

Polish Nav V2 sidebar chrome, sticky affordances, and active paths
  src/Elastic.Documentation.Navigation/ISidebarHeadingNavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/V2/LabelNavigationNode.cs
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Navigation/NavV2LabelListKind.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: dotnet-format, prettier, typescript-check, eslint

Add Nav V2 HTTP method badges for API operations
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.Documentation.Navigation/IHttpMethodNavigationModel.cs
  src/Elastic.Documentation.Navigation/IMultiOperationNavigationItem.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Apply review feedback to the hero and hub layout
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  tests/authoring/Blocks/Hub/Hero.fs
Due: dotnet-format, prettier

Raise the hero eyebrow to body size
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Add commit-range PR resolution service and bundle git_ref metadata
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommitRangeService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubCommitRangeService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubCommitRangeServiceTests.cs
Due: dotnet-format

perf: reduce metadata syscalls in ScanDocumentationFiles (#3840)
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
Due: dotnet-format

perf: skip PreprocessLinkSubstitutions when no {{ }} present (#3837)
  src/Elastic.Markdown/Myst/MarkdownParser.cs
Due: dotnet-format

FileSystemFactory: extend the mock-temp scope workaround to Windows
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
Due: dotnet-format

Changelog: migrate-from-web covers the scope table, --products narrows
  config/migrate-from-web.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-migrate-from-web.md
  src/services/Elastic.Changelog/Migration/MigrateFromWebScope.cs
  src/services/Elastic.Changelog/Migration/WebMigrationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Migration/WebMigrationServiceTests.cs
Due: dotnet-format

Changelog: test and document migrate-from-web
  docs/cli/changelog/cmd-migrate-from-web.md
  tests/Elastic.Changelog.Tests/Migration/ReleaseNotesFixture.cs
  tests/Elastic.Changelog.Tests/Migration/ReleaseNotesPageParserTests.cs
  tests/Elastic.Changelog.Tests/Migration/WebMigrationServiceTests.cs
Due: dotnet-format

Changelog: migrate-from-web writes bundles only (no registry refresh)
  docs/cli/changelog/cmd-migrate-from-web.md
  src/services/Elastic.Changelog/Migration/WebMigrationService.cs
  tests/Elastic.Changelog.Tests/Migration/WebMigrationServiceTests.cs
Due: dotnet-format

Changelog: add temporary migrate-from-web command
  config/migrate-from-web.yml
  docs/cli-schema.json
  src/services/Elastic.Changelog/Migration/MigrateFromWebScope.cs
  src/services/Elastic.Changelog/Migration/ReleaseNotesPageParser.cs
  src/services/Elastic.Changelog/Migration/WebMigrationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Derive MaxParents from invocation-to-anchor distance, not a fixed default
  src/Elastic.Documentation.Tooling/DocumentationPathsResolver.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationPathsResolverTests.cs
Due: dotnet-format

Add commit-range PR resolution service and bundle git_ref metadata (#3847)
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommitRangeService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubCommitRangeService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubCommitRangeServiceTests.cs
Due: dotnet-format

Add commit-range bundling to changelog bundle (--start-git-ref/--end-git-ref)
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/data/release-notes/bundle.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
Due: dotnet-format

Mirror the commit-range output naming convention in bundle --plan
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
Due: dotnet-format

fix: don't persist book filter across docs-migrate runs (#3835)
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/YamlWriter.cs
  src/tooling/docs-migrate/CloneCommand.cs
Due: dotnet-format

Follow the site's rule for arrows on links
  docs/syntax/hero.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  tests/authoring/Blocks/Hub/Hero.fs
Due: dotnet-format, prettier

Drop unnecessary null-forgiving operators flagged by IDE0370
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
Due: dotnet-format

Add temporary changelog migrate-from-web command (#3794)
  docs/cli-schema.json
  docs/cli/changelog/cmd-migrate-from-web.md
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  src/services/Elastic.Changelog/Migration/MigrateFromWebScope.cs
  src/services/Elastic.Changelog/Migration/ReleaseNotesPageParser.cs
  src/services/Elastic.Changelog/Migration/WebMigrationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Migration/ReleaseNotesFixture.cs
  tests/Elastic.Changelog.Tests/Migration/ReleaseNotesPageParserTests.cs
  tests/Elastic.Changelog.Tests/Migration/WebMigrationServiceTests.cs
Due: dotnet-format

perf: raise MaxDegreeOfParallelism in ResolveDirectoryTree (#3836)
  src/Elastic.Markdown/IO/DocumentationSet.cs
Due: dotnet-format

perf: add fast path and cached pipeline to StripMarkdown (#3838)
  src/Elastic.Markdown/Helpers/Markdown.cs
  tests/Elastic.Markdown.Tests/Helpers/StripMarkdownTests.cs
Due: dotnet-format

perf: single-pass Descendants traversal in GetAnchors (#3839)
  src/Elastic.Markdown/IO/MarkdownFile.cs
  tests/Elastic.Markdown.Tests/FileInclusion/HeadingOrderTests.cs
Due: dotnet-format

feat(button): add neutral variant to the button directive
  docs/syntax/buttons.md
  src/Elastic.Documentation.Site/Assets/markdown/button.css
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
  src/Elastic.Markdown/Myst/Directives/Button/ButtonView.cshtml
  src/Elastic.Markdown/Myst/Directives/Button/ButtonViewModel.cs
  tests/Elastic.Markdown.Tests/Directives/ButtonTests.cs
Due: dotnet-format, prettier

Add commit-range bundling to changelog bundle (--start-git-ref/--end-git-ref) (#3848)
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/data/release-notes/bundle.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
Due: dotnet-format

Extract shared GitHubApiTransport for the GitHub API services
  src/services/Elastic.Changelog/GitHub/GitHubApiTransport.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommitRangeService.cs
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubCommitRangeServiceTests.cs
Due: dotnet-format

Extract shared GitHubApiTransport for the GitHub API services (#3849)
  src/services/Elastic.Changelog/GitHub/GitHubApiTransport.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommitRangeService.cs
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubCommitRangeServiceTests.cs
Due: dotnet-format

Standardize bundle output names; hard-error on profile output: patterns
  config/changelog.example.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/data/release-notes/bundle.md
  docs/data/release-notes/configure-ref.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
Due: dotnet-format

Accept prestage/on-release path values in products.yml features.release-notes
  docs/documentation/catalog/products.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Add changelog validate-onboarding for Prestage registration drift
  docs/cli-schema.json
  src/services/Elastic.Changelog/Onboarding/ChangelogOnboardingValidationService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Onboarding/OnboardingValidationTests.cs
Due: dotnet-format

Hide unreleased CDN changelog bundles on the current content source
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogVersionVisibilityTests.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
