Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Re-add condition
  .github/workflows/preview-build.yml
Due: none

Add product
  config/products.yml
Due: none

Add version config
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
Due: dotnet-format

Bumps the docs version to 9.2.3
  config/versions.yml
Due: none

Remove fetch-depth: 0
  .github/workflows/preview-build.yml
Due: none

Remove throttling of AI answer after 5 seconds (#2315)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/MessageThrottler.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/chat.store.ts
Due: prettier, typescript-check, eslint

Add vale linting and reporting to preview-build.yml (#2343)
  .github/workflows/preview-build.yml
Due: none

Fix vale lint
  .github/workflows/preview-build.yml
Due: none

Update preview-build.yml
  .github/workflows/preview-build.yml
Due: none

Update preview-build.yml (#2346)
  .github/workflows/preview-build.yml
Due: none

Fix
  .github/workflows/preview-build.yml
Due: none

Revert files input
  .github/workflows/preview-build.yml
Due: none

Update preview-build.yml (#2347)
  .github/workflows/preview-build.yml
Due: none

Remove hacky system prompt for LLM gateway
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
Due: dotnet-format

Update changelog to pull from PR (#2338)
  config/changelog.yml.example
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
  src/services/Elastic.Documentation.Services/Changelog/IGitHubPrService.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
  tests/Elastic.Documentation.Services.Tests/Elastic.Documentation.Services.Tests.csproj
  tests/Elastic.Documentation.Services.Tests/TestHelpers.cs
Due: dotnet-format

Change popup to a popover component, alongside static descriptions
  docs/testing/req.md
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.ts
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  src/Elastic.Documentation/AppliesTo/ProductLifecycleInfo.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToComponent.cshtml
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
Due: dotnet-format, prettier, typescript-check, eslint

Preview: send a limited assembler build to the preview environment
  .github/workflows/preview-build.yml
Due: none

Fix Call to the Renderer
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
Due: dotnet-format

Remove unused var
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
Due: dotnet-format

typo
  .github/workflows/preview-build.yml
Due: none

Create changelog bundle command
  src/services/Elastic.Documentation.Services/Changelog/BundledChangelogData.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add tests
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add some version error handling
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Ignore bundle files when bundling
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Change --product-version to --products
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Fix target handling
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Limited bundle contents
  src/services/Elastic.Documentation.Services/Changelog/BundledChangelogData.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add resolve option
  src/services/Elastic.Documentation.Services/Changelog/BundledChangelogData.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add CLI docs
  docs/_docset.yml
  docs/cli/release/index.md
  docs/contribute/index.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Update changelog how-to
  docs/contribute/changelog.md
  docs/contribute/index.md
Due: none

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Change version to target in bundle
  src/services/Elastic.Documentation.Services/Changelog/BundledChangelogData.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Rename input-products, add output-products
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add ignored file
  docs/cli/release/changelog-bundle.md
Due: none

Improve docs
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Invalidate correct subfolder
  .github/workflows/preview-build.yml
Due: none

Fix/versioning dropdown (#2110)
  src/Elastic.Documentation.Configuration/Versions/VersionInference.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ProductApplicability.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  tests/Elastic.Documentation.Configuration.Tests/VersionInferenceTests.cs
Due: dotnet-format

Fix policy path
  .github/workflows/preview-build.yml
Due: none
