Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Simplify redundant SourceGenerationContext qualifier (#3576)
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
Due: dotnet-format

fix: upgrade katex from 0.16.45 to 0.17.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/semantic-conventions from 1.40.0 to 1.41.1
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade zustand from 5.0.13 to 5.0.14
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

feat(landing): render landing page with global sidebar shell
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: none

Codex: make codex index resilient by using DiscoverCheckouts
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Codex: make codex index resilient by using DiscoverCheckouts (#3597)
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Update current version to 9.4.3 (#3554)
  config/versions.yml
Due: none

changelog: nest entry keys under {org}/{repo}/{branch}
  config/changelog.example.yml
  docs/cli-schema.json
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogRegistry.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryKeyTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
Due: dotnet-format

changelog: align reference docs with {org}/{repo}/{branch} layout
  docs/cli/changelog/cmd-upload.md
  docs/contribute/configure-changelogs-ref.md
  docs/development/changelog-bundle-registry.md
Due: none

changelog: harden CDN entry pool resolution (review)
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
Due: dotnet-format

Repoint processor reference (#3535)
  config/navigation.yml
Due: none

Assert warning is emitted for disallowed interpolation variable
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
Due: dotnet-format

Resolve env-dependent storybook.registry via allow-listed interpolation
  docs/syntax/storybook.md
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/EnvironmentInterpolation.cs
  src/Elastic.Documentation/IDocumentationContext.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/EnvironmentInterpolationTests.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format

Resolve env-dependent storybook.registry via allow-listed interpolation (#3486)
  docs/syntax/storybook.md
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/EnvironmentInterpolation.cs
  src/Elastic.Documentation/IDocumentationContext.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/EnvironmentInterpolationTests.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/Directives/StorybookTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format

Math: Add inline {math} role alongside block directive
  docs/syntax/math.md
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Math/MathMarkup.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/Roles/Math/MathParser.cs
  src/Elastic.Markdown/Myst/Roles/Math/MathRole.cs
  src/Elastic.Markdown/Myst/Roles/Math/MathRoleRenderer.cs
  src/Elastic.Markdown/Myst/Roles/RoleParser.cs
  tests/Elastic.Markdown.Tests/Inline/MathRoleTests.cs
Due: dotnet-format

Bump Microsoft.OpenApi to 3.5.4 to fix NU1903 audit failure
  Directory.Packages.props
Due: none

fix: HTML-escape math label before writing id attribute (per review by @coderabbitai)
  src/Elastic.Markdown/Myst/Directives/Math/MathMarkup.cs
Due: dotnet-format

Math: Rename isDisplay to isDisplayMath for clarity
  src/Elastic.Markdown/Myst/Directives/Math/MathMarkup.cs
  src/Elastic.Markdown/Myst/Roles/Math/MathRoleRenderer.cs
Due: dotnet-format

Math: Add inline {math} role (#3599)
  Directory.Packages.props
  docs/syntax/math.md
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Math/MathMarkup.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/Roles/Math/MathParser.cs
  src/Elastic.Markdown/Myst/Roles/Math/MathRole.cs
  src/Elastic.Markdown/Myst/Roles/Math/MathRoleRenderer.cs
  src/Elastic.Markdown/Myst/Roles/RoleParser.cs
  tests/Elastic.Markdown.Tests/Inline/MathRoleTests.cs
Due: dotnet-format

Move Managed inputs to a top-level Ingestion tools section (#3598)
  config/navigation.yml
Due: none

Rename Managed inputs toc reference to managed-inputs
  config/navigation.yml
Due: none

Add configurable right-gutter CTA templates
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Docs: add dedicated CTA configuration page
  docs/_docset.yml
  docs/configure/content-set/cta.md
  docs/configure/content-set/index.md
  docs/configure/content-set/navigation.md
  docs/syntax/frontmatter.md
Due: none

Docs: add a live custom CTA example in this docset
  docs/_docset.yml
  docs/configure/content-set/cta.md
Due: none

Fix CTA button padding for long custom labels
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

Docs: use a generic example for the CTA docs page
  docs/configure/content-set/cta.md
  docs/syntax/frontmatter.md
Due: none

Change cta frontmatter from a bare string to an object
  docs/configure/content-set/cta.md
  docs/syntax/frontmatter.md
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
Due: dotnet-format

Simplify CTA resolution and impression tracking
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: dotnet-format, prettier, typescript-check, eslint

fix: reject non-http(s) CTA button URLs (per review by @coderabbitai)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
Due: dotnet-format

fix: hide default trial CTA on white-label builds (per review by @coderabbitai)
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

Rename Managed inputs toc reference to managed-inputs (#3601)
  config/navigation.yml
Due: none

Fix Managed inputs nav path_prefix to reference/opentelemetry/managed-inputs
  config/navigation.yml
Due: none

Fix Managed inputs nav path_prefix to reference/opentelemetry/managed-inputs (#3603)
  config/navigation.yml
Due: none

Site: add configurable right-gutter CTA templates (#3602)
  docs/_docset.yml
  docs/configure/content-set/cta.md
  docs/configure/content-set/index.md
  docs/configure/content-set/navigation.md
  docs/syntax/frontmatter.md
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Telemetry: add event.name and url.full to CTA events
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
Due: prettier, typescript-check, eslint

Telemetry: add event.name and url.full to CTA events (#3604)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
Due: prettier, typescript-check, eslint

Telemetry: capture middle-click CTA opens
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Search: sync agg/aggs synonym with website-search-data IndexTimeSynonyms
  config/search.yml
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Search: guard navigation_* rank features against the contract's penalty default
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  tests/Elastic.Markdown.Tests/Search/NavigationEnrichmentTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
