Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Focus selected duplicate Nav V2 entries
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Navigation/NavigationTreeItem.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: dotnet-format, prettier, typescript-check, eslint

Add MCP and API smoke tests to the integration suite on CI (#3356)
  .github/workflows/ci.yml
  aspire/AppHost.cs
  docs-builder.slnx
  src/api/Elastic.Documentation.Api/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  tests-integration/Elastic.Documentation.IntegrationTests/AssembleFixture.cs
  tests-integration/Elastic.Documentation.IntegrationTests/AssemblerConfigurationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Elastic.Documentation.IntegrationTests.csproj
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchTestBase.cs
  tests-integration/Elastic.Documentation.IntegrationTests/ServeStaticTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/SiteNavigationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/McpSmokeTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/TestHelpers.cs
  tests-integration/Elastic.Documentation.IntegrationTests/TestLogger.cs
  tests/Elastic.Documentation.Api.Tests/AskAiGatewayStreamingTests.cs
  tests/Elastic.Documentation.Api.Tests/Elastic.Documentation.Api.Tests.csproj
  tests/Elastic.Documentation.Api.Tests/EuidEnrichmentTests.cs
  tests/Elastic.Documentation.Api.Tests/Fixtures/ApiWebApplicationFactory.cs
  tests/Elastic.Documentation.Api.Tests/OtlpProxyTests.cs
Due: dotnet-format

Format Nav V2 duplicate focus script
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Honor same-page duplicate folder selection
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Fix Mermaid test import ordering
  tests/Elastic.Markdown.Tests/Directives/MermaidTests.cs
Due: dotnet-format

Document Mermaid SVG sanitization choice
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Fix Products dropdown layering
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
Due: prettier

Fix secondary nav overflow cascade
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
Due: prettier

feat(cli-reference): improve intent pills, add shortcut/alias support
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliSchema.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Assets/markdown/cli-modifiers.css
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Markdown/Extensions/CliReference/CliAliasFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersBlock.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersView.cshtml
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/Elastic.Markdown/_Layout.cshtml
Due: dotnet-format, prettier

Apply review feedback: gate writes, track reader start, simplify dispose
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/Elastic.Documentation/Diagnostics/IDiagnosticsCollector.cs
  tests/Elastic.Changelog.Tests/Changelogs/DiagnosticsCollectorDisposeTests.cs
Due: dotnet-format

Set _readerStarted after WaitToWrite to require execution proof
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
Due: dotnet-format

fix(cli-reference): address PR review findings
  src/Elastic.Documentation.Site/Assets/markdown/cli-modifiers.css
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersView.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: dotnet-format, prettier

Fix StartAsync/Write race that dropped diagnostics
  src/Elastic.Documentation/Diagnostics/DiagnosticsChannel.cs
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  tests/Elastic.Changelog.Tests/Changelogs/DiagnosticsCollectorDisposeTests.cs
Due: dotnet-format

Prevent deadlock on DiagnosticsCollector (#3348)
  src/Elastic.Documentation/Diagnostics/DiagnosticsChannel.cs
  src/Elastic.Documentation/Diagnostics/DiagnosticsCollector.cs
  src/Elastic.Documentation/Diagnostics/IDiagnosticsCollector.cs
  tests/Elastic.Changelog.Tests/Changelogs/DiagnosticsCollectorDisposeTests.cs
Due: dotnet-format

feat(cli-reference): improve intent pills, add shortcut/alias support (#3361)
  src/Elastic.Documentation.Configuration/Toc/CliReference/CliSchema.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Assets/markdown/cli-modifiers.css
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Markdown/Extensions/CliReference/CliAliasFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliCommandFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
  src/Elastic.Markdown/Extensions/CliReference/CliReferenceDocsBuilderExtension.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/MarkdownLayoutViewModel.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersBlock.cs
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersView.cshtml
  src/Elastic.Markdown/Myst/Directives/CliModifiers/CliModifiersViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/Elastic.Markdown/_Layout.cshtml
Due: dotnet-format, prettier

Bump Nullean.Argh packages to 0.16.4
  Directory.Packages.props
Due: none

fix: trim INI whitespace so GitHubRepository is never silently null
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Tooling/GitCheckoutInformationFactory.cs
Due: dotnet-format, prettier, typescript-check, eslint

Regenerate CLI schema after Argh 0.16.4 bump
  docs/cli-schema.json
Due: none

feat(settings): add :deployment: filter option to {settings} directive (#3318)
  docs/syntax/automated_settings.md
  docs/testing/kibana-settings-yaml-samples.md
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Settings/StructuredSettings.cs
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
Due: dotnet-format

changelog: surface missing product label as no-label failure (#3304)
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/PrEvaluationResult.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Fix publishcontainers build target after Api project merge (#3352)
  build/Targets.fs
Due: dotnet-format

Fix inline callout regex and li rendering for markdown links (#3355)
  src/Elastic.Markdown/Myst/CodeBlocks/CallOutParser.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Changelog: Explicit init parameters and logging for the scrubber lambda (#3309)
  docs-builder.slnx
  src/infra/docs-lambda-changelog-scrubber/Program.cs
Due: dotnet-format

Render inline Markdown in automatic callouts and update docs (#3324)
  docs/syntax/code.md
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlock.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/CodeBlocks/CallOutTests.cs
Due: dotnet-format

Fix ShouldContainHtml comparing actual HTML to itself (#3346)
  src/Elastic.Markdown/Myst/Renderers/HtmxLinkInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Inline/InlineImageTest.cs
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensions.cs
  tests/Elastic.Markdown.Tests/PrettyHtmlExtensionsTests.cs
Due: dotnet-format

Codex: fix group layout DOM order after #3344 (#3353)
  src/Elastic.Codex/_GroupLayout.cshtml
Due: none

Layout: move main content before nav in DOM source order (#3344)
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Add support for task list and test
  docs/_docset.yml
  docs/syntax/index.md
  docs/syntax/task-lists.md
  src/Elastic.Documentation.Site/Assets/markdown/list.css
  tests/Elastic.Markdown.Tests/TaskList/BasicTaskListTests.cs
  tests/Elastic.Markdown.Tests/TaskList/TaskListBaseTests.cs
Due: dotnet-format, prettier

Bump Nullean.Argh packages to 0.16.4 (#3362)
  Directory.Packages.props
  docs/cli-schema.json
Due: none

Add header to tests files
  tests/Elastic.Markdown.Tests/TaskList/BasicTaskListTests.cs
  tests/Elastic.Markdown.Tests/TaskList/TaskListBaseTests.cs
Due: dotnet-format

Fix: Integration test
  tests/Elastic.Markdown.Tests/TaskList/BasicTaskListTests.cs
Due: dotnet-format

refactor(search): consume Elastic.Internal.Search.Contract from website-search-data
  Directory.Packages.props
  NuGet.config
  docs-builder.slnx
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/search/Elastic.Documentation.Search.Contract/AppliesToEntry.cs
  src/services/search/Elastic.Documentation.Search.Contract/DocumentationDocument.cs
  src/services/search/Elastic.Documentation.Search.Contract/DocumentationMappingConfig.cs
  src/services/search/Elastic.Documentation.Search.Contract/Elastic.Documentation.Search.Contract.csproj
  src/services/search/Elastic.Documentation.Search.Contract/IndexedProduct.cs
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/SearchQueryBuilder.cs
  src/services/search/Elastic.Documentation.Search/Common/SearchResultProcessor.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
  src/services/search/Elastic.Documentation.Search/EsJsonContext.cs
  src/services/search/Elastic.Documentation.Search/FullSearchService.cs
  src/services/search/Elastic.Documentation.Search/NavigationSearchService.cs
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
Due: dotnet-format

refactor(search): consume Elastic.Internal.Search.* from NuGet
  Directory.Packages.props
  NuGet.config
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/services/search/Elastic.Documentation.Search/Common/SearchQueryBuilder.cs
  src/services/search/Elastic.Documentation.Search/Common/SearchResultProcessor.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
  src/services/search/Elastic.Documentation.Search/EsJsonContext.cs
  src/services/search/Elastic.Documentation.Search/FullSearchService.cs
  src/services/search/Elastic.Documentation.Search/NavigationSearchService.cs
  src/services/search/Elastic.Documentation.Search/ServicesExtension.cs
  src/services/search/Elastic.Documentation.Search/StringHighlightExtensions.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
Due: dotnet-format

style: fix import ordering after NuGet migration
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
Due: dotnet-format

Format tests
  tests/Elastic.Markdown.Tests/TaskList/BasicTaskListTests.cs
  tests/Elastic.Markdown.Tests/TaskList/TaskListBaseTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
