Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Place the code preview dialog on the optical centre
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Lock page scrolling while the code preview is open
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Lock scrolling on the html element; body overflow never reached the viewport here
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Show the code preview button only where there is code to show
  docs/data/openapi/api-explorer.md
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Remove the api-nav-grouping flag; group operations, classify tags, and list Types always
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  tests/Elastic.ApiExplorer.Tests/ApiExplorerFixture.cs
  tests/Elastic.ApiExplorer.Tests/ApiNavParityTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
Due: dotnet-format

Render line-number gutters server-side and load highlighting earlier
  src/Elastic.ApiExplorer/Infrastructure/ApiCodeBlockModel.cs
  src/Elastic.ApiExplorer/_Partials/_ApiCodeBlock.cshtml
  src/Elastic.Documentation.Site/Assets/code-block.css
  src/Elastic.Documentation.Site/Assets/hljs.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  tests/Elastic.ApiExplorer.Tests/ApiCodeBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Expect the encoded newlines in the gutter markup test
  tests/Elastic.ApiExplorer.Tests/ApiCodeBlockRenderingTests.cs
Due: dotnet-format

fix: order AllLanguages by language rank, not first-seen order (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

fix: do nothing in the preview copy button when the Clipboard API is missing (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

fix: compare parameter requiredness and schema shape before merging methods (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: collapse grouped operations into one page only when they are interchangeable (per review by @github-actions)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  tests/Elastic.ApiExplorer.Tests/ApiNavParityTests.cs
Due: dotnet-format

fix: include request-body requiredness in the interchangeability signature (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: keep the query string when redirecting a former operation URL (per review by @github-actions)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiRedirectPage.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

Bump Mermaider to 0.15.1
  Directory.Packages.props
Due: none

Simplify the API explorer follow-ups: one language table, shared scroll lock, server line counts
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiCodeBlockModel.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Model/CodeSample.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/GeneratedCodeSamples.cs
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  src/Elastic.Documentation.Site/Assets/code-block.css
  src/Elastic.Documentation.Site/Assets/code-line-numbers.test.ts
  src/Elastic.Documentation.Site/Assets/code-line-numbers.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/Assets/motion.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/scroll-lock.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Keep the language strip and the active card in step when scrolls interrupt each other
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Keep language picks animated: pause snapping while the strip glides and land on the target after
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Label the request samples and the response card in the examples rail
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier

Make Examples a section heading below the sidebar breakpoint and size the strip at every width
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Show the language dots' tooltips at once with tippy instead of the native title
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Offer only the languages an example has in its dots
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  tests/Elastic.ApiExplorer.Tests/ApiCodeBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Remove the request expand button from the examples rail
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Give the API code cards the same corner radius as Markdown code blocks
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Regenerate API pages on hot reload and speed up serve regeneration
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Name the client that runs a sample by its product name and link it to the client docs
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Model/CodeSample.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Line the language and the client label up on their baseline
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Treat a swipe to another language card as a pick
  docs/data/openapi/api-explorer.md
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Let the last language card snap to the start of the strip
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Revert "Let the last language card snap to the start of the strip"
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Shrink inactive cards towards the active one so the gap beside it is even
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Use tippy for every tooltip on the API pages
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_SchemaType.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_EndpointPath.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  src/Elastic.Documentation.Site/Assets/tooltip.ts
  src/Elastic.Documentation.Site/Navigation/_NavHttpMethodGlyph.cshtml
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Skip empty tooltips in the delegate selector instead of in the template
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_SchemaType.cshtml
  src/Elastic.Documentation.Site/Assets/tooltip.ts
Due: prettier, typescript-check, eslint

fix: keep operations with different security requirements on separate pages (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

Drop the tooltip on generated code samples
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  tests/Elastic.ApiExplorer.Tests/OperationExamplesPanelRenderingTests.cs
Due: dotnet-format

fix: compare inline schemas in full when deciding whether operations collapse (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: keep deprecated or beta methods off a shared operation page (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: keep operations with their own servers off a shared page (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: compare response headers when deciding whether operations collapse (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: compare parameter serialization when deciding whether operations collapse (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: keep a collapsed page off a URL that another operation already owns (per review by @github-actions)
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format
