Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

ensure we respect add_blockers
  src/services/Elastic.Changelog/GitHub/ReleaseNoteParser.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
Due: dotnet-format

encode emojis
  src/services/Elastic.Changelog/GitHub/ReleaseNoteParser.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
Due: dotnet-format

Simplify navigation and remove lazy loading
  config/assembler.yml
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Exporters/DocumentationFileExporter.cs
  src/Elastic.Markdown/Extensions/DetectionRules/RuleDocumentationFileExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
Due: dotnet-format, prettier, typescript-check, eslint

post merge fixes
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
Due: dotnet-format

Remove more related to lazy load nav
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Site/Navigation/INavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationTreeItem.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
Due: dotnet-format, prettier

Add changelog gh-release command to create changelogs from GitHub releases (#2526)
  src/Elastic.Documentation/Changelog/ChangelogTextUtilities.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/ReleaseNoteParser.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseInput.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

split changelog cration and bundler (#2521)
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Bundling/ChangelogFileDiscovery.cs
  src/services/Elastic.Changelog/Bundling/PrFilterLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Creation/ChangelogInputValidator.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
Due: dotnet-format

Simplify navigation and remove lazy loading (#2530)
  config/assembler.yml
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/Navigation/INavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationTreeItem.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Exporters/DocumentationFileExporter.cs
  src/Elastic.Markdown/Extensions/DetectionRules/RuleDocumentationFileExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests-integration/Elastic.Assembler.IntegrationTests/NavigationBuildingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Hide stepper line after last step
  src/Elastic.Documentation.Site/Assets/markdown/stepper.css
Due: prettier

indent properly
  src/Elastic.Documentation.Site/Assets/markdown/stepper.css
Due: prettier

fix: naas test - new dev URL
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier

Address PR feedback
  config/changelog.example.yml
  src/services/Elastic.Changelog/ChangelogTextUtilities.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/BlockingLabelTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/LabelMappingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/TitleProcessingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ValidationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/OutputFormatTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/RenderBlockersTests.cs
Due: dotnet-format

fix: error from merge
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
Due: prettier

Change ChangelogData.Type to ChangelogEntryType enum with validation
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation/Changelog/ChangelogData.cs
  src/Elastic.Documentation/Changelog/ChangelogEntryTypeConverter.cs
  src/Elastic.Documentation/Changelog/ChangelogTextUtilities.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/ErrorHandlingTests.cs
Due: dotnet-format

Add Markdown support to the CSV directive
  docs/_snippets/sample-data-markdown.csv
  docs/syntax/csv-include.md
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeBlock.cs
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeView.cshtml
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/CsvIncludeTests.cs
Due: dotnet-format

Restructure changelog configuration to use pivot section with inverted label mappings (#2523)
  config/changelog.example.yml
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation/Changelog/ChangelogData.cs
  src/Elastic.Documentation/Changelog/ChangelogEntryTypeConverter.cs
  src/Elastic.Documentation/Changelog/ChangelogTextUtilities.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Configuration/TypeEntryConverter.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/BlockingLabelTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/LabelMappingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/TitleProcessingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ValidationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/ErrorHandlingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/OutputFormatTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/RenderBlockersTests.cs
Due: dotnet-format

Move AskAI to right side flyout
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAiSuggestions.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/utils.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
Due: prettier, typescript-check, eslint

Fix tests
  src/Elastic.Documentation.Site/setupTests.ts
Due: prettier, typescript-check, eslint

Create shared query client instance
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/queryClient.ts
Due: prettier, typescript-check, eslint

Move AskAI to right side flyout (#2533)
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAiSuggestions.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/utils.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/queryClient.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/setupTests.ts
Due: prettier, typescript-check, eslint

Hide stepper line after last step (#2531)
  src/Elastic.Documentation.Site/Assets/markdown/stepper.css
Due: prettier

simlify block multiple labels
  config/changelog.example.yml
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/BlockingLabelTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ValidationTests.cs
Due: dotnet-format

Update block.publish
  config/changelog.example.yml
  src/services/Elastic.Changelog/Configuration/ChangelogConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
Due: dotnet-format

Fix htmx links
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

Prevent unexpected scroll jumps during modal close
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.modal.store.ts
Due: prettier, typescript-check, eslint

Preserve AskAI flyout width
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/AskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.modal.store.ts
Due: prettier, typescript-check, eslint

Fix csv-include LLM markdown output
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

Fix plain text output
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  tests/authoring/PlainText/PlainTextOutput.fs
Due: dotnet-format

Fix products docset and frontmatter merging
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  tests/authoring/Blocks/ImageBlocks.fs
  tests/authoring/Framework/Setup.fs
  tests/authoring/FrontMatter/ProductsFrontMatter.fs
Due: dotnet-format

Update docs
  docs/contribute/changelog.md
Due: none

Add tests for docset products merging with frontmatter products
  tests/authoring/Blocks/ImageBlocks.fs
  tests/authoring/Framework/Setup.fs
  tests/authoring/FrontMatter/ProductsFrontMatter.fs
Due: dotnet-format

Remove autolinks from this PR
  docs/_snippets/sample-data-markdown.csv
  docs/syntax/csv-include.md
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/CsvIncludeTests.cs
Due: dotnet-format

Add automatic links from URLs
  src/Elastic.Markdown/Myst/InlineParsers/AutoLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.Markdown.Tests/Inline/AutoLinkTests.cs
Due: dotnet-format

dotnet format
  tests-integration/Mcp.Lambda.IntegrationTests/SearchToolsIntegrationTests.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Update documentation
  docs/syntax/links.md
Due: none

Refactor and use DocumentInferrerService as entrypoint
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation.Configuration/Versions/DocumentInference.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentInferrerServiceTests.cs
Due: dotnet-format

remove plan
  docs/mcp/mcp-lambda-plan.md
Due: none
