Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix formatting in admonitions documentation
  docs/syntax/admonitions.md
Due: none

Correct note formatting in admonitions.md
  docs/syntax/admonitions.md
Due: none

Fix formatting in admonitions documentation (#3129)
  docs/syntax/admonitions.md
Due: none

feat(nav-v2): migrate top-level labels to section: items
  config/navigation-v2.yml
Due: none

feat(nav-v2): add section: item type for independent nav islands
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
  src/Elastic.Documentation.Navigation/V2/NavigationSection.cs
  src/Elastic.Documentation.Navigation/V2/SectionNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/INavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Building/PlaceholderPageWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

feat(nav-v2): add Extension points and Account isolated sections; remove back arrow
  config/navigation-v2.yml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
Due: prettier

feat(nav-v2): wrap all content in Docs section; add Release notes, Troubleshoot, Reference
  config/navigation-v2.yml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
Due: prettier

fix: correct import ordering in PlaceholderPageWriter
  src/services/Elastic.Documentation.Assembler/Building/PlaceholderPageWriter.cs
Due: dotnet-format

fix(nav-v2): compact left-aligned top bar, section root highlight, auto-expand
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier, typescript-check, eslint

feat(nav-v2): support absolute URLs for section tabs; add API reference
  config/navigation-v2.yml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
Due: prettier

feat(nav-v2): add island: item type for intra-section nav islands
  config/navigation-v2.yml
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
  src/Elastic.Documentation.Navigation/V2/IslandNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/NavigationSection.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

Serverless products should not allow versioning (#2920)
  docs/syntax/applies.md
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  tests/authoring/Applicability/AppliesToDirective.fs
  tests/authoring/Applicability/AppliesToFrontMatter.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Address feedback and TaskCanceledException errors
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Templates/TemplateProcessor.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

Fix Elastic.ApiExplorer.Tests
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
Due: dotnet-format

More coderabbitAI fixes
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Templates/TemplateProcessor.cs
Due: dotnet-format

[API Explorer] Basic customized landing pages (#3121)
  docs/_docset.yml
  docs/configure/content-set/api-explorer.md
  docs/kibana-api-overview.md
  src/Elastic.ApiExplorer/ApiRenderContext.cs
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/TemplateLanding.cs
  src/Elastic.ApiExplorer/Landing/TemplateLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TemplateLandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Templates/TemplateProcessor.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.ApiExplorer.Tests/Elastic.ApiExplorer.Tests.csproj
  tests/Elastic.ApiExplorer.Tests/TemplateProcessorTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Add bundle release date command options (#3072)
  config/changelog.example.yml
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogConfigYaml.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

Testing a mermaid diagram
  docs/syntax/applies.md
  docs/syntax/test-diagram.md
Due: none

Removing unnecessary file
  docs/syntax/test-diagram.md
Due: none

fix: src/Elastic.Documentation.Site/package.json & src/Elastic.Documentation.Site/package-lock.json to reduce vulnerabilities
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Fix YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
Due: dotnet-format

Fix YamlStaticContext.cs (#3138)
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
Due: dotnet-format

Add agent-skills, transport-go to products.yml (#2979)
  config/products.yml
Due: none

feat: add x-displayName support for API Explorer tag navigation
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Add .worktrees/ to .gitignore
  .gitignore
Due: none

Add 3 new icons from EUI: add_to_dashboard, transition_bottom_in/out
  docs/syntax/icons.md
  src/Elastic.Documentation.Svg/svgs/add_to_dashboard.svg
  src/Elastic.Documentation.Svg/svgs/transition_bottom_in.svg
  src/Elastic.Documentation.Svg/svgs/transition_bottom_out.svg
Due: none

[API Explorer] Sort tags by x-displayName
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

[API Explorer] Sort tags by x-displayName (#3143)
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

[API Explorer] Add intro and outro pages
  docs/_docset.yml
  docs/configure/content-set/api-explorer.md
  docs/configure/content-set/navigation.md
  docs/kibana-api-overview.md
  src/Elastic.ApiExplorer/ApiRenderContext.cs
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/MarkdownPageView.cshtml
  src/Elastic.ApiExplorer/Landing/MarkdownPageViewModel.cs
  src/Elastic.ApiExplorer/Landing/TemplateLanding.cs
  src/Elastic.ApiExplorer/Landing/TemplateLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TemplateLandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Templates/TemplateProcessor.cs
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation/IMarkdownStringRenderer.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.ApiExplorer.Tests/TemplateProcessorTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Fix Elastic.ApiExplorer.Tests
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
Due: dotnet-format

Address CodeRabbit feedback
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/SimpleMarkdownNavigationItem.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
Due: dotnet-format

Add release_dates
  docs/contribute/configure-changelogs-ref.md
Due: none

Edit the changelog reference
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/configure-changelogs.md
Due: none

fix: upgrade @tanstack/react-query from 5.90.6 to 5.95.2
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/api-logs from 0.209.0 to 0.214.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/resources from 2.3.0 to 2.6.1
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/sdk-logs from 0.209.0 to 0.214.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
