Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Share the spec loading and builder setup across the property tree tests
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Add assembler and codex commands to dev.sh
  build/dev/docker-compose.yml
  dev.sh
  src/tooling/docs-builder/Http/StaticWebHost.cs
Due: dotnet-format

Rebuild and live reload assembler and codex in dev.sh
  build/dev/watch-entrypoint.sh
  dev.sh
  docs/cli-schema.json
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
Due: dotnet-format

Publish dev.sh ports only for serve commands
  dev.sh
Due: none

Clone over HTTPS and keep clones across dev.sh runs
  build/dev/docker-compose.yml
  dev.sh
Due: none

Enable the API Explorer in the dev.sh assembler service
  build/dev/docker-compose.yml
Due: none

Give isolated, assembler, and codex the same dev.sh verbs
  build/dev/docker-compose.yml
  dev.sh
Due: none

Replace dev.sh serve and docs with isolated-* commands
  CONTRIBUTING.md
  build/dev/docker-compose.yml
  dev.sh
Due: none

Reject --output in dev.sh watch mode
  build/dev/watch-entrypoint.sh
Due: none

Render hub get-started steps as chevrons (#4247)
  docs/syntax/get-started.md
  src/Elastic.Documentation.Site/Assets/copybutton.css
  src/Elastic.Documentation.Site/Assets/get-started.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedViewModel.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/GetStarted.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show the path's dominant method in Console and curl samples
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Operations/GeneratedCodeSamples.cs
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/SampleMethods.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
  tests/Elastic.ApiExplorer.Tests/SampleMethodsTests.cs
Due: dotnet-format

fix: reserve each shared page's URL so a later group cannot overwrite it (per review by @github-actions)
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: compare server variables when deciding whether operations collapse (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

Add a collapsed option to the explore directive
  docs/syntax/explore.md
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubExplore.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/CardsAndExplore.cs
Due: dotnet-format

fix: compare response header names without regard to case (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: compare OAuth scopes as a set in the security facet (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: compare object openness when deciding whether operations collapse (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  tests/Elastic.ApiExplorer.Tests/OperationEndpointTests.cs
Due: dotnet-format

fix: generate a curl sample from spec samples with a literal host too (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/GeneratedCodeSamples.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

Keep names and references on merged allOf variants in body-level unions
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Run the assembler and codex locally with dev.sh, with live reload (#4329)
  CONTRIBUTING.md
  build/dev/docker-compose.yml
  build/dev/watch-entrypoint.sh
  dev.sh
  docs/cli-schema.json
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
Due: dotnet-format

Expand inline object members of unions in API Explorer property rows
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Treat a $ref to an allOf union as a union in the API Explorer
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Bump Mermaider to 0.15.1 (#4318)
  Directory.Packages.props
Due: none

Fix the hub get-started heading and start-local code box
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Replace explore collapsed option with a mode option
  docs/examples/products/docs-builder.md
  docs/syntax/explore.md
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubExplore.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/CardsAndExplore.cs
Due: dotnet-format

Update LinkReferenceFile snapshot for deleted release-notes pages
  tests/Elastic.Authoring.Tests/Generator/LinkReferenceFile.cs
Due: dotnet-format

Use tippy tooltips on the API copy buttons
  src/Elastic.ApiExplorer/Operations/_Partials/_EndpointCopyButton.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  src/Elastic.Documentation.Site/Assets/code-block.css
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  src/Elastic.Documentation.Site/Assets/tooltip.test.ts
  src/Elastic.Documentation.Site/Assets/tooltip.ts
Due: prettier, typescript-check, eslint

Fix the hub get-started heading and start-local code box (#4332)
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

fix: restart the tooltip flash timer on repeated copies (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/tooltip.test.ts
  src/Elastic.Documentation.Site/Assets/tooltip.ts
Due: prettier, typescript-check, eslint

Keep the copy tooltip visible after a click
  src/Elastic.Documentation.Site/Assets/tooltip.test.ts
  src/Elastic.Documentation.Site/Assets/tooltip.ts
Due: prettier, typescript-check, eslint

Add a heading level option to the explore directive
  docs/syntax/explore.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/CardsAndExplore.cs
Due: dotnet-format, prettier

Add an on-this-page directive for hub pages
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/syntax/hub-pages.md
  docs/syntax/on-this-page.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/OnThisPage.cs
Due: dotnet-format, prettier

Change the copy tooltip text in place instead of re-showing it
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/tooltip.test.ts
  src/Elastic.Documentation.Site/Assets/tooltip.ts
Due: prettier, typescript-check, eslint

Keep map values on merged allOf union variants in the API Explorer
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Sync docs/elasticsearch.json with the spec the assembler uses
  docs/elasticsearch.json
  tests/Elastic.ApiExplorer.Tests/AuthSchemeTests.cs
Due: dotnet-format

Sync docs/elasticsearch.json with the spec the assembler uses (#4336)
  docs/elasticsearch.json
  tests/Elastic.ApiExplorer.Tests/AuthSchemeTests.cs
Due: dotnet-format

List variants for allOf union bodies that carry base properties
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Add a collapsed option to the explore directive (#4331)
  docs/examples/products/docs-builder.md
  docs/syntax/explore.md
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubExplore.cs
  tests/Elastic.Authoring.Tests/Blocks/Hub/CardsAndExplore.cs
Due: dotnet-format

Label discriminated variants without a mapping in the API Explorer
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
