Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Refactor: Move isolated header logic to a dedicated module and update initialization flow
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier

Add diagnostics HUD with real-time SSE streaming for serve mode
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHud.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnostics.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.ts
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
  src/Elastic.Documentation.Site/tailwind.config.js
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Http/DiagnosticsJsonContext.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix OpenTelemetry logger initialization order error
  src/Elastic.Documentation.Site/Assets/telemetry/logging.ts
Due: prettier, typescript-check, eslint

Persist HUD open state across page reloads using sessionStorage
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnostics.store.ts
Due: prettier, typescript-check, eslint

Set header offset early to prevent layout shift on reload
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Fix OpenTelemetry version mismatch causing getInstance error
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Disable CSS transitions during initial header offset setup
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

Keep no-transitions class until after header layout is set
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
Due: prettier, typescript-check, eslint

Add pointer cursor to diagnostic pills and HUD buttons
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHud.tsx
Due: prettier, typescript-check, eslint

Potential fix for pull request finding 'Unused variable, import, function or class'
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHud.tsx
Due: prettier, typescript-check, eslint

format css js
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHud.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnostics.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.ts
Due: prettier, typescript-check, eslint

fix linters
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.ts
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add real-time diagnostics HUD for serve mode (#2563)
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/telemetry/logging.ts
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHud.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnostics.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnosticsStreamClient.ts
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/tailwind.config.js
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Http/DiagnosticsJsonContext.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format, prettier, typescript-check, eslint

update ecs version per 9.3 release
  config/assembler.yml
  config/versions.yml
Due: none

Fix changelog bundle encoding characters
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlSerialization.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Fix changelog bundle encoding characters (#2565)
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/services/Elastic.Changelog/Serialization/ChangelogYamlSerialization.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Fix AskAI chat persistence and use well-known `idb-keyval` library
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

dimensions docs-builder edition
  docs/syntax/applies.md
Due: none

Fix changelog render with blocks
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
Due: dotnet-format

Fix changelog render with blocks (#2568)
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
Due: dotnet-format

Fix changelog render empty sections
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
Due: dotnet-format

Clean up docs
  docs/cli/release/changelog-add.md
  docs/cli/release/changelog-render.md
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
Due: dotnet-format

Lint
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
Due: dotnet-format

Rebase
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BlockConfigurationTests.cs
Due: dotnet-format

Use PR in messages
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
Due: dotnet-format

Change table width in csv include directive (#2562)
  docs/_snippets/sample-data-12-columns.csv
  docs/syntax/csv-include.md
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeBlock.cs
Due: dotnet-format

Bumps the docs version to 9.2.5
  config/versions.yml
Due: none

Fix random chat stream errors
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
Due: dotnet-format

Fix test
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/AskAi/StreamTransformerTests.cs
Due: dotnet-format

Fix AskAI chat persistence and use well-known `idb-keyval` library (#2566)
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Fix random chat stream errors (#2573)
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/AskAi/StreamTransformerTests.cs
Due: dotnet-format

Fix Ask AI conversation ID handling
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/IAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/IStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AskAiGatewayFactory.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerFactory.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/AskAiGatewayStreamingTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/AskAi/StreamTransformerTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed 'using' opportunity'
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

Fix
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

Fix Ask AI conversation ID handling (#2574)
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/IAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Core/AskAi/IStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AskAiGatewayFactory.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerFactory.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/AskAiGatewayStreamingTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/AskAi/StreamTransformerTests.cs
Due: dotnet-format

Add :subsections: property to the changelog directive
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
Due: dotnet-format

Add date-based sorting for serverless in changelog directive
  src/Elastic.Documentation/VersionOrDate.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
