Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

refactor: external: <url> syntax for external nav sections, remove arrow icon
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/SectionTopNavBuilder.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
Due: dotnet-format, prettier

fix: simplify new Uri() expression to satisfy IDE0090 lint rule
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format

feat: add APIs external tab to navigation_preview.yml
  config/navigation_preview.yml
Due: none

fix: use primary constructor (IDE0290) and object initializer (IDE0017)
  src/Elastic.Documentation.Navigation/Assembler/SectionNavigation.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
Due: dotnet-format

restore: add island: true declarations from main to navigation_preview.yml
  config/navigation_preview.yml
Due: none

fix: skip external SiteSectionRef in SiteNavigation; fix lint in tests
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
Due: dotnet-format

fix: replace sidebar dropdown step with top nav Reference tab in synthetics
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Restructure navigation.yml with section: groupings
  config/navigation.yml
Due: none

fix: add 'local' environment to assembler.yml so CI synthetics use flag-off path
  config/assembler.yml
Due: none

fix: use object initializer for StubNavigationItem to satisfy IDE0017
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format

fix: use secondary-nav Reference link in synthetics instead of pages-dropdown
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

feat: gate configurable top nav behind navigation-preview flag; de-viralize TopNav
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Navigation/Assembler/SectionTopNavBuilder.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

feat: section: entries with children become island tree nodes (#3867)
  config/navigation_preview.yml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Configuration/Toc/TopNavigation.cs
  src/Elastic.Documentation.Navigation/Assembler/SectionNavigation.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
  src/Elastic.Documentation.Site/Assets/secondary-nav.test.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/LlmsNavigationEnhancer.cs
  src/services/Elastic.Documentation.Assembler/Navigation/SectionTopNavBuilder.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

feat: gate configurable top nav behind navigation-preview flag; de-viralize TopNav (#3869)
  config/assembler.yml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Navigation/Assembler/SectionTopNavBuilder.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

feat: add dropdown: section flavor to navigation_preview.yml top nav
  config/navigation_preview.yml
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Navigation/Assembler/SectionTopNavBuilder.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
Due: dotnet-format

Fix synthetics nav tree preservation assertion
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Simplify YAML key
  docs/_snippets/applies_to-key.md
  docs/syntax/applies.md
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
  src/Elastic.Markdown/Myst/AppliesTo/ApplicableToYamlConverter.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterSerializationTests.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Applicability/AppliesToFrontMatter.fs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

Fix synthetics nav tree preservation assertion (#3874)
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Register the Elastic Stack logo as a hub product icon
  docs/syntax/hero.md
  docs/syntax/link-card.md
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
Due: dotnet-format

Declare the products hub prefix as a navigation phantom
  config/navigation.yml
  config/navigation_preview.yml
Due: none

Revert "Declare the products hub prefix as a navigation phantom"
  config/navigation.yml
  config/navigation_preview.yml
Due: none

Update to include the new project type in the serverless umbrella
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Markdown/Myst/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  tests/authoring/Applicability/AppliesToFrontMatter.fs
Due: dotnet-format

Add catalogue of related learning links
  config/related-learning.yml
  docs/_docset.yml
  docs/documentation/catalog/index.md
  docs/documentation/catalog/related-learning.md
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/RelatedLearning/RelatedLearningConfiguration.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Site/Assets/markdown/related-learning.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveMarkdownExtension.cs
  src/Elastic.Markdown/Myst/RelatedLearning/RelatedLearningBlock.cs
  src/Elastic.Markdown/Myst/RelatedLearning/RelatedLearningHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmMarkdownRenderer.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextRenderer.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/RelatedLearningView.cshtml
  src/Elastic.Markdown/Page/RelatedLearningViewModel.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
  tests/Elastic.Markdown.Tests/RelatedLearningMarkdownTests.cs
  tests/Elastic.Markdown.Tests/RelatedLearningViewTests.cs
Due: dotnet-format, prettier

Lint
  src/Elastic.Markdown/Myst/Directives/DirectiveMarkdownExtension.cs
  src/Elastic.Markdown/Myst/RelatedLearning/RelatedLearningBlock.cs
  tests/Elastic.Markdown.Tests/RelatedLearningMarkdownTests.cs
Due: dotnet-format

Fix failing CI
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
Due: dotnet-format

Fix tests
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
Due: dotnet-format

Update src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
Due: prettier, typescript-check, eslint

Apply suggestions from code review
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ResultsPanel.tsx
  tools/vector_sizing_calculator/index.html
Due: prettier, typescript-check, eslint

Apply suggestions from code review
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
Due: prettier, typescript-check, eslint

adding PR comments
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/calculations.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/calculations.ts
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
  tools/vector_sizing_calculator/index.html
  tools/vector_sizing_calculator/web-component/src/calculations.ts
Due: prettier, typescript-check, eslint

Update caniuse-lite browserslist database (#3821)
  src/Elastic.Documentation.Site/package-lock.json
Due: prettier

Fix ApiExplorer tests after FileSystemFactory removal.
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/IsolatedBuildNavigationHtmlWriterTests.cs
Due: dotnet-format

adding PR comments
  src/Elastic.Documentation.Site/Assets/web-components/VectorSizingCalculator/components/ConfigurationPanel.tsx
Due: prettier, typescript-check, eslint

Fix compile failures after main filesystem API merge
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
Due: dotnet-format

Assembler: generate API Explorer pages behind staging flag (#3819)
  .github/workflows/ci.yml
  config/assembler.yml
  docs/_docset.yml
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  src/services/Elastic.Documentation.Assembler/Building/SitemapBuilder.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  tests-integration/Elastic.Documentation.IntegrationTests/AssemblerConfigurationTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/kibana-api-overview.md
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
  tests/Elastic.Documentation.Build.Tests/FeatureFlagsTests.cs
  tests/Elastic.Documentation.Build.Tests/TestHelpers.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Update current Elastic stack version to 9.5.2
  config/versions.yml
Due: none

Delete tasks directory
  tasks/plan.md
  tasks/todo.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
