Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add suggested change to 'Call to System.IO.Path.Combine'
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
Due: dotnet-format

Use enrich policy and ingest pipeline for cache hits
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchTransportFactory.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ContentHashGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/DocumentEnrichmentService.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/IEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ILlmClient.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
Due: dotnet-format

Rename to enrichment_key and add prompt hash to the key
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentKeyGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentOptions.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/IEnrichmentCache.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
Due: dotnet-format

Add navigation search component
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SanitizedHtmlContent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchDropdownHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/index.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useGlobalKeyboardShortcut.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
Due: prettier, typescript-check, eslint

Fix staleness logic
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentKeyGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentOptions.cs
Due: dotnet-format

Fix formatting
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
Due: dotnet-format

Reduce 429s
  src/Elastic.Documentation.Configuration/DocumentationEndpoints.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Tweak navigation search input styling
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

Run _update_by_query in the background
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Add URL to cache entry
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/IEnrichmentCache.cs
Due: dotnet-format

Re-consolidate PR Details step, set path_prefix at job level
  .github/workflows/assembler-preview.yml
Due: none

Add cleanup workflow
  .github/workflows/assembler-preview-cleanup.yml
Due: none

Allow limited public assembler builds on docs-builder (#2379)
  .github/workflows/assembler-preview-cleanup.yml
  .github/workflows/assembler-preview.yml
  config/assembler.yml
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/services/Elastic.Documentation.Assembler/Building/SitemapBuilder.cs
  src/services/Elastic.Documentation.Assembler/Sourcing/RepositorySourcesFetcher.cs
Due: dotnet-format

refactor: move footer content to NavigationSearch component
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/KeyboardShortcutsFooter.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchDropdownHeader.tsx
Due: prettier, typescript-check, eslint

feat: improve search results styling and empty state
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

feat: redesign search input and keyboard shortcuts styling
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier, typescript-check, eslint

refactor: remove search wrapper div and add horizontal separator
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
Due: prettier

refactor: adjust search input padding from 8px to 10px vertical
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

style: add margin-right spacing to search input and separator
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
Due: prettier, typescript-check, eslint

style: increase search results max height to 465px
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

feat: preserve keyboard-selected item when hovering with mouse
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

refactor: simplify search results selection and hover behavior
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

chore: remove unused useState import
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

fix: remove unused index parameter from SearchResultRow
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

style: format NavigationSearch components with Prettier
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchDropdownHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Add changelog render command (#2352)
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/BundleInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Include explicit ! operator to display patch versions.
  docs/testing/req.md
  src/Elastic.Documentation/VersionSpec.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
Due: dotnet-format

Match EUI tooltip default delay
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
Due: prettier, typescript-check, eslint

Update docsbuilder changelog add to handle PR fetch failures
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add tests
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add option to hide private links
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Move commented links to new line
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Fix bulleted list indentation
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Fix formatting of description
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Remove redundant blank line
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Fix missing newline after link
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Update changelog docs
  docs/contribute/changelog.md
Due: none

Add option to hide private links when rendering changelogs (#2408)
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
