Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

fix(site): use #pages-nav for cross-group HTMX OOB and omit preload when empty
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/utils.ts
  src/Elastic.Documentation.Site/Htmx.cs
  src/Elastic.Documentation.Site/IHtmxAttributeProvider.cs
  tests/Elastic.Markdown.Tests/Assembler/AssemblerHtmxMarkdownLinkTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

feat(site): refine navigation V2 sidebar spacing, typography, and hover states
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
  src/Elastic.Documentation.Site/package-lock.json
Due: prettier, typescript-check, eslint

Deploy: separate read/write scoped filesystems in IncrementalDeployService (#3023)
  src/services/Elastic.Documentation.Assembler/Deploying/IncrementalDeployService.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
Due: dotnet-format

Layout: Adapt to static elastic-nav by making secondary nav sticky (#3025)
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Enable AOT/trim analyzers on library projects and skip AOT publish on PRs (#2971)
  .github/workflows/ci.yml
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.LegacyDocs/Elastic.Documentation.LegacyDocs.csproj
  src/Elastic.Documentation.LinkIndex/Elastic.Documentation.LinkIndex.csproj
  src/Elastic.Documentation.Links/Elastic.Documentation.Links.csproj
  src/Elastic.Documentation.Navigation/Elastic.Documentation.Navigation.csproj
  src/Elastic.Documentation.ServiceDefaults/Elastic.Documentation.ServiceDefaults.csproj
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/authoring/Elastic.Documentation.Refactor/Elastic.Documentation.Refactor.csproj
  src/services/Elastic.Changelog/Elastic.Changelog.csproj
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Isolated/Elastic.Documentation.Isolated.csproj
  src/services/Elastic.Documentation.Services/Elastic.Documentation.Services.csproj
Due: none

Add skip-labels to evaluate-pr's output (#3013)
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

[DOCS] Add profile example for --all bundle, fix path for changelog syntax docs (#2980)
  docs/_docset.yml
  docs/_redirects.yml
  docs/cli/changelog/add.md
  docs/cli/changelog/bundle-amend.md
  docs/cli/changelog/bundle.md
  docs/cli/changelog/evaluate-pr.md
  docs/cli/changelog/gh-release.md
  docs/cli/changelog/index.md
  docs/cli/changelog/init.md
  docs/cli/changelog/remove.md
  docs/cli/changelog/render.md
  docs/cli/index.md
  docs/cli/release/index.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format

fix(markdown): use placeholder rule when detection rule TOML cannot be parsed
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRule.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRuleFile.cs
Due: dotnet-format

Changelogs: S3 upload adjustments (#3005)
  docs-builder.slnx
  src/services/Elastic.Changelog/Elastic.Changelog.csproj
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Documentation.Assembler/Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Assembler/Deploying/Synchronization/AwsS3SyncPlanStrategy.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Integrations/Elastic.Documentation.Integrations.csproj
  src/services/Elastic.Documentation.Integrations/S3/S3EtagCalculator.cs
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests-integration/Elastic.Assembler.IntegrationTests/DocsSyncTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Documentation.Integrations.Tests/Elastic.Documentation.Integrations.Tests.csproj
  tests/Elastic.Documentation.Integrations.Tests/S3/S3EtagCalculatorTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

add js esql dsl (#3027)
  config/assembler.yml
  config/navigation.yml
Due: none

Fix merge mishap
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add allowlist and https checks for report URLs
  src/services/Elastic.Changelog/Bundling/PromotionReportParser.cs
Due: dotnet-format

Use ScopedFileSystem, update xml docs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Adjust test names
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
Due: dotnet-format

Fix tests on Windows
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
Due: dotnet-format

Sanitize paths
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
Due: dotnet-format

Use OptionalWindowsReplace
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
Due: dotnet-format

Add roadmap to assembler.yml
  config/assembler.yml
Due: none

changelogs: Add --plan flag to changelog bundle (#3028)
  docs/cli/changelog/bundle.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/PromotionReportParser.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
Due: dotnet-format

Wire Install, deploy, and administer nav section (#3049)
  config/navigation-v2.yml
Due: none

Add bundle uploads
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
Due: dotnet-format

Fix possible NPE
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
Due: dotnet-format

Fix FileSystem rights requested for writing changelogs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
Due: dotnet-format

Change changelog --extract-release-notes impact on title (#3015)
  docs/cli/changelog/add.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/IssueInfoProcessor.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/ReleaseNotesExtractor.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/ReleaseNotesExtractorTests.cs
Due: dotnet-format

Add roadmap to assembler.yml (#3053)
  config/assembler.yml
Due: none

Fix tests
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
Due: dotnet-format

Fix FileSystem rights requested for writing changelogs (#3055)
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
Due: dotnet-format

Have features be enabled by default
  config/changelog.example.yml
  config/products.yml
  docs/configure/site/products.md
  docs/contribute/changelog.md
  docs/syntax/frontmatter.md
  src/Elastic.Documentation.Configuration/Products/ProductExtensions.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductFeaturesTests.cs
Due: dotnet-format

Fix syntax link on codex home page
  src/Elastic.Codex/Landing/LandingView.cshtml
Due: none

Fix syntax link on codex home page (#3056)
  src/Elastic.Codex/Landing/LandingView.cshtml
Due: none

Add changelog bundle description
  config/changelog.example.yml
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderContext.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
Due: dotnet-format

Fixed Cross-Platform Line Ending Issue
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
Due: dotnet-format

Fix examples
  docs/cli/changelog/bundle.md
  docs/contribute/changelog.md
Due: none

fix: upgrade @tanstack/react-query from 5.90.6 to 5.91.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/api-logs from 0.209.0 to 0.213.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
