Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Improve config file profile examples
  config/changelog.example.yml
Due: none

Document source: github_release profile support in changelog remove docs
  docs/cli/release/changelog-remove.md
  docs/contribute/changelog.md
Due: none

Lint
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
Due: dotnet-format

fix tostring
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Cherry-pick crawl-indexer stage commit with translation discovery
  overview-plan.md
  plan-overview-updated.md
  plans/phase-1-foundation.md
  plans/phase-2-crawling.md
  plans/phase-3-html-processing.md
  plans/phase-4-indexing.md
  plans/phase-5-integration.md
  plans/phase-6-caching-integration.md
  plans/phase-6-caching.md
  plans/translation-discovery.md
  src/Elastic.Documentation.Tooling/Elastic.Documentation.Tooling.csproj
  src/Elastic.Documentation.Tooling/ToolingDefaults.cs
  src/Elastic.Documentation/Search/IndexedProduct.cs
  src/tooling/crawl-indexer/Caching/TranslationCache.cs
  src/tooling/crawl-indexer/Commands/GuideCommand.cs
  src/tooling/crawl-indexer/Commands/SiteCommand.cs
  src/tooling/crawl-indexer/CrawlIndexerTooling.cs
  src/tooling/crawl-indexer/Crawling/AdaptiveCrawler.cs
  src/tooling/crawl-indexer/Crawling/CrawlResult.cs
  src/tooling/crawl-indexer/Crawling/CrawlerRateLimiter.cs
  src/tooling/crawl-indexer/Crawling/CrawlerSettings.cs
  src/tooling/crawl-indexer/Crawling/ITranslationDiscovery.cs
  src/tooling/crawl-indexer/Crawling/TranslationDiscovery.cs
  src/tooling/crawl-indexer/Crawling/VersionDiscovery.cs
  src/tooling/crawl-indexer/Display/CrawlProgressContext.cs
  src/tooling/crawl-indexer/Display/CrawlerConfigDisplay.cs
  src/tooling/crawl-indexer/Display/IndexingDisplay.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format

Update crawl-indexer to use IncrementalSyncOrchestrator and Elastic.Mapping
  overview-plan.md
  plan-overview-updated.md
  plans/phase-1-foundation.md
  plans/phase-2-crawling.md
  plans/phase-3-html-processing.md
  plans/phase-4-indexing.md
  plans/phase-5-integration.md
  plans/phase-6-caching-integration.md
  plans/phase-6-caching.md
  plans/translation-discovery.md
  src/Elastic.Documentation/Search/SiteDocument.cs
  src/Elastic.Documentation/Search/SiteMappingConfig.cs
  src/tooling/crawl-indexer/Commands/GuideCommand.cs
  src/tooling/crawl-indexer/Commands/SiteCommand.cs
  src/tooling/crawl-indexer/Display/CrawlProgressContext.cs
  src/tooling/crawl-indexer/Display/IndexingDisplay.cs
  src/tooling/crawl-indexer/Indexing/CrawlIndexerIngestChannel.cs
  src/tooling/crawl-indexer/Indexing/GuideIndexMapping.cs
  src/tooling/crawl-indexer/Indexing/GuideIndexerExporter.cs
  src/tooling/crawl-indexer/Indexing/IndexMappingBase.cs
  src/tooling/crawl-indexer/Indexing/SiteIndexMapping.cs
  src/tooling/crawl-indexer/Indexing/SiteIndexerExporter.cs
  src/tooling/crawl-indexer/crawl-indexer.csproj
Due: dotnet-format

Extract shared IDocument interface and common mapping/analysis config
  src/Elastic.Documentation.Tooling/ToolingDefaults.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/Elastic.Documentation/Search/IDocument.cs
  src/Elastic.Documentation/Search/SharedMappingConfig.cs
  src/Elastic.Documentation/Search/SiteDocument.cs
  src/Elastic.Documentation/Search/SiteMappingConfig.cs
  src/tooling/crawl-indexer/Commands/GuideCommand.cs
  src/tooling/crawl-indexer/Commands/SiteCommand.cs
  src/tooling/crawl-indexer/Indexing/GuideIndexerExporter.cs
  src/tooling/crawl-indexer/Indexing/SiteIndexerExporter.cs
Due: dotnet-format

Enhance changelog bundle and remove commands with github release workflow (#2843)
  docs/cli/release/changelog-add.md
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-gh-release.md
  docs/cli/release/changelog-remove.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/RemoveReleaseVersionTests.cs
Due: dotnet-format

Add --unchanged flag and fix site indexer for incremental runs
  src/Elastic.Documentation/Search/SiteDocument.cs
  src/Elastic.Documentation/Search/SiteMappingConfig.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/SearchConfigPublisher.cs
  src/tooling/crawl-indexer/Commands/GuideCommand.cs
  src/tooling/crawl-indexer/Commands/SiteCommand.cs
  src/tooling/crawl-indexer/Display/IndexingDisplay.cs
  src/tooling/crawl-indexer/Html/HtmlMetaExtractor.cs
  src/tooling/crawl-indexer/Indexing/GuideIndexerExporter.cs
  src/tooling/crawl-indexer/Indexing/SiteIndexerExporter.cs
  src/tooling/crawl-indexer/Program.cs
Due: dotnet-format

Add subcommands for site/guide: index, clean, ai
  src/tooling/crawl-indexer/Commands/GuideAiCommand.cs
  src/tooling/crawl-indexer/Commands/GuideCleanCommand.cs
  src/tooling/crawl-indexer/Commands/GuideCommand.cs
  src/tooling/crawl-indexer/Commands/SiteAiCommand.cs
  src/tooling/crawl-indexer/Commands/SiteCleanCommand.cs
  src/tooling/crawl-indexer/Commands/SiteCommand.cs
  src/tooling/crawl-indexer/Indexing/GuideIndexerExporter.cs
  src/tooling/crawl-indexer/Indexing/IndexCleanupService.cs
  src/tooling/crawl-indexer/Program.cs
Due: dotnet-format

Add VHS recording of site index dry-run
  .vhs/site-index-dry-run.gif
  .vhs/site-index-dry-run.tape
Due: none

Add changelog mapping from labels to products
  config/changelog.example.yml
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/PivotConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/IssueInfoProcessor.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  src/services/Elastic.Changelog/Elastic.Changelog.csproj
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/BlockingLabelTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/LabelMappingTests.cs
Due: dotnet-format

Fix --max-run-docs: pass through to AiEnrichmentOptions.MaxEnrichmentsPerRun
  src/tooling/crawl-indexer/Commands/GuideAiCommand.cs
  src/tooling/crawl-indexer/Commands/SiteAiCommand.cs
  src/tooling/crawl-indexer/Display/IndexingDisplay.cs
  src/tooling/crawl-indexer/Indexing/GuideIndexerExporter.cs
  src/tooling/crawl-indexer/Indexing/SiteIndexerExporter.cs
Due: dotnet-format

Clean up location and links for product resolution details
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
Due: none

Fix AI enrichment: don't break async enumerable before cache/backfill phases
  src/tooling/crawl-indexer/Commands/GuideAiCommand.cs
  src/tooling/crawl-indexer/Commands/SiteAiCommand.cs
Due: dotnet-format

Fix CodeQL findings in crawl-indexer
  src/tooling/crawl-indexer/Caching/TranslationCache.cs
  src/tooling/crawl-indexer/Commands/SiteCommand.cs
  src/tooling/crawl-indexer/Display/IndexingDisplay.cs
  src/tooling/crawl-indexer/Filters/CheckForUpdatesFilter.cs
  src/tooling/crawl-indexer/Html/GuideHtmlExtractor.cs
Due: dotnet-format

Bump Elastic.Ingest.Elasticsearch and Elastic.Mapping to 0.35.0
  Directory.Packages.props
Due: none

Reject --repo and --owner in profile-based removal
  docs/cli/release/changelog-remove.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add instructions to the user on generic errors
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
Due: prettier, typescript-check, eslint

Add instructions to the user on generic errors (#2859)
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatMessage.tsx
Due: prettier, typescript-check, eslint

Bump Elastic.Mapping and Elastic.Ingest.Elasticsearch to 0.37.0
  Directory.Packages.props
Due: none

Lots of fixes
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-remove.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleReleaseVersionTests.cs
Due: dotnet-format

Clean up examples
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-remove.md
  docs/contribute/changelog.md
Due: none

Prepare GH API endpoints
  src/services/Elastic.Changelog/GitHub/GitHubPrInfo.cs
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubPrService.cs
Due: dotnet-format

Add Block check methods to PrInfoProcessor
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  src/services/Elastic.Changelog/Elastic.Changelog.csproj
  tests/Elastic.Changelog.Tests/Creation/PrInfoProcessorLabelBlockerTests.cs
Due: dotnet-format

Add PrEvaluationService
  src/services/Elastic.Changelog/Elastic.Changelog.csproj
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/services/Elastic.Changelog/Evaluation/PrEvaluationResult.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
Due: dotnet-format

Add service for the artifact preparation step
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactMetadata.cs
  src/services/Elastic.Changelog/Evaluation/PrepareArtifactArguments.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactMetadataTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
Due: dotnet-format

Add service itself
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
Due: dotnet-format

Add ArtifactEvaluationService
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluateArtifactArguments.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactEvaluationServiceTests.cs
Due: dotnet-format

Fix MCP tool names in documentation
  docs/mcp/index.md
Due: none

Add services to ChangelogCommand
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Reference commands on docs
  docs/cli/release/index.md
Due: none

Force add missing docs
  docs/cli/release/changelog-evaluate-artifact.md
  docs/cli/release/changelog-evaluate-pr.md
  docs/cli/release/changelog-prepare-artifact.md
Due: none

not forgetting docset update.
  docs/_docset.yml
Due: none

Fix MCP tool names in documentation (#2861)
  docs/mcp/index.md
Due: none

Use changelog paths from the configuration file
  docs/cli/release/changelog-evaluate-pr.md
  docs/cli/release/changelog-prepare-artifact.md
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/services/Elastic.Changelog/Evaluation/PrepareArtifactArguments.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
Due: dotnet-format

Fix label blocking logic
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  tests/Elastic.Changelog.Tests/Creation/PrInfoProcessorLabelBlockerTests.cs
Due: dotnet-format

Add --concise flag to changelog add
  docs/cli/release/changelog-add.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
