Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add the backfill census: changelog backfill inventory
  docs/cli-schema.json
  docs/cli/changelog/backfill/cmd-inventory.md
  docs/cli/changelog/backfill/index.md
  src/services/Elastic.Changelog/Backfill/Inventory/InventoryCensusService.cs
  src/services/Elastic.Changelog/Backfill/Inventory/InventorySourcesSeed.cs
  src/services/Elastic.Changelog/Backfill/InventoryDocument.cs
  src/services/Elastic.Changelog/Backfill/README.md
  src/tooling/docs-builder/Commands/ChangelogBackfillCommand.cs
  src/tooling/docs-builder/Program.cs
  tests/Elastic.Changelog.Tests/Backfill/InventoryCensusServiceTests.cs
Due: dotnet-format

Updates current stack version to 9.5.0 (#3729)
  config/versions.yml
Due: none

Update broken example in changelog create.md (#3754)
  docs/data/release-notes/create.md
Due: none

Update ECS version per 9.5 release
  config/assembler.yml
  config/versions.yml
Due: none

Removing deprecated search label (#3458)
  docs/data/release-notes/configure-ref.md
Due: none

Add Scalar-style API examples rail with scenario grouping
  src/Elastic.ApiExplorer/Infrastructure/ApiCodeSampleModel.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Model/CodeSample.cs
  src/Elastic.ApiExplorer/Model/CurlSourceFormatter.cs
  src/Elastic.ApiExplorer/Model/OpenApiExtensionReader.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ExamplesSection.cshtml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiToc.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.ApiExplorer/_Partials/_ApiCodeSample.cshtml
  src/Elastic.ApiExplorer/_Partials/_SectionHeader.cshtml
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

Style API example cards with Figma tokens and line numbers
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  src/Elastic.Documentation.Site/Assets/hljs.ts
Due: prettier, typescript-check, eslint

Document API examples rail scenario and response behavior
  docs/configure/content-set/api-explorer.md
Due: none

Adds a new product id (#3755)
  config/products.yml
Due: none

Update ProductDescriptions.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
Due: dotnet-format

Rename EDOT display strings for the 9.5 product rebrand (#3768)
  config/navigation.yml
  config/products.yml
  config/search.yml
  docs/_snippets/applies_to-key.md
  docs/documentation/catalog/products.md
  docs/syntax/frontmatter.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityMappings.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
Due: dotnet-format

Adjust link text to View (versionless) docs
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Add source_url to MCP get_document_by_url output
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/IDocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Responses/McpResponses.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/services/search/Elastic.Documentation.Search.Contract/Docs/DocumentationDocument.cs
  tests-integration/Mcp.Remote.IntegrationTests/DocumentToolsIntegrationTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
  tests/Mcp.Remote.Tests/DocumentToolsTests.cs
Due: dotnet-format

Fix null-check style in source_url integration test
  tests-integration/Mcp.Remote.IntegrationTests/DocumentToolsIntegrationTests.cs
Due: dotnet-format

fix: adapt BatchLogRecordProcessor to OTEL sdk-logs options API
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

fix: add Microsoft.Testing.Platform 2.0 for GitHubActionsTestLogger 3
  Directory.Packages.props
  tests-integration/Directory.Build.props
  tests/Directory.Build.props
Due: none

Prefer environment-matching Codex docset over public docs/
  docs/documentation/codex/configure/index.md
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Documentation.Configuration/BuildContext.cs
  tests/Elastic.Markdown.Tests/BuildContextConfigurationFileTests.cs
  tests/Navigation.Tests/Codex/FindDocsetFileTests.cs
Due: dotnet-format

Add source_url to MCP get_document_by_url output (#3771)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/IDocumentGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Responses/McpResponses.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/services/search/Elastic.Documentation.Search.Contract/Docs/DocumentationDocument.cs
  tests-integration/Mcp.Remote.IntegrationTests/DocumentToolsIntegrationTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
  tests/Mcp.Remote.Tests/DocumentToolsTests.cs
Due: dotnet-format

fix: adapt VersionDropdown and Parcel alias for EUI 117
  src/Elastic.Documentation.Site/Assets/web-components/VersionDropdown.tsx
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

OpenAPI: add Lambda that maintains the spec version index
  docs-builder.slnx
  src/Elastic.Documentation.OpenApiIndex/Elastic.Documentation.OpenApiIndex.csproj
  src/Elastic.Documentation.OpenApiIndex/VersionIndex.cs
  src/Elastic.Documentation.OpenApiIndex/VersionIndexBuilder.cs
  src/Elastic.Documentation.OpenApiIndex/VersionIndexPublisher.cs
  src/infra/docs-lambda-openapi-index/Program.cs
  src/infra/docs-lambda-openapi-index/README.md
  src/infra/docs-lambda-openapi-index/SerializerContext.cs
  src/infra/docs-lambda-openapi-index/aws-lambda-tools-defaults.json
  src/infra/docs-lambda-openapi-index/docs-lambda-openapi-index.csproj
  src/infra/docs-lambda-openapi-index/lambda.DockerFile
  tests/Elastic.Documentation.OpenApiIndex.Tests/Elastic.Documentation.OpenApiIndex.Tests.csproj
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexBuilderTests.cs
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexPublisherTests.cs
Due: dotnet-format

Extract the expected index JSON into an annotated test constant
  tests/Elastic.Documentation.OpenApiIndex.Tests/VersionIndexPublisherTests.cs
Due: dotnet-format

Update ECS version per 9.5 release (#3766)
  config/assembler.yml
  config/versions.yml
Due: none

style: reformat Site assets for Prettier 3.9
  src/Elastic.Documentation.Site/Assets/web-components/AppliesToPopover.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FilterSidebar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/LandingPage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultCard.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/SearchHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchTelemetry.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchTelemetry.ts
  src/Elastic.Documentation.Site/Assets/web-components/VersionDropdown.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/errorHandling.tsx
Due: prettier, typescript-check, eslint

Warn when a codex checkout falls back to a docset with no matching registry
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
Due: dotnet-format

Fix migration output to pass docs-builder validation
  src/authoring/Elastic.LegacyDocs.Migration/ArchiveDocsetGenerator.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocLexer.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/MarkdownEmitter.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/PageChunker.cs
  src/authoring/Elastic.LegacyDocs.Migration/LatestDocsetGenerator.cs
  src/authoring/Elastic.LegacyDocs.Migration/LegacyConf.cs
  src/authoring/Elastic.LegacyDocs.Migration/SourceRepoManager.cs
  src/tooling/docs-builder/Commands/Guide/GuideMigrateCommand.cs
Due: dotnet-format

Normalize docs-migrate default work dir to AppData
  src/tooling/docs-migrate/SharedOptions.cs
Due: dotnet-format

Fix conf.yaml parser missing nested section groups
  src/authoring/Elastic.LegacyDocs.Migration/LegacyConf.cs
  src/authoring/Elastic.LegacyDocs.Migration/LegacyConfParser.cs
Due: dotnet-format

Extract migration to isolated CLI tool and add missing parser features
  docs-builder.slnx
  src/authoring/Elastic.LegacyDocs.Migration/ArchiveDocsetGenerator.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/Ast/InlineNodes.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/MarkdownEmitter.cs
  src/authoring/Elastic.LegacyDocs.Migration/LatestDocsetGenerator.cs
  src/authoring/Elastic.LegacyDocs.Migration/LegacyConf.cs
  src/authoring/Elastic.LegacyDocs.Migration/LegacyConfParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/SourceRepoManager.cs
  src/tooling/docs-builder/docs-builder.csproj
  src/tooling/docs-migrate/MigrateCommand.cs
  src/tooling/docs-migrate/Program.cs
  src/tooling/docs-migrate/docs-migrate.csproj
Due: dotnet-format

Write conversion output to cwd/.artifacts/migrated
  src/tooling/docs-migrate/ConvertCommand.cs
  src/tooling/docs-migrate/ServeCommand.cs
Due: dotnet-format

Refactor docs-migrate into subcommands and switch to bare-clone + worktree strategy
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/authoring/Elastic.LegacyDocs.Migration/Elastic.LegacyDocs.Migration.csproj
  src/authoring/Elastic.LegacyDocs.Migration/SourceRepoManager.cs
  src/tooling/docs-migrate/CloneCommand.cs
  src/tooling/docs-migrate/ConvertCommand.cs
  src/tooling/docs-migrate/InitCommand.cs
  src/tooling/docs-migrate/ListCommand.cs
  src/tooling/docs-migrate/MigrateCommand.cs
  src/tooling/docs-migrate/Program.cs
  src/tooling/docs-migrate/ServeCommand.cs
  src/tooling/docs-migrate/SharedOptions.cs
Due: dotnet-format

Add --no-hud flag to serve and fix branch resolution for repos without versioned branches
  .cursor/.gitignore
  src/authoring/Elastic.LegacyDocs.Migration/SourceRepoManager.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-migrate/ServeCommand.cs
Due: dotnet-format

Fix conditionals inside verbatim blocks, anchor map coverage, and source attributes
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocLexer.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/PageChunker.cs
  src/tooling/docs-migrate/ConvertCommand.cs
Due: dotnet-format

Rewrite guide URLs to internal links and emit docs-builder substitutions
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/MarkdownEmitter.cs
  src/authoring/Elastic.LegacyDocs.Migration/SharedAttributes.cs
  src/tooling/docs-migrate/ConvertCommand.cs
Due: dotnet-format

Preserve block anchors as docs-builder inline anchors
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/Ast/IAsciidocNode.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/MarkdownEmitter.cs
Due: dotnet-format

Migrate docs-migrate CLI to Nullean.Argh
  src/tooling/docs-migrate/CloneCommand.cs
  src/tooling/docs-migrate/ConvertCommand.cs
  src/tooling/docs-migrate/InitCommand.cs
  src/tooling/docs-migrate/ListCommand.cs
  src/tooling/docs-migrate/Program.cs
  src/tooling/docs-migrate/ServeCommand.cs
  src/tooling/docs-migrate/docs-migrate.csproj
Due: dotnet-format

feat: listing: TOC entry — glob-driven nav + grouped index pages
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/Listing/ListingFrontMatterReader.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/Isolated/NavigationArguments.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Assets/listing.test.ts
  src/Elastic.Documentation.Site/Assets/listing.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Extensions/Listing/ListingDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/Listing/ListingIndexFile.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingBlock.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingView.cshtml
  src/Elastic.Markdown/Myst/Directives/Listing/ListingViewModel.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add visual: island mode for listing TOC entries
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/Isolated/NavigationArguments.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Site/Navigation/IslandNavViewModel.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

Move island out of ListingVisual into a separate island: bool
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
Due: dotnet-format, prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
