Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Bring gh-release entry fidelity up to commit-range bundling's
  docs/cli/changelog/cmd-gh-release.md
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
Due: dotnet-format

visual: now controls island depth, not parent nav visibility
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Site/Navigation/IslandNavViewModel.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

feat: listing: TOC entry — glob-driven nav + grouped index pages
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/Listing/ListingFrontMatterReader.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/Isolated/NavigationArguments.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Assets/listing.test.ts
  src/Elastic.Documentation.Site/Assets/listing.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Extensions/Listing/ListingDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/Listing/ListingIndexFile.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingBlock.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingView.cshtml
  src/Elastic.Markdown/Myst/Directives/Listing/ListingViewModel.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix island nav: correct group/page structure and full-width links
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
Due: dotnet-format, prettier

Add visual: island mode for listing TOC entries
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/Isolated/NavigationArguments.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Site/Navigation/IslandNavViewModel.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

Move island out of ListingVisual into a separate island: bool
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
Due: dotnet-format, prettier

Back button: border-2 for slightly bolder border
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
Due: prettier

Back button: grey default, blue on hover
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
Due: prettier

Island nav: dedicated Kind=Island + double-chevron in parent nav
  src/Elastic.Documentation.Site/Navigation/NavigationRenderModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
Due: dotnet-format, prettier

Fix unknown-docs name when --path points to docs folder; add >> island chevron
  src/Elastic.Documentation.Configuration/BuildContext.cs
Due: dotnet-format

Fix island nav cache: use ConcurrentDictionary for island HTML
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier

Nav: compact back-links + hr divider under island home
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
Due: prettier

feat: generalize island: true beyond listings
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/Isolated/NavigationArguments.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Documentation.Site/Navigation/IslandNavViewModel.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderCache.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderModel.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests/Elastic.Documentation.Configuration.Tests/CreateNavigationFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
  tests/Navigation.Tests/Assembler/IslandSiteNavigationTests.cs
  tests/Navigation.Tests/Isolation/IslandNavigationTests.cs
  tests/Navigation.Tests/Rendering/NavigationRenderModelTests.cs
Due: dotnet-format, prettier

feat: unify island+nav rendering; add islands to reference in navigation.yml
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Site/Navigation/IslandNavViewModel.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderModel.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests/Navigation.Tests/Assembler/IslandSiteNavigationTests.cs
  tests/Navigation.Tests/Rendering/NavigationRenderModelTests.cs
Due: dotnet-format, prettier

Fix IDE0390: make Create_TopLevelIsland_HasDropdownAndNoBackLinks synchronous
  tests/Navigation.Tests/Rendering/NavigationRenderModelTests.cs
Due: dotnet-format

Align registry docs with the merged #3738 rework and #3760
  docs/cli/changelog/cmd-upload.md
  docs/cli/changelog/registry/cmd-reconcile.md
  docs/cli/changelog/registry/cmd-verify.md
  docs/cli/changelog/registry/index.md
  docs/development/changelog-bundle-registry.md
  src/infra/docs-lambda-changelog-scrubber/README.md
Due: none

Fix IslandSiteNavigationTests: replace FileSystemFactory with CheckoutsFileSystem
  tests/Navigation.Tests/Assembler/IslandSiteNavigationTests.cs
Due: dotnet-format

Rewrite changelog registry docs for scrubber Lambda ownership (#3761)
  docs/cli/changelog/cmd-upload.md
  docs/development/changelog-bundle-registry.md
  src/infra/docs-lambda-changelog-scrubber/README.md
Due: none

feat(button): add neutral variant to the button directive (#3853)
  docs/syntax/buttons.md
  src/Elastic.Documentation.Site/Assets/markdown/button.css
  src/Elastic.Markdown/Myst/Directives/Button/ButtonBlock.cs
  src/Elastic.Markdown/Myst/Directives/Button/ButtonView.cshtml
  src/Elastic.Markdown/Myst/Directives/Button/ButtonViewModel.cs
  tests/Elastic.Markdown.Tests/Directives/ButtonTests.cs
Due: dotnet-format, prettier

feat: generalize island: true beyond listings (#3851)
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/Isolated/NavigationArguments.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Documentation.Site/Navigation/IslandNavViewModel.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderCache.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderModel.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  tests/Elastic.Documentation.Configuration.Tests/CreateNavigationFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
  tests/Navigation.Tests/Assembler/IslandSiteNavigationTests.cs
  tests/Navigation.Tests/Isolation/IslandNavigationTests.cs
  tests/Navigation.Tests/Rendering/NavigationRenderModelTests.cs
Due: dotnet-format, prettier

feat: list pages and islands (#3781)
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/Listing/ListingFrontMatterReader.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Leaf/FileNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/Isolated/NavigationArguments.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Documentation.Site/Assets/listing.test.ts
  src/Elastic.Documentation.Site/Assets/listing.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Navigation/IslandNavViewModel.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderModel.cs
  src/Elastic.Documentation.Site/Navigation/_IslandNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Extensions/Listing/ListingDocsBuilderExtension.cs
  src/Elastic.Markdown/Extensions/Listing/ListingIndexFile.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingBlock.cs
  src/Elastic.Markdown/Myst/Directives/Listing/ListingView.cshtml
  src/Elastic.Markdown/Myst/Directives/Listing/ListingViewModel.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
Due: dotnet-format, prettier, typescript-check, eslint

Resolve git ref from packed-refs when loose ref file is missing
  src/Elastic.Documentation.Tooling/GitCheckoutInformationFactory.cs
  tests/Elastic.Documentation.Configuration.Tests/GitCheckoutResolutionTests.cs
Due: dotnet-format

Add adoc-compare dev tool and register it in the solution
  docs-builder.slnx
  src/tooling/adoc-compare/Program.cs
  src/tooling/adoc-compare/adoc-compare.csproj
Due: dotnet-format

feat: feature-flag navigation_preview.yml, enable for dev + assembler-preview
  config/assembler.yml
  config/navigation_preview.yml
  src/Elastic.Documentation.Configuration/Assembler/PublishEnvironment.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  tests/Elastic.Documentation.Configuration.Tests/UseNavigationPreviewTests.cs
Due: dotnet-format

fix: add required license header to adoc-compare Program.cs
  src/tooling/adoc-compare/Program.cs
Due: dotnet-format

Drop recursive badges and render arrays as "array of …"
  src/Elastic.ApiExplorer/AGENTS.md
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_RecursiveBadge.cshtml
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Synthesize Console and curl samples when x-codeSamples is missing
  docs/configure/content-set/api-explorer.md
  src/Elastic.ApiExplorer/Model/SyntheticCodeSamples.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/markdown/code.css
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
  tests/Elastic.ApiExplorer.Tests/SyntheticCodeSamplesTests.cs
Due: dotnet-format, prettier

Restyle API operation pages, endpoint radios, and sidebar
  src/Elastic.ApiExplorer/Infrastructure/ApiBreadcrumb.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/_Partials/_OperationUrlList.cshtml
  src/Elastic.ApiExplorer/Operations/OpenApiXReqAuthParser.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Operations/_Partials/_EndpointCopyButton.cshtml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/_ApiBreadcrumbs.cshtml
  src/Elastic.ApiExplorer/_Partials/_HttpMethodBadge.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/_Layout.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiBreadcrumbBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
  tests/Elastic.ApiExplorer.Tests/XReqAuthTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Resolve git ref from packed-refs when loose ref file is missing (#3861)
  src/Elastic.Documentation.Tooling/GitCheckoutInformationFactory.cs
  tests/Elastic.Documentation.Configuration.Tests/GitCheckoutResolutionTests.cs
Due: dotnet-format

feat: feature-flag navigation_preview.yml, enable for dev + assembler-preview (#3862)
  config/assembler.yml
  config/navigation_preview.yml
  src/Elastic.Documentation.Configuration/Assembler/PublishEnvironment.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  tests/Elastic.Documentation.Configuration.Tests/UseNavigationPreviewTests.cs
Due: dotnet-format

Mark BundleProfile.Output as [Obsolete] per review
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Fix hub page regressions found in the rendered output
  docs/examples/products/elasticsearch.md
  docs/syntax/hero.md
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  tests/authoring/Blocks/Hub/Hero.fs
Due: dotnet-format

Apply review feedback to the hero and hub layout
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  tests/authoring/Blocks/Hub/Hero.fs
Due: dotnet-format, prettier

Align the hero product mark with the text column
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
Due: dotnet-format, prettier

Add hub page layout and the {hero} directive
  docs/_docset.yml
  docs/examples/index.md
  docs/examples/products/elasticsearch.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/MarkdownPageLayout.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
  src/Elastic.Markdown/Myst/Directives/PageCard/PageCardBlock.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/_Layout.cshtml
  tests/authoring/Blocks/Hub/Hero.fs
  tests/authoring/Blocks/NestedDirectiveOptions.fs
  tests/authoring/Blocks/PageCards.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Make the example a docs-builder hub, and keep cross-links out of new tabs
  docs/_docset.yml
  docs/examples/index.md
  docs/examples/products/docs-builder.md
  docs/examples/products/elasticsearch.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  tests/authoring/Blocks/Hub/Hero.fs
  tests/authoring/Blocks/NestedDirectiveOptions.fs
  tests/authoring/Framework/HtmlAssertions.fs
Due: dotnet-format, prettier

Raise the hero eyebrow to body size
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Follow the site's rule for arrows on links
  docs/syntax/hero.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  tests/authoring/Blocks/Hub/Hero.fs
Due: dotnet-format, prettier

Put the hero actions on the neutral button variant
  docs/syntax/hero.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  tests/authoring/Blocks/Hub/Hero.fs
Due: dotnet-format, prettier

Add Logstash icon to hub ProductIcons (#3843)
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
Due: dotnet-format
