Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Address code feedback
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesSerializationTests.cs
Due: dotnet-format

Add --report option for changelog add command
  docs/cli/changelog/add.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/AddReportOptionTests.cs
Due: dotnet-format

Update tests/Elastic.Changelog.Tests/Changelogs/Create/AddReportOptionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/AddReportOptionTests.cs
Due: dotnet-format

Fix rendering of private links in changelog directive
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/PrivateLinkBugTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogTextUtilitiesTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPrivateLinkBugTests.cs
Due: dotnet-format

Add dropdown option for directive
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogDropdownsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPrivateLinkBugTests.cs
Due: dotnet-format

Fix bolding
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogDropdownsTests.cs
Due: dotnet-format

Retry S3 link registry fetch with exponential backoff in match command
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
Due: dotnet-format

fix: remove unnecessary null-forgiving operators flagged as IDE0370
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/OnThisPageBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewBlock.cs
Due: dotnet-format

fix(tests): filter page-title-row div from HTML assertions
  tests/authoring/Framework/HtmlAssertions.fs
Due: dotnet-format

nav-v2: rename migrate toc entry to "Move between ingest tools"
  config/navigation-v2.yml
Due: none

Register migrate/ as phantom in navigation.yml
  config/navigation.yml
Due: none

fix(nav): resolve V2 page: entries into NavigationDocumentationFileLookup
  config/assembler.yml
  config/navigation.yml
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
Due: dotnet-format

fix: remove hub-pages-specific config accidentally committed to nav-v2
  config/assembler.yml
  config/navigation.yml
Due: none

feat(hub-pages): wire hub pages through assembler preview
  config/assembler.yml
  config/navigation-v2.yml
  config/navigation.yml
Due: none

fix(layout): in-page TOC and API TOC layout
  src/Elastic.ApiExplorer/Layout/_ApiToc.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: prettier

fix(site): classify Nav V2 label lists as subsection vs folder groups
  src/Elastic.Documentation.Site/Navigation/NavV2LabelListKind.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: dotnet-format, prettier

feat(site): Nav V2 search and client navigation behavior
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

fix(site): Nav V2 sidebar and layout styles
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

chore(svg): add transition_bottom_in and transition_bottom_out icons
  src/Elastic.Documentation.Svg/svgs/transition_bottom_in.svg
  src/Elastic.Documentation.Svg/svgs/transition_bottom_out.svg
Due: none

fix(nav): fix CS8120 unreachable case and IDE0058 unused TryAdd returns
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
Due: dotnet-format

style: fix Prettier formatting in pages-nav-v2.ts and styles.css
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

style(site): apply Prettier to Nav V2 assets
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

fix(assembler): warn instead of error when branch has no link index entry
  src/services/Elastic.Documentation.Assembler/Sourcing/RepositorySourcesFetcher.cs
Due: dotnet-format

fix(assembler): gracefully handle unpublished branches in cross-link fetching
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryPublishValidationService.cs
Due: dotnet-format

[Changelog] Strip dash from title prefix (#3226)
  docs/cli/changelog/add.md
  docs/cli/changelog/evaluate-pr.md
  docs/cli/changelog/gh-release.md
  docs/contribute/configure-changelogs-ref.md
  src/Elastic.Documentation.Configuration/Changelog/ExtractConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/TitleProcessingTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogTextUtilitiesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesSerializationTests.cs
Due: dotnet-format

fix(nav): resolve V2 page entries from nested TOCs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Documentation.Navigation/V2/PageCrossLinkLeaf.cs
  src/Elastic.Documentation.Navigation/V2/PageFolderNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
Due: dotnet-format

Remove UTF-8 BOM from changelog command output
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Utilities/ChangelogUtf8Normalization.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
  tests/Elastic.Changelog.Tests/Utilities/ChangelogUtf8NormalizationTests.cs
Due: dotnet-format

fix(nav): register files from unseen child TOCs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/NavigationItemExtensions.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
Due: dotnet-format

dotnet formatted
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Utilities/ChangelogUtf8Normalization.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
  tests/Elastic.Changelog.Tests/Utilities/ChangelogUtf8NormalizationTests.cs
Due: dotnet-format

Add description-visibility option to changelog directive (#3224)
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogDescriptionVisibility.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogDescriptionVisibilityTests.cs
Due: dotnet-format

Add --report option for changelog add command (#3227)
  docs/cli/changelog/add.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/AddReportOptionTests.cs
Due: dotnet-format

Document :dropdowns: option for changelog directive
  docs/syntax/changelog.md
Due: none

Refine page-top metadata: pills inside Availability box, text+? tooltips
  src/Elastic.Documentation.Site/Assets/markdown/metadata-box.css
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/MetadataBox.cshtml
  src/Elastic.Markdown/Page/ProductPills.cshtml
Due: dotnet-format, prettier

Address AI review
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
Due: dotnet-format

Repoint product hub URLs at the real /products/<product>/v9/ pages
  config/products.yml
Due: none

Add Product hubs landing page to V2 nav
  config/navigation-v2.yml
Due: none

Update authoring snapshot tests for new applies-to tooltip copy
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Retry S3 link registry fetch on transient errors in match command (#3229)
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
Due: dotnet-format

Stop pill click from toggling the metadata box
  src/Elastic.Markdown/Page/MetadataBox.cshtml
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
