Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Git-based link-index for codex clone" (#2739)
  src/Elastic.Codex/Elastic.Codex.csproj
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Documentation.LinkIndex/Elastic.Documentation.LinkIndex.csproj
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Remove `documentation_sets` from codex config - Use link index and docset metadata instead
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/Navigation/CodexNavigation.cs
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/CodexNavigationTests.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
Due: dotnet-format

change docset structure
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
Due: dotnet-format

Improve MCP server discoverability for LLM clients
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/CoherenceTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/SearchTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/ContentTypeTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/LinkTools.cs
Due: dotnet-format

Skip ES highlighting for MCP search requests at source
  src/api/Elastic.Documentation.Api.Core/Search/IFullSearchGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/CoherenceTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/SearchTools.cs
  src/services/Elastic.Documentation.Search/FullSearchGateway.cs
Due: dotnet-format

Fix import ordering in FullSearchGateway
  src/services/Elastic.Documentation.Search/FullSearchGateway.cs
Due: dotnet-format

Sync skill file and docs with updated tool descriptions
  .claude/skills/mcp-search/SKILL.md
  docs/mcp/index.md
Due: none

Update Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Improve MCP server discoverability for LLM clients (#2741)
  .claude/skills/mcp-search/SKILL.md
  docs/mcp/index.md
  src/api/Elastic.Documentation.Api.Core/Search/IFullSearchGateway.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/CoherenceTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/DocumentTools.cs
  src/api/Elastic.Documentation.Mcp.Remote/Tools/SearchTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/ContentTypeTools.cs
  src/services/Elastic.Documentation.Assembler/Mcp/LinkTools.cs
  src/services/Elastic.Documentation.Search/FullSearchGateway.cs
Due: dotnet-format

Potential fix for pull request finding 'Call to 'System.IO.Path.Combine' may silently drop its earlier arguments'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add changelog init command (#2697)
  docs/_docset.yml
  docs/cli/release/changelog-init.md
  docs/cli/release/index.md
  docs/contribute/changelog.md
  src/Elastic.Documentation.Configuration/Paths.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format

Rename occurrences of 'engineering' codex env to 'internal'
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/services/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Potential fix for pull request finding 'Useless assignment to local variable'
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
Due: dotnet-format

Use discard
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
Due: dotnet-format

Adjust placement querystring
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

Remove label event
  .github/workflows/assembler-preview.yml
Due: none

Adjust placement querystring (#2745)
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

Remove `documentation_sets` from codex config - Use link index and docset metadata instead (#2740)
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/Navigation/CodexNavigation.cs
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/CodexNavigationTests.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
Due: dotnet-format

Extract lint into it's own job
  .github/workflows/ci.yml
Due: none

Fix tests
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Creation/IssueInfoProcessor.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
Due: dotnet-format

More test fixes
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/GitHub/GitHubPrService.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogSubsectionsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTypeFilterTests.cs
Due: dotnet-format

Adjust scrollbar styling
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Potential fix for pull request finding 'Useless assignment to local variable'
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Changelog/Bundling/IssueFilterLoader.cs
Due: dotnet-format

Fix filename behaviour
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
Due: dotnet-format

Update docs and help text
  config/changelog.example.yml
  docs/cli/release/changelog-add.md
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/CreateChangelogArgumentsValidator.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Fix more tests
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
Due: dotnet-format

Revert "Extract lint into it's own job"
  .github/workflows/ci.yml
Due: none

Lighter and thinner scrollbar (#2749)
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Disable Optimizely in assembler configuration
  config/assembler.yml
Due: none

Disable Optimizely in assembler configuration (#2750)
  config/assembler.yml
Due: none

Update sample YAML files
  docs/changelog/bundles/0.100.0.yaml
  docs/changelog/fsharp-nullability-warnings.yaml
  docs/changelog/htmx-navigation-fix.yaml
  docs/changelog/pr-label-blockers.yaml
  docs/changelog/sample-feature-099.yaml
  docs/changelog/speculative-builds-fix.yaml
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Make release note subsections heed changelog publishing rules
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation/ReleaseNotes/PublishBlockerExtensions.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/BreakingChangesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/DeprecationsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/EntriesByAreaAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/HighlightsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/KnownIssuesAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderUtilities.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/PublishBlockerExtensionsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogSubsectionsTests.cs
Due: dotnet-format

Fix Elastic.Markdown.Tests
  tests/Elastic.Markdown.Tests/Directives/ChangelogSubsectionsTests.cs
Due: dotnet-format

Fix github-code-quality feedback
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/PublishBlockerExtensionsTests.cs
Due: dotnet-format
