Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Potential fix for pull request finding 'Missed opportunity to use Where'
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Generic catch clause'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Small touches to ChangelogCommand
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Select'
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Prevent speculative builds for repositories already publishing with non-versioned branches
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
  tests/Elastic.Documentation.Configuration.Tests/AssemblyConfigurationMatchTests.cs
Due: dotnet-format

Fix tests
  tests/Elastic.Markdown.Tests/Inline/InlineLinkTests.cs
Due: dotnet-format

Add PR label blockers to changelog creation (#2350)
  config/changelog.yml.example
  docs-builder.slnx
  docs/cli/index.md
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

fix build error
  src/tooling/docs-builder/Commands/Assembler/ContentSourceCommands.cs
Due: dotnet-format

add support for failure modes
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FilterSidebar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/LandingPage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultCard.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/SearchHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/fullPageSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useFullPageSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useSearchAvailability.ts
Due: prettier, typescript-check, eslint

fmt:write
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FilterSidebar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/LandingPage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultCard.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/SearchHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/fullPageSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/index.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useFullPageSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/MarkdownContent.tsx
Due: prettier, typescript-check, eslint

fix tests
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Share lexical query between FindPage and FullSearch
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchQueryBuilder.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FindPageGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format

Set page title for search properly
  docs/_search.md
Due: none

Potential fix for code scanning alert no. 50: Incomplete multi-character sanitization
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
Due: prettier, typescript-check, eslint

address codeQL issues
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/api/Elastic.Documentation.Api.Core/Search/FindPageUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/ElasticsearchClientAccessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FindPageGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
Due: dotnet-format, prettier, typescript-check, eslint

fix Run npm run compile:check
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
Due: prettier, typescript-check, eslint

fix log
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
Due: dotnet-format

Prevent speculative builds for repositories already publishing with non-versioned branches (#2471)
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
  src/tooling/docs-builder/Commands/Assembler/ContentSourceCommands.cs
  tests/Elastic.Documentation.Configuration.Tests/AssemblyConfigurationMatchTests.cs
Due: dotnet-format

Optionally register OpenTelemetry
  docs-builder.sln.DotSettings
  src/Elastic.Documentation.ServiceDefaults/Extensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
Due: dotnet-format

Address f# nullability warnings
  tests/authoring/Framework/LlmMarkdownAssertions.fs
Due: dotnet-format

Set env var for integration tests
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Address f# nullability warnings (#2473)
  tests/authoring/Framework/LlmMarkdownAssertions.fs
Due: dotnet-format

Fix htmx navigation from "Find in Docs" popover
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Simplify
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
Due: prettier, typescript-check, eslint

Fix HTMX navigation from "Find Pages" dropdown (#2470)
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Htmx.cs
  tests/Elastic.Markdown.Tests/Inline/InlineLinkTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix spacing related to global nav
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Fix spacing related to global nav (#2476)
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

fix dispose pattern
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Add full-page search landing experience (#2459)
  .claude/settings.json
  .gitignore
  docs/_docset.yml
  docs/_search.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FilterSidebar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/LandingPage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultCard.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/SearchHeader.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/fullPageSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/index.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useFullPageSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useSearchAvailability.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/MarkdownContent.tsx
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
  src/Elastic.Markdown/Layout/_FullSearch.cshtml
  src/Elastic.Markdown/MarkdownPageLayout.cs
  src/Elastic.Markdown/Myst/FrontMatter/FrontMatterParser.cs
  src/Elastic.Markdown/_Layout.cshtml
  src/api/Elastic.Documentation.Api.Core/Search/FindPageUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Search/FullSearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Search/IFullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/ElasticsearchClientAccessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchQueryBuilder.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchResultProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FindPageGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Aws/LocalParameterProvider.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/ServicesExtension.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

[syntax docs] Rename section from 'Keyboard shortcuts' to 'Keyboard markup' (#2457)
  docs/syntax/kbd.md
Due: none

[DOCS] Add nested definition list syntax
  docs/syntax/definition-lists.md
Due: none

[DOCS] Add nested definition list syntax (#2477)
  docs/syntax/definition-lists.md
Due: none

Reuse streaming AI client on frontend
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/askAiStreamClient.ts
Due: prettier, typescript-check, eslint

format css js
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/askAiStreamClient.ts
Due: prettier, typescript-check, eslint

Reuse streaming AI client on frontend (#2478)
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/askAiStreamClient.ts
Due: prettier, typescript-check, eslint

Fix lint
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add changelog bundle and render commands (#2341)
  config/changelog.yml.example
  docs/_docset.yml
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-render.md
  docs/cli/release/index.md
  docs/contribute/changelog.md
  docs/contribute/index.md
  src/services/Elastic.Documentation.Services/Changelog/BundleInput.cs
  src/services/Elastic.Documentation.Services/Changelog/BundledChangelogData.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogBundleInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/services/Elastic.Documentation.Services/Elastic.Documentation.Services.csproj
  src/tooling/docs-builder/Arguments/BundleInputParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Add changelog authorization docs
  docs/contribute/changelog.md
Due: none

Add changelog authorization docs (#2474)
  docs/contribute/changelog.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
