Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix issue
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Format fixes
  src/Elastic.Documentation.Site/Assets/mermaid.test.ts
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Fix Mermaid text labels stripped by DOMPurify
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Use DOM-based SVG sanitisation to address CodeQL alerts
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Avoid innerHTML for SVG to resolve remaining CodeQL alerts
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Design adjustments
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
Due: prettier, typescript-check, eslint

Fix lock file after merge: remove beautiful-mermaid re-added by main
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Parse SVG as text/html to handle Mermaid's foreignObject HTML content
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Deep refactor
  src/Elastic.Documentation.Site/Assets/mermaid.test.ts
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Fix mobile nav and missing static assets
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: dotnet-format, prettier

Fix font in secondary nav
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
Due: prettier

Replace beautiful-mermaid with mermaid.js for diagram rendering
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Format mermaid.ts with prettier
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Hide raw mermaid source text to prevent flash before rendering
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
Due: prettier

Add --hide-features to CLI
  config/changelog.example.yml
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Fix htmx loading indicator
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier

Fix mobile nav and missing static assets (#2660)
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: dotnet-format, prettier

Replace beautiful-mermaid with mermaid.js (#2661)
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Add optimizely script in prod only
  config/assembler.yml
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Documentation.Configuration/Assembler/Optimizely.cs
  src/Elastic.Documentation.Configuration/Assembler/OptimizelyConfiguration.cs
  src/Elastic.Documentation.Configuration/Assembler/PublishEnvironment.cs
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
Due: dotnet-format, prettier

Release Notes Feature Improvements (#2637)
  config/changelog.example.yml
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation/ReleaseNotes/BundledProduct.cs
  src/Elastic.Documentation/ReleaseNotes/LoadedBundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/HideFeaturesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/LoadPublishBlockerTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTocFilteringTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTypeFilterTests.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/MockFileSystemExtensions.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
Due: dotnet-format

Revert "Replace beautiful-mermaid with mermaid.js (#2661)"
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Fix build error
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/HighlightsRenderTests.cs
Due: dotnet-format

Add changelog highlights to render output
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Rendering/Asciidoc/ChangelogAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/HighlightsAsciidocRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/HighlightsRenderTests.cs
Due: dotnet-format

Add optimizely script in prod only (#2662)
  config/assembler.yml
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Documentation.Configuration/Assembler/Optimizely.cs
  src/Elastic.Documentation.Configuration/Assembler/OptimizelyConfiguration.cs
  src/Elastic.Documentation.Configuration/Assembler/PublishEnvironment.cs
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
Due: dotnet-format, prettier

Update mermaid.ts
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Fix GenerateMarkdown
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
Due: dotnet-format

More improvements to highlights in directive
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
Due: dotnet-format

Update diagrams.md
  docs/syntax/diagrams.md
Due: none

Fix linting
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
Due: dotnet-format

Revert "Replace beautiful-mermaid with mermaid.js (#2661)" (#2663)
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Clean up section titles in directive highlights
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
Due: dotnet-format

Update changelog directive docs
  docs/syntax/changelog.md
Due: none

Normalize checksums and improve warning on checksum mismatch
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/BundleValidationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/ChecksumValidationTests.cs
Due: dotnet-format

Return checksum values to the message
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
Due: dotnet-format
