Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Make clone directories git worktree-aware
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation.Configuration/Paths.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  tests/Elastic.Documentation.Configuration.Tests/GitCommonRootTests.cs
Due: dotnet-format

Improve `docs-builder serve` reliability and startup speed
  docs/_docset.yml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add read-only permissions and schema ref to .claude/settings.json
  .claude/settings.json
Due: none

Expand .claude/settings.json with build and dotnet/npm permissions
  .claude/settings.json
Due: none

Add common Unix utility commands to .claude/settings.json allow list
  .claude/settings.json
Due: none

Remove generic Unix utility commands from allow list
  .claude/settings.json
Due: none

Apply suggestions from code review
  .claude/settings.json
Due: none

Make clone directories git worktree-aware (#2981)
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation.Configuration/Paths.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  tests/Elastic.Documentation.Configuration.Tests/GitCommonRootTests.cs
Due: dotnet-format

Expand .claude/settings.json with read-only permissions and schema reference (#2983)
  .claude/settings.json
Due: none

Improve `docs-builder serve` reliability and startup speed (#2982)
  docs/_docset.yml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add dedicated air-gapped publish environment
  build/Targets.fs
  config/assembler.yml
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Assets/config.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useSearchAvailability.ts
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Layout/_AssemblerHeader.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix Prettier formatting in Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
Due: prettier, typescript-check, eslint

Clean assembly dir and stale .gz files before air-gapped build
  build/Targets.fs
Due: dotnet-format

Add air-gapped docs container (#2978)
  build/CommandLine.fs
  build/Targets.fs
  build/air-gapped/Dockerfile
  build/air-gapped/nginx.conf
  config/assembler.yml
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Assets/config.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useSearchAvailability.ts
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Layout/_AssemblerHeader.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
Due: dotnet-format, prettier, typescript-check, eslint

feat(nav-search): polish in-sidebar jump-to-page component
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

feat(nav-v2): sidebar tree, styles, and folder UX
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: prettier, typescript-check, eslint

style(toc): align in-page and API TOC link padding with sidebar
  src/Elastic.ApiExplorer/Layout/_ApiToc.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
Due: none

Fix IDE0370: remove unnecessary null-forgiving operators in ChangelogRemoveService
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
Due: dotnet-format

Address CodeRabbit review: path traversal hardening, URL construction fixes, and shared utilities
  src/Elastic.Documentation.Configuration/Paths.cs
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation/Extensions/UrlPath.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRuleFile.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Sourcing/RepositorySourcesFetcher.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests-integration/Elastic.Assembler.IntegrationTests/SiteNavigationTests.cs
Due: dotnet-format

Fix import ordering in HtmlWriter.cs
  src/Elastic.Markdown/HtmlWriter.cs
Due: dotnet-format

Forward appendRepositoryName and assumeCloned on CloneRef retry
  src/services/Elastic.Documentation.Assembler/Sourcing/RepositorySourcesFetcher.cs
Due: dotnet-format

style: fix Prettier formatting in pages-nav-v2.ts and styles.css
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

Update config/products.yml
  config/products.yml
Due: none

feat(nav-v2): wire Elasticsearch fundamentals and Ingest data storage sections
  config/navigation-v2.yml
Due: none

feat(nav-v2): expand data storage, lifecycle, and transform sections to full depth
  config/navigation-v2.yml
Due: none

Harden path security across all file-reading directives
  src/Elastic.Documentation.Configuration/SymlinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeBlock.cs
  src/Elastic.Markdown/Myst/Directives/Include/IncludeBlock.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsBlock.cs
Due: dotnet-format

Search: Include synonym ID in synonym rule values
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Search: Change synonyms from dictionary to flat list
  .superset/config.json
  src/Elastic.Documentation.Configuration/Search/SearchConfiguration.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  tests-integration/Elastic.Assembler.IntegrationTests/TestHelpers.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
  tests/Elastic.Documentation.Build.Tests/TestHelpers.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
Due: dotnet-format

Address CodeRabbit review: symlink order and dangling symlinks
  src/Elastic.Documentation.Configuration/SymlinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Include/IncludeBlock.cs
Due: dotnet-format

Harden path security across all file-reading directives (#3000)
  src/Elastic.Documentation.Configuration/SymlinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvIncludeBlock.cs
  src/Elastic.Markdown/Myst/Directives/Include/IncludeBlock.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsBlock.cs
Due: dotnet-format

Tighten ScopedFileSystem allowlists and consolidate app data paths
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/Elastic.Documentation.LinkIndex/Elastic.Documentation.LinkIndex.csproj
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/tooling/docs-builder/DocumentationTooling.cs
  src/tooling/docs-builder/Filters/CheckForUpdatesFilter.cs
Due: dotnet-format

Tighten GitLinkIndexReader scope and rename CreateScoped
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

Scope file systems to the path argument rather than CWD
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/tooling/docs-builder/Commands/DiffCommands.cs
  src/tooling/docs-builder/Commands/FormatCommand.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
  src/tooling/docs-builder/Commands/IsolatedBuildCommand.cs
  src/tooling/docs-builder/Commands/MoveCommand.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
Due: dotnet-format

Add changelog bundle support for hiding private links
  config/assembler.yml
  config/changelog.example.yml
  docs/cli/release/changelog-bundle-amend.md
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-gh-release.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogLinkVisibility.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/PrivateChangelogLinkSanitizer.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/AssemblerConfigurationYamlTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/PrivateChangelogLinkSanitizerTests.cs
Due: dotnet-format

Add more repos to assembler.yml
  config/assembler.yml
Due: none
