Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

fix: replace DynamicResponse with StringResponse+JsonDocument for AOT compatibility
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

fix: ensure semaphore is disposed when no PIT was opened
  src/services/Elastic.Documentation.Search/SharedPointInTimeManager.cs
Due: dotnet-format

fix: use TryParse for last_updated to avoid FormatException aborting sitemap generation
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

Enable code guidelines knowledge base for reviews
  .coderabbit.yaml
Due: none

Potential fix for pull request finding 'Generic catch clause'
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

fix: revert CodeQL autofix using non-existent RequestException
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

fix: always advance search_after cursor even for skipped hits
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

fix: use CancellationToken.None for PIT cleanup to ensure it always completes
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

Enable prompt for AI agents in review comments
  .coderabbit.yaml
Due: none

Update navigation configuration
  config/navigation.yml
Due: none

Enable eslint and hadolint for frontend code and Dockerfiles
  .coderabbit.yaml
Due: none

fix: pass DefaultRequestParameters to DeleteAsync to avoid NullReferenceException
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

Add CodeRabbit configuration (#2949)
  .coderabbit.yaml
Due: none

Fix area name comma-split bug in changelog label mapping (#2935)
  config/changelog.example.yml
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/LabelMappingTests.cs
Due: dotnet-format

feat(nav-v2): page-folder group node; migrate section and Reference/Troubleshooting nav updates
  config/navigation-v2.yml
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
  src/Elastic.Documentation.Navigation/V2/PageFolderNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
Due: dotnet-format

fix(nav-v2): check group: before page: in YAML parser to support page-folder groups
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
Due: dotnet-format

fix(settings): render top-level settings content and kibana links
  docs/syntax/settings-schema-sample.yml
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsMarkdownNormalizer.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Settings/StructuredSettings.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
Due: dotnet-format

fix(settings): align anchors and llm snippet resolution
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsView.cshtml
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
Due: dotnet-format

fix(settings): suppress noisy availability badges
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
Due: dotnet-format

add cps icon
  docs/syntax/icons.md
  src/Elastic.Documentation.Svg/svgs/cross_project_search.svg
Due: none

center
  docs/syntax/icons.md
Due: none

refactor: apply review suggestions - use JsonResponse and VoidResponse
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
Due: dotnet-format

refactor: use PostData.Serializable instead of raw JSON string building
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
  tests/Elastic.Documentation.Build.Tests/SitemapTests.cs
Due: dotnet-format

Remove API Lambda project, workflows, and release steps
  .editorconfig
  .github/workflows/build-api-lambda.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-api-lambda-edge.yml
  .github/workflows/deploy-api-lambda-prod.yml
  .github/workflows/deploy-api-lambda.yml
  .github/workflows/release.yml
  aspire/aspire.csproj
  docs-builder.slnx
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/api/Elastic.Documentation.Api.Lambda/Elastic.Documentation.Api.Lambda.csproj
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/api/Elastic.Documentation.Api.Lambda/Properties/launchSettings.json
  src/api/Elastic.Documentation.Api.Lambda/appsettings.development.json
  src/api/Elastic.Documentation.Api.Lambda/appsettings.edge.json
  src/api/Elastic.Documentation.Api.Lambda/appsettings.json
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Elastic.Documentation.Api.IntegrationTests.csproj
Due: dotnet-format

Fix Aspire AppHost to reference Api.App instead of Api.Lambda
  aspire/AppHost.cs
  aspire/ResourceNames.cs
Due: dotnet-format

Restrict CodeRabbit to apply exactly one label per PR
  .coderabbit.yaml
Due: none

Use 'fix' label instead of 'bug' for bug fix PRs
  .coderabbit.yaml
Due: none

Move single-label constraint into per-label instructions
  .coderabbit.yaml
Due: none

Add CPS icon to icon library (#2951)
  docs/syntax/icons.md
  src/Elastic.Documentation.Svg/svgs/cross_project_search.svg
Due: none

refactor: fold expired PIT handling into GetPitIdAsync
  src/services/Elastic.Documentation.Search/ChangesGateway.cs
  src/services/Elastic.Documentation.Search/SharedPointInTimeManager.cs
Due: dotnet-format

Restrict CodeRabbit to apply exactly one label per PR (#2953)
  .coderabbit.yaml
Due: none

Exclude folder-level excluded files from processing
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  tests/Navigation.Tests/Isolation/FolderExcludeTests.cs
Due: dotnet-format

Exclude folder-level excluded files from processing (#2954)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  tests/Navigation.Tests/Isolation/FolderExcludeTests.cs
Due: dotnet-format

Remove API Lambda project, workflows, and release steps (#2952)
  .editorconfig
  .github/workflows/build-api-lambda.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-api-lambda-edge.yml
  .github/workflows/deploy-api-lambda-prod.yml
  .github/workflows/deploy-api-lambda.yml
  .github/workflows/release.yml
  aspire/AppHost.cs
  aspire/ResourceNames.cs
  aspire/aspire.csproj
  docs-builder.slnx
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/api/Elastic.Documentation.Api.Lambda/Elastic.Documentation.Api.Lambda.csproj
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/api/Elastic.Documentation.Api.Lambda/Properties/launchSettings.json
  src/api/Elastic.Documentation.Api.Lambda/appsettings.development.json
  src/api/Elastic.Documentation.Api.Lambda/appsettings.edge.json
  src/api/Elastic.Documentation.Api.Lambda/appsettings.json
  tests-integration/Elastic.Documentation.Api.IntegrationTests/Elastic.Documentation.Api.IntegrationTests.csproj
Due: dotnet-format

Add schema-compliant automated settings rendering (#2909)
  docs/_docset.yml
  docs/syntax/automated_settings.md
  docs/syntax/settings-schema-sample.yml
  docs/syntax/settings-with-applies-example.yml
  docs/testing/index.md
  docs/testing/kibana-alert-action-settings.yml
  docs/testing/kibana-fleet-settings.yml
  docs/testing/kibana-general-settings.yml
  docs/testing/kibana-logging-settings.yml
  docs/testing/kibana-monitoring-settings.yml
  docs/testing/kibana-security-settings.yml
  docs/testing/kibana-settings-yaml-samples.md
  docs/testing/security-settings.md
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsMarkdownNormalizer.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Settings/StructuredSettings.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/InlineParsers/Substitution/SubstitutionParser.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmApplicabilityHelper.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

docs(settings): document schema and drop stale notes
  docs/syntax/automated_settings.md
  docs/testing/kibana-alert-action-settings.yml
  docs/testing/kibana-fleet-settings.yml
  docs/testing/kibana-general-settings.yml
  docs/testing/kibana-monitoring-settings.yml
  docs/testing/kibana-security-settings.yml
Due: none

docs(settings): document schema and drop stale notes (#2956)
  docs/syntax/automated_settings.md
  docs/testing/kibana-alert-action-settings.yml
  docs/testing/kibana-fleet-settings.yml
  docs/testing/kibana-general-settings.yml
  docs/testing/kibana-monitoring-settings.yml
  docs/testing/kibana-security-settings.yml
Due: none

docs: update nav-v2-status.md to reflect current prototype state
  nav-v2-status.md
Due: none

feat(nav-v2): generate stub pages for placeholder nav items
  src/Elastic.Documentation.Navigation/V2/PlaceholderNavigationLeaf.cs
  src/Elastic.Documentation.Navigation/V2/PlaceholderNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
  src/Elastic.Markdown/Page/PlaceholderPage.cshtml
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/PlaceholderPageWriter.cs
Due: dotnet-format, prettier

docs(nav-v2): update status — placeholder items now generate stub pages
  nav-v2-status.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
