Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Add labs_category and labs_integration_category to essc content types
  src/tooling/essc/ContentStack/SourcingState.cs
Due: dotnet-format

Htmx: anchor loading indicator below the assembler secondary nav
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
Due: prettier

Htmx: preserve loading indicator across body swaps
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
Due: prettier

Increase assembler preview S3 upload concurrency
  .github/workflows/assembler-preview.yml
Due: none

Increase assembler preview S3 upload concurrency (#3649)
  .github/workflows/assembler-preview.yml
Due: none

Drop assembler OpenAPI build step for now
  config/navigation-v2.yml
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/OpenApiNavigationHost.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/strategies/assembler.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.test.tsx
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  src/services/Elastic.Documentation.Assembler/Elastic.Documentation.Assembler.csproj
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add labs_category and labs_integration_category to essc content types (#3648)
  src/tooling/essc/ContentStack/SourcingState.cs
Due: dotnet-format

Sync: upload/delete files concurrently instead of one directory call
  src/services/Elastic.Documentation.Deploying/IncrementalDeployService.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/AwsS3SyncApplyStrategy.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/DocsSync.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
Due: dotnet-format

Fix xUnit1051 lint warning in new test
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
Due: dotnet-format

security: PR body file handling, output sanitization, YAML adversarial tests, supply-chain attestations (#3329)
  .github/actions/check-shai-hulud/action.yml
  .github/workflows/ci.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Utilities/OutputSanitizer.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Utilities/OutputSanitizerTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesSerializationTests.cs
Due: dotnet-format

docs: group CLI + API reference feature docs under docs/schema-support/
  AGENTS.md
  CONTRIBUTING.md
  docs/_docset.yml
  docs/_redirects.yml
  docs/configure/content-set/index.md
  docs/configure/content-set/navigation.md
  docs/schema-support/api-explorer/index.md
  docs/schema-support/cli-schema/index.md
  docs/schema-support/cli-schema/supplemental.md
  docs/schema-support/index.md
Due: none

fix: update links.json authoring snapshot for schema-support pages
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format

Changelog scrubber: allow links to public repos marked skip in assembler.yml
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
Due: dotnet-format

Add changelog entry for scrubber allowlist fix
  docs/changelog/scrubber-allow-public-skip-repos.yaml
Due: none

Bump Mermaider to 0.9.0
  Directory.Packages.props
Due: none

docs: group CLI and API reference feature docs under schema-support/ (#3652)
  AGENTS.md
  CONTRIBUTING.md
  docs/_docset.yml
  docs/_redirects.yml
  docs/configure/content-set/index.md
  docs/configure/content-set/navigation.md
  docs/schema-support/api-explorer/index.md
  docs/schema-support/cli-schema/index.md
  docs/schema-support/cli-schema/supplemental.md
  docs/schema-support/index.md
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format

Changelog scrubber: keep links to public repos marked skip in assembler.yml (#3653)
  docs/changelog/scrubber-allow-public-skip-repos.yaml
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
Due: dotnet-format

Raise mobile pages nav z-index above global nav
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
Due: prettier

Raise mobile pages nav z-index above global nav (#3654)
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
Due: prettier

Improve 404 recovery with related pages
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/web-components/RelatedPages/RelatedPages.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/RelatedPages/RelatedPages.tsx
  src/Elastic.Documentation.Site/Assets/web-components/RelatedPages/RelatedPagesComponent.tsx
  src/Elastic.Documentation.Site/synthetics/journeys/404-page.journey.ts
  src/Elastic.Markdown/Layout/_NotFound.cshtml
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/SerializationContext.cs
  src/services/search/Elastic.Documentation.Search.Contract/Search/SearchRequest.cs
  src/services/search/Elastic.Documentation.Search/DefaultSearchService.cs
  src/services/search/Elastic.Documentation.Search/FullSearchService.cs
  src/services/search/Elastic.Documentation.Search/IFullSearchService.cs
  src/services/search/Elastic.Documentation.Search/IRelatedPagesService.cs
  src/services/search/Elastic.Documentation.Search/RelatedPagesQuery.cs
  src/services/search/Elastic.Documentation.Search/RelatedPagesService.cs
  src/services/search/Elastic.Documentation.Search/ServicesExtension.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/RelatedPagesQueryTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/RelatedPagesServiceTests.cs
  tests/Elastic.Documentation.Api.Tests/RelatedPagesEndpointTests.cs
  tests/Elastic.Markdown.Tests/DocSet/NotFoundPageTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix 404 frontend CI checks
  src/Elastic.Documentation.Site/Assets/web-components/RelatedPages/RelatedPages.test.tsx
  src/Elastic.Documentation.Site/synthetics/journeys/404-page.journey.ts
Due: prettier, typescript-check, eslint

Fix LLM export on in-memory filesystems
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/LlmMarkdownExporterTests.cs
Due: dotnet-format

Add temporary 404 preview route
  .github/workflows/assembler-preview.yml
  src/Elastic.Documentation.Site/Assets/web-components/RelatedPages/RelatedPages.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/RelatedPages/RelatedPages.tsx
Due: prettier, typescript-check, eslint

Fix Codex search modal dismissal
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

Fix Codex search modal dismissal (#3657)
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

Gate related pages behind feature flag
  config/assembler.yml
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Markdown/Layout/_NotFound.cshtml
  tests/Elastic.Markdown.Tests/DocSet/NotFoundPageTests.cs
Due: dotnet-format

Fix stepper TOC indicator
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
Due: prettier, typescript-check, eslint

Fix 404 synthetic search locator
  src/Elastic.Documentation.Site/synthetics/journeys/404-page.journey.ts
Due: prettier, typescript-check, eslint

Fix stepper TOC indicator (#3658)
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
Due: prettier, typescript-check, eslint

Remove search bar from 404 page
  src/Elastic.Documentation.Site/synthetics/journeys/404-page.journey.ts
  src/Elastic.Markdown/Layout/_NotFound.cshtml
  tests/Elastic.Markdown.Tests/DocSet/NotFoundPageTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix LLM export on in-memory filesystems (#3656)
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/LlmMarkdownExporterTests.cs
Due: dotnet-format

Gate 404 recovery UI by feature flag
  src/Elastic.Markdown/Layout/_NotFound.cshtml
  tests/Elastic.Markdown.Tests/DocSet/NotFoundPageTests.cs
Due: dotnet-format

Fix feature-gated 404 synthetic check
  src/Elastic.Documentation.Site/synthetics/journeys/404-page.journey.ts
Due: prettier, typescript-check, eslint

Add --skip-etag-check option
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Documentation.Integrations/S3/S3IncrementalUploader.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

docs(nav): move Elastic CLI between ECS and Machine learning in Reference nav
  config/navigation.yml
Due: none

Assets: Lazy-load KaTeX JS, CSS, and fonts
  src/Elastic.Documentation.Site/Assets/fonts.css
  src/Elastic.Documentation.Site/Assets/global.d.ts
  src/Elastic.Documentation.Site/Assets/katex.css
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

Assets: Lazy-load KaTeX JS, CSS, and fonts (#3660)
  src/Elastic.Documentation.Site/Assets/fonts.css
  src/Elastic.Documentation.Site/Assets/global.d.ts
  src/Elastic.Documentation.Site/Assets/katex.css
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

docs: rename EDOT display strings for 9.5 product rebrand
  config/products.yml
  config/search.yml
  src/Elastic.Markdown/Myst/Components/ApplicabilityMappings.cs
  src/Elastic.Markdown/Myst/Components/ProductDescriptions.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
Due: dotnet-format
