Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix SiteNavigationTests.DisposeAsync collection-modified race
  tests-integration/Elastic.Assembler.IntegrationTests/SiteNavigationTests.cs
Due: dotnet-format

Fix updatecli token scope for public browser repo (#3003)
  .github/updatecli/values.d/scm.yml
  .github/workflows/updatecli.yml
Due: none

feat(nav-v2): move perform-index-operations per docs-content#5279
  config/navigation-v2.yml
Due: none

style: fix Prettier formatting in pages-nav-v2.ts and styles.css
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

fix(nav-v2): ancestor folder ink and deepest current link
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier, typescript-check, eslint

Fix sanitization check
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Add tests
  src/services/Elastic.Changelog/Bundling/PrivateChangelogLinkSanitizer.cs
  tests/Elastic.Changelog.Tests/Changelogs/PrivateChangelogLinkSanitizerTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Update src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
Due: dotnet-format

Fix acceptance of PRIVATE as trusted input
  src/services/Elastic.Changelog/Bundling/PrivateChangelogLinkSanitizer.cs
  tests/Elastic.Changelog.Tests/Changelogs/PrivateChangelogLinkSanitizerTests.cs
Due: dotnet-format

Update to support elastic/docs-builder-integrations-test
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/storybook.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/StorybookStory/StorybookStoryComponent.tsx
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookBlock.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookView.cshtml
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookViewModel.cs
  storybook-kibana-local-testing.md
  storybook-kibana-mdx-transform.md
Due: dotnet-format, prettier, typescript-check, eslint

Add changelog bundle support for hiding private links (#3002)
  config/assembler.yml
  config/changelog.example.yml
  docs/changelog/changelog-private-link-sanitization.yaml
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogLinkVisibility.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/PrivateChangelogLinkSanitizer.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Rendering/Asciidoc/AsciidocRendererBase.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/AssemblerConfigurationYamlTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/PrivateChangelogLinkSanitizerTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Add skip-labels to evaluate-pr's output
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
Due: dotnet-format

Search: Use default semantic_text inference, remove Jina mappings
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
Due: dotnet-format

Change changelog --extract-release-notes impact on title
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Creation/IssueInfoProcessor.cs
  src/services/Elastic.Changelog/Creation/PrInfoProcessor.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/ReleaseNotesExtractor.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/ReleaseNotesExtractorTests.cs
Due: dotnet-format

Search: Add content_last_updated field for content-only change tracking
  src/Elastic.Documentation/Search/ContentHash.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateLookup.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/EsSitemapReader.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerSitemapCommand.cs
  tests/Elastic.Markdown.Tests/Search/ContentHashTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
Due: dotnet-format

Search: Fix JSON002 lint error in ContentDateLookup
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateLookup.cs
Due: dotnet-format

Search: Fix thread safety, JSON escaping, and unobserved exception
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateLookup.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Fix FindGitRoot file-path fallback and split AssemblerIndexService read/write scopes
  src/Elastic.Documentation.Configuration/Paths.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerIndexCommand.cs
Due: dotnet-format

Fix build errors: AssemblerIndexService and MockFileSystem constructor
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
Due: dotnet-format

Fix ApplicationData scope-root collision when HOME is unset in Docker
  src/Elastic.Documentation.Configuration/Paths.cs
Due: dotnet-format

Address code review feedback on ScopedFileSystem usage
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/Elastic.Documentation.Configuration/Paths.cs
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRulesDocsBuilderExtension.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Deploying/DeployUpdateRedirectsService.cs
  src/services/Elastic.Documentation.Assembler/Deploying/IncrementalDeployService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
Due: dotnet-format

Restore unlimited-depth *.slnx anchor in DetermineWorkingDirectoryRoot
  src/Elastic.Documentation.Configuration/Paths.cs
Due: dotnet-format

Misceleanous fixes, one old pending coderabbit task
  src/Elastic.Documentation.Configuration/FileSystemFactory.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerSitemapCommand.cs
Due: dotnet-format

Fix docs-builder redirect tests (#3008)
  tests/authoring/Framework/Setup.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format

Search: Use default semantic_text inference, remove Jina mappings (#3014)
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
Due: dotnet-format

HTML: Omit version meta tags for versionless pages
  src/Elastic.Codex/Page/Index.cshtml
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format

Search: Replace ContentDateLookup with Elasticsearch enrich policy
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateEnrichment.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateLookup.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchOperations.cs
Due: dotnet-format

Deploy: Use write-scoped filesystem for apply command
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
Due: dotnet-format

Search: Harden ContentDateEnrichment error handling and refresh timing
  src/Elastic.Markdown/Exporters/Elasticsearch/ContentDateEnrichment.cs
Due: dotnet-format

HTML: Restore required modifier on CurrentVersion property
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format

Update Azure EDOT CF version
  config/versions.yml
Due: none

Deploy: Use write-scoped filesystem for apply command (#3021)
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
Due: dotnet-format

Propose: extract EDOT SDKs as a top-level ingest tool group
  config/navigation-v2.yml
Due: none

Deploy: separate read/write scoped filesystems in IncrementalDeployService
  src/services/Elastic.Documentation.Assembler/Deploying/IncrementalDeployService.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
