Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Index API landing pages in assembler llms.txt
  docs/data/exporters/llm.md
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  src/services/Elastic.Documentation.Assembler/Navigation/LlmsNavigationEnhancer.cs
  tests/Elastic.Documentation.Build.Tests/LlmsNavigationEnhancerTests.cs
Due: dotnet-format

updates version (#4025)
  config/versions.yml
Due: none

github-agentic: use v0.2.29 (#4029)
  .github/workflows/pr-review.yml
Due: none

Prevent GITHUB_REPOSITORY from leaking into ValidateBundleRepo in tests
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  tests/Elastic.Changelog.Tests/Bundling/ValidateBundleRepoTests.cs
Due: dotnet-format

Resolve bundle product repo from products.yml per product
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Bundling/BundleBuilderPerProductRepoTests.cs
Due: dotnet-format

Allow one repo to map to many products; deprecate bundle.repo/owner
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Fix indentation in BundleOutputNameRequest constructor call
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Add onboarding pre-flight to changelog validate
  src/services/Elastic.Changelog/Evaluation/ChangelogCommentRenderer.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogEntryValidationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogGithubCommentService.cs
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadata.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogCommentRendererTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogEntryValidationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogGithubCommentServiceTests.cs
Due: dotnet-format

Prevent GITHUB_REPOSITORY from leaking into bundle output naming in tests
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
Due: dotnet-format

Derive repo identity in changelog gh-release; fix empty-repo crash
  docs/cli-schema.json
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Show human auth scheme badges on API operations
  src/Elastic.ApiExplorer/Operations/OpenApiAuthSchemeResolver.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/AuthSchemeTests.cs
Due: dotnet-format, prettier

Promote Vector Database quickstart on docs homepage
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Derive repo identity in changelog gh-release; fix empty-repo crash (#4021)
  docs/cli-schema.json
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
Due: dotnet-format

Revert "github-agentic: use v0.2.29 (#4029)"
  .github/workflows/pr-review.yml
Due: none

Revert "github-agentic: use v0.2.29" (#4032)
  .github/workflows/pr-review.yml
Due: none

Allow one repo to map to many products; deprecate bundle.repo/owner
  config/products.yml
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Inference/ProductInferService.cs
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Bundling/ValidateBundleRepoTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductsConfigurationTests.cs
Due: dotnet-format

Source security-labs and observability-labs from Contentstack too
  docs/development/essc.md
  src/tooling/essc/Commands/ContentStackCommands.cs
  src/tooling/essc/Commands/DumpSamplesCommand.cs
  src/tooling/essc/Commands/LabsCommands.cs
  src/tooling/essc/ContentStack/ContentStackMapper.cs
  src/tooling/essc/ContentStack/SourcingState.cs
  src/tooling/essc/Elasticsearch/ContentTierClassifier.cs
  src/tooling/essc/Elasticsearch/LabsDocumentExporter.cs
  src/tooling/essc/LabsCrawl/AdaptiveCrawler.cs
  src/tooling/essc/LabsCrawl/CachedDocInfo.cs
  src/tooling/essc/LabsCrawl/CachingJsonContext.cs
  src/tooling/essc/LabsCrawl/CrawlDecision.cs
  src/tooling/essc/LabsCrawl/CrawlDecisionMaker.cs
  src/tooling/essc/LabsCrawl/CrawlResult.cs
  src/tooling/essc/LabsCrawl/CrawlerRateLimiter.cs
  src/tooling/essc/LabsCrawl/CrawlerSettings.cs
  src/tooling/essc/LabsCrawl/ElasticsearchCrawlCache.cs
  src/tooling/essc/LabsCrawl/HtmlMetaExtractor.cs
  src/tooling/essc/LabsCrawl/IAdaptiveCrawler.cs
  src/tooling/essc/LabsCrawl/IDocumentExporter.cs
  src/tooling/essc/LabsCrawl/IDocumentExtractor.cs
  src/tooling/essc/LabsCrawl/ISitemapParser.cs
  src/tooling/essc/LabsCrawl/LabsCrawlLoop.cs
  src/tooling/essc/LabsCrawl/LabsHtmlExtractor.cs
  src/tooling/essc/LabsCrawl/LabsSiteCrawlPlanner.cs
  src/tooling/essc/LabsCrawl/SitemapEntry.cs
  src/tooling/essc/LabsCrawl/SitemapParser.cs
  src/tooling/essc/Program.cs
  tests/Elastic.SiteSearch.Tests/ContentStackMappingTests.cs
  tests/Elastic.SiteSearch.Tests/ContentTierClassifierTests.cs
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/markdown_body.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/property_homepage.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/schema-groups.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/top_level_subheading_landing.json
  tests/Elastic.SiteSearch.Tests/LabsHtmlExtractorTests.cs
Due: dotnet-format

Retitle the API hub as API catalog
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Allow one repo to map to many products; deprecate bundle.repo/owner (#4022)
  config/products.yml
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Inference/ProductInferService.cs
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Bundling/ValidateBundleRepoTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductsConfigurationTests.cs
Due: dotnet-format

Resolve bundle product repo from products.yml per product (#4023)
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Bundling/BundleBuilderPerProductRepoTests.cs
Due: dotnet-format

Add onboarding pre-flight to changelog validate (#4024)
  src/services/Elastic.Changelog/Evaluation/ChangelogCommentRenderer.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogEntryValidationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogGithubCommentService.cs
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadata.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogCommentRendererTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogEntryValidationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogGithubCommentServiceTests.cs
Due: dotnet-format

Show Base URL and version on API product landings
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/copybutton.css
  src/Elastic.Documentation.Site/Assets/copybutton.ts
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Stop merging labs-* into indices unify
  docs/development/essc.md
  src/tooling/essc/Commands/IndicesCommands.cs
Due: dotnet-format

Add a product switcher on API reference pages
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiHubSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  tests/Elastic.ApiExplorer.Tests/ApiHubSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Write OpenAPI JSON and YAML next to each API landing
  src/Elastic.ApiExplorer/Infrastructure/ApiOutputPaths.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.ApiExplorer.Tests/ApiOutputPathsTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorSpecDownloadTests.cs
Due: dotnet-format

Source Labs properties from Contentstack, remove HTML crawler (#3887)
  docs/development/essc.md
  src/tooling/essc/Commands/ContentStackCommands.cs
  src/tooling/essc/Commands/DumpSamplesCommand.cs
  src/tooling/essc/Commands/IndicesCommands.cs
  src/tooling/essc/Commands/LabsCommands.cs
  src/tooling/essc/ContentStack/ContentStackMapper.cs
  src/tooling/essc/ContentStack/SourcingState.cs
  src/tooling/essc/Elasticsearch/ContentTierClassifier.cs
  src/tooling/essc/Elasticsearch/LabsDocumentExporter.cs
  src/tooling/essc/LabsCrawl/AdaptiveCrawler.cs
  src/tooling/essc/LabsCrawl/CachedDocInfo.cs
  src/tooling/essc/LabsCrawl/CachingJsonContext.cs
  src/tooling/essc/LabsCrawl/CrawlDecision.cs
  src/tooling/essc/LabsCrawl/CrawlDecisionMaker.cs
  src/tooling/essc/LabsCrawl/CrawlResult.cs
  src/tooling/essc/LabsCrawl/CrawlerRateLimiter.cs
  src/tooling/essc/LabsCrawl/CrawlerSettings.cs
  src/tooling/essc/LabsCrawl/ElasticsearchCrawlCache.cs
  src/tooling/essc/LabsCrawl/HtmlMetaExtractor.cs
  src/tooling/essc/LabsCrawl/IAdaptiveCrawler.cs
  src/tooling/essc/LabsCrawl/IDocumentExporter.cs
  src/tooling/essc/LabsCrawl/IDocumentExtractor.cs
  src/tooling/essc/LabsCrawl/ISitemapParser.cs
  src/tooling/essc/LabsCrawl/LabsCrawlLoop.cs
  src/tooling/essc/LabsCrawl/LabsHtmlExtractor.cs
  src/tooling/essc/LabsCrawl/LabsSiteCrawlPlanner.cs
  src/tooling/essc/LabsCrawl/SitemapEntry.cs
  src/tooling/essc/LabsCrawl/SitemapParser.cs
  src/tooling/essc/Program.cs
  tests/Elastic.SiteSearch.Tests/ContentStackMappingTests.cs
  tests/Elastic.SiteSearch.Tests/ContentTierClassifierTests.cs
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/description_only.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/landing_page.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/markdown_body.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/property_homepage.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/rich_text_blog_v3.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/rich_text_page.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/schema-groups.json
  tests/Elastic.SiteSearch.Tests/Fixtures/ContentStack/top_level_subheading_landing.json
  tests/Elastic.SiteSearch.Tests/LabsHtmlExtractorTests.cs
Due: dotnet-format

Fix SingleOrDefault crash in VersionInference when a repo maps to multiple products
  src/Elastic.Documentation.Configuration/Inference/VersionInference.cs
Due: dotnet-format

Fix SingleOrDefault crash in version inference when a repo maps to multiple products (#4037)
  src/Elastic.Documentation.Configuration/Inference/VersionInference.cs
Due: dotnet-format

Write OpenAPI JSON and YAML next to each API landing (#4036)
  src/Elastic.ApiExplorer/Infrastructure/ApiOutputPaths.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.ApiExplorer.Tests/ApiOutputPathsTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorSpecDownloadTests.cs
Due: dotnet-format

Apply navigation-preview styles on API explorer pages
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiLayoutFeatureFlagsTests.cs
Due: dotnet-format

Add View as Markdown to API page sidebars (#4027)
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiToc.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiTocRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format

Index API landing pages in assembler llms.txt (#4030)
  docs/data/exporters/llm.md
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  src/services/Elastic.Documentation.Assembler/Navigation/LlmsNavigationEnhancer.cs
  tests/Elastic.Documentation.Build.Tests/LlmsNavigationEnhancerTests.cs
Due: dotnet-format

Show human auth scheme badges on API operations (#4031)
  src/Elastic.ApiExplorer/Operations/OpenApiAuthSchemeResolver.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/AuthSchemeTests.cs
Due: dotnet-format, prettier

Retitle the API hub as API catalog (#4033)
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix nav expand/collapse when NAVIGATION_PREVIEW is off
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
