Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Drop dead rail rules and hook classes left by the grid
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Compare the response example test independent of platform newlines
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

Mark the selected API endpoint with an accent bar instead of a radio
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

API reference: show a response example from the spec (#4284)
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

Replace the API operation grid with stacked flex columns (#4283)
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_OperationExamplesPanel.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: dotnet-format, prettier

Bumps current version to 9.5.5
  config/versions.yml
Due: none

Treat a schema named Unknown as a real type
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/SchemaHelpers.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/api-explorer-fixture.json
Due: dotnet-format

Show API auth schemes as outlined buttons with an icon (#4274)
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

fix: track h2 API section headings in the TOC (per review by @github-actions)
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
Due: prettier, typescript-check, eslint

fix: match description h2 headings to API section headers
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

fix: align the # anchor on description h2 headings
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Match operation headings to h1, h2, then h3 (#4277)
  src/Elastic.ApiExplorer/Operations/_Partials/_ParamSectionHeader.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.ApiExplorer/_Partials/_SectionHeader.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/toc-nav.test.ts
  src/Elastic.Documentation.Site/Assets/toc-nav.ts
  tests/Elastic.ApiExplorer.Tests/OperationHeadingLevelTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Keep the API spec menu clear of its trigger (#4280)
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
Due: prettier

Match query and body string type chips (#4279)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Stack API group endpoints into clickable rows (#4273)
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalRenderTests.cs
Due: dotnet-format, prettier

Keep bottom padding on one-line code samples
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Bump Elastic.OpenTelemetry to 1.6.0 and drop the Resources.Host pin
  Directory.Packages.props
Due: none

Bump Mermaider to 0.14.0
  Directory.Packages.props
Due: none

Bump Mermaider to 0.14.0 (#4307)
  Directory.Packages.props
Due: none

Bump Elastic.OpenTelemetry to 1.6.0 and drop the Resources.Host pin (#4306)
  Directory.Packages.props
Due: none

Downgrade Mermaider to 0.12.2
  Directory.Packages.props
Due: none

Bump Mermaider to 0.14.1
  Directory.Packages.props
Due: none

Bump Mermaider to 0.14.1 (#4310)
  Directory.Packages.props
Due: none

Suppress additionalInfo in popover when all lifecycles are negative
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/Elastic.Authoring.Tests/Applicability/ApplicableToComponent.cs
Due: dotnet-format

Update src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Apply suggestion from @shainaraskas
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Downgrade Mermaider to 0.12.2 (#4308)
  Directory.Packages.props
Due: none

Close the code preview on Escape when the site chrome prevents the key
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Treat x-codeSamples language suffixes as examples and match language names without case
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Model/CodeSample.cs
  src/Elastic.ApiExplorer/Model/OpenApiExtensionReader.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.Documentation.Site/Assets/api-language-icons.css
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format, prettier

Give the code preview button a pointer cursor
  src/Elastic.Documentation.Site/Assets/code-block.css
Due: prettier

Remove the response collapse button; the request expand button owns that state
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Show API pages under short product URLs in ./dev.sh serve
  build/dev/serve-entrypoint.sh
  docs/_docset.yml
  src/Elastic.ApiExplorer/Infrastructure/IsolatedApiAliases.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.ApiExplorer.Tests/IsolatedApiAliasesTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Remove the draggable request/response divider and its remembered split
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Operations/_Partials/_ExampleScenarioContent.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Keep a gap between the examples rail and the response card
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Size the code preview dialog to its code, capped at the window height
  docs/data/openapi/api-explorer.md
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Darken and blur the backdrop behind the code preview
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Give the code preview dialog the same header and surface as the code cards
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Show API pages under short product URLs in ./dev.sh serve (#4316)
  build/dev/serve-entrypoint.sh
  docs/_docset.yml
  src/Elastic.ApiExplorer/Infrastructure/IsolatedApiAliases.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  tests/Elastic.ApiExplorer.Tests/IsolatedApiAliasesTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format

Add a soft shadow under the code preview dialog
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
