Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix applies_to badge showing 'Planned' when serverless and stack are empty
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Fix test expectations to include badge-lifecycle-text and badge-version attributes
  docs/syntax/applies.md
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
Due: dotnet-format

Update applies.md with versioning syntax clarifications
  docs/syntax/applies.md
Due: none

Fix test expectations: remove empty badge attributes
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
Due: dotnet-format

Don't show base version in Applies_to tags if no version is defined (#2630)
  docs/syntax/applies.md
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

Update applies.md with versioning syntax clarifications (#2633)
  docs/syntax/applies.md
Due: none

Use appropriate messages for empty lists of changes based on the type filter
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTypeFilterTests.cs
Due: dotnet-format

Merge amendments with parent bundles
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
Due: dotnet-format

Fix current page navigation indicator
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Introduce repository field handling for products with unmatching denominations
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/BundledProduct.cs
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
Due: dotnet-format

Add support for hiding features
  src/Elastic.Documentation.Configuration/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/Bundle.cs
  src/Elastic.Documentation/ReleaseNotes/LoadedBundle.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  src/services/Elastic.Changelog/Bundling/BundleBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleLoading/BundleLoaderTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/HideFeaturesTests.cs
Due: dotnet-format

Update docs
  docs/contribute/changelog.md
  docs/syntax/changelog.md
Due: none

Fix current page navigation indicator (#2636)
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Update bundle and render docs
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-render.md
Due: none

Clarify render hide-features option
  docs/cli/release/changelog-render.md
Due: none

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
Due: dotnet-format

Fix static assets on codex build
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation/BuildType.cs
  src/Elastic.Documentation/IDocumentationContext.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTestFixture.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format, prettier

Support product parameter in the directive to leverage product-specific blockers
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/LoadPublishBlockerTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogConfigTests.cs
  tests/Elastic.Markdown.Tests/Directives/DirectiveBaseTests.cs
  tests/Elastic.Markdown.Tests/MockFileSystemExtensions.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
Due: dotnet-format

Fix next/prev in codex builds
  src/Elastic.Codex/Navigation/CodexNavigation.cs
Due: dotnet-format

Fix static assets on codex build (#2638)
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation/BuildType.cs
  src/Elastic.Documentation/IDocumentationContext.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTestFixture.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format, prettier

Fix next/prev in codex builds (#2640)
  src/Elastic.Codex/Navigation/CodexNavigation.cs
Due: dotnet-format

LLMMarkdown exporter uses read filesystem to write, breaks --in-memory
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
Due: dotnet-format

Add content type tools to MCP server
  docs/mcp/index.md
  src/Elastic.Documentation.Mcp/ContentTypeProvider.cs
  src/Elastic.Documentation.Mcp/ContentTypeTools.cs
  src/Elastic.Documentation.Mcp/Elastic.Documentation.Mcp.csproj
  src/Elastic.Documentation.Mcp/Program.cs
  src/Elastic.Documentation.Mcp/Resources/Guidelines/changelog.md
  src/Elastic.Documentation.Mcp/Resources/Guidelines/how-to.md
  src/Elastic.Documentation.Mcp/Resources/Guidelines/overview.md
  src/Elastic.Documentation.Mcp/Resources/Guidelines/troubleshooting.md
  src/Elastic.Documentation.Mcp/Resources/Guidelines/tutorial.md
  src/Elastic.Documentation.Mcp/Resources/Templates/changelog.yaml
  src/Elastic.Documentation.Mcp/Resources/Templates/how-to.md
  src/Elastic.Documentation.Mcp/Resources/Templates/overview.md
  src/Elastic.Documentation.Mcp/Resources/Templates/troubleshooting.md
  src/Elastic.Documentation.Mcp/Resources/Templates/tutorial.md
  src/Elastic.Documentation.Mcp/Responses.cs
Due: dotnet-format

isolated looks good
  config/codex.example.yml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_ViewImports.cshtml
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Codex/_ViewImports.cshtml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
  src/Elastic.Documentation.Site/Assets/isolated.css
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_AssemblerHeader.cshtml
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
  src/Elastic.Markdown/Layout/_PrevNextNav.cshtml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  src/Elastic.Markdown/_ViewImports.cshtml
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add diagnostics hud to header
  docs/syntax/icons.md
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHud.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/ResizableDiagnosticsHud.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/GitHub_Invertocat_Black.svg
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/VersionDropdown.tsx
  src/Elastic.Documentation.Site/Elastic.Documentation.Site.csproj
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier, typescript-check, eslint

Fix TOC filtering
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogTocFilteringTests.cs
Due: dotnet-format

Redsign and refactor diagnostics
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Codex/Layout/_CodexFooter.cshtml
  src/Elastic.Codex/_Layout.cshtml
  src/Elastic.Codex/_MarkdownLayout.cshtml
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticRow.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsFooterBar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHud.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHudToolbar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsSummary.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/ResizableDiagnosticsHud.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/SeverityIndicator.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/diagnostics.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_AssemblerFooter.cshtml
  src/Elastic.Documentation.Site/Layout/_IsolatedFooter.cshtml
  src/Elastic.Markdown/_Layout.cshtml
Due: prettier, typescript-check, eslint

Bump Proc to 0.13.0
  Directory.Packages.props
Due: none

Bump Proc to 0.13.0 (#2644)
  Directory.Packages.props
Due: none

LLMMarkdown exporter uses read filesystem to write, breaks --in-memory (#2641)
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
Due: dotnet-format

Refactor and redesign deployment info
  docs/syntax/icons.md
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Site/Assets/markdown/applies-to.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsFooterBar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsHudToolbar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/DiagnosticsSummary.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Diagnostics/severityUtils.ts
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/commit.svg
  src/Elastic.Documentation.Site/Assets/web-components/Header/pull-request.svg
  src/Elastic.Documentation.Site/Layout/_IsolatedFooter.cshtml
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation/GitCheckoutInformation.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix tests
  tests/Elastic.Markdown.Tests/DocSet/RepositoryLinksTests.cs
  tests/authoring/Generator/LinkReferenceFile.fs
Due: dotnet-format

Fixes
  src/Elastic.Documentation.Site/Assets/codex.ts
  src/Elastic.Documentation.Site/Assets/isolated-header.ts
  src/Elastic.Documentation.Site/Assets/isolated.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
Due: prettier, typescript-check, eslint

Fix root breadcrumb htmx
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
Due: none

Fix breadcrumbs
  src/Elastic.Markdown/Layout/_Breadcrumbs.cshtml
Due: none

Fix icons
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
Due: prettier, typescript-check, eslint

Align header width max layout width
  src/Elastic.Documentation.Site/Assets/isolated.css
Due: prettier

Improve Mermaid rendering in tabbed docs
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/mermaid.test.ts
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Update Mermaid dependency
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Potential fix for code scanning alert no. 53: DOM text reinterpreted as HTML
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
