Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Add navigation search in landing page (#2592)
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: prettier

Add euid to otel logs
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Add euid to otel logs (#2593)
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
Due: prettier, typescript-check, eslint

Fix comments
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Fix HTMX link handling
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/utils.ts
Due: prettier, typescript-check, eslint

Center diagrams
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Fix HTMX link handling (#2594)
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxContainer.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/useHtmxLink.ts
  src/Elastic.Documentation.Site/Assets/web-components/shared/htmx/utils.ts
Due: prettier, typescript-check, eslint

Add local minified package
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Fix path handling
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Swap Mermaid with Beautiful Mermaid
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

Remove unused GridTables parser for faster builds (#2591)
  src/Elastic.Markdown/Myst/MarkdownParser.cs
Due: dotnet-format

Fix merge conflicts
  docs-builder.slnx
  src/Elastic.Portal/PortalGenerator.cs
  src/Elastic.Portal/PortalViewModel.cs
Due: dotnet-format

Add Mermaid diagrams using Beautiful Mermaid (#2586)
  docs/_docset.yml
  docs/syntax/diagrams.md
  docs/syntax/directives.md
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  src/Elastic.Markdown/Myst/CodeBlocks/SupportedLanguages.cs
  src/Elastic.Markdown/Myst/Directives/Diagram/DiagramBlock.cs
  src/Elastic.Markdown/Myst/Directives/Diagram/DiagramEncoder.cs
  src/Elastic.Markdown/Myst/Directives/Diagram/DiagramView.cshtml
  src/Elastic.Markdown/Myst/Directives/Diagram/DiagramViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Mermaid/MermaidBlock.cs
  src/Elastic.Markdown/Myst/Directives/Mermaid/MermaidView.cshtml
  src/Elastic.Markdown/Myst/Directives/Mermaid/MermaidViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  tests/Elastic.Markdown.Tests/Directives/DiagramTests.cs
  tests/Elastic.Markdown.Tests/Directives/MermaidTests.cs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
  tests/authoring/PlainText/PlainTextOutput.fs
Due: dotnet-format, prettier, typescript-check, eslint

Fix test
  tests-integration/Elastic.Assembler.IntegrationTests/AssembleFixture.cs
Due: dotnet-format

Fix tests on Windows
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPathResolutionTests.cs
Due: dotnet-format

Add more general .NET agent instructions
  .cursorrules
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

Fix integration test
  src/tooling/docs-builder/Http/StaticWebHost.cs
Due: dotnet-format

Handle LlmGateway `agent_stream_error` event
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
Due: dotnet-format

Add more general .NET agent instructions (#2595)
  .cursorrules
  .github/copilot-instructions.md
  CLAUDE.md
Due: none

Fix detection-rules diagnostics display and add hint suppression
  docs/configure/content-set/navigation.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation/Diagnostics/Diagnostic.cs
  src/Elastic.Documentation/Diagnostics/HintType.cs
  src/Elastic.Markdown/Diagnostics/ProcessorDiagnosticExtensions.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRule.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRuleFile.cs
  src/Elastic.Markdown/Myst/InlineParsers/AutoLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/tooling/docs-builder/Diagnostics/Console/ErrataFileSourceRepository.cs
Due: dotnet-format

Add max_signals and version fields to detection rules
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRule.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRulesDocsBuilderExtension.cs
Due: dotnet-format

Update portal config
  config/portal.example.yml
Due: none

AI enrichment: Handle large documents with hierarchical summarization
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
Due: dotnet-format

Add cleanup step
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
Due: dotnet-format

Add chunking logic tests
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
  tests/Elastic.Markdown.Tests/Enrichment/ElasticsearchLlmClientTests.cs
Due: dotnet-format

Add content integrity tests
  tests/Elastic.Markdown.Tests/Enrichment/ElasticsearchLlmClientTests.cs
Due: dotnet-format

Handle LlmGateway `agent_stream_error` event (#2605)
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
Due: dotnet-format

Add include-paths to preview-build.yml
  .github/workflows/preview-build.yml
Due: none

test: please do nothing
  README.md
Due: none

ok
  README.md
Due: none

Add include-paths to preview-build.yml (#2609)
  .github/workflows/preview-build.yml
Due: none

Add EDOT CF Azure
  config/assembler.yml
  config/navigation.yml
Due: none

Add release notes
  config/navigation.yml
Due: none

get rid of await result
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRule.cs
  src/tooling/docs-builder/Diagnostics/Console/ErrataFileSourceRepository.cs
Due: dotnet-format

Update docs and address hints
  docs/_docset.yml
  docs/configure/content-set/navigation.md
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format

Bump version to 9.3 (#2509)
  config/assembler.yml
Due: none

Bump version to 9.3.0 - versions config (#2510)
  config/versions.yml
Due: none

fix test
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
