Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Align the hero product mark with the text column
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
Due: dotnet-format, prettier

Enable static graph evaluation for restore (#3824)
  Directory.Build.props
Due: none

Discover API declarations across assembled docsets for staging
  docs/_docset.yml
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerOpenApiBuildStep.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/TestData/kibana-api-overview.md
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
Due: dotnet-format

Consolidate IsSubPath helpers; add Resolve(string) overload; validate --git-dir
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Tooling/DocumentationPathsResolver.cs
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  src/Elastic.Documentation.Tooling/FileSystems/CheckoutsFileSystem.cs
  src/Elastic.Documentation.Tooling/FileSystems/DocumentationFileSystem.cs
  src/Elastic.Documentation/Extensions/IFileInfoExtensions.cs
  src/Elastic.Documentation/FileSystems/DocumentationWriteFileSystem.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/DashboardOpenApiNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Fix API Explorer synthetic operation selection
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
Due: prettier, typescript-check, eslint

Delete Scope* factory methods; migrate all test sites to named types
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  src/Elastic.Documentation.Tooling/FileSystems/GitResolveFileSystem.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerAiEnrichService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  tests-integration/Elastic.Documentation.IntegrationTests/AssemblerConfigurationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/SiteNavigationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrBodyReaderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Documentation.Configuration.Tests/FileSystemFactoryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/GitCheckoutResolutionTests.cs
  tests/Elastic.Markdown.Tests/Directives/CsvIncludeTests.cs
  tests/Navigation.Tests/Assembler/ComplexSiteNavigationTests.cs
  tests/Navigation.Tests/Assembler/IdentifierCollectionTests.cs
  tests/Navigation.Tests/Assembler/SiteDocumentationSetsTests.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
  tests/Navigation.Tests/Codex/CodexConfigurationLoaderTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/FindDocsetFileTests.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format

Expand the API sidebar before clicking an operation
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepIntegrationTests.cs
  tests/Elastic.Documentation.Build.Tests/AssemblerOpenApiBuildStepTests.cs
  tests/Elastic.Documentation.Build.Tests/TestHelpers.cs
Due: dotnet-format, prettier, typescript-check, eslint

Replace ambient FileSystemFactory statics with named filesystem types
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  src/Elastic.Documentation.Tooling/FileSystems/CheckoutsFileSystem.cs
  src/Elastic.Documentation.Tooling/FileSystems/ConfigurationFileSystem.cs
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvReader.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Commands/DiffCommands.cs
  src/tooling/docs-builder/Commands/InboundLinkCommands.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
  src/tooling/docs-builder/Commands/MoveCommand.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  src/tooling/docs-builder/Middleware/CheckForUpdatesMiddleware.cs
  tests/Elastic.Documentation.Configuration.Tests/FileSystemFactoryTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format

Assert operation content in the API Explorer synthetic
  src/Elastic.Documentation.Site/synthetics/journeys/api-explorer.journey.ts
Due: prettier, typescript-check, eslint

Collapse assembler/codex contexts to single CheckoutsFileSystem param
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation/FileSystems/AssemblyWriteFileSystem.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryPublishValidationService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerAiEnrichService.cs
  src/services/Elastic.Documentation.Assembler/Indexing/AssemblerIndexService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationService.cs
  src/services/Elastic.Documentation.Assembler/Sourcing/AssemblerCloneService.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerAiEnrichCommand.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerIndexCommand.cs
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  tests-integration/Elastic.Documentation.IntegrationTests/AssemblerConfigurationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/IncrementalDeployRoundTripTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/SiteNavigationTests.cs
Due: dotnet-format

Add page-aware API version switcher with nav dropdown UI
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiCrossVersionPageIndex.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiPageVersionTarget.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiVersionSwitcherTests.cs
  tests/Elastic.ApiExplorer.Tests/IsolatedBuildNavigationHtmlWriterTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
Due: dotnet-format, prettier

Fix C# formatting for API version switcher
  src/Elastic.ApiExplorer/Infrastructure/ApiCrossVersionPageIndex.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiVersionSwitcher.cs
  tests/Elastic.ApiExplorer.Tests/ApiVersionSwitcherTests.cs
Due: dotnet-format

Migrate changelog off FileSystemFactory; delete FileSystemFactory
  src/Elastic.Documentation.Tooling/FileSystemFactory.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/PromotionReportParser.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/CreateChangelogTestBase.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/RemoveReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/RenderChangelogTestBase.cs
  tests/Elastic.Changelog.Tests/Creation/CIEnrichmentTests.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CheckoutsFileSystemTests.cs
Due: dotnet-format

add autoops-insights to assembler references
  config/assembler.yml
Due: none

add autoops-insights as independent section under Reference
  config/navigation.yml
Due: none

fix: mark autoops-insights as private in assembler
  config/assembler.yml
Due: none

Remove ReadFileSystem from IDocumentationContext base interface
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Tooling/FileSystems/GitResolveFileSystem.cs
  src/Elastic.Documentation.Tooling/Paths.cs
  src/Elastic.Documentation/FileSystems/IDocumentationFileSystem.cs
  src/Elastic.Documentation/IDocumentationContext.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvReader.cs
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/services/Elastic.Documentation.Deploying/Synchronization/IDocsSyncContext.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTestFixture.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
  tests/authoring/Framework/Setup.fs
  tests/authoring/Framework/TestValues.fs
Due: dotnet-format

Make DocumentationCheckoutDirectory non-nullable
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRuleFile.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
Due: dotnet-format

Move public changelog registry ownership to the scrubber Lambda (#3738)
  src/infra/docs-lambda-changelog-scrubber/EmfMetricsEmitter.cs
  src/infra/docs-lambda-changelog-scrubber/LambdaLoggerFactory.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/services/Elastic.Changelog/Reconciliation/BundleRegistryReconciler.cs
  src/services/Elastic.Changelog/Reconciliation/ChangelogScope.cs
  src/services/Elastic.Changelog/Reconciliation/ReconcileMetrics.cs
  src/services/Elastic.Changelog/Reconciliation/ShallowRegistryReconciler.cs
  src/services/Elastic.Changelog/Scrubbing/ChangelogContentScrubber.cs
  src/services/Elastic.Changelog/Scrubbing/ScrubberProcessor.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  tests/Elastic.Changelog.Tests/Reconciliation/BundleRegistryReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/FakeS3.cs
  tests/Elastic.Changelog.Tests/Reconciliation/ShallowRegistryReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Scrubbing/ScrubberProcessorTests.cs
Due: dotnet-format

Retire the client-side registry refresh from changelog upload
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendEndToEndTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
Due: dotnet-format

Bundle CDN fetcher: skip unchanged product folders via the shallow registry map
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogRegistry.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogFetcherTests.cs
Due: dotnet-format

Remove plain new FileSystem() intermediary variables at call sites
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Tooling/DocumentationPathsResolver.cs
  src/Elastic.Documentation.Tooling/FileSystems/DocumentationFileSystem.cs
  src/authoring/Elastic.Documentation.Refactor/FormatService.cs
  src/authoring/Elastic.Documentation.Refactor/MoveFileService.cs
  src/authoring/Elastic.Documentation.Refactor/Tracking/LocalChangesService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/AssemblerDocumentationSet.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationPathsResolverTests.cs
  tests/Elastic.Markdown.Tests/BuildContextConfigurationFileTests.cs
  tests/Elastic.Markdown.Tests/BuildContextDocumentationCheckoutDirectoryTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format

Add CodexFileSystem; eliminate plain new FileSystem() in codex commands
  src/Elastic.Codex/CodexFileSystem.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
Due: dotnet-format

Tweak CodexFileSystem: output as string?, expression-body init
  src/Elastic.Codex/CodexFileSystem.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
Due: dotnet-format

CodexFileSystem takes string config instead of FileInfo
  src/Elastic.Codex/CodexFileSystem.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexSyncCommand.cs
  src/tooling/docs-builder/Commands/Codex/CodexUpdateRedirectsCommand.cs
Due: dotnet-format

Fix import ordering and expression-body style (dotnet format)
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Markdown/Myst/Directives/CsvInclude/CsvReader.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Bundling/PromotionReportParser.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrBodyReader.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderer.cs
  src/services/Elastic.Changelog/Rendering/ChangelogRenderingService.cs
  src/services/Elastic.Changelog/Rendering/Markdown/BreakingChangesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/ChangelogGfmRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/DeprecationsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/HighlightsMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/IndexMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/KnownIssuesMarkdownRenderer.cs
  src/services/Elastic.Changelog/Rendering/Markdown/MarkdownRendererBase.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Commands/DiffCommands.cs
  src/tooling/docs-builder/Commands/InboundLinkCommands.cs
  src/tooling/docs-builder/Commands/IndexCommand.cs
  src/tooling/docs-builder/Commands/MoveCommand.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/VersionInferenceTests.cs
  tests/Navigation.Tests/Assembler/ComplexSiteNavigationTests.cs
  tests/Navigation.Tests/Assembler/IdentifierCollectionTests.cs
  tests/Navigation.Tests/Assembler/SiteDocumentationSetsTests.cs
  tests/Navigation.Tests/Assembler/SiteNavigationTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format

perf: skip PreprocessLinkSubstitutions when no {{ }} present
  src/Elastic.Markdown/Myst/MarkdownParser.cs
Due: dotnet-format

perf: raise MaxDegreeOfParallelism in ResolveDirectoryTree
  src/Elastic.Markdown/IO/DocumentationSet.cs
Due: dotnet-format

perf: add fast path and cached pipeline to StripMarkdown
  src/Elastic.Markdown/Helpers/Markdown.cs
  tests/Elastic.Markdown.Tests/Helpers/StripMarkdownTests.cs
Due: dotnet-format

perf: single-pass Descendants traversal in GetAnchors
  src/Elastic.Markdown/IO/MarkdownFile.cs
  tests/Elastic.Markdown.Tests/FileInclusion/HeadingOrderTests.cs
Due: dotnet-format

perf: reduce metadata syscalls in ScanDocumentationFiles
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
Due: dotnet-format

Merge main; fix new BundleFilesFilterTests call site argument order
  tests/Elastic.Changelog.Tests/Changelogs/BundleFilesFilterTests.cs
Due: dotnet-format

style: fix whitespace formatting in MarkdownFile.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

Retire the client-side registry refresh from changelog upload (#3760)
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleAmendEndToEndTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
Due: dotnet-format

fix: remove unnecessary array copy in ResolveDirectoryTree
  src/Elastic.Markdown/IO/DocumentationSet.cs
Due: dotnet-format

Drop Exists check on ConfigurationFile in resolver
  src/Elastic.Documentation.Tooling/DocumentationPathsResolver.cs
Due: dotnet-format

fix: track preceding heading inline; drop allNodes and nodePositions
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

Write conversion output to cwd/.artifacts/migrated
  src/tooling/docs-migrate/ConvertCommand.cs
  src/tooling/docs-migrate/ServeCommand.cs
Due: dotnet-format

Rewrite guide URLs to internal links and emit docs-builder substitutions
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/MarkdownEmitter.cs
  src/authoring/Elastic.LegacyDocs.Migration/SharedAttributes.cs
  src/tooling/docs-migrate/ConvertCommand.cs
Due: dotnet-format
