Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Guide agents to documentation discovery resources
  docs/data/exporters/llm.md
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/LlmMarkdownExporterTests.cs
Due: dotnet-format

Limit agent resources callout to public docs
  docs/data/exporters/llm.md
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/LlmMarkdownExporterTests.cs
Due: dotnet-format

Codex: warn and skip clones that the token cannot access
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Codex/Sourcing/CodexGitRepository.cs
  tests/Navigation.Tests/Codex/CodexGitRepositoryTests.cs
  tests/Navigation.Tests/Navigation.Tests.csproj
Due: dotnet-format

Codex: warn and skip clones that the token cannot access (#3974)
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Codex/Sourcing/CodexGitRepository.cs
  tests/Navigation.Tests/Codex/CodexGitRepositoryTests.cs
  tests/Navigation.Tests/Navigation.Tests.csproj
Due: dotnet-format

Grant issues:write so the PR Review workflow can start
  .github/workflows/pr-review.yml
Due: none

Release-notes CLI gaps: validate-labels, require-changelog-file, amend upload, on-release onboarding
  config/products.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-evaluate-pr.md
  docs/cli/changelog/cmd-validate-labels.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogLabelValidationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/services/Elastic.Changelog/Evaluation/PrEvaluationResult.cs
  src/services/Elastic.Changelog/Evaluation/ValidateLabelsArguments.cs
  src/services/Elastic.Changelog/Onboarding/ChangelogOnboardingValidationService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Onboarding/OnboardingValidationTests.cs
Due: dotnet-format

Enable navigation preview on edge and staging
  config/assembler.yml
Due: none

Enable navigation preview on edge and staging (#3979)
  config/assembler.yml
Due: none

Release-notes CLI: validate-labels, require-changelog-file, amend upload, on-release gaps (#3978)
  config/products.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-evaluate-pr.md
  docs/cli/changelog/cmd-validate-labels.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogLabelValidationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/services/Elastic.Changelog/Evaluation/PrEvaluationResult.cs
  src/services/Elastic.Changelog/Evaluation/ValidateLabelsArguments.cs
  src/services/Elastic.Changelog/Onboarding/ChangelogOnboardingValidationService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Onboarding/OnboardingValidationTests.cs
Due: dotnet-format

Grant issues:write so the PR Review workflow can start (#3975)
  .github/workflows/pr-review.yml
Due: none

Declare the products hub prefix as a navigation phantom (#3876)
  config/navigation.yml
  config/navigation_preview.yml
Due: none

Register playground release-notes repos in assembler.yml scrubber allowlist
  config/assembler.yml
Due: none

Don't write the build stamp on CI builds
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
Due: dotnet-format

Add skip: true to playground assembler entries to fix link-index lookup
  config/assembler.yml
Due: none

Fix changelog block hiding links for private:true skip:true repos
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Fix changelog block hiding links for private+skip repos (#3982)
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
Due: dotnet-format

Don't write the build stamp on CI builds (#3981)
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
Due: dotnet-format

Register playground release-notes repos in assembler.yml scrubber allowlist (#3980)
  config/assembler.yml
Due: none

Add related learning catalogue and directive (#3943)
  config/related-learning.yml
  docs/_docset.yml
  docs/documentation/catalog/index.md
  docs/documentation/catalog/related-learning.md
  docs/syntax/directives.md
  docs/syntax/related-learning.md
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/RelatedLearning/RelatedLearningConfiguration.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Site/Assets/markdown/related-learning.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/RelatedLearning/RelatedLearningBlock.cs
  src/Elastic.Markdown/Myst/Directives/RelatedLearning/RelatedLearningView.cshtml
  src/Elastic.Markdown/Myst/Directives/RelatedLearning/RelatedLearningViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
  tests/Elastic.Markdown.Tests/Directives/RelatedLearningTests.cs
Due: dotnet-format, prettier

Format the elastic-stack icon entry for curb.
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
Due: dotnet-format

Register the Elastic Stack logo as a hub product icon (#3875)
  docs/syntax/hero.md
  docs/syntax/link-card.md
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
Due: dotnet-format

Port filename PR identity (#3941)
  docs/cli/changelog/cmd-bundle.md
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Bundling/ChangelogPrIdentity.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
Due: dotnet-format

Drop mode: gh-release from changelog-publish — now auto-detected
  .github/workflows/changelog-publish.yml
Due: none

Drop mode: gh-release from changelog-publish — now auto-detected (#3983)
  .github/workflows/changelog-publish.yml
Due: none

Restore the assembler version picker when navigation-preview is off
  src/Elastic.Documentation.Site/Assets/secondary-nav.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/synthetics/journeys/version-dropdown.journey.ts
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Navigation.Tests/Navigation.Tests.csproj
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix version picker CI coverage
  src/Elastic.Documentation.Site/synthetics/journeys/version-dropdown.journey.ts
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Verify responsive version picker placement
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/synthetics/journeys/version-dropdown.journey.ts
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Disable navigation preview on staging
  config/assembler.yml
Due: none

Restore the assembler version picker (#3988)
  config/assembler.yml
  src/Elastic.Documentation.Site/Assets/secondary-nav.css
  src/Elastic.Documentation.Site/Layout/_PagesNav.cshtml
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/synthetics/journeys/version-dropdown.journey.ts
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
  tests/Navigation.Tests/Navigation.Tests.csproj
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add an additive feature-flag skill for agents
  .claude/skills/feature-flag/SKILL.md
  AGENTS.md
Due: none

Grant artifact-metadata write for container attestations
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

Enable the new navigation on staging
  config/assembler.yml
Due: none

Put space below the legacy version picker
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format

Enable the new navigation on staging (#3991)
  config/assembler.yml
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  tests/Navigation.Tests/Rendering/TableOfContentsRenderingTests.cs
Due: dotnet-format

Grant artifact-metadata write for container attestations (#3990)
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

Add native sticky PR comment infrastructure for changelog validation
  docs/cli-schema.json
  docs/cli/changelog/cmd-evaluate-pr.md
  docs/cli/changelog/cmd-validate-labels.md
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactMetadata.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogCommentRenderer.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogGithubCommentService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogGithubDecisionService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogLabelValidationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogTableRenderers.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadata.cs
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadataWriter.cs
  src/services/Elastic.Changelog/Evaluation/PrepareArtifactArguments.cs
  src/services/Elastic.Changelog/Evaluation/ValidateLabelsArguments.cs
  src/services/Elastic.Changelog/GitHub/GitHubApiTransport.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommentService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubCommentService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogCommentRendererTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogGithubCommentServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogGithubDecisionServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogLabelValidationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/GitHubCommentServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/GithubDecisionMetadataTests.cs
Due: dotnet-format

Add native sticky PR comment infrastructure for changelog validation (#3993)
  docs/cli-schema.json
  docs/cli/changelog/cmd-evaluate-pr.md
  docs/cli/changelog/cmd-validate-labels.md
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactMetadata.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogCommentRenderer.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogGithubCommentService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogGithubDecisionService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogLabelValidationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrEvaluationService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogTableRenderers.cs
  src/services/Elastic.Changelog/Evaluation/EvaluatePrArguments.cs
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadata.cs
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadataWriter.cs
  src/services/Elastic.Changelog/Evaluation/PrepareArtifactArguments.cs
  src/services/Elastic.Changelog/Evaluation/ValidateLabelsArguments.cs
  src/services/Elastic.Changelog/GitHub/GitHubApiTransport.cs
  src/services/Elastic.Changelog/GitHub/GitHubCommentService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubCommentService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactEvaluationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogCommentRendererTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogGithubCommentServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogGithubDecisionServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogLabelValidationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/GitHubCommentServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/GithubDecisionMetadataTests.cs
Due: dotnet-format

Drop should-comment-success / should-comment-failure outputs from evaluate-artifact
  src/services/Elastic.Changelog/Evaluation/ChangelogArtifactEvaluationService.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogArtifactEvaluationServiceTests.cs
Due: dotnet-format

Fix HTTP 422 on PR comment POST — serialize body key as lowercase
  src/services/Elastic.Changelog/GitHub/GitHubCommentService.cs
  tests/Elastic.Changelog.Tests/Evaluation/GitHubCommentServiceTests.cs
Due: dotnet-format
