Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Increase limits
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
  tests/Elastic.Markdown.Tests/Enrichment/ElasticsearchLlmClientTests.cs
Due: dotnet-format

Extract elasticsearch operations into utility class
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchOperations.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
Due: dotnet-format

Fix detection-rules processing: diagnostics, performance, and missing fields (#2606)
  docs/_docset.yml
  docs/configure/content-set/navigation.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation/Diagnostics/Diagnostic.cs
  src/Elastic.Documentation/Diagnostics/HintType.cs
  src/Elastic.Markdown/Diagnostics/ProcessorDiagnosticExtensions.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRule.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRuleFile.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRulesDocsBuilderExtension.cs
  src/Elastic.Markdown/Myst/InlineParsers/AutoLinkInlineParser.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  src/Elastic.Markdown/Myst/ParserContext.cs
  src/tooling/docs-builder/Diagnostics/Console/ErrataFileSourceRepository.cs
  tests/Elastic.Documentation.Configuration.Tests/PhysicalDocsetTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format

AI enrichment: Handle large documents with hierarchical summarization (#2608)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchOperations.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
  tests/Elastic.Markdown.Tests/Enrichment/ElasticsearchLlmClientTests.cs
Due: dotnet-format

Fix stale AI enrichment detection when prompts change
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
Due: dotnet-format

Fix stale AI enrichment detection when prompts change (#2612)
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
Due: dotnet-format

Replace enrich policy deletion with auto-versioning
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
Due: dotnet-format

Fix isolated header link
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier

Adds support for multiple lines and line breaks in CSV files
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Directives/CsvIncludeTests.cs
Due: dotnet-format

Add example
  docs/_snippets/sample-data-markdown.csv
  src/Elastic.Documentation.Site/.gitignore
Due: prettier

Adds support for multiple lines and line breaks in CSV files (#2616)
  docs/_snippets/sample-data-markdown.csv
  src/Elastic.Documentation.Site/.gitignore
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Directives/CsvIncludeTests.cs
Due: dotnet-format, prettier

Fix isolated header link (#2614)
  src/Elastic.Documentation.Site/Layout/_Header.cshtml
Due: prettier

update ecs version per 9.3 release (#2564)
  config/assembler.yml
  config/versions.yml
Due: none

Fix AI fields by using URL-based enrichment with staleness detection
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
Due: dotnet-format

Dimensions docs-builder edition (#2567)
  docs/syntax/applies.md
Due: none

Potential fix for pull request finding 'Generic catch clause'
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
Due: dotnet-format

Fix constant condition CodeQL warning
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
Due: dotnet-format

Expand exception handling in CLAUDE.md
  CLAUDE.md
Due: none

Rename portal to codex
  config/codex.example.yml
  docs-builder.slnx
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/Category/CategoryView.cshtml
  src/Elastic.Codex/Category/CategoryViewModel.cs
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Codex/CodexRenderContext.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Elastic.Codex.csproj
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Landing/LandingViewModel.cs
  src/Elastic.Codex/Navigation/CategoryNavigation.cs
  src/Elastic.Codex/Navigation/CodexIndexPage.cs
  src/Elastic.Codex/Navigation/CodexNavigation.cs
  src/Elastic.Codex/Navigation/ICodexDocumentationContext.cs
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Codex/Sourcing/CodexGitRepository.cs
  src/Elastic.Codex/_Layout.cshtml
  src/Elastic.Codex/_ViewImports.cshtml
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Configuration/Codex/CodexDocumentationSetReference.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Portal/Category/CategoryView.cshtml
  src/Elastic.Portal/Landing/LandingViewModel.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  src/tooling/docs-builder/Program.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format

Replace enrich policy deletion with auto-versioning (#2613)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
Due: dotnet-format

Rename portal to codex (#2621)
  config/codex.example.yml
  docs-builder.slnx
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/Category/CategoryView.cshtml
  src/Elastic.Codex/Category/CategoryViewModel.cs
  src/Elastic.Codex/CodexContext.cs
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Codex/CodexRenderContext.cs
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Elastic.Codex.csproj
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Landing/LandingViewModel.cs
  src/Elastic.Codex/Navigation/CategoryNavigation.cs
  src/Elastic.Codex/Navigation/CodexIndexPage.cs
  src/Elastic.Codex/Navigation/CodexNavigation.cs
  src/Elastic.Codex/Navigation/ICodexDocumentationContext.cs
  src/Elastic.Codex/Sourcing/CodexCloneService.cs
  src/Elastic.Codex/Sourcing/CodexGitRepository.cs
  src/Elastic.Codex/_Layout.cshtml
  src/Elastic.Codex/_ViewImports.cshtml
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Configuration/Codex/CodexDocumentationSetReference.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Portal/Category/CategoryView.cshtml
  src/Elastic.Portal/Landing/LandingViewModel.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  src/tooling/docs-builder/Program.cs
  src/tooling/docs-builder/docs-builder.csproj
Due: dotnet-format

Add interactive controls to Mermaid diagrams
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Add additional check to CI for 'docs-builder' repos. (#2587)
  .github/workflows/preview-build.yml
Due: none

Use EUI icons for Mermaid diagram controls
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Restyle Mermaid controls as light toolbar
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
Due: prettier

Format mermaid.ts with Prettier
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Style controls as floating white button bar
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
Due: prettier

Add interactive controls to Mermaid diagrams (#2623)
  docs/syntax/diagrams.md
  src/Elastic.Documentation.Site/Assets/markdown/mermaid.css
  src/Elastic.Documentation.Site/Assets/mermaid.ts
Due: prettier, typescript-check, eslint

Codex URL structure and category navigation
  config/codex.example.yml
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Codex/Group/GroupLandingView.cshtml
  src/Elastic.Codex/Group/GroupLandingViewModel.cs
  src/Elastic.Codex/Navigation/CodexNavigation.cs
  src/Elastic.Codex/Navigation/GroupNavigation.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/CodexNavigationTests.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
  tests/Navigation.Tests/Navigation.Tests.csproj
Due: dotnet-format, prettier

Potential fix for pull request finding 'Dereferenced variable may be null'
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
Due: dotnet-format

Increase FirstGenerationTimeout from 10s (default) to 60s
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayAskAiGateway.cs
Due: dotnet-format

Codex URL structure and category navigation (#2624)
  config/codex.example.yml
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Codex/Group/GroupLandingView.cshtml
  src/Elastic.Codex/Group/GroupLandingViewModel.cs
  src/Elastic.Codex/Navigation/CodexNavigation.cs
  src/Elastic.Codex/Navigation/GroupNavigation.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  tests/Navigation.Tests/Codex/CodexNavigationRenderingTests.cs
  tests/Navigation.Tests/Codex/CodexNavigationTestBase.cs
  tests/Navigation.Tests/Codex/CodexNavigationTests.cs
  tests/Navigation.Tests/Codex/GroupNavigationTests.cs
  tests/Navigation.Tests/Navigation.Tests.csproj
Due: dotnet-format, prettier

Don't show base version in Applies_to tags if no version is defined
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

Fix tests
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

Deduplicate deserialization/normalization
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Rendering/BundleDataResolver.cs
  src/services/Elastic.Changelog/Rendering/BundleValidationService.cs
Due: dotnet-format
