Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Show the API response media type as muted monospace text
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Show which fields an object needs when its anyOf only lists required sets
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/UnionSchemas.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Keep the pointer cursor on API catalog deployment tags (#4362)
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier

Lay out API responses as status, description and media type (#4363)
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Render fenced code in API descriptions as the default code block
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Collapse every object parameter by default
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Detect recursion by $ref and read the union discriminator from Flatten
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Model/EffectiveSchema.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Render fenced code in API descriptions as the default code block (#4365)
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Collapse every object parameter by default (#4267)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Split OperationPageModel and merge the two variant child kinds
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Examples.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Parameters.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Responses.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
Due: dotnet-format

Center API pages next to a left-pinned nav
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Show required field sets on body roots and for typed or $ref members
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_RequiredAlternatives.cshtml
  src/Elastic.ApiExplorer/Model/UnionSchemas.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Responses.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  tests/Elastic.ApiExplorer.Tests/AllOfCompositionTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Pair API code samples with the example whose body the Console sample sends
  src/Elastic.ApiExplorer/Operations/GeneratedCodeSamples.cs
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/CodeSamplePairingSpecTests.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

List only declared fields above the variants of an allOf union
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
Due: dotnet-format

Tune the API page width, spacing and examples rail
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Show required field sets and hidden Fleet map values in API Explorer (#4364)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_RequiredAlternatives.cshtml
  src/Elastic.ApiExplorer/Model/EffectiveSchema.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/UnionSchemas.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Examples.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Parameters.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Responses.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/_Partials/_ResponsesBlock.cshtml
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  tests/Elastic.ApiExplorer.Tests/AllOfCompositionTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Label nested union lists and apply body union rules on schema pages
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaPageModelTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Keep anyOf variants beside a oneOf of required sets
  src/Elastic.ApiExplorer/Model/UnionSchemas.cs
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaPageModelTests.cs
Due: dotnet-format

Show required field sets on schema pages without a property list
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaPageModelTests.cs
Due: dotnet-format

Narrow API landing and group pages to 960px
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

fix: compare the query string in the request-line tie-break (per review by @github-actions)
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

Save the API language only when the reader picks it
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

fix: scope the narrow API page width to landing and group pages (per review by @github-actions)
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
Due: prettier

Keep API page content in its column while the page streams
  src/Elastic.ApiExplorer/_Layout.cshtml
Due: none

Say "a type listed below" when a mixed union also has primitive options
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Label nested union lists and apply body union rules on schema pages (#4368)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Expansion.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Model/UnionSchemas.cs
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaView.cshtml
  src/Elastic.ApiExplorer/Types/SchemaViewModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiBodyContentTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/SchemaPageModelTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Center API pages next to a left-pinned nav (#4366)
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Pair API code samples with the example whose body the Console sample sends (#4367)
  src/Elastic.ApiExplorer/Operations/GeneratedCodeSamples.cs
  src/Elastic.ApiExplorer/Operations/OperationEndpoint.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.Examples.cs
  tests/Elastic.ApiExplorer.Tests/CodeSamplePairingSpecTests.cs
  tests/Elastic.ApiExplorer.Tests/ExampleScenarioTests.cs
Due: dotnet-format

Say when a field also accepts an array of its type
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Say when a field also accepts an array of its type (#4370)
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ListingContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_PropertyItem.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format

Pick union variants from chips when a list has three or more
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiBodyContent.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs-hash.test.ts
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-docs.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
  src/Elastic.Documentation.Site/Assets/api-union-chips.test.ts
  src/Elastic.Documentation.Site/Assets/api-union-chips.ts
  src/Elastic.Documentation.Site/Assets/chip-row.ts
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
  tests/Elastic.ApiExplorer.Tests/ResponsesBlockRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionOptionsRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Show a picked variant's fields at once, without repeating its name
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  tests/Elastic.ApiExplorer.Tests/UnionOptionsRenderingTests.cs
Due: dotnet-format

Save the API language only when the reader picks it (#4369)
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.test.ts
  src/Elastic.Documentation.Site/Assets/api-examples-carousel.ts
Due: prettier, typescript-check, eslint

Keep the picked variant in place under the chips
  src/Elastic.Documentation.Site/Assets/api-docs.css
  src/Elastic.Documentation.Site/Assets/api-union-chips.ts
Due: prettier, typescript-check, eslint

Drop the words every chip in a variant list shares
  src/Elastic.ApiExplorer/Components/PropertyTree/ChipLabels.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  tests/Elastic.ApiExplorer.Tests/ChipLabelsTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionOptionsRenderingTests.cs
Due: dotnet-format

docs: add trailing newline to developer-notes
  docs/developer-notes.md
Due: none

Group the API catalog into Elastic Stack and Orchestration
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/Landing/_ApiCatalogCard.cshtml
  src/Elastic.Documentation.Site/Assets/api-docs.css
  tests/Elastic.ApiExplorer.Tests/ApiCatalogCardTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiCatalogViewModelTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
Due: dotnet-format, prettier

fix: place attached tag-ons before unattached cards (per review by @infra-vault-gh-plugin-prod)
  src/Elastic.ApiExplorer/Landing/ApiCatalogView.cshtml
  src/Elastic.ApiExplorer/Landing/ApiCatalogViewModel.cs
  tests/Elastic.ApiExplorer.Tests/ApiCatalogViewModelTests.cs
Due: dotnet-format

fix: add an Other APIs heading to the Markdown export (per review by @infra-vault-gh-plugin-prod)
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  tests/Elastic.ApiExplorer.Tests/LandingCommonMarkCatalogTests.cs
Due: dotnet-format

Release the kept variant height and fill array variants behind chips
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.Variants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/_Partials/_UnionOptions.cshtml
  src/Elastic.Documentation.Site/Assets/api-union-chips.test.ts
  src/Elastic.Documentation.Site/Assets/api-union-chips.ts
  tests/Elastic.ApiExplorer.Tests/UnionOptionsRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/UnionVariantTests.cs
Due: dotnet-format, prettier, typescript-check, eslint
