Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

More docs cleanup
  docs/contribute/changelog.md
Due: none

Add asciidoc output option to docs-builder changelog render command (#2452)
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  docs/cli/release/changelog-render.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogRenderInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Search title update and small highlight fixes
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/SearchHeader.tsx
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchResultProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add waiting state to AI answer, to wait for the question to be typed
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/fullPageSearch.store.ts
Due: prettier, typescript-check, eslint

format css js
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
Due: prettier, typescript-check, eslint

Add --strip-title-prefix option to changelog add command
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Search title update and small highlight fixes (#2479)
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/SearchHeader.tsx
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchResultProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/StringHighlightExtensions.cs
Due: dotnet-format, prettier, typescript-check, eslint

Add waiting state to AI answer, to wait for the question to be typed (#2480)
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/AIAnswerPanel.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FullPageSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/fullPageSearch.store.ts
Due: prettier, typescript-check, eslint

/_search now fullscreen, no header(s) and footers
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Layout/_FullSearch.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
Due: dotnet-format, prettier

/_search now fullscreen, no header(s) and footers (#2482)
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Layout/_FullSearch.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
Due: dotnet-format, prettier

Update current version for eck to 3.3.0
  config/versions.yml
Due: none

Code QoL improvements
  src/Elastic.Documentation.Configuration/Portal/PortalConfiguration.cs
Due: dotnet-format

Optionally register OpenTelemetry (#2472)
  docs-builder.sln.DotSettings
  src/Elastic.Documentation.ServiceDefaults/Extensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetry/OpenTelemetryExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/EuidEnrichmentIntegrationTests.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Add telemetry for "Find in Docs" component
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/FindInDocsTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useFindInDocsTelemetry.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Add telemetry for "Find in Docs" component (#2486)
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/FindInDocsTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useFindInDocsTelemetry.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Filter out symlinks when scanning for documentation files
  src/Elastic.Documentation.Configuration/Toc/DetectionRules/DetectionRuleOverviewRef.cs
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
Due: dotnet-format

Filter out symlinks when scanning for documentation files (#2487)
  src/Elastic.Documentation.Configuration/Toc/DetectionRules/DetectionRuleOverviewRef.cs
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
Due: dotnet-format

Add PlainTextRenderer for search-optimized content
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/PlainTextExporter.cs
  src/Elastic.Markdown/Helpers/DocumentationObjectPoolProvider.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmMarkdownRenderer.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextInlineRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextRenderer.cs
  src/Elastic.Markdown/Myst/Roles/Kbd/Kbd.cs
  tests/authoring/Framework/PlainTextAssertions.fs
  tests/authoring/PlainText/PlainTextOutput.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format

Add test with complex markdown
  tests/authoring/PlainText/PlainTextOutput.fs
Due: dotnet-format

Preserve newlines
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextRenderer.cs
  tests/authoring/PlainText/PlainTextOutput.fs
Due: dotnet-format

Potential fix for pull request finding 'Useless assignment to local variable'
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
Due: dotnet-format

Potential fix for pull request finding 'Generic catch clause'
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
Due: dotnet-format

Fix formatting
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
Due: dotnet-format

Add PlainTextRenderer for search-optimized content (#2488)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/PlainTextExporter.cs
  src/Elastic.Markdown/Helpers/DocumentationObjectPoolProvider.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmMarkdownRenderer.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextInlineRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextRenderer.cs
  src/Elastic.Markdown/Myst/Roles/Kbd/Kbd.cs
  tests/authoring/Framework/PlainTextAssertions.fs
  tests/authoring/PlainText/PlainTextOutput.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format

Update placeholder text to Jump to page
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

Add --strip-title-prefix option to changelog add command (#2481)
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add --extract-release-notes to changelog add
  docs/cli/release/changelog-add.md
  docs/contribute/changelog.md
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
  src/services/Elastic.Documentation.Services/Changelog/ReleaseNotesExtractor.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
  tests/Elastic.Documentation.Services.Tests/ReleaseNotesExtractorTests.cs
Due: dotnet-format

Rebase
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Dereferenced variable may be null'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add test
  tests/Elastic.Documentation.Services.Tests/ChangelogServiceTests.cs
Due: dotnet-format

Potential fix for pull request finding 'Constant condition'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Minor cleanups
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Minor cleanup: magic number
  src/services/Elastic.Documentation.Services/Changelog/ReleaseNotesExtractor.cs
Due: dotnet-format

Fix rendering if the node is a listblock instead of a leafblock
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
Due: dotnet-format

Allow content in the same line a comment is being closed.
  docs/syntax/comments.md
  src/Elastic.Markdown/Myst/Comments/MultipleLineCommentBlockParser.cs
  tests/Elastic.Markdown.Tests/Inline/CommentTest.cs
Due: dotnet-format

[WIP] Fix integration test for label change in documentation (#2490)
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/FindInDocsTelemetry.test.tsx
Due: prettier, typescript-check, eslint

Update placeholder text to Jump to page (#2489)
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/FindInDocsTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
Due: prettier, typescript-check, eslint

Allow content in the same line a comment is being closed. (#2499)
  docs/syntax/comments.md
  src/Elastic.Markdown/Myst/Comments/MultipleLineCommentBlockParser.cs
  tests/Elastic.Markdown.Tests/Inline/CommentTest.cs
Due: dotnet-format

Add product filtering to full-page search with enhanced active filter display
  docs/_search.md
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Configuration/Versions/DocumentInference.cs
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/FilterSidebar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultCard.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/fullPageSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/productsConfig.ts
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/useFullPageSearchQuery.ts
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Documentation/Search/IndexedProduct.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Core/Search/FullSearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Search/IFullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/Common/SearchResultProcessor.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/FullSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentInferrerServiceTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

format css js
  src/Elastic.Documentation.Site/Assets/web-components/FullPageSearch/ResultsList.tsx
Due: prettier, typescript-check, eslint

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
