Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

chore: bump curb to 0.7.1
  Directory.Packages.props
  dotnet-tools.json
Due: none

Address PR feedback on curb toolchain integration
  .github/workflows/ci.yml
  .husky/task-runner.json
  build/CommandLine.fs
  build/Targets.fs
Due: dotnet-format

Update curb to 0.7.0
  Directory.Packages.props
  dotnet-tools.json
Due: none

chore: always run analyzers during build, remove CI-only guard
  Directory.Build.props
Due: none

chore: remove dead editorconfig keys that are no-ops in curb and Roslyn
  .editorconfig
Due: none

Apply curb formatting to files added by main since branch diverged
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogKeys.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Navigation/Assembler/SectionTopNavBuilder.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationItem.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/FolderNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/TableOfContentsNavigation.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/VirtualFileNavigation.cs
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationCurrentMarker.cs
  src/Elastic.Documentation.Site/Navigation/NavigationRenderModel.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/services/Elastic.Changelog/Bundling/AmendDocumentBuilder.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Creation/CreateChangelogArgumentsValidator.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/ProductArgument.cs
  src/services/Elastic.Changelog/Reconciliation/NoteAmendReconciler.cs
  src/services/Elastic.Changelog/Reconciliation/NotesIndexReconciler.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/FlagsAndFeaturesTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/NoteCreationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseNoteExtractionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/TitleProcessingTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/FakeS3.cs
  tests/Elastic.Changelog.Tests/Reconciliation/NoteAmendReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Reconciliation/NotesIndexReconcilerTests.cs
  tests/Elastic.Changelog.Tests/Scrubbing/ScrubberProcessorTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
  tests/Navigation.Tests/Rendering/NavigationCurrentMarkerTests.cs
  tests/Navigation.Tests/Rendering/NavigationRenderModelTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier

Apply curb formatting to files added by main since branch diverged
  src/Elastic.Codex/Sourcing/CodexGitRepository.cs
  src/Elastic.Documentation.LinkIndex/GitLinkIndexReader.cs
  src/Elastic.Documentation.Tooling/ExternalCommands/ExternalCommandExecutor.cs
  src/services/Elastic.Documentation.Assembler/Sourcing/GitFacade.cs
  src/services/Elastic.Documentation.Assembler/Sourcing/RepositorySourcesFetcher.cs
Due: dotnet-format

Fix zizmor template-injection in wait-on step; drop unneeded checks permission
  .github/workflows/assembler-preview.yml
Due: none

Fix preview URL path and add CloudFront wait before synthetics
  .github/workflows/assembler-preview.yml
  src/Elastic.Documentation.Site/synthetics/ci/accessibility.ci.ts
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  src/Elastic.Documentation.Site/synthetics/synthetics.config.ts
Due: prettier, typescript-check, eslint

feat: run synthetics against deployed assembler-preview URL
  .github/workflows/assembler-preview.yml
  .github/workflows/ci.yml
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/synthetics/synthetics.config.ts
Due: prettier, typescript-check, eslint

Fix wait-on protocol prefix for HTTPS CloudFront URL
  .github/workflows/assembler-preview.yml
Due: none

Replace wait-on with curl retry for CloudFront propagation wait
  .github/workflows/assembler-preview.yml
Due: none

Move CI lint job to the curb GitHub Action
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

fix(synthetics): exclude mcp journey and fix href selectors for preview environment
  .github/workflows/assembler-preview.yml
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Fix assembler CI crash on missing related-learning.yml
  docs/documentation/catalog/related-learning.md
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
Due: dotnet-format

Move CI lint job to the curb GitHub Action (#3953)
  .github/workflows/ci.yml
  CONTRIBUTING.md
Due: none

Gate dotnet CI jobs on lint passing to avoid wasted CURB0001 failures
  .github/workflows/ci.yml
Due: none

fix(synthetics): use docsRoot-relative href for api link full-page-load test
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Revert "Fix assembler CI crash on missing related-learning.yml"
  docs/documentation/catalog/related-learning.md
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
Due: dotnet-format

Run curb format
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/RelatedLearning/RelatedLearningConfiguration.cs
  src/Elastic.Markdown/Myst/Directives/RelatedLearning/RelatedLearningBlock.cs
  tests/Elastic.Documentation.Configuration.Tests/RelatedLearningConfigurationTests.cs
  tests/Elastic.Markdown.Tests/Directives/RelatedLearningTests.cs
Due: dotnet-format

Gate dotnet CI jobs on lint to avoid wasted CURB0001 failures (#3954)
  .github/workflows/ci.yml
Due: none

Docs: add a title to the API supplemental fixture
  docs/api/docs-builder-elasticsearch/op-async-search-get.md
  docs/data/openapi/supplemental.md
Due: none

Docs: rewrite API Explorer author pages from current behavior
  docs/api/docs-builder-elasticsearch/op-async-search-get.md
  docs/data/openapi/api-explorer.md
  docs/data/openapi/index.md
  docs/data/openapi/supplemental.md
Due: none

Docs: add API Explorer enrichment author guide
  docs/_docset.yml
  docs/api/docs-builder-elasticsearch/op-async-search-get.md
  docs/data/openapi/api-explorer.md
  docs/data/openapi/index.md
  docs/data/openapi/supplemental.md
Due: none

Port filename PR identity
  docs/cli/changelog/cmd-bundle.md
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Bundling/GitRangeEntryResolver.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
Due: dotnet-format

Add ChangelogPrIdentity.cs changes
  src/services/Elastic.Changelog/Bundling/ChangelogPrIdentity.cs
Due: dotnet-format

Rebase and address comments
  docs/cli/changelog/cmd-bundle.md
  src/services/Elastic.Changelog/Bundling/ChangelogEntryMatcher.cs
  src/services/Elastic.Changelog/Bundling/ChangelogPrIdentity.cs
Due: dotnet-format

Move synthetics into assembler-preview job, remove standalone synthetics job (#3952)
  .github/workflows/assembler-preview.yml
  .github/workflows/ci.yml
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/synthetics/ci/accessibility.ci.ts
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
  src/Elastic.Documentation.Site/synthetics/synthetics.config.ts
Due: prettier, typescript-check, eslint

Resolve cross-repo redirect to: against the published link index
  docs/documentation/redirects.md
  src/Elastic.Markdown/IO/DocumentationSet.cs
  tests/Elastic.Markdown.Tests/RedirectCrossLinkValidationTests.cs
Due: dotnet-format

Apply Curb formatting to isolated redirect validation
  src/Elastic.Markdown/IO/DocumentationSet.cs
  tests/Elastic.Markdown.Tests/RedirectCrossLinkValidationTests.cs
Due: dotnet-format

Apply Curb formatting to redirect validation tests
  tests/Elastic.Markdown.Tests/RedirectCrossLinkValidationTests.cs
Due: dotnet-format

Add local_spec so API Explorer can use a checkout-local OAS file
  docs/data/openapi/api-explorer.md
  docs/documentation/isolated/configure/index.md
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfiguration.cs
  src/Elastic.Documentation.Configuration/Toc/ApiConfigurationConverter.cs
  src/Elastic.Documentation/IDocumentationContext.cs
  tests/Elastic.Documentation.Configuration.Tests/ApiConfigurationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileExcludeTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileReleaseNotesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ConfigurationFileStorybookRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/CrossLinkRegistryTests.cs
  tests/Elastic.Documentation.Configuration.Tests/DocumentationSetFileTests.cs
  tests/Navigation.Tests/TestDocumentationSetContext.cs
  tests/authoring/Framework/CrossLinkResolverAssertions.fs
Due: dotnet-format

Add stale issue and PR cleanup workflow
  .github/workflows/stale.yml
Due: none

ApiExplorer: merge version-suffixed supplemental files (#3944)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/Navigation/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Supplemental/ApiSupplementalDoc.cs
  src/Elastic.ApiExplorer/Supplemental/ApiSupplementalName.cs
  tests/Elastic.ApiExplorer.Tests/SimpleMarkdownNavigationItemTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalDocTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/ApiSupplementalNameTests.cs
  tests/Elastic.ApiExplorer.Tests/Supplemental/OpenApiGeneratorSupplementalTests.cs
Due: dotnet-format

Docs: API Explorer enrichment author guide (#3946)
  docs/_docset.yml
  docs/api/docs-builder-elasticsearch/op-async-search-get.md
  docs/data/openapi/api-explorer.md
  docs/data/openapi/index.md
  docs/data/openapi/supplemental.md
Due: none

Restore local tools in pre-commit before curb runs
  .husky/pre-commit
  .husky/task-runner.json
  CONTRIBUTING.md
Due: none

Add stale issue and PR cleanup workflow (#3959)
  .github/workflows/stale.yml
Due: none

Restore local tools in pre-commit before curb runs (#3960)
  .husky/pre-commit
  .husky/task-runner.json
  CONTRIBUTING.md
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
