Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Assembler: embed elastic-website-search web component on staging
  config/assembler.yml
  src/Elastic.Documentation.Configuration/Assembler/PublishEnvironment.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
Due: dotnet-format, prettier

Assembler: embed elastic-website-search web component on staging (#3411)
  config/assembler.yml
  src/Elastic.Documentation.Configuration/Assembler/PublishEnvironment.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
Due: dotnet-format, prettier

fix: upgrade @opentelemetry/instrumentation from 0.215.0 to 0.217.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/instrumentation-fetch from 0.215.0 to 0.217.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/api-logs from 0.216.0 to 0.217.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: upgrade @opentelemetry/sdk-trace-web from 2.7.0 to 2.7.1
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

changelog: switch prepare-artifact bool CLI params to bool? (#3410)
  docs/cli-schema.json
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/Evaluation/PrepareArtifactArguments.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
Due: dotnet-format

Update current stack version to 9.4.2 (#3381)
  config/versions.yml
Due: none

docs: add elastic/cli to assembler and reference navigation
  config/assembler.yml
  config/navigation.yml
Due: none

changelog: make generated entry YAMLs self-describing for the scrubber
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Creation/NormalizeReferencesTests.cs
Due: dotnet-format

changelog: make generated entry YAMLs self-describing for the scrubber (#3417)
  src/services/Elastic.Changelog/Bundling/LinkAllowlistSanitizer.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/PrIntegrationTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Creation/NormalizeReferencesTests.cs
Due: dotnet-format

fix: upgrade @opentelemetry/sdk-logs from 0.216.0 to 0.217.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Fix agent-skill directive: copy install command + learn more link (#3392)
  .github/workflows/assembler-preview.yml
  .github/workflows/ci.yml
  docs/syntax/agent-skill.md
  src/Elastic.Documentation.Site/Assets/agent-skill.ts
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/markdown/agent-skill.css
  src/Elastic.Markdown/Myst/Directives/AgentSkill/AgentSkillBlock.cs
  src/Elastic.Markdown/Myst/Directives/AgentSkill/AgentSkillView.cshtml
  src/Elastic.Markdown/Myst/Directives/AgentSkill/AgentSkillViewModel.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/AgentSkillTests.cs
  tests/authoring/Blocks/AgentSkill.fs
Due: dotnet-format, prettier, typescript-check, eslint

fix(search): resolve 500 error from RuleQueryMatchCriteria serialization
  NuGet.config
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/EsJsonContext.cs
  src/services/search/Elastic.Documentation.Search/FullSearchService.cs
  src/services/search/Elastic.Documentation.Search/NavigationSearchService.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
Due: dotnet-format

refactor(search): consume Elastic.Internal.Search.* from NuGet (#3364)
  Directory.Packages.props
  docs-builder.slnx
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/search/Elastic.Documentation.Search.Contract/AppliesToEntry.cs
  src/services/search/Elastic.Documentation.Search.Contract/DocumentationDocument.cs
  src/services/search/Elastic.Documentation.Search.Contract/DocumentationMappingConfig.cs
  src/services/search/Elastic.Documentation.Search.Contract/Elastic.Documentation.Search.Contract.csproj
  src/services/search/Elastic.Documentation.Search.Contract/IndexedProduct.cs
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/SearchQueryBuilder.cs
  src/services/search/Elastic.Documentation.Search/Common/SearchResultProcessor.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
  src/services/search/Elastic.Documentation.Search/EsJsonContext.cs
  src/services/search/Elastic.Documentation.Search/FullSearchService.cs
  src/services/search/Elastic.Documentation.Search/NavigationSearchService.cs
  src/services/search/Elastic.Documentation.Search/ServicesExtension.cs
  src/services/search/Elastic.Documentation.Search/StringHighlightExtensions.cs
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiDocumentExporterTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogConfigurationTests.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/Adapters/Search/StringHighlightExtensionsTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
Due: dotnet-format

Speed up dotnet format lint hook from ~85s to ~13s
  build/Targets.fs
Due: dotnet-format

Add zizmor GitHub Actions security scanning
  .github/actions/bootstrap/action.yml
  .github/dependabot.yml
  .github/workflows/build-link-index-updater-lambda.yml
  .github/workflows/ci.yml
  .github/workflows/create-major-tag.yml
  .github/workflows/docs-preview-local.yml
  .github/workflows/license.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/required-labels.yml
  .github/workflows/smoke-test.yml
  .github/workflows/updatecli.yml
  .github/workflows/zizmor.yml
  .github/zizmor.yml
  actions/update-link-index/action.yml
Due: none

Use inline zizmor ignores for template-injection
  .github/workflows/assembler-preview.yml
  .github/workflows/docs-preview-local.yml
  .github/workflows/release.yml
  .github/zizmor.yml
Due: none

Set Dependabot cooldown to 14 days for all ecosystems
  .github/dependabot.yml
Due: none

Fix tj-actions/changed-files pin to match v45.0.6 tag
  .github/workflows/comment-on-asciidoc-changes.yml
Due: none

Address PR review on smoke-test and create-major-tag workflows
  .github/workflows/create-major-tag.yml
  .github/workflows/smoke-test.yml
Due: none

Add zizmor GitHub Actions security scanning (#3421)
  .github/actions/bootstrap/action.yml
  .github/dependabot.yml
  .github/workflows/assembler-preview.yml
  .github/workflows/build-link-index-updater-lambda.yml
  .github/workflows/ci.yml
  .github/workflows/comment-on-asciidoc-changes.yml
  .github/workflows/create-major-tag.yml
  .github/workflows/docs-preview-local.yml
  .github/workflows/license.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/required-labels.yml
  .github/workflows/smoke-test.yml
  .github/workflows/updatecli.yml
  .github/workflows/zizmor.yml
  .github/zizmor.yml
  actions/update-link-index/action.yml
Due: none

Fix AOT build failure in ElasticsearchClientAccessor after search refactor
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/EsJsonContext.cs
Due: dotnet-format

Combine search JSON resolvers and fix RuleQueryMatchCriteria serialization
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientJsonResolver.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaJsonConverter.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaTypeInfoResolver.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
  src/services/search/Elastic.Documentation.Search/EsJsonContext.cs
Due: dotnet-format

changelog: use singular S3 key prefixes for changelog/bundle artifacts
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

Fix read-only JsonSerializerOptions mutation in search resolver
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaJsonConverter.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaTypeInfoResolver.cs
Due: dotnet-format

perf(nav): reduce HTML output size by ~34% per page
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
Due: prettier

changelog: publish per-product registry-index for bundle uploads
  docs/development/changelog-bundle-registry.md
  docs/development/toc.yml
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/RegistryIndex.cs
  src/services/Elastic.Changelog/Uploading/RegistryIndexBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryIndexKey.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryIndexBuilderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryIndexKeyTests.cs
Due: dotnet-format

Fix RuleQueryMatchCriteria accessor for cross-assembly internal type
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaJsonConverter.cs
Due: dotnet-format

Fix AOT build failure after search NuGet refactor (#3433)
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientJsonResolver.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaJsonConverter.cs
  src/services/search/Elastic.Documentation.Search/Common/RuleQueryMatchCriteriaTypeInfoResolver.cs
  src/services/search/Elastic.Documentation.Search/Elastic.Documentation.Search.csproj
Due: dotnet-format

changelog: add CDN consumer mode to the {changelog} directive
  docs/development/changelog-bundle-registry.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/ReleaseNotes/BundleLoader.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogRegistry.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogVersionMatch.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryIndexKeyTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryKeyTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/BundleLoaderFromContentTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogFetcherTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

changelog: use singular S3 key prefixes for changelog/bundle artifacts (#3434)
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Documentation.Integrations.Tests/S3/S3IncrementalUploaderTests.cs
Due: dotnet-format

Surface deprecated prebuilt detection rules as a sibling nav page (#3167)
  Directory.Packages.props
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/Toc/DetectionRules/DetectionRuleOverviewRef.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/Elastic.Markdown.csproj
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRule.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRuleFile.cs
  src/Elastic.Markdown/Extensions/DetectionRules/DetectionRulesDocsBuilderExtension.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  tests/Elastic.Markdown.Tests/DetectionRules/DetectionRuleParsingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

changelog: align CDN registry paths with singular S3 key prefixes
  docs/development/changelog-bundle-registry.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogRegistry.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryKeyTests.cs
Due: dotnet-format

test: update development TOC count for new changelog registry doc
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format

perf(nav): reduce HTML output size ~34% by extracting repeated nav markup (#3435)
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/_GlobalLayout.cshtml
Due: prettier

Update technical preview description (#3400)
  src/Elastic.Markdown/Myst/Components/LifecycleDescriptions.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

changelog: address PR review feedback for CDN consumer mode
  docs/development/changelog-bundle-registry.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
Due: dotnet-format

[Snyk] Upgrade @opentelemetry/instrumentation from 0.215.0 to 0.217.0 (#3412)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

feat(assembler): on-demand assembler serve with live reload and improved frontend DX (#3179)
  .github/workflows/ci.yml
  aspire/AppHost.cs
  build/CommandLine.fs
  build/Targets.fs
  docs/cli-schema.json
  src/Elastic.Documentation.LinkIndex/LinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
