Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

fix: address CodeQL feedback - specific catch clauses, using for RSA
  src/api/Elastic.Documentation.Mcp.Remote/McpBearerAuthMiddleware.cs
Due: dotnet-format

Potential fix for pull request finding 'Generic catch clause'
  src/api/Elastic.Documentation.Mcp.Remote/McpBearerAuthMiddleware.cs
Due: dotnet-format

Skip preview build for push events with no docs changes (#2782)
  .github/workflows/preview-build.yml
Due: none

Enforce mutual exclusivity for profile-based changelog commands and add output_products, repo, owner profile fields
  config/changelog.example.yml
  docs/cli/release/changelog-bundle.md
  docs/cli/release/changelog-remove.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Lint
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Add Phase 5 tests and docs for profile parity
  docs/contribute/changelog.md
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogRemoveTests.cs
Due: dotnet-format

Apply suggestion from @lcawl
  docs/contribute/changelog.md
Due: none

[DOCS] Changelog bundle profiles (#2783)
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
Due: none

Add monthly bundle example
  docs/cli/release/changelog-bundle.md
Due: none

Add bundle-level repo and owner defaults
  config/changelog.example.yml
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Configuration/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Serialization/ChangelogConfigurationYaml.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Apply bundle.repo and bundle.owner defaults in option-based mode
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
Due: dotnet-format

Document bundle.repo/owner defaults in help text and docs
  docs/cli/release/changelog-bundle.md
  docs/contribute/changelog.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Potential fix for pull request finding 'Constant condition'
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Codex: redesign landing page with hero, search, Ask AI, and stats
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Svg/svgs/ai.svg
Due: prettier, typescript-check, eslint

Codex: redesign landing page with hero, search, Ask AI, and stats (#2793)
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Svg/svgs/ai.svg
Due: prettier, typescript-check, eslint

MCP OAuth Bearer auth for codex-internal (#2788)
  Directory.Packages.props
  src/Elastic.Documentation.Configuration/IEnvironmentVariables.cs
  src/Elastic.Documentation.Configuration/SystemEnvironmentVariables.cs
  src/api/Elastic.Documentation.Mcp.Remote/Elastic.Documentation.Mcp.Remote.csproj
  src/api/Elastic.Documentation.Mcp.Remote/McpBearerAuthMiddleware.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/SseKeepAliveMiddleware.cs
Due: dotnet-format

Skip API health check for codex builds in NavigationSearch and AskAi
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
Due: prettier, typescript-check, eslint

Move htmx-indicator to top on landing page
  src/Elastic.Documentation.Site/Assets/codex.css
Due: prettier

Codex: add canonical_base_url config for frontmatter URLs
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
Due: dotnet-format

Codex: add canonical_base_url config for frontmatter URLs (#2795)
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
Due: dotnet-format

Codex: skip API health check for NavigationSearch and AskAi (#2794)
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
Due: prettier, typescript-check, eslint

ModalSearch: revive modal search with HTMX-compatible navigation for Codex
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Documentation.Site/Assets/codex.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/index.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/modalSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchTelemetry.ts
Due: prettier, typescript-check, eslint

Remove unused ModalSearch web component registration
  src/Elastic.Documentation.Site/Assets/codex.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchComponent.tsx
Due: prettier, typescript-check, eslint

Fix
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

Fix Enter key on interactive elements inside the modal search panel
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Replace handrolled AI enrichment with Elastic.Ingest 0.30.0 AiEnrichmentOrchestrator
  Directory.Packages.props
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Documentation/Search/DocumentationMappingConfig.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ElasticsearchLlmClient.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichPolicyManager.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentKeyGenerator.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/EnrichmentOptions.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/IEnrichmentCache.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/Enrichment/ILlmClient.cs
  tests/Elastic.Markdown.Tests/Enrichment/ElasticsearchLlmClientTests.cs
Due: dotnet-format

Fix search/ask-ai Escape handler
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Update release API endpoint
  .github/updatecli/updatecli.d/versions.yml
Due: none

Update release API endpoint (#2799)
  .github/updatecli/updatecli.d/versions.yml
Due: none

ModalSearch: revive modal search with HTMX-compatible navigation for Codex (#2796)
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/index.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/modalSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchTelemetry.ts
Due: prettier, typescript-check, eslint

Updates current stack version to 9.3.1 (#2723)
  config/versions.yml
Due: none

Rename Codex to Elastic Internal Docs in all user-facing text
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Layout/_CodexFooter.cshtml
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Codex/_GroupLayout.cshtml
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/codex.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.config.ts
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/SearchBar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: dotnet-format, prettier, typescript-check, eslint

Rename Codex to Elastic Internal Docs in user-facing text (#2800)
  src/Elastic.Codex/CodexViewModel.cs
  src/Elastic.Codex/Landing/LandingView.cshtml
  src/Elastic.Codex/Layout/_CodexFooter.cshtml
  src/Elastic.Codex/Layout/_CodexHeader.cshtml
  src/Elastic.Codex/_GroupLayout.cshtml
  src/Elastic.Documentation.Configuration/Codex/CodexConfiguration.cs
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/codex.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.config.ts
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/useAskAiFlyout.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/Header.tsx
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/SearchBar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchKeyboardNavigation.ts
Due: dotnet-format, prettier, typescript-check, eslint

Require root index.md for non-public isolated builds
  src/Elastic.Markdown/IO/DocumentationSet.cs
  tests/Elastic.Markdown.Tests/RootIndexValidationTests.cs
Due: dotnet-format

Fix CodeQL: use Path.Join instead of Path.Combine
  src/Elastic.Markdown/IO/DocumentationSet.cs
Due: dotnet-format

Require root index.md for non-public isolated builds (#2801)
  src/Elastic.Markdown/IO/DocumentationSet.cs
  tests/Elastic.Markdown.Tests/RootIndexValidationTests.cs
Due: dotnet-format

Search bar: fix theme consistency, make placeholder configurable, shorten AI prompt
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.config.ts
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/SearchBar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

MCP: add OAuth .well-known metadata endpoints
  src/api/Elastic.Documentation.Mcp.Remote/McpOAuthMetadata.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format

Search bar: fix theme consistency, make placeholder configurable, shorten AI prompt (#2802)
  src/Elastic.Documentation.Site/Assets/web-components/AskAi/askAi.config.ts
  src/Elastic.Documentation.Site/Assets/web-components/CodexHeader/SearchBar.tsx
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/ModalSearch.tsx
Due: prettier, typescript-check, eslint

Fix AOT compatibility: use source-generated JSON serialization for OAuth metadata
  src/api/Elastic.Documentation.Mcp.Remote/McpOAuthMetadata.cs
Due: dotnet-format
