Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix IDE0370: remove unnecessary null-forgiving operators in SiteNavigationV2
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
Due: dotnet-format

Add group: placeholder folder type; build Ingest or migrate section
  config/navigation-v2.yml
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
  src/Elastic.Documentation.Navigation/V2/PlaceholderNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: dotnet-format, prettier

Level-1 labels: small-caps uppercase + ruled separator between groups
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: prettier

Expand nav to current page on direct URL load
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Fix YAML quoting for group title containing colon
  config/navigation-v2.yml
Due: none

Wire up page: cross-link resolution in V2 nav
  config/navigation-v2.yml
  src/Elastic.Documentation.Navigation/V2/PageCrossLinkLeaf.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
Due: dotnet-format

Update nav-v2-status.md: document label typography hierarchy
  nav-v2-status.md
Due: none

Improve level-2 label legibility: text-xs at 65% opacity
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: prettier

Address code review: LINQ refactor and flatten nested if
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
Due: dotnet-format

Build full nav skeleton from JSON IA design
  config/navigation-v2.yml
Due: none

Fix Prettier formatting in pages-nav-v2.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Style level-2 labels as small-caps dividers to distinguish from level-1
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
Due: prettier

Fix CI failures: AOT-compatible deserializer and unused import
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: dotnet-format, prettier, typescript-check, eslint

Wire Reference section in navigation-v2.yml with real toc and page entries
  config/navigation-v2.yml
Due: none

Revert URI-derived path prefix experiment; document limitation in PR
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
Due: dotnet-format

Wire Troubleshooting section with page: cross-links
  config/navigation-v2.yml
Due: none

Fix nav-v2 build errors after rebase onto main
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
Due: dotnet-format, prettier

Hub pages 2/4: {card-group}, {link-card}, and {explore} (#3826)
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/syntax/card-group.md
  docs/syntax/explore.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/syntax/link-card.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubDirectiveViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubExplore.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubYamlBody.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests/authoring/Blocks/Hub/CardsAndExplore.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Hub pages 1/4: hub page layout and the {hero} directive (#3825)
  docs/_docset.yml
  docs/examples/index.md
  docs/examples/products/docs-builder.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/MarkdownPageLayout.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ProductIcons.cs
  src/Elastic.Markdown/Myst/Directives/PageCard/PageCardBlock.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/_Layout.cshtml
  tests/authoring/Blocks/Hub/Hero.fs
  tests/authoring/Blocks/NestedDirectiveOptions.fs
  tests/authoring/Blocks/PageCards.fs
  tests/authoring/Framework/HtmlAssertions.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Hub pages 3/4: {get-started} (#3827)
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/syntax/get-started.md
  docs/syntax/hub-pages.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests/authoring/Blocks/Hub/GetStarted.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Hub pages 4/4: {whats-new} (#3829)
  docs/_docset.yml
  docs/examples/products/docs-builder.md
  docs/hub-whats-new.yml
  docs/syntax/hub-pages.md
  docs/syntax/whats-new.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewViewModel.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  src/Elastic.Markdown/Myst/Renderers/PlainText/PlainTextBlockRenderers.cs
  src/Elastic.Markdown/Myst/YamlSerialization.cs
  tests/authoring/Blocks/Hub/WhatsNew.fs
  tests/authoring/authoring.fsproj
Due: dotnet-format, prettier

Add navigation islands: guide-nav toc chunking with IsDiscrete, NestSectionsByLevel, HeadingLevelBase (#3833)
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Tooling/FileSystems/GitResolveFileSystem.cs
  src/Elastic.Documentation.Tooling/Paths.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/AsciidocParser.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/Ast/SectionNode.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/MarkdownEmitter.cs
  src/authoring/Elastic.LegacyDocs.Migration/Asciidoc/PageChunker.cs
  src/authoring/Elastic.LegacyDocs.Migration/YamlWriter.cs
  src/tooling/docs-builder/Commands/ServeCommand.cs
  src/tooling/docs-migrate/ConvertCommand.cs
  src/tooling/docs-migrate/ServeCommand.cs
  src/tooling/docs-migrate/docs-migrate.csproj
  tests/Elastic.LegacyDocs.Migration.Tests/ChunkerTests.cs
  tests/Elastic.LegacyDocs.Migration.Tests/ParserTests.cs
Due: dotnet-format

Enable antialiased font smoothing on body
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Enable antialiased font smoothing on body (#3868)
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier

Fix scoped-filesystem access-denied errors in codex builds (#3865)
  src/Elastic.Codex/Building/CodexBuildService.cs
  src/Elastic.Codex/CodexGenerator.cs
  src/Elastic.Codex/Indexing/CodexIndexService.cs
  src/Elastic.Documentation.Tooling/FileSystems/CheckoutsFileSystem.cs
  src/Elastic.Documentation.Tooling/FileSystems/DocumentationFileSystem.cs
  src/Elastic.Documentation/Extensions/IFileInfoExtensions.cs
  src/Elastic.Documentation/FileSystems/AssemblyWriteFileSystem.cs
  src/Elastic.Documentation/FileSystems/DocumentationWriteFileSystem.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Commands/Codex/CodexCommands.cs
  src/tooling/docs-builder/Commands/Codex/CodexIndexCommand.cs
Due: dotnet-format

Update the link text to remove (versionless)
  src/Elastic.Markdown/Layout/_LandingPage.cshtml
Due: none

Adds applicability support for a new serverless project
  docs/_snippets/applies_to-key.md
  docs/syntax/applies.md
  src/Elastic.Documentation.Configuration/Inference/VersionInference.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
  src/Elastic.Markdown/Myst/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityMappings.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  tests/Elastic.Documentation.Configuration.Tests/VersionInferenceTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterRoundTripTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterSerializationTests.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Applicability/AppliesToFrontMatter.fs
  tests/authoring/LlmMarkdown/LlmMarkdownOutput.fs
Due: dotnet-format

move Extend into Guides section as last children
  config/navigation_preview.yml
Due: none

chore: reorder top nav sections to Guides, APIs, Reference, Troubleshoot, Release notes, Extend
  config/navigation_preview.yml
Due: none

fix: section owns sidebar — children not individual islands
  config/navigation.yml
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/services/Elastic.Documentation.Assembler/Navigation/SectionTopNavBuilder.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
Due: dotnet-format

feat: section: entries with children become island tree nodes
  src/Elastic.Documentation.Navigation/Assembler/SectionNavigation.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/services/Elastic.Documentation.Assembler/Navigation/SectionTopNavBuilder.cs
  tests/Navigation.Tests/Assembler/SectionNavigationTests.cs
Due: dotnet-format

feat: configurable top nav via section: grouping in navigation_preview.yml
  config/navigation_preview.yml
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/Toc/SiteNavigationFile.cs
  src/Elastic.Documentation.Configuration/Toc/TopNavigation.cs
  src/Elastic.Documentation.Navigation/Assembler/SiteNavigation.cs
  src/Elastic.Documentation.Navigation/INavigationTraversable.cs
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav-dropdown.css
  src/Elastic.Documentation.Site/Assets/secondary-nav.test.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav.ts
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildService.cs
  src/services/Elastic.Documentation.Assembler/Navigation/GlobalNavigationHtmlWriter.cs
  src/services/Elastic.Documentation.Assembler/Navigation/LlmsNavigationEnhancer.cs
  src/services/Elastic.Documentation.Assembler/Navigation/SectionTopNavBuilder.cs
  tests/Elastic.Documentation.Configuration.Tests/SiteNavigationFileTests.cs
  tests/Navigation.Tests/Rendering/SecondaryNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
