Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

feat(settings): add :deployment: filter option to {settings} directive (#3318)
  docs/syntax/automated_settings.md
  docs/testing/kibana-settings-yaml-samples.md
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsBlock.cs
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsView.cshtml
  src/Elastic.Markdown/Myst/Directives/Settings/SettingsViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Settings/StructuredSettings.cs
  tests/Elastic.Markdown.Tests/SettingsInclusion/IncludeTests.cs
Due: dotnet-format

Fix publishcontainers pointing to deleted Api.App project
  build/Targets.fs
Due: dotnet-format

Fix publishcontainers build target after Api project merge (#3352)
  build/Targets.fs
Due: dotnet-format

Codex: fix group layout DOM order after #3344
  src/Elastic.Codex/_GroupLayout.cshtml
Due: none

Render inline Markdown in automatic callouts and update docs (#3324)
  docs/syntax/code.md
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlock.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
  tests/Elastic.Markdown.Tests/CodeBlocks/CallOutTests.cs
Due: dotnet-format

Keep nav-v2 focused on the active section
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Codex: fix group layout DOM order after #3344 (#3353)
  src/Elastic.Codex/_GroupLayout.cshtml
Due: none

Fix inline callout regex and li rendering for markdown links
  src/Elastic.Markdown/Myst/CodeBlocks/CallOutParser.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Add Aspire-driven API + MCP smoke tests and fix Docker-free integration testing
  .github/workflows/ci.yml
  aspire/AppHost.cs
  docs-builder.slnx
  src/api/Elastic.Documentation.Api/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  tests-integration/Elastic.Documentation.IntegrationTests/AssembleFixture.cs
  tests-integration/Elastic.Documentation.IntegrationTests/AssemblerConfigurationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/DocsSyncTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Elastic.Documentation.IntegrationTests.csproj
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Search/SearchTestBase.cs
  tests-integration/Elastic.Documentation.IntegrationTests/ServeStaticTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/SiteNavigationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/McpSmokeTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/TestHelpers.cs
  tests-integration/Elastic.Documentation.IntegrationTests/TestLogger.cs
  tests/Elastic.Documentation.Api.Tests/AskAiGatewayStreamingTests.cs
  tests/Elastic.Documentation.Api.Tests/Elastic.Documentation.Api.Tests.csproj
  tests/Elastic.Documentation.Api.Tests/EuidEnrichmentTests.cs
  tests/Elastic.Documentation.Api.Tests/Fixtures/ApiWebApplicationFactory.cs
  tests/Elastic.Documentation.Api.Tests/OtlpProxyTests.cs
Due: dotnet-format

Auto-scroll nav-v2 to the active branch
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Re-scroll nav-v2 after sidebar chrome resizes
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Format nav-v2 scroll observer
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Keep nav-v2 focused on the active section (#3354)
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
Due: prettier, typescript-check, eslint

Fix inline code callouts with links
  src/Elastic.Markdown/Myst/CodeBlocks/CallOutParser.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Fix inline callout regex and li rendering for markdown links (#3355)
  src/Elastic.Markdown/Myst/CodeBlocks/CallOutParser.cs
  src/Elastic.Markdown/Myst/CodeBlocks/EnhancedCodeBlockHtmlRenderer.cs
Due: dotnet-format

Edit changelog publish docs
  docs/cli/changelog/cmd-render.md
  docs/contribute/create-changelogs.md
  docs/contribute/publish-changelogs.md
Due: none

Fix changelog bundle examples
  docs/cli/changelog/cmd-bundle.md
  docs/contribute/bundle-changelogs.md
Due: none

Address feedback
  docs/cli/changelog/cmd-bundle.md
Due: none

Fix typo
  docs/contribute/publish-changelogs.md
Due: none

Support default-expanded Nav V2 groups
  config/navigation-v2.yml
  src/Elastic.Documentation.Configuration/Toc/NavigationV2File.cs
  src/Elastic.Documentation.Navigation/V2/PageFolderNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/PlaceholderNavigationNode.cs
  src/Elastic.Documentation.Navigation/V2/SiteNavigationV2.cs
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-v2.ts
  src/Elastic.Documentation.Site/Navigation/_TocTreeNavV2.cshtml
  tests/Elastic.Documentation.Configuration.Tests/NavigationV2FileTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Fix Aspire AppHost startup and smoke test reliability
  aspire/AppHost.cs
  src/api/Elastic.Documentation.Api/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/McpSmokeTests.cs
Due: dotnet-format

Fix mobile docs layout overflow
  src/Elastic.Documentation.Site/Assets/assembler.css
  src/Elastic.Documentation.Site/Assets/styles.css
  src/Elastic.Documentation.Site/Layout/_SecondaryNav.cshtml
Due: prettier

Read ENVIRONMENT from host process; fail with diagnostics on non-200 smoke tests
  .github/workflows/ci.yml
  aspire/AppHost.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
Due: dotnet-format

Fix OtlpProxyTests race: configure OTLP endpoint per factory instance
  tests/Elastic.Documentation.Api.Tests/Fixtures/ApiWebApplicationFactory.cs
  tests/Elastic.Documentation.Api.Tests/OtlpProxyTests.cs
Due: dotnet-format

Skip ChangesEndpoint test when API key lacks PIT privilege
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
Due: dotnet-format

Skip ChangesEndpoint test on CI where API key lacks PIT privilege
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
Due: dotnet-format

Address review: Kestrel guard via Configuration, null body fails test
  src/api/Elastic.Documentation.Api/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
Due: dotnet-format

Switch Assert.SkipWhen to Assert.SkipUnless in smoke tests
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
Due: dotnet-format

Snapshot RecordedLogs in DisposeAsync to prevent concurrent modification
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/McpSmokeTests.cs
Due: dotnet-format

Only dump logs on TestResult.Failed, not on skip or null state
  tests-integration/Elastic.Documentation.IntegrationTests/AssemblerConfigurationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationBuildingTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/NavigationRootTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/ServeStaticTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/SiteNavigationTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/ApiSmokeTests.cs
  tests-integration/Elastic.Documentation.IntegrationTests/Smoke/McpSmokeTests.cs
Due: dotnet-format

Address review: whitespace-safe env defaults, add HTTPS_PORTS to guard
  aspire/AppHost.cs
  src/api/Elastic.Documentation.Api/Program.cs
  src/api/Elastic.Documentation.Mcp.Remote/Program.cs
Due: dotnet-format
