Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Search: bump contract to 0.12.0 and populate content_tier for docs pages
  Directory.Packages.props
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  tests/Elastic.Markdown.Tests/Search/ContentTierClassificationTests.cs
Due: dotnet-format

changelog: restructure S3 layout to artifact-root (#3562)
  config/changelog.example.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  docs/contribute/configure-changelogs-ref.md
  docs/development/changelog-bundle-registry.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogEntryFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/CdnChangelogFetcher.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ChangelogRegistry.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/infra/docs-lambda-changelog-scrubber/Program.cs
  src/infra/docs-lambda-changelog-scrubber/README.md
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/services/Elastic.Changelog/Uploading/Registry.cs
  src/services/Elastic.Changelog/Uploading/RegistryBuilder.cs
  src/services/Elastic.Changelog/Uploading/RegistryKey.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/LinkAllowlistSanitizerTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryBuilderTests.cs
  tests/Elastic.Changelog.Tests/Uploading/RegistryKeyTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogEntryFetcherTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/CdnChangelogFetcherTests.cs
Due: dotnet-format

fix: upgrade @opentelemetry/api-logs from 0.218.0 to 0.219.0
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Image: allow images.contentstack.io as a trusted external host
  src/Elastic.Markdown/Myst/Directives/Image/ImageBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ImageTests.cs
Due: dotnet-format

Image: allow images.contentstack.io as a trusted external host (#3610)
  src/Elastic.Markdown/Myst/Directives/Image/ImageBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ImageTests.cs
Due: dotnet-format

Telemetry: capture middle-click CTA opens (#3605)
  src/Elastic.Documentation.Site/Assets/main.ts
Due: prettier, typescript-check, eslint

Add missing reference details for docset.yml and toc.yml
  docs/_docset.yml
  docs/building-blocks/documentation-set-navigation.md
  docs/building-blocks/documentation-set.md
  docs/configure/content-set/api-explorer.md
  docs/configure/content-set/attributes.md
  docs/configure/content-set/cta.md
  docs/configure/content-set/docset-reference.md
  docs/configure/content-set/extensions.md
  docs/configure/content-set/index.md
  docs/configure/content-set/navigation.md
  docs/configure/content-set/toc-reference.md
  docs/contribute/add-repo.md
  docs/migration/guide/automated.md
Due: none

Disable Storybook directive in docs pending working registry
  docs/_docset.yml
  docs/syntax/storybook.md
Due: none

Fix zizmor ref-version-mismatch on docker/login-action pin
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

Disable Storybook directive pending working registry (#3612)
  docs/_docset.yml
  docs/syntax/storybook.md
Due: none

Search: sync agg/aggs synonym with website-search-data (#3606)
  config/search.yml
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
Due: dotnet-format

Search: guard navigation_* rank features against penalty default (#3607)
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  tests/Elastic.Markdown.Tests/Search/NavigationEnrichmentTests.cs
Due: dotnet-format

Fix zizmor ref-version-mismatch on docker/login-action pin (#3613)
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

Search: preserve operation id (e.g. _bulk) in OpenAPI search_title
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiOperationIdSearchTitleTests.cs
  tests/Elastic.Markdown.Tests/Search/OpenApiSearchTitleTests.cs
Due: dotnet-format

Search: bump contract to 0.12.0 and populate content_tier (#3608)
  Directory.Packages.props
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  tests/Elastic.Markdown.Tests/Search/ContentTierClassificationTests.cs
Due: dotnet-format

Search: preserve operation id (e.g. _bulk) in OpenAPI search_title (#3614)
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiOperationIdSearchTitleTests.cs
  tests/Elastic.Markdown.Tests/Search/OpenApiSearchTitleTests.cs
Due: dotnet-format

Redesign hub page body to match Figma
  config/whats-new.yml
  docs/_docset.yml
  docs/syntax/card-group.md
  docs/syntax/explore.md
  docs/syntax/get-started.md
  docs/syntax/hero.md
  docs/syntax/hub-pages.md
  docs/syntax/intro.md
  docs/syntax/whats-new.md
  docs/testing/products/elasticsearch/v9.md
  docs/testing/products/kibana/v9.md
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
  src/Elastic.Markdown/Myst/Directives/DirectiveBlockParser.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveHtmlRenderer.cs
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/CardGroupViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/ExploreViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/GetStartedViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HeroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/HeroViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/HubExplore.cs
  src/Elastic.Markdown/Myst/Directives/Hub/IntroBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/IntroView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardView.cshtml
  src/Elastic.Markdown/Myst/Directives/Hub/LinkCardViewModel.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewBlock.cs
  src/Elastic.Markdown/Myst/Directives/Hub/WhatsNewView.cshtml
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format, prettier

Bump Microsoft.OpenApi to 3.5.4 to fix NU1903 audit failure
  Directory.Packages.props
Due: none

Convert Elastic.SiteSearch.Tests to xunit.v3
  .github/workflows/ci.yml
  Directory.Packages.props
  build/Targets.fs
  tests/Directory.Build.props
  tests/Elastic.SiteSearch.Tests/ContentStackMappingTests.cs
  tests/Elastic.SiteSearch.Tests/ContentTierClassifierTests.cs
  tests/Elastic.SiteSearch.Tests/DocumentSerializationTests.cs
  tests/Elastic.SiteSearch.Tests/Elastic.SiteSearch.Tests.csproj
  tests/Elastic.SiteSearch.Tests/IndexTimeSynonymsTests.cs
  tests/Elastic.SiteSearch.Tests/IndicesCleanupPlannerTests.cs
  tests/Elastic.SiteSearch.Tests/LabsHtmlExtractorTests.cs
  tests/Elastic.SiteSearch.Tests/MappingHashTests.cs
  tests/Elastic.SiteSearch.Tests/MappingStructureTests.cs
  tests/Elastic.SiteSearch.Tests/SearchResourceEnvParsingTests.cs
  tests/Elastic.SiteSearch.Tests/SharedAnalysisFactoryTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format

Add HTML snapshot safety net for ApiExplorer rendering
  tests/Elastic.ApiExplorer.Tests/Elastic.ApiExplorer.Tests.csproj
  tests/Elastic.ApiExplorer.Tests/HtmlSnapshot.cs
  tests/Elastic.ApiExplorer.Tests/HtmlSnapshotTests.cs
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/landing.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-cleanup.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-docs-get.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-search.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/schema-aggregate.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/schema-querycontainer.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/tag-search.html
  tests/Elastic.ApiExplorer.Tests/TestData/api-explorer-fixture.json
Due: dotnet-format

Remove dead code from Elastic.ApiExplorer
  src/Elastic.ApiExplorer/Endpoints/ApiEndpoint.cs
  src/Elastic.ApiExplorer/Endpoints/EndpointView.cshtml
  src/Elastic.ApiExplorer/Endpoints/IndexViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaNavigationItem.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaViewModel.cs
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/_ViewImports.cshtml
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/schema-querycontainer.html
Due: dotnet-format

Use worktree-aware scoped filesystem in ApiExplorer tests
  tests/Elastic.ApiExplorer.Tests/DashboardOpenApiNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/KibanaApiMarkdownNavigationTests.cs
  tests/Elastic.ApiExplorer.Tests/ReaderTests.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Make ApiExplorer nav grouping key deterministic
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/HtmlSnapshotTests.cs
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/landing.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-anonymous.html
  tests/Elastic.ApiExplorer.Tests/TestData/api-explorer-fixture.json
Due: dotnet-format

Consolidate operation and schema URL monikers in ApiUrlBuilder
  src/Elastic.ApiExplorer/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Schemas/SchemaNavigationItem.cs
Due: dotnet-format

Fix hardcoded elasticsearch URLs in schema type page links
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schema/RenderContext.cs
  src/Elastic.ApiExplorer/Schema/SchemaHelpers.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_UnionOptions.cshtml
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-search.html
Due: dotnet-format

Collapse dead versioning ternary in OpenApiDocumentExporter
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
Due: dotnet-format

Fix x-beta badge never rendering on operation pages
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-cleanup.html
Due: none

Move DocumentationDocument back into the search contract project
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/Search/DocumentationMappingExtensions.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Mcp.Remote/Gateways/DocumentGateway.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerSitemapService.cs
  src/services/search/Elastic.Documentation.Search.Contract/Common/ISearchDocument.cs
  src/services/search/Elastic.Documentation.Search.Contract/Common/SearchDocumentBase.cs
  src/services/search/Elastic.Documentation.Search.Contract/Common/SearchDocumentPolymorphism.cs
  src/services/search/Elastic.Documentation.Search.Contract/Common/SourceGenerationContext.cs
  src/services/search/Elastic.Documentation.Search.Contract/Docs/AppliesToEntry.cs
  src/services/search/Elastic.Documentation.Search.Contract/Docs/DocumentationDocument.cs
  src/services/search/Elastic.Documentation.Search.Contract/Docs/IndexedProduct.cs
  src/services/search/Elastic.Documentation.Search.Contract/Guide/GuideDocument.cs
  src/services/search/Elastic.Documentation.Search/ChangesService.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientAccessor.cs
  src/services/search/Elastic.Documentation.Search/Common/ElasticsearchClientJsonResolver.cs
  tests-integration/Elastic.ContentDateEnrichment.IntegrationTests/ContentDateEnrichmentTests.cs
  tests-integration/Mcp.Remote.IntegrationTests/McpToolsIntegrationTestsBase.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
  tests/Elastic.Markdown.Tests/Search/NavigationEnrichmentTests.cs
  tests/Elastic.Markdown.Tests/Search/OpenApiSearchTitleTests.cs
Due: dotnet-format

Add ApiProperty tree model and builder for schema rendering
  src/Elastic.ApiExplorer/Schema/ApiProperty.cs
  src/Elastic.ApiExplorer/Schema/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Schema/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Schema/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Schema/TypeAnnotation.cs
  tests/Elastic.ApiExplorer.Tests/ApiPropertyTreeBuilderTests.cs
Due: dotnet-format

Open OpenAPI specs read-only and shared in OpenApiReader
  src/Elastic.ApiExplorer/OpenApiReader.cs
Due: dotnet-format

Fix Prettier formatting in hub.css
  src/Elastic.Documentation.Site/Assets/markdown/hub.css
Due: prettier

Switch operation and schema views to precomputed page models
  src/Elastic.ApiExplorer/ApiMarkdown.cs
  src/Elastic.ApiExplorer/ApiViewModel.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  src/Elastic.ApiExplorer/Schema/ApiProperty.cs
  src/Elastic.ApiExplorer/Schema/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Schema/ApiUnionVariants.cs
  src/Elastic.ApiExplorer/Schema/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Schema/RenderContext.cs
  src/Elastic.ApiExplorer/Schemas/SchemaNavigationItem.cs
  src/Elastic.ApiExplorer/Schemas/SchemaPageModel.cs
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaViewModel.cs
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyList.cshtml
  src/Elastic.ApiExplorer/Shared/_SchemaType.cshtml
  src/Elastic.ApiExplorer/Shared/_UnionOptions.cshtml
  src/Elastic.ApiExplorer/Shared/_ValidationConstraints.cshtml
Due: dotnet-format

Flatten landing overview rendering into precomputed rows
  src/Elastic.ApiExplorer/Landing/ApiOverviewRow.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/LandingView.cshtml
  src/Elastic.ApiExplorer/Landing/LandingViewModel.cs
  src/Elastic.ApiExplorer/Landing/TagLandingView.cshtml
  src/Elastic.ApiExplorer/Landing/TagLandingViewModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Shared/_OperationUrlList.cshtml
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/landing.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/tag-search.html
Due: dotnet-format

Extract section header, availability badge and examples partials
  src/Elastic.ApiExplorer/Operations/AvailabilityBadgeHelper.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationView.cshtml
  src/Elastic.ApiExplorer/Schemas/SchemaView.cshtml
  src/Elastic.ApiExplorer/SectionHeader.cs
  src/Elastic.ApiExplorer/Shared/_AppliesToBadge.cshtml
  src/Elastic.ApiExplorer/Shared/_ExamplesSection.cshtml
  src/Elastic.ApiExplorer/Shared/_PropertyItem.cshtml
  src/Elastic.ApiExplorer/Shared/_SectionHeader.cshtml
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-anonymous.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-cleanup.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-docs-get.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/operation-search.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/schema-aggregate.html
  tests/Elastic.ApiExplorer.Tests/ReferenceHtml/schema-querycontainer.html
Due: dotnet-format

Centralize x-* OpenAPI extension parsing in OpenApiExtensionReader
  src/Elastic.ApiExplorer/OpenApiExtensionReader.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Operations/OperationViewModel.cs
  tests/Elastic.ApiExplorer.Tests/CodeSampleTests.cs
Due: dotnet-format

Move tag moniker to ApiUrlBuilder and parse frontmatter with YamlDotNet
  src/Elastic.ApiExplorer/ApiUrlBuilder.cs
  src/Elastic.ApiExplorer/MarkdownNavigationTitleReader.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Split navigation building out of OpenApiGenerator
  src/Elastic.ApiExplorer/ApiClassification.cs
  src/Elastic.ApiExplorer/ApiEndpoint.cs
  src/Elastic.ApiExplorer/ApiNavigationBuilder.cs
  src/Elastic.ApiExplorer/ApiTag.cs
  src/Elastic.ApiExplorer/IApiModel.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
Due: dotnet-format

Use worktree-aware scoped filesystem in Markdown and Navigation tests
  tests/Elastic.Markdown.Tests/DocSet/NavigationTestsBase.cs
  tests/Elastic.Markdown.Tests/DocSet/ReportIssueUrlTests.cs
  tests/Navigation.Tests/Isolation/PhysicalDocsetTests.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
