Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Some otel traces and logging adjustments
  .editorconfig
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/SseParser.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

Some otel traces and logging adjustments (#2189)
  .editorconfig
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/LlmGatewayStreamTransformer.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/SseParser.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

Keep stream connection alive when switching tabs
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useFetchEventSource.ts
Due: prettier, typescript-check, eslint

Update project name in synonyms.md documentation
  docs/configure/site/synonyms.md
Due: none

Fix image path definition
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Inline/InlneBaseTests.cs
Due: dotnet-format

Only use CrossLink navigation data on assembler builds
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  tests/Elastic.Markdown.Tests/Inline/InlneBaseTests.cs
Due: dotnet-format

Fix acquisition method
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Keep stream connection alive when switching tabs (#2191)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useFetchEventSource.ts
Due: prettier, typescript-check, eslint

Update project name in synonyms.md documentation (#2192)
  docs/configure/site/synonyms.md
Due: none

Add AskAi event type name to span name
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

Update lambda.DockerFile
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/infra/docs-lambda-index-publisher/lambda.DockerFile
Due: none

Add SearchUsecase OTel instrumentation
  src/api/Elastic.Documentation.Api.Core/Search/ISearchGateway.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/OpenTelemetryExtensions.cs
Due: dotnet-format

depend on higher fedora package repo
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/infra/docs-lambda-index-publisher/lambda.DockerFile
Due: none

fedora 41
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/infra/docs-lambda-index-publisher/lambda.DockerFile
Due: none

attempt script install of dotnet 10 on aws2023
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
Due: none

actually call install.sh
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
Due: none

Add AskAi event type name to span name (#2194)
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

add tar/find
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
Due: none

update package name
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
Due: none

Add SearchUsecase result logs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
Due: dotnet-format

invoke dotnet-install.sh
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
Due: none

update PATH
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
Due: none

Update src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
Due: dotnet-format

DOTNET_SYSTEM_GLOBALIZATION_INVARIANT
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
Due: none

Fix span naming conventions
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

GeneratedRegex for CutOffGitExtensions does not need to specify cultureinfo
  src/Elastic.Documentation/GitCheckoutInformation.cs
Due: dotnet-format

clean up more generatedregex's defaulting to invariant culture
  src/Elastic.Markdown/Myst/CodeBlocks/CallOutParser.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
  src/Elastic.Markdown/Myst/InlineParsers/HeadingBlockWithSlugParser.cs
Due: dotnet-format

clean up more generatedregex's defaulting to invariant culture
  src/Elastic.Documentation.Configuration/Assembler/AssemblyConfiguration.cs
Due: dotnet-format

update index-publisher lambda as well
  src/api/Elastic.Documentation.Api.Lambda/Dockerfile
  src/infra/docs-lambda-index-publisher/lambda.DockerFile
Due: none

Use LogProperties
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/Elastic.Documentation.Api.Core.csproj
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
Due: dotnet-format

Add SearchUsecase result logs (#2197)
  Directory.Packages.props
  src/api/Elastic.Documentation.Api.Core/Elastic.Documentation.Api.Core.csproj
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
Due: dotnet-format

Apply suggestion from @Mpdreamz
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Fix span naming conventions (#2198)
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/StreamTransformerBase.cs
Due: dotnet-format

Add image path tests
  tests/Elastic.Markdown.Tests/Inline/AssemblerImagePathTests.cs
Due: dotnet-format

rename
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
Due: dotnet-format

Fix test on windows
  tests/Elastic.Markdown.Tests/Inline/ImagePathResolutionTests.cs
Due: dotnet-format

Add UrlCombine() to be used in lieu of Path.Combine() for URL path resolving (Copilot)
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Lint suggestion
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Simplify path generation with UriBuilder
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
