Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Apply suggestion from @florent-leborgne
  docs/syntax/stepper.md
Due: none

Pass the type filter through Jump to page rows
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchTelemetry.ts
Due: prettier, typescript-check, eslint

Remove unused Jump to page leftovers
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchDropdownHeader.tsx
Due: prettier, typescript-check, eslint

Polish Jump to API rows so product names live in the breadcrumb
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  tests/Elastic.ApiExplorer.Tests/OpenApiOperationIdSearchTitleTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Stop stripping product suffixes from Jump to API titles
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Accept API hits in navigation-search result schemas (#4143)
  src/Elastic.Documentation.Site/Assets/web-components/ModalSearch/useModalSearchQuery.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
  src/services/search/Elastic.Documentation.Search/MockSearchService.cs
Due: dotnet-format, prettier, typescript-check, eslint

Mount Jump to API in the assembler API sidebar (#4145)
  docs/data/openapi/api-explorer.md
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiPagesNav.cshtml
  src/Elastic.Documentation.Site/Assets/web-components/loadWebComponents.ts
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Let navigation-search filter by a type attribute (#4144)
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchComponent.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.test.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/navigationSearch.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchQuery.ts
Due: prettier, typescript-check, eslint

Show API-shaped Jump to page rows and telemetry (#4147)
  src/Elastic.Documentation.Site/Assets/telemetry/semconv.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/useNavigationSearchTelemetry.ts
Due: prettier, typescript-check, eslint

Remove unused Jump to page leftovers (#4148)
  src/Elastic.Documentation.Site/Assets/codex.css
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchDropdownHeader.tsx
Due: prettier, typescript-check, eslint

Polish Jump to API search rows and dropdown chrome (#4153)
  src/Elastic.ApiExplorer/Export/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearch.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/NavigationSearchTelemetry.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/NavigationSearch/SearchResultsList.tsx
  tests/Elastic.ApiExplorer.Tests/OpenApiOperationIdSearchTitleTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Clarify the stepper title size and the no-heading hint.
  docs/syntax/stepper.md
  src/Elastic.Markdown/Myst/Directives/Stepper/StepperBlock.cs
  tests/Elastic.Markdown.Tests/Directives/StepperTocOptionTests.cs
Due: dotnet-format

Migrate frontend telemetry from raw OTel packages to EDOT browser SDK
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.test.ts
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.ts
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/setupTests.ts
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api/ServicesExtension.cs
Due: dotnet-format, prettier, typescript-check, eslint

Expose a heading role on stepper titles that skip the outline.
  docs/syntax/stepper.md
  src/Elastic.Markdown/Myst/Directives/Stepper/StepView.cshtml
  tests/Elastic.Markdown.Tests/Directives/StepperTocOptionTests.cs
Due: dotnet-format

Fix LinkResolutionUnavailable emitting errors in skip-cross-links mode
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Markdown/Myst/Directives/DirectiveLinkValidator.cs
  src/Elastic.Markdown/Myst/InlineParsers/DiagnosticLinkInlineParser.cs
Due: dotnet-format

Replace fixed hop cap with visited-set in WalkToRootAsync
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
Due: dotnet-format

Fix empty scalar redirect target regression in DocSetYamlGenerator
  tests/Elastic.Authoring.Tests/Framework/DocSetYamlGenerator.cs
Due: dotnet-format

fix: SimpleMarkdownNavigationItem must implement the object? pageModel RenderCommonMarkAsync overload
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
Due: dotnet-format

Drop the duplicated BuildType initializer after merging main
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
Due: dotnet-format

fix: tighten stale config-runtime sweep cutoff from 24h to 1h
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
Due: dotnet-format

Fix Prettier formatting in instrumentation.test.ts
  src/Elastic.Documentation.Site/Assets/telemetry/instrumentation.test.ts
Due: prettier, typescript-check, eslint

Collapse releases.serverless into releases.unified; add runtime guard for source: github_release
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
Due: dotnet-format

Add Parcel subpath aliases for EDOT's transitive OTel deps
  src/Elastic.Documentation.Site/package.json
Due: prettier

Remove ServerlessReleaseYaml from YamlStaticContext
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
Due: dotnet-format

Dispose OTLP proxy HttpResponseMessage to release pooled connections
  src/api/Elastic.Documentation.Api/MappingsExtensions.cs
Due: dotnet-format

Flatten releases.github and releases.products to plain dictionaries
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
Due: dotnet-format

Explain internal headings when stepper titles skip the outline.
  docs/syntax/stepper.md
Due: none

Turn dots in operation ids into URL hyphens
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

Guard against null profile values in bundle.releases dictionaries
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
Due: dotnet-format

Turn dots in operation ids into URL hyphens (#4187)
  src/Elastic.ApiExplorer/Infrastructure/ApiUrlBuilder.cs
  tests/Elastic.ApiExplorer.Tests/TagMetadataTests.cs
Due: dotnet-format

perf: build API page model once instead of twice per page
  src/Elastic.ApiExplorer/Infrastructure/IApiModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiTag.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Structural/ApiStructuralPage.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
Due: dotnet-format

Restore collection expressions the merge rewrote to constructors
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Builder/FeatureFlags.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Storybook/StorybookRegistry.cs
  src/services/Elastic.Changelog/Reconciliation/ShallowRegistryReconciler.cs
  src/services/Elastic.Changelog/Scrubbing/ScrubberProcessor.cs
Due: dotnet-format

Synthesize outputProducts from product: field; mirror source rejection in --plan
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Eliminate double page-model build in the API explorer (#4170)
  src/Elastic.ApiExplorer/Infrastructure/IApiModel.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiTag.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Structural/ApiStructuralPage.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
Due: dotnet-format

Distinguish first-release-in-major from first-release-in-repo
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

Reject duplicate normalized product keys; fix description guard for product: field
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
Due: dotnet-format

Fix gh-release output path and first-release fallback (#4168)
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/GitHub/GitHubReleaseService.cs
  src/services/Elastic.Changelog/GitHub/IGitHubReleaseService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleCdnSourcingTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/GhReleaseExtractionParityTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/ReleaseVersionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/GitHubReleaseServiceFetchPreviousTagTests.cs
Due: dotnet-format

perf: resolve OpenAPI \$ref once per schema instead of per property access
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/PropertyDisplayOptions.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Model/SchemaAnalyzer.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaPageModel.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
