Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

Fix styling for results list and list items
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Introduce VersionSpec, a model meant for advanced version handling for applicabilities
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Documentation/Serialization/SourceGenerationContext.cs
  src/Elastic.Documentation/VersionSpec.cs
Due: dotnet-format

Apply usage of VersionSpec in Applicability
  docs/_snippets/applies_to-version.md
  docs/syntax/applies.md
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation/AppliesTo/Applicability.cs
  src/Elastic.Documentation/AppliesTo/ApplicabilitySelector.cs
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToComponent.cshtml
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterRoundTripTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterSerializationTests.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ProductApplicabilityToStringTests.cs
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Inline/AppliesToRole.fs
Due: dotnet-format

Show base version if we don't get a specified version for a versioned product
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Documentation/SemVersion.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
Due: dotnet-format

Adjust tests to better match the currently expected output
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ApplicableToJsonConverterSerializationTests.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
Due: dotnet-format

Add VersionSpec to YamlSerialization
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format

Typo!
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
Due: dotnet-format

No need for it to be initialized here after all.
  src/Elastic.Markdown/Myst/YamlSerialization.cs
Due: dotnet-format

Fix unused variable caught by lint
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
Due: prettier, typescript-check, eslint

Handle "all" explicitly
  src/Elastic.Documentation/AppliesTo/ApplicableToJsonConverter.cs
Due: dotnet-format

Format code with prettier
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Adopting a few review suggestions
  src/Elastic.Documentation/AppliesTo/ApplicabilitySelector.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
Due: dotnet-format

Fix warnings on docs-builder docs
  docs/syntax/_snippets/inline-level-applies-examples.md
  docs/testing/req.md
Due: none

Include applicability table in req.md
  docs/testing/req.md
Due: none

Fix markdown formatting
  docs/testing/req.md
Due: none

Products with versions should show their base versions in badges without a specified version
  docs/testing/req.md
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Documentation/SemVersion.cs
  src/Elastic.Documentation/VersionSpec.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityRenderer.cs
  tests/authoring/Applicability/ApplicableToComponent.fs
  tests/authoring/Blocks/Admonitions.fs
Due: dotnet-format

Apply suggestion from @reakaleek
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/MessageThrottler.ts
Due: prettier, typescript-check, eslint

Following branding guidelines
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Fix focus handling for keyboard navigation
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Added comment to explain useEffect
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Remove overflow mask by switching to useEuiOverflowScroll('y', false)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Format SearchResultsListItem with Prettier
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Crafting and refining the keyword search implementation (#2321)
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/InfoBanner.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/KeyboardShortcutsFooter.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
Due: prettier, typescript-check, eslint

Implement roving tab index for search experience
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Fix tests
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/InfoBanner.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Change version detection in updatecli for client libs (#2318)
  .github/updatecli/updatecli.d/versions.yml
Due: none

Add docs to CLI section
  docs/_docset.yml
  docs/cli/index.md
Due: none

Refine snippet
  docs/contribute/_snippets/changelog-fields.md
Due: none

Add ignored files
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
Due: none

Add links
  docs/cli/release/changelog-add.md
Due: none

Edit comments in changelog file
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

More layout edits
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Only show a single selected/active state in search result list
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
Due: prettier, typescript-check, eslint

Fix spacing
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
Due: prettier, typescript-check, eslint

Implement roving tab index for search experience (#2335)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/InfoBanner.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchFilters.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResultsListItem.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchKeyboardNavigation.ts
Due: prettier, typescript-check, eslint

Edit comments in changelog file (#2337)
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Improve config validation in changelog command (#2319)
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Add changelog docs (#2320)
  docs/_docset.yml
  docs/cli/index.md
  docs/cli/release/changelog-add.md
  docs/cli/release/index.md
  docs/contribute/_snippets/changelog-fields.md
  docs/contribute/changelog.md
  docs/contribute/index.md
Due: none

Update changelog to pull from PR
  config/changelog.yml.example
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Optional title and type
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/Changelog/GitHubPrService.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format
