Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

Fix EntryFindings deserialization: use List<EntryFinding> not IReadOnlyList
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadata.cs
Due: dotnet-format

Update docs/syntax/automated_settings.md
  docs/syntax/automated_settings.md
Due: none

Apply suggestion from @florent-leborgne
  docs/syntax/automated_settings.md
Due: none

Fix entries-invalid comment not posting — EntryFindings deserializes as null (#4017)
  src/services/Elastic.Changelog/Evaluation/GithubDecisionMetadata.cs
Due: dotnet-format

Document nested serverless project keys in settings YAML
  docs/syntax/automated_settings.md
Due: none

Fix entries-invalid blob link encoding slashes as %2F
  src/services/Elastic.Changelog/Evaluation/ChangelogCommentRenderer.cs
Due: dotnet-format

Scope nested serverless keys to project-specific settings
  docs/syntax/automated_settings.md
Due: none

Quote generated OKF frontmatter so prose survives YAML
  src/Elastic.Markdown/Exporters/OkfMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/OkfMarkdownExporterTests.cs
Due: dotnet-format

Type root-level OKF concepts as documentation, not their file stem
  src/Elastic.Markdown/Exporters/OkfMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/OkfMarkdownExporterTests.cs
Due: dotnet-format

Add a Content export surface to the map
  .claude/skills/surfaces.md
Due: none

Repo-prefixed changelog bundle output names
  config/changelog.example.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-upload.md
  docs/data/release-notes/bundle.md
  docs/data/release-notes/configure-ref.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
Due: dotnet-format

Add profile-specific output_directory
  config/changelog.example.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-upload.md
  docs/data/release-notes/bundle.md
  docs/data/release-notes/configure-ref.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
Due: dotnet-format

Default to shared bundle filename pattern
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  docs/data/release-notes/configure-ref.md
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
Due: dotnet-format

Add LLM and OKF frontmatter to generated API Markdown
  docs/data/exporters/llm.md
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownFrontMatterTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format

Use canonical URLs in generated API Markdown links
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.Documentation/Extensions/UrlPath.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.Documentation.Tests/UrlPathTests.cs
Due: dotnet-format

Emit CommonMark beside generated API Explorer pages
  docs/data/exporters/llm.md
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/TypeAnnotation.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiCommonMark.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiOutputPaths.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Infrastructure/IApiModel.cs
  src/Elastic.ApiExplorer/Infrastructure/SectionHeader.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiTag.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation/Http/ApiMarkdownRequest.cs
  src/Elastic.Documentation/Http/MarkdownAccept.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.ApiExplorer.Tests/ApiOutputPathsTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.Documentation.Tests/Http/MarkdownAcceptTests.cs
Due: dotnet-format

Simplify API Markdown metadata generation
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.ApiExplorer/Supplemental/ApiSupplementalDoc.cs
Due: dotnet-format

Let a TOC entry source its content from outside the docset root
  docs/documentation/isolated/configure/index.md
  docs/documentation/isolated/navigation.md
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsYamlConverters.cs
  src/Elastic.Documentation.Navigation/Isolated/Node/DocumentationSetNavigation.cs
  src/Elastic.Documentation/Extensions/IFileInfoExtensions.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/IO/DocumentationFile.cs
  src/Elastic.Markdown/IO/ExternallySourcedMarkdownFile.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.Documentation.Configuration.Tests/TocSourceTests.cs
  tests/Elastic.Markdown.Tests/DocSet/ExternalSourceTests.cs
Due: dotnet-format

Keep source's resolved path out of YAML; note the sparse checkout constraint
  docs/documentation/isolated/configure/index.md
  src/Elastic.Documentation.Configuration/Toc/TableOfContentsItems.cs
Due: dotnet-format

Quote generated OKF frontmatter so exported bundles parse (#4019)
  .claude/skills/surfaces.md
  src/Elastic.Markdown/Exporters/OkfMarkdownExporter.cs
  tests/Elastic.Markdown.Tests/Exporters/OkfMarkdownExporterTests.cs
Due: dotnet-format

Use canonical URLs in generated API Markdown links (#4004)
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.Documentation/Extensions/UrlPath.cs
  src/Elastic.Markdown/Myst/Renderers/LlmMarkdown/LlmBlockRenderers.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownIntraApiLinkTests.cs
  tests/Elastic.Documentation.Tests/UrlPathTests.cs
Due: dotnet-format

Emit CommonMark for generated API Explorer pages (#3994)
  docs/data/exporters/llm.md
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiProperty.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyMarkdown.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/ApiPropertyTreeBuilder.cs
  src/Elastic.ApiExplorer/Components/PropertyTree/TypeAnnotation.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiCommonMark.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdown.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiMarkdownFrontMatter.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiOutputPaths.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiRenderContext.cs
  src/Elastic.ApiExplorer/Infrastructure/ApiViewModel.cs
  src/Elastic.ApiExplorer/Infrastructure/IApiModel.cs
  src/Elastic.ApiExplorer/Infrastructure/SectionHeader.cs
  src/Elastic.ApiExplorer/Landing/ApiCatalog.cs
  src/Elastic.ApiExplorer/Landing/ApiTag.cs
  src/Elastic.ApiExplorer/Landing/LandingCommonMark.cs
  src/Elastic.ApiExplorer/Landing/LandingNavigationItem.cs
  src/Elastic.ApiExplorer/Landing/SimpleMarkdownNavigationItem.cs
  src/Elastic.ApiExplorer/OpenApiGenerator.cs
  src/Elastic.ApiExplorer/Operations/OperationCommonMark.cs
  src/Elastic.ApiExplorer/Operations/OperationNavigationItem.cs
  src/Elastic.ApiExplorer/Operations/OperationPageModel.cs
  src/Elastic.ApiExplorer/Supplemental/ApiSupplementalDoc.cs
  src/Elastic.ApiExplorer/Types/SchemaCommonMark.cs
  src/Elastic.ApiExplorer/Types/SchemaNavigationItem.cs
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.Documentation/Http/ApiMarkdownRequest.cs
  src/Elastic.Documentation/Http/MarkdownAccept.cs
  src/tooling/docs-builder/Http/DocumentationWebHost.cs
  src/tooling/docs-builder/Http/StaticWebHost.cs
  tests/Elastic.ApiExplorer.Tests/ApiMarkdownFrontMatterTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiOutputPathsTests.cs
  tests/Elastic.ApiExplorer.Tests/ApiPagesNavRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorCatalogSplitTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMultiVersionTests.cs
  tests/Elastic.Documentation.Tests/Http/MarkdownAcceptTests.cs
Due: dotnet-format

Repo-prefixed changelog bundle output names (#3984)
  config/changelog.example.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-upload.md
  docs/data/release-notes/bundle.md
  docs/data/release-notes/configure-ref.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleGitRefTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleProfileGitHubReleaseTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/CloudProfileFixtureTests.cs
Due: dotnet-format

Default to shared bundle filename pattern (#3985)
  docs/cli-schema.json
  docs/cli/changelog/cmd-upload.md
  docs/data/release-notes/configure-ref.md
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
Due: dotnet-format

Add profile-specific output_directory (#3987)
  config/changelog.example.yml
  docs/cli-schema.json
  docs/cli/changelog/cmd-bundle.md
  docs/cli/changelog/cmd-upload.md
  docs/data/release-notes/bundle.md
  docs/data/release-notes/configure-ref.md
  docs/syntax/changelog.md
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationLoader.cs
  src/Elastic.Documentation.Configuration/Changelog/ChangelogConfigurationYaml.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Uploading/ChangelogUploadService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Uploading/ChangelogUploadServiceTests.cs
Due: dotnet-format

Fix entries-invalid comment blob links encoding path separators (#4018)
  src/services/Elastic.Changelog/Evaluation/ChangelogCommentRenderer.cs
Due: dotnet-format

Harden source registration and fix the Windows path assertions
  docs/documentation/isolated/configure/index.md
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/Elastic.Markdown/IO/ExternallySourcedMarkdownFile.cs
  src/Elastic.Markdown/IO/MarkdownFileFactory.cs
  src/Elastic.Markdown/Myst/MarkdownParser.cs
  tests/Elastic.Documentation.Configuration.Tests/TocSourceTests.cs
  tests/Elastic.Markdown.Tests/DocSet/ExternalSourceTests.cs
Due: dotnet-format

Derive repo identity in changelog gh-release; fix empty-repo crash
  docs/cli-schema.json
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

updates version
  config/versions.yml
Due: none

Reattach nested current pages after an island swap
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Open folders on click and keep the incoming island tree
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Swap the article column instead of the whole docs grid
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-figma.css
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Skip parsing the full page on same-tree HTMX swaps
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
Due: prettier, typescript-check, eslint

Keep the sidebar still after HTMX and animate folder groups (#4007)
  src/Elastic.Documentation.Site/Assets/main.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-figma.css
  src/Elastic.Documentation.Site/Assets/pages-nav-scroll.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav-scroll.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.test.ts
  src/Elastic.Documentation.Site/Assets/pages-nav.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav.css
  src/Elastic.Documentation.Site/Assets/secondary-nav.test.ts
  src/Elastic.Documentation.Site/Assets/secondary-nav.ts
  src/Elastic.Documentation.Site/Navigation/_TocTreeNav.cshtml
  src/Elastic.Documentation.Site/synthetics/journeys/navigation-test.journey.ts
Due: prettier, typescript-check, eslint

Add View as Markdown to API page sidebars
  src/Elastic.ApiExplorer/_Layout.cshtml
  src/Elastic.ApiExplorer/_Partials/Layout/_ApiToc.cshtml
  tests/Elastic.ApiExplorer.Tests/ApiTocRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format

Tighten View as Markdown test assertions
  tests/Elastic.ApiExplorer.Tests/ApiTocRenderingTests.cs
  tests/Elastic.ApiExplorer.Tests/OpenApiGeneratorMarkdownEmissionTests.cs
Due: dotnet-format

Prevent GITHUB_REPOSITORY from leaking into bundle output naming in tests
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleOutputConventionTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundlePlanTests.cs
  tests/Elastic.Changelog.Tests/Changelogs/ChangelogTestBase.cs
Due: dotnet-format

Allow one repo to map to many products; deprecate bundle.repo/owner
  config/products.yml
  src/Elastic.Documentation.Configuration/Changelog/BundleConfiguration.cs
  src/Elastic.Documentation.Configuration/Inference/ProductInferService.cs
  src/Elastic.Documentation.Configuration/Products/Product.cs
  src/services/Elastic.Changelog/Bundling/BundleOutputNaming.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogRemoveService.cs
  src/services/Elastic.Changelog/Bundling/ProfileFilterResolver.cs
  src/services/Elastic.Changelog/Creation/ChangelogCreationService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Bundling/ValidateBundleRepoTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ProductsConfigurationTests.cs
Due: dotnet-format

github-agentic: use v0.2.29
  .github/workflows/pr-review.yml
Due: none

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
