Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: dotnet-format
        name: dotnet format
        language: system
        entry: dotnet format --no-restore --verbosity quiet --include
        files: \.(cs|fs)$
        pass_filenames: true
        
        # Run prettier only for src/Elastic.Documentation.Site
      - id: prettier
        name: Prettier Code Formatter
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site
        verbose: true
        pass_filenames: true
        
      # Run TypeScript type checking for src/Elastic.Documentation.Site
      - id: typescript-check
        name: TypeScript Type Check
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
        files: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
        pass_filenames: false
        
      # Run eslint only for src/Elastic.Documentation.Site
      - id: eslint
        name: ESLint
        language: system
        entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
        files: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
        verbose: true
        pass_filenames: true

fix: upgrade @tanstack/react-query from 5.99.0 to 5.99.1 (#3277)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

fix: namespace option overrides and fenced code block languages
  docs/cli/cli-supplemental-docs.md
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
  src/Elastic.Markdown/Extensions/CliReference/CliNamespaceFile.cs
Due: dotnet-format

feat(assembler): add on-demand assembler serve with live reload
  build/CommandLine.fs
  build/Targets.fs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

fix(assembler): clean up AmazonS3Client on shutdown and add --no-watch-md
  src/Elastic.Documentation.LinkIndex/LinkIndexReader.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
  src/tooling/docs-builder/Commands/Assembler/AssemblerCommands.cs
  src/tooling/docs-builder/Http/AssemblerReloadService.cs
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

fix(links): track reader ownership in CrossLinkFetcher to prevent double-dispose
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/services/Elastic.Documentation.Assembler/AssembleSources.cs
Due: dotnet-format

fix: address PR review feedback
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Markdown/IO/DocumentationSet.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuilder.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

feat(assembler): wire API routes in DEBUG mode for assembler serve
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

fix(ci): update synthetics and Aspire to use assembler serve-static
  .github/workflows/ci.yml
  aspire/AppHost.cs
Due: dotnet-format

fix(assembler serve): address three correctness issues in AssemblerServeWebHost
  src/tooling/docs-builder/Http/AssemblerServeWebHost.cs
Due: dotnet-format

docs(links): document _codexReader ownership in DocSetConfigurationCrossLinkFetcher
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
Due: dotnet-format

[Changelog] Strip dash from title prefix (#3226)
  docs/cli/changelog/add.md
  docs/cli/changelog/evaluate-pr.md
  docs/cli/changelog/gh-release.md
  docs/contribute/configure-changelogs-ref.md
  src/Elastic.Documentation.Configuration/Changelog/ExtractConfiguration.cs
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/TitleProcessingTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrEvaluationServiceTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogTextUtilitiesTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ReleaseNotesSerializationTests.cs
Due: dotnet-format

Add description-visibility option to changelog directive (#3224)
  docs/syntax/changelog.md
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogDescriptionVisibility.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogBasicTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogDescriptionVisibilityTests.cs
Due: dotnet-format

Cache cross-link index across serve hot reloads (#3219)
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  src/tooling/docs-builder/Http/ReloadGeneratorService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format

[Stack 9.4.0] assembler + version bump (#3070)
  config/assembler.yml
  config/versions.yml
Due: none

Add --report option for changelog add command (#3227)
  docs/cli/changelog/add.md
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/Create/AddReportOptionTests.cs
Due: dotnet-format

[Changelog] Fix missing links in changelog directive and render command (#3228)
  docs/syntax/changelog.md
  src/Elastic.Documentation/ReleaseNotes/ChangelogTextUtilities.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogBlock.cs
  src/Elastic.Markdown/Myst/Directives/Changelog/ChangelogInlineRenderer.cs
  tests/Elastic.Changelog.Tests/Changelogs/Render/PrivateLinkBugTests.cs
  tests/Elastic.Documentation.Configuration.Tests/ReleaseNotes/ChangelogTextUtilitiesTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogDropdownsTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogHideLinksTests.cs
  tests/Elastic.Markdown.Tests/Directives/ChangelogPrivateLinkBugTests.cs
Due: dotnet-format

fix: upgrade @tanstack/react-query from 5.96.2 to 5.97.0 (#3217)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

Retry S3 link registry fetch on transient errors in match command (#3229)
  src/services/Elastic.Documentation.Assembler/ContentSources/RepositoryBuildMatchingService.cs
Due: dotnet-format

fix(cross-links): use codex path shape in fallback error URL (#3174)
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkFetcher.cs
  src/Elastic.Documentation.Links/CrossLinks/CrossLinkResolver.cs
  src/Elastic.Documentation.Links/CrossLinks/DocSetConfigurationCrossLinkFetcher.cs
  tests/Elastic.Markdown.Tests/CrossLinks/UriEnvironmentResolverTests.cs
Due: dotnet-format

Add white-label branding support for isolated builds (#3159)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/web-components/Header/DeploymentInfo.tsx
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Layout/_IsolatedFooter.cshtml
  src/Elastic.Documentation.Site/Layout/_IsolatedHeader.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation/GitCheckoutInformation.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/Elastic.Markdown/Layout/_TableOfContents.cshtml
  src/Elastic.Markdown/Page/Index.cshtml
  src/Elastic.Markdown/Page/IndexViewModel.cs
Due: dotnet-format, prettier, typescript-check, eslint

Adds video guidance to syntax ref guide (#3253)
  docs/_docset.yml
  docs/syntax/videos.md
Due: none

Harden branding image symlink check to cover ancestor directories (#3261)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
Due: dotnet-format

Allow .plan extension for assembler deploy apply (#3267)
  src/tooling/docs-builder/Commands/Assembler/DeployCommands.cs
Due: dotnet-format

fix: applies-switch and tab-set first tab hidden when block contains a comment (#3255)
  src/Elastic.Markdown/Myst/Directives/AppliesSwitch/AppliesSwitchBlock.cs
  src/Elastic.Markdown/Myst/Directives/Tabs/TabSetBlock.cs
  tests/Elastic.Markdown.Tests/Directives/ApplicabilitySwitchTests.cs
Due: dotnet-format

Update ECS version per 9.4 release (#3252)
  config/assembler.yml
  config/versions.yml
Due: none

Restore --exporters aliases and shorthand sets (#3266)
  Directory.Packages.props
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Assembler/Building/ExporterParser.cs
  src/services/Elastic.Documentation.Isolated/ExporterParser.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
  src/tooling/docs-builder/Middleware/CatchExceptionMiddleware.cs
Due: dotnet-format

fix: upgrade @tanstack/react-query from 5.97.0 to 5.99.0 (#3258)
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier

feat(cli): support llm exporter alias with argh EnumValue (#3265)
  Directory.Packages.props
  src/Elastic.Documentation/Elastic.Documentation.csproj
  src/Elastic.Documentation/Exporter.cs
  src/services/Elastic.Documentation.Assembler/Building/AssemblerBuildOptions.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildOptions.cs
Due: dotnet-format

Edit changelog bundle docs (#3213)
  config/changelog.example.yml
  docs/cli/changelog/add.md
  docs/cli/changelog/bundle.md
  docs/cli/changelog/gh-release.md
  docs/cli/changelog/remove.md
  docs/contribute/bundle-changelogs.md
  docs/contribute/configure-changelogs-ref.md
  docs/contribute/configure-changelogs.md
  docs/contribute/create-changelogs.md
  docs/syntax/changelog.md
Due: none

Remove UTF-8 BOM from changelog command outputs (#3243)
  src/Elastic.Documentation.Configuration/ReleaseNotes/ReleaseNotesSerialization.cs
  src/Elastic.Documentation/Text/Utf8TextNormalization.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundleAmendService.cs
  src/services/Elastic.Changelog/Bundling/ChangelogBundlingService.cs
  src/services/Elastic.Changelog/Creation/ChangelogFileWriter.cs
  src/services/Elastic.Changelog/Evaluation/ChangelogPrepareArtifactService.cs
  src/services/Elastic.Changelog/GithubRelease/GitHubReleaseChangelogService.cs
  src/services/Elastic.Changelog/Utilities/ChangelogUtf8Normalization.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  tests/Elastic.Changelog.Tests/Changelogs/BundleChangelogsTests.cs
  tests/Elastic.Changelog.Tests/Creation/ChangelogCreationServiceTests.cs
  tests/Elastic.Changelog.Tests/Evaluation/ChangelogPrepareArtifactServiceTests.cs
  tests/Elastic.Changelog.Tests/Utilities/ChangelogUtf8NormalizationTests.cs
  tests/Elastic.Documentation.Configuration.Tests/Text/Utf8TextNormalizationTests.cs
Due: dotnet-format

Continue white-label branding support for isolated builds (#3259)
  src/Elastic.Documentation.Configuration/Builder/ConfigurationFile.cs
  src/Elastic.Documentation.Configuration/Toc/DocumentationSetFile.cs
  src/Elastic.Documentation.Site/Assets/web-components/Header/Header.tsx
  src/Elastic.Documentation.Site/Layout/_Favicon.cshtml
  src/Elastic.Documentation.Site/Layout/_Head.cshtml
  src/Elastic.Documentation.Site/Navigation/IsolatedBuildNavigationHtmlWriter.cs
  src/Elastic.Documentation.Site/Navigation/NavigationViewModel.cs
  src/Elastic.Documentation.Site/Navigation/_TocTree.cshtml
  src/Elastic.Documentation.Site/_ViewModels.cs
  src/Elastic.Documentation/GitCheckoutInformation.cs
  src/Elastic.Markdown/DocumentationGenerator.cs
  src/Elastic.Markdown/Exporters/ExporterExtensions.cs
  src/Elastic.Markdown/Exporters/LlmMarkdownExporter.cs
  src/Elastic.Markdown/HtmlWriter.cs
  src/services/Elastic.Documentation.Isolated/IsolatedBuildService.cs
  src/tooling/docs-builder/Http/ReloadableGeneratorState.cs
Due: dotnet-format, prettier, typescript-check, eslint

Skip AWS auth in docs preview when docs build fails (#3269)
  .github/workflows/docs-preview-local.yml
Due: none

Remove stale GetOrCreateWriteFs — use inline _writeFsPath approach from main
  src/tooling/docs-builder/Http/InMemoryBuildState.cs
Due: dotnet-format

chore: regenerate cli-schema.json for assembler serve and serve-static
  docs/cli-schema.json
Due: none

fix: output formats always rendered and role-scoped override validation
  src/Elastic.Markdown/Extensions/CliReference/CliMarkdownGenerator.cs
Due: dotnet-format

Tune Nav V2 sidebar label spacing and typography
  src/Elastic.Documentation.Site/Assets/styles.css
Due: prettier
