Repository elastic/docs-builder: changes, and which pre-commit hooks are due for each by the changed paths.
All: dotnet-format, prettier, typescript-check, eslint

dotnet-format:
  name: dotnet format
  language: system
  entry: dotnet format --no-restore --verbosity quiet --include
  pass_filenames: true

prettier:
  name: Prettier Code Formatter
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx prettier --write "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

typescript-check:
  name: TypeScript Type Check
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx tsc --noEmit'
  pass_filenames: false

eslint:
  name: ESLint
  language: system
  entry: bash -c 'cd src/Elastic.Documentation.Site && npx eslint --fix "${@#src/Elastic.Documentation.Site/}"' --
  verbose: true
  pass_filenames: true

support reading SearchConfiguration from synonyms.yml as a fallback
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
Due: dotnet-format

Update docs-builder.slnx
  docs-builder.slnx
Due: none

Introduce config/search.yml and ensure all relevance tests pass. (#2302)
  config/search.yml
  docs-builder.slnx
  src/Elastic.Documentation.Configuration/BuildContext.cs
  src/Elastic.Documentation.Configuration/ConfigurationFileProvider.cs
  src/Elastic.Documentation.Configuration/Elastic.Documentation.Configuration.csproj
  src/Elastic.Documentation.Configuration/IDocumentationConfigurationContext.cs
  src/Elastic.Documentation.Configuration/Search/SearchConfiguration.cs
  src/Elastic.Documentation.Configuration/Serialization/YamlStaticContext.cs
  src/Elastic.Documentation.Configuration/Synonyms/SynonymsConfiguration.cs
  src/Elastic.Documentation.ServiceDefaults/AppDefaultsExtensions.cs
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Elastic.Documentation.Api.Infrastructure.csproj
  src/services/Elastic.Documentation.Assembler/AssembleContext.cs
  src/tooling/docs-builder/DocumentationTooling.cs
  tests-integration/Elastic.Assembler.IntegrationTests/AssemblerConfigurationTests.cs
  tests-integration/Elastic.Assembler.IntegrationTests/TestHelpers.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
  tests/authoring/Framework/Setup.fs
Due: dotnet-format, prettier

Add EDOT CF GCP
  .github/updatecli/updatecli.d/versions.yml
  config/products.yml
  config/versions.yml
  docs/_snippets/applies_to-key.md
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityMappings.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
Due: dotnet-format, prettier

Update tests
  tests/Elastic.Markdown.Tests/AppliesTo/ProductApplicabilityToStringTests.cs
Due: dotnet-format

Improve search relevance and ensure less janky 'as you type' results
  config/search.yml
  src/Elastic.Documentation.Configuration/Search/SearchConfiguration.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchExporter.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  tests-integration/Elastic.Assembler.IntegrationTests/TestHelpers.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
  tests/authoring/Framework/Setup.fs
Due: dotnet-format

Code QoL improvements
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
Due: dotnet-format

fix test
  src/Elastic.Markdown/IO/MarkdownFile.cs
Due: dotnet-format

Remove --id command option
  src/services/Elastic.Documentation.Services/ReleaseNotes/ReleaseNotesData.cs
  src/services/Elastic.Documentation.Services/ReleaseNotes/ReleaseNotesInput.cs
  src/services/Elastic.Documentation.Services/ReleaseNotesService.cs
  src/tooling/docs-builder/Commands/ReleaseNotesCommand.cs
Due: dotnet-format

Rename command to changelog add
  src/tooling/docs-builder/Commands/ReleaseNotesCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Add config command option
  src/services/Elastic.Documentation.Services/ReleaseNotes/ReleaseNotesInput.cs
  src/services/Elastic.Documentation.Services/ReleaseNotesService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Rename config example; remove labelmappings
  config/changelog.yml.example
  config/release-notes.yml.example
  src/services/Elastic.Documentation.Services/ReleaseNotes/ReleaseNotesConfiguration.cs
  src/services/Elastic.Documentation.Services/ReleaseNotes/ReleaseNotesYamlStaticContext.cs
Due: dotnet-format

Add areas and products to the config
  config/changelog.yml.example
  src/services/Elastic.Documentation.Services/ReleaseNotes/ReleaseNotesConfiguration.cs
  src/services/Elastic.Documentation.Services/ReleaseNotesService.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Validate type, subtype, and lifecycle
  src/services/Elastic.Documentation.Services/ReleaseNotes/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/ReleaseNotes/ReleaseNotesYamlStaticContext.cs
  src/services/Elastic.Documentation.Services/ReleaseNotesService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Documentation.Services/ReleaseNotesService.cs
Due: dotnet-format

Potential fix for pull request finding 'Nested 'if' statements can be combined'
  src/services/Elastic.Documentation.Services/ReleaseNotesService.cs
Due: dotnet-format

Fix linting
  src/services/Elastic.Documentation.Services/ReleaseNotesService.cs
Due: dotnet-format

Rename files
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogData.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/tooling/docs-builder/Arguments/ProductInfoParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
Due: dotnet-format

Use raw string literal
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Potential fix for pull request finding 'Missed opportunity to use Where'
  src/services/Elastic.Documentation.Services/ChangelogService.cs
Due: dotnet-format

Improve search relevance and ensure less janky 'as you type' results (#2304)
  config/search.yml
  src/Elastic.ApiExplorer/Elasticsearch/OpenApiDocumentExporter.cs
  src/Elastic.Documentation.Configuration/Search/SearchConfiguration.cs
  src/Elastic.Documentation/Search/DocumentationDocument.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.Export.cs
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchMarkdownExporter.cs
  src/Elastic.Markdown/IO/MarkdownFile.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchBootstrapFixture.cs
  tests-integration/Elastic.Assembler.IntegrationTests/TestHelpers.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
  tests/Elastic.ApiExplorer.Tests/TestHelpers.cs
  tests/Elastic.Markdown.Tests/Inline/FootnotesTests.cs
  tests/Elastic.Markdown.Tests/Search/DocumentationDocumentSerializationTests.cs
  tests/Elastic.Markdown.Tests/TestHelpers.cs
  tests/authoring/Framework/Setup.fs
Due: dotnet-format

Add EDOT CF GCP (#2303)
  .github/updatecli/updatecli.d/versions.yml
  config/products.yml
  config/versions.yml
  docs/_snippets/applies_to-key.md
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation/AppliesTo/ApplicableTo.cs
  src/Elastic.Documentation/AppliesTo/ApplicableToYamlConverter.cs
  src/Elastic.Markdown/Myst/Components/ApplicabilityMappings.cs
  src/Elastic.Markdown/Myst/Components/ApplicableToViewModel.cs
  tests/Elastic.Markdown.Tests/AppliesTo/ProductApplicabilityToStringTests.cs
Due: dotnet-format, prettier

Improve search filtering with server-side type aggregations and post_filter
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchFilters.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/api/Elastic.Documentation.Api.Core/Search/ISearchGateway.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

fix formatting
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchFilters.ts
Due: prettier, typescript-check, eslint

Implement latest AskAI experience
  aspire/README.md
  src/Elastic.Documentation.Site/.parcelrc
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/global.d.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/AskAiSuggestions.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessageList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/MessageThrottler.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/StreamingAiMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useAskAi.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useFetchEventSource.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useMessageThrottling.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useStatusMinDisplay.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/ElasticAiAssitant.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/InfoBanner.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/KeyboardShortcutsFooter.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiModal.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/ai-icon.svg
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
Due: prettier, typescript-check, eslint

eslint fixes
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/jest.config.js
  src/Elastic.Documentation.Site/svgTransform.js
Due: prettier, typescript-check, eslint

Implement latest Ask AI designs (#2306)
  aspire/README.md
  src/Elastic.Documentation.Site/.parcelrc
  src/Elastic.Documentation.Site/Assets/eui-icons-cache.ts
  src/Elastic.Documentation.Site/Assets/global.d.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/AskAiSuggestions.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/Chat.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatInput.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/ChatMessageList.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/MessageThrottler.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/RelatedResources.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/StreamingAiMessage.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/chat.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useAskAi.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useFetchEventSource.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useMessageThrottling.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/AskAi/useStatusMinDisplay.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/ElasticAiAssitant.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/InfoBanner.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/KeyboardShortcutsFooter.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.test.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/Search.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/TellMeMoreButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useKeyboardNavigation.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAi.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiButton.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/SearchOrAskAiModal.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/ai-icon.svg
  src/Elastic.Documentation.Site/jest.config.js
  src/Elastic.Documentation.Site/package-lock.json
  src/Elastic.Documentation.Site/package.json
  src/Elastic.Documentation.Site/svgTransform.js
Due: prettier, typescript-check, eslint

remove log line
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
Due: dotnet-format

Improve search filtering with server-side type aggregations and post_filter (#2305)
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/SearchResults/SearchResults.tsx
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/search.store.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchFilters.ts
  src/Elastic.Documentation.Site/Assets/web-components/SearchOrAskAi/Search/useSearchQuery.ts
  src/Elastic.Markdown/Exporters/Elasticsearch/ElasticsearchIngestChannel.Mapping.cs
  src/api/Elastic.Documentation.Api.Core/Search/ISearchGateway.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Core/SerializationContext.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/MockSearchGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/MappingsExtensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Assembler.IntegrationTests/Search/SearchIntegrationTests.cs
  tests-integration/Search.IntegrationTests/SearchRelevanceTests.cs
Due: dotnet-format, prettier, typescript-check, eslint

Ensure Elastic.Documentation.Api uses Elastic.Documentation.ServiceDefaults
  docs-builder.slnx
  src/Elastic.Documentation.ServiceDefaults/Extensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Elastic.Documentation.Api.Lambda.csproj
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/tooling/docs-builder/DocumentationTooling.cs
Due: dotnet-format

Remove logsanitizer
  src/api/Elastic.Documentation.Api.Core/AskAi/AskAiUsecase.cs
  src/api/Elastic.Documentation.Api.Core/LogSanitizer.cs
  src/api/Elastic.Documentation.Api.Core/Search/SearchUsecase.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/AskAi/AgentBuilderAskAiGateway.cs
  src/api/Elastic.Documentation.Api.Infrastructure/Adapters/Search/ElasticsearchGateway.cs
  tests/Elastic.Documentation.Api.Infrastructure.Tests/LogSanitizerTests.cs
Due: dotnet-format

cleanup
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/tooling/docs-builder/DocumentationTooling.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

fix failing test due to httpclient default resilience handler now being active
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Ensure Elastic.Documentation.Api uses Elastic.Documentation.ServiceDefaults (#2307)
  docs-builder.slnx
  src/Elastic.Documentation.ServiceDefaults/Extensions.cs
  src/api/Elastic.Documentation.Api.Lambda/Elastic.Documentation.Api.Lambda.csproj
  src/api/Elastic.Documentation.Api.Lambda/Program.cs
  src/tooling/docs-builder/Program.cs
  tests-integration/Elastic.Documentation.Api.IntegrationTests/OtlpProxyIntegrationTests.cs
Due: dotnet-format

Add docs-builder release-notes create command (#2298)
  config/changelog.yml.example
  src/services/Elastic.Documentation.Services/Changelog/ChangelogConfiguration.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogData.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogInput.cs
  src/services/Elastic.Documentation.Services/Changelog/ChangelogYamlStaticContext.cs
  src/services/Elastic.Documentation.Services/ChangelogService.cs
  src/services/Elastic.Documentation.Services/Elastic.Documentation.Services.csproj
  src/tooling/docs-builder/Arguments/ProductInfoParser.cs
  src/tooling/docs-builder/Commands/ChangelogCommand.cs
  src/tooling/docs-builder/Program.cs
Due: dotnet-format

Add Hadoop and clients to products.yml
  config/products.yml
Due: none

Add client versioning
  config/products.yml
  config/versions.yml
Due: none

Update VersionConfiguration.cs
  src/Elastic.Documentation.Configuration/Versions/VersionConfiguration.cs
Due: dotnet-format

Path conditions:
  dotnet-format: any of: \.(cs|fs)$
  prettier: any of: ^src/Elastic\.Documentation\.Site
  typescript-check: any of: ^src/Elastic\.Documentation\.Site/.*\.tsx?$
  eslint: any of: ^src/Elastic\.Documentation\.Site/.*\.(js|jsx|ts|tsx|mjs)$
